[2019-09-20 23:54] yathartha3 opened #1152 "AMCL is not "Adaptive""
Localization will benefit from using an adaptive sample set size. The algorithm that is currently implemented is the "**Augmented** Monte Carlo Localization".

**Why this matters:**
Adaptively changing the number of sample allows for computational efficiency.
Example, when you start up the robot, you might need 10000 particles. However, once it has localized, it probably needs less particles to lo

[2019-09-20 23:55] SteveMacenski commented on #1151
I'll fix this, but also just having a config for your rviz that remaps the topic is a 15 second thing. I'd recommend from just a company perspective to not be using the default rviz configs because you never know who's going to do what to it when.

[2019-09-20 23:56] yathartha3 commented on #1152
I can implement the adaptive version. However, I wanted someone to take a look to confirm this issue, and how we might implement the adaptive version.

[2019-09-20 23:57] #1151 closed

[2019-09-21 00:04] rotu commented on #1151
@SteveMacenski Thank you. I wasn't using the RViz default. I was using [my own rviz file](https://github.com/RoverRobotics/openrover-ros2/blob/master/openrover_demo/config/default.rviz) and wondering why Nav2 was broken :-)

[2019-09-21 00:09] SteveMacenski commented on #1152
I would definitely not disagree that there are benefits from being derived from actually doing this sampling, but before starting that since it should be relatively straight forward, I would try to create a set of metrics and environments to make sure that those changes reflect substantive improvements across many use-cases since this is a (very) package alot of people rely on with their current s

[2019-09-21 00:15] SteveMacenski commented on #1152
Repeating back to you: That comment also indicate that someone tried to do KDL sampling but the variance in particles were consistently low enough that something wasn't either working right or worth the complexity. I dont know if that gives you a clue as to why it was removed, but I'd have to pull out a notebook and my copy of Dieter's book to figure it out

[2019-09-21 01:43] yathartha3 commented on #1152
Since many people have their current set of params, the 'augmented' can be the default. With the adaptive version, there won't be introduction of new params, since there are already all the necessary params, but are not being used. But how it will affect other things, is something I don't know.

Plugins for different motion models is a really good idea.

I am not saying AMCL has to be made adaptiv

[2019-09-21 02:07] yathartha3 commented on #1129
Hmm, the first google result (https://pubs.opengroup.org/onlinepubs/007908799/xsh/drand48.html) says its [0,1]. Probably old. Also, I was referring to CDF as an approximation. At this point I am more interested in the optimization based localization, or just something better than AMCL.

[2019-09-21 02:22] SteveMacenski commented on #1129
I've built a couple graph based localizers, and they're good for pro-users that know where their robot is to start with, but if you get genuinely delocalized or don't know your starting point within some reasonable range, then I havent seen too many ways in graph-based methods that don't involve keeping huge buffers of data of fixing the kidnapped robot problem.

PF based methods (or filter based,

[2019-09-21 02:42] rotu commented on #1124
Yes, that’s exactly what I mean - the stuff like rmw_implementation, rclcpp, and rosidl.

Btw I confirmed that those clear costmap recovery bt nodes don’t cause a crash on my machine.

For now, I’m out of ideas :-(

[2019-09-21 02:47] Jconn commented on #1124
that's okay, It's probably just an environment error on my side.

Thanks for spending the cycles walking through this with me. It's encouraging that cyclone should be working and does work for others. I'm sure I'll stumble onto the fix sooner or later and I'll comment when I do.

I'll close this for now, because I'm skeptical that the problem is in this software package.

[2019-09-21 07:44] SteveMacenski commented on #1103
Just from an issue tracking perspective, is this a ticket that needs to be open because its an issue? Certainly whatever we do here we'll merge but do we need an active ticket open for it?

[2019-09-21 07:47] SteveMacenski commented on #811
Is this still an active need>

[2019-09-21 07:48] SteveMacenski commented on #746
Is this still an open from the pending PRs?

[2019-09-21 17:26] yathartha3 commented on #1030
Its been passing on mine, and haven't seen it fail.

[2019-09-21 17:32] yathartha3 commented on #931
I have a ported base_local_planner.
TEB has already been ported to ROS2, but not a plugin as of today.
We now have global and local planner interfaces in nav2_core. We can add base_local_planner functionalities if needed, into some utility folder for the planners. Closing this issue for now, reopen if needed in future.

[2019-09-22 17:22] Jconn opened #1154 "dwb oscillation critic not extracting parameters from yaml params file"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Version or commit hash:
navigation 0.2.4
- DDS implementation:
opensplice

#### Steps to reproduce issue

set oscillation parameters in the config yaml file

    #default is .2
    Oscillation.oscillation_reset_angle: 3.14
    #default is .05
    Oscillation.oscillation_reset_dist: 1.5
    Oscillation.x_only_threshold: 1.5

####

[2019-09-22 17:59] yathartha3 commented on #1154
@Jconn As I understand, you set the params in the nav2_bringup/params/nav2_params.yaml file?
It seems to be a bug, that the name is not prepended. I would ask @bpwilcox to make sure.
If that fixed your problem, can you go ahead and submit a PR? Else, I can make that change.

[2019-09-22 18:02] Jconn commented on #1154
Yes, I was setting it in that params file. I will submit a PR.

[2019-09-23 04:09] bpwilcox commented on #1154
The issue is that those parameters are never declared. There's an unimplemented function in `nav_2d_utils::searchAndGetParam` and it only "gets" a parameter, but doesn't declare, so the values  passed via the yaml file will never take. Good catch, you need to declare the parameter before grabbing it off the node.

[2019-09-23 05:22] bpwilcox commented on #1121
Highlighted bugs have been fixed with merged PRs. Closing

[2019-09-23 05:22] #1121 closed

[2019-09-23 16:24] mhpanah commented on #1103
We usually open an issue before submitting a PR. My plan is to submit a PR for this as a temp workaround but I'm okay to close it if this solution is not needed by anyone else.

[2019-09-23 16:27] #1103 closed

[2019-09-23 17:06] yathartha3 commented on #1129
@mkhansen-intel This seems weird to me. At iteration 2000, the c value should sum upto 1, or atleast be very close to 1 since it is calculated by the addition of normalized weights I believe. When I ran it once, the final 'c' summed up to 1. It is going to fail if the last c value is like 0.74 that you are seeing. However, why that last c value is so small is what I am trying to understand. Saving

[2019-09-23 17:35] orduno commented on #1105
I was looking into this as the issue is amplified when working with multiple robots.

Regarding the first error:

[code]

I see this all the time (single or multiple robots) even after giving the system at least a minute after `lifecycle_manager` reports `The system is active` . The error originates from `nav2_behavior_tree::GoalReachedCondition`.

Consider that on the `isGoalReached` check we onl

[2019-09-23 18:17] yathartha3 opened #1155 "rviz lagging while navigating"
## Bug report
Rviz lagging while navigating. Is anyone else seeing this problem, or have tried with other DDS implementations?

**Required Info:**

- Operating System:
  - OS and version (Ubuntu 18.04)

- DDS implementation:
  - rmw_implementation used Fast-RTPS

#### Actual behavior
![rviz_lagging](https://user-images.githubusercontent.com/12860979/65451050-466f4700-ddf3-11e9-9ae2-7ad3d78a0ad4.gi

[2019-09-23 18:42] SteveMacenski commented on #1155
I usually see this on wifi networks, though from the limited set of data shown its hard to figure out if everything is lagging, or its just TF

[2019-09-23 20:00] Jconn opened #1156 "GoalDist encourages driving into map obstacles"
**Required Info:**

- Operating System:
Ubuntu 18.04
- Version or commit hash:
0.2.4

 DDS implementation:
opensplice
#### Steps to reproduce issue
1) enable costcloud topic for easy visualization of critic influences (thank you!)
2) launch map
3) drive near obstacle
4) place goal on the other side of the obstacle
#### Expected behavior
GoalDist does not encourage driving into map obstacles
#### A

[2019-09-23 20:05] SteveMacenski commented on #1156
Keep in mind that DWB creates an objective score of the best option from a number of sources, so its more than possible that any individual score will encourage something less ideal, but that's why you have many critics to evaluate a path. I dont think of this as a bug, but rather a perfectly find example of a simple heuristic.

If you feel this is disruptive, you're welcome to set the weird score

[2019-09-23 20:22] Jconn commented on #1156
Okay, I understand that stance and I'll continue to tune my critic scales to achieve better behavior. I have been wrestling with critic scores for a few days, just today discovered the /cost_cloud topic and its really helping me understand behavior.

[2019-09-23 20:22] #1156 closed

[2019-09-23 20:24] shivaang12 commented on #965
@mlherd

I am having the same issue when building from scratch. I tried to build tf2_ros branch ros2 from source in outerlay_ws but during the build it uses the old package in underlay workspace. How would I proceed further?

Best,
Shivang

[2019-09-23 20:30] mkhansen-intel commented on #1135
Yes, this is a bigger refactor, regardless of the change you already made

[2019-09-23 22:21] #1067 closed

[2019-09-23 23:33] orduno commented on #1105
I've pushed #1157 with some possible solution.

@hyunseok-yang Would you mind trying #1175 and see if it fixes the issue?

[2019-09-24 07:07] hyunseok-yang commented on #1105
@orduno
Hi, I've tried to apply your commit for test but I guess based version is different.
Which means... I'm working on latest dashing-devel branch (=0.2.4) and latest ros2 dashing debian package.
At least, "tf2_ros::CreateTimerROS" is not recognizable with my installed version.

It looks... you're working on master version...

[2019-09-24 18:28] mkhansen-intel commented on #931
I would like to have an issue to refactor TEB to use the nav2_core interface.

[2019-09-24 18:42] yathartha3 commented on #931
@mkhansen-intel Reopen, and changed issue name. I pinged @vinnamkim  informing about the nav2_core interface.
There is an issue in the TEB repo: https://github.com/rst-tu-dortmund/teb_local_planner/issues/154

[2019-09-24 19:14] SteveMacenski commented on #931
I can also commit to helping (next week or after)
Is there a timetable based on a need for this?

[2019-09-25 00:23] Jconn opened #1160 "dwb controller sometimes doesn't pick up changes to the global plan for the entire navigation goal"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Version or commit hash:
version 0.2.4
- DDS implementation:
opensplice

Sometimes when I set a navigation goal through the NavigateToPose action interface, the DWB controller will never pick up changes to the global path made by the ComputePathToPose node. This doesn't reproduce all the time for me.

#### Steps to reproduce issu

[2019-09-25 01:27] SteveMacenski commented on #1160
Well i think either way if its been accepted or executing your preemption call is valid. I’d approve a PR that changes that condition to either of those two

[2019-09-25 04:59] yathartha3 commented on #931
@SteveMacenski

👍

Target is before ROSCon, so that we get to say we have two local planners using plugins.
Moreover, it is for parity with ROS1 (https://github.com/ros-planning/navigation2/issues/592).

[2019-09-25 05:05] SteveMacenski commented on #931
I guess that's a slippery slope to say "parity" when referring to plugins outside the main repo, how many other popular planning plugins do we need to port to call it at parity?

With that said after reviewing the planner's entry class (https://github.com/rst-tu-dortmund/teb_local_planner/blob/dashing-devel/teb_local_planner/src/teb_controller.cpp) it shouldn't take anyone more than 3 hours to por

[2019-09-25 05:28] SteveMacenski commented on #931
Side note: I haven't really worked much with the open source local planners - we've spun our own in most places I've been. What's the major bullet points on the reasons to use each DWB and TEB? I hear good things about TEB second hand from a number of folks. In my limited experiences with it, I never got it to behave in a way I was comfortable with, but that's a pretty weak excuse.

Is there (pote

[2019-09-25 05:37] #1134 closed

[2019-09-25 05:43] yathartha3 commented on #931
Just this one for right now since we put it in the roadmap. Personally, I think there are better ones out there that I would like to implement.

I would really like to hear more about it.

I think there is value in having more than one approach, and let the user choose which works for them. So, I would not remove DWB.

I haven't dug deep into it, and now that you ask this question, I want to look

[2019-09-25 05:48] mlherd commented on #965
@shivaang12 It has been a while not building the master branch. I will test it and let you know if I get the same problem.

[2019-09-25 06:32] MengNan-Li opened #1161 "[ERROR] [lifecycle_manager]: Failed to change state for node: map_server"
## Bug report

**Required Info:**

- Operating System:
  - ubuntu 18.04
- Version or commit hash:
  - bd0fe8bf238c69bc41ea29680a7a37bd3fb60022
- DDS implementation:
  - RMW_IMPLEMENTATION=rmw_opensplice_cpp

#### Steps to reproduce issue

[code]

#### Expected behavior
[map_server-2] [WARN] []: Error occurred while doing error handling.
[map_server-2] [FATAL] [map_server]: Lifecycle node entered e

[2019-09-25 06:55] MengNan-Li opened #1162 "[ERROR] [rviz2]: InvalidParametersException: Stream size does not match calculated image size in Image"
## Bug report

**Required Info:**

- Operating System:
  - ubuntu18.04
- Version or commit hash:
  - 0.2.4
- DDS implementation:
  - Fast-RTPS
- ros2 version:
  - source dasing Patch Release 3

#### Steps to reproduce issue

[code]

#### Expected behavior
The rviz2 shows the map.
#### Actual behavior
[INFO] [rviz2]: Stereo is NOT SUPPORTED
[INFO] [rviz2]: OpenGl version: 3 (GLSL 1.3)
[INFO] [rviz2

[2019-09-25 06:57] MengNan-Li commented on #1162
#908

[2019-09-25 07:04] yathartha3 commented on #1162
Is it navigation issue or rviz? Can you start rviz independently?

[2019-09-25 07:11] yathartha3 commented on #1161
Seems like a middleware issue.
Check this discussion and blog post that compares some of the DDS:
https://discourse.ros.org/t/blog-post-2-ros-2-dashing-with-navigation/10656

[2019-09-25 07:16] MengNan-Li commented on #1162
@yathartha3 Using the navigation2/nav2_bringup/launch/turtlebot3_world.yaml is ok.

[2019-09-25 07:24] MengNan-Li commented on #1162
I am facing this problem with the map below.
![map](https://user-images.githubusercontent.com/27143147/65578020-9989fb00-dfa7-11e9-8afd-fa5c345f75d9.png)

map.yaml

free_thresh: 0.196
image: map.png
negate: 0
occupied_thresh: 0.65
origin: [-25.132128, -18.565032, 0.0]
resolution: 0.03

[2019-09-25 07:28] yathartha3 commented on #1162
@MengNan-Li Thanks. I will look into it.

[2019-09-25 08:09] MengNan-Li commented on #1162
@yathartha3 I found  the log message "/tmp/binarydeb/ros-dashing-rviz-ogre-vendor-6.1.1/obj-x86_64-linux-gnu/ogre-master-ca665a6-prefix/src/ogre-master-ca665a6/OgreMain/src/OgreImage.cpp" pointing ros-dashing-rviz-ogre-vendor-6.1.1. So I just apt remove ros-dashing-rviz-ogre-vendor-6.1.1 and the Rviz2 can load my map now.

[2019-09-25 08:18] MengNan-Li opened #1163 "map_server process will not exit when ctrl-c"
## Bug report

**Required Info:**

- Operating System:
  - ubunbu 1804
- Version or commit hash:
  - 0.2.4
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

[code]

#### Expected behavior
All nodes will shutdown.
#### Actual behavior
The /map topic is still published

ros@neuron:~$ ps aux | grep ros2
ros       9379  1.4  0.6 1938704 99576 ?       Sl   15:28   0:34 /home/ros/yunji

[2019-09-25 14:00] Jconn commented on #1160
got it, I will do that

[2019-09-25 15:37] yathartha3 commented on #1162
Glad you fixed it.
Just FYI, latest ros-dashing-rviz-ogre-vendor is version 6.1.4.

[2019-09-25 16:05] yathartha3 commented on #1163
I tried replicating, and I see this issue too.
After ctrl+c on every terminal, these nodes show up in ros2 node list:
[code]

If I wait ~4 minutes, all nodes shutdown.

[2019-09-25 16:07] vinnamkim opened #1164 "[BUG] ActionServer's path in ControllerServer doesn't be affected by use_sim_time"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - latest master(https://github.com/ros-planning/navigation2/commit/78a0272c585dc575d84ea4ec4d3e58d169c7c622)
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
Add those lines after https://github.com/ros-planning/navigation2/blob/78a0272c585dc575d84ea4ec4d3e58d169c7c622/nav2_control

[2019-09-25 16:07] #1162 closed

[2019-09-25 16:11] SteveMacenski commented on #1163
Are you sure they're not actually shut down but some DDS "stuff" hasn't updated that its gone? If you call a service from one of these guys, does it respond? Are they publishing topics?

[2019-09-25 16:18] yathartha3 commented on #1163
No, it just shows up, but I believe it is not really running. I cannot echo topics.

[2019-09-25 16:23] SteveMacenski commented on #1163
If `ps` still shows them running they're probably in some bad state being destructed, given both the servers have a costmap, I'd bet to say its related to the costmap. The map server one is interesting too

[2019-09-25 16:38] yathartha3 commented on #1164
@vinnamkim When I echo the clock from the terminal, I see the sim time correctly. Can you please check that your clock is the sim time?

[2019-09-25 17:06] vinnamkim commented on #1164
Well, I mean `action_server_->get_current_goal()->path` has a time stamp with the system time, not the sim time. Do you mean that you checked the time stamp of  `action_server_->get_current_goal()->path`?

[2019-09-25 18:02] orduno commented on #1164
@vinnamkim I've reproduced the bug and can confirm that even when the clock topic shows the correct simulation time, the time stamp on the path is different.

The global planner is the one node which might not have the right clock time -- since it's where the path is created and stamped.

I looked into the launch files and we're correctly setting `use_sim_time` to true by logging the value into th

[2019-09-25 19:49] orduno commented on #1164
@vinnamkim Could you test #1165 to see if that fixes the bug on your end?

[2019-09-25 20:23] mkhansen-intel commented on #931
Great to see you both jumping on this one. I agree that it should hopefully be a small effort, but I haven't looked at the TEB code that was ported.

Just to clarify, the reason we are doing this is because we want a working example of an external plugin working with the nav2_core interface as a way of testing that our assumptions are valid. TEB makes the most sense because we have had others ask

[2019-09-25 21:19] mkhansen-intel opened #1168 "Update system test to use NavigateToPose Action"
## Feature request
The current system test sends a goal by publishing to the /goal topic. We should update the test with ability to use the NavigateToPose action instead.

#### Feature description
This will test the action interface and ensure that it's working correctly, including the feedback and 'success' from the action. Instead of checking the robot's position to determine pass/fail, the acti

[2019-09-25 22:08] mlherd commented on #965
@shivaang12 Today, I tested building Nav2 Master and Ros2 Master. All the packages were successfully built. Make sure to follow the exact order below.

1- Build ROS 2 Master - make sure you clone ROS 2 master
2- Source ROS 2 Master setup.bash
3- Build Navigation 2 Dependencies
4- Source Navigation 2 Dependencies
5- Build Navigation 2 Master -  make sure you clone Navigation 2 master

[2019-09-26 02:02] shivaang12 commented on #965
@mlherd

Thanks! It worked after I removed the ROS2 dashing which I had install using apt, and build it from scratch. Sorry for the trouble.

Best,
Shivang

[2019-09-26 05:23] vinnamkim commented on #1164
@orduno LGTM and close this issue.

[2019-09-26 05:23] #1164 closed

[2019-09-26 07:23] mlherd commented on #1163
I think this may be DDS related. Since the node is killed, it can't tell its subscribers that it is dead. The other nodes need to discover that this node is actually dead (not responding). The active data readers and writers send heartbeats and acknowledgements to make sure that they are still alive. It may take some time to drop a dead publisher or a subscriber from the list. Same for ROS daemon.

[2019-09-26 15:40] shivaang12 opened #1170 "Small documentation typo @ navigation2/nav2_core/include/nav2_core/recovery.hpp"
I was going through this file and I suspect a possible typo in recovery.hpp. In this file, name of the class is "Recovery" but it is documented as "GlobalPLanner" on the line number 27.

P.S. I am apologizing in advance if this is just my misunderstanding instead of typo. I am looking for ways to contribute to this repo. Thanks!

[2019-09-26 16:56] mlherd commented on #1170
It seems like a typo to me too. Could you fix it and submit a PR for it?

[2019-09-26 18:36] SteveMacenski commented on #1163
Well something is still running @mlherd if `ps` shows the process is still around, regardless of what ROS says.

[2019-09-26 19:48] shivaang12 commented on #1170
@mlherd

I can do it! Thank you so much!

[2019-09-26 19:59] yathartha3 commented on #1161
@MengNan-Li Is this still and issue for you?

[2019-09-26 20:36] #1170 closed

[2019-09-26 20:40] mlherd commented on #1163
@SteveMacenski I should have used the quote reply. My intent was replying to @yathartha3's comment:

I will debug this issue.

[2019-09-26 20:45] Jconn commented on #1163
Hey! I am also seeing this with opensplice on 0.2.4

It doesn't reproduce consistently, but when it does `ps` shows the map server is still kicking, and I can't kill it with `kill`, and usually I end up rebooting to relaunch the stack.

[2019-09-26 20:47] SteveMacenski commented on #1163
mhm, next time try `sudo pkill` let me know what that does. If it doesnt go down I'm thinking then it might be DDS

[2019-09-26 20:50] Jconn commented on #1163
I have also tried `sudo kill pID` with no luck. I have some other non-navigation nodes running in my environment that the - I don't know if they are involved.

[2019-09-27 02:20] rotu commented on #1163
@Jconn I can confirm I've seen map_server persist in the past. Never figured out why.
@yathartha3 @mlherd If you suspect a node is no longer running, but is still showing up in `ros2 node list`, run `ros2 daemon stop` then rerun `ros2 node list`.

[2019-09-27 02:39] MengNan-Li commented on #1163
It doesn't reproduce consistently. This problem has not occurred in my recent use. When I ctrl+c the launch file, the map_server will shutdown together.
[code]

[2019-09-27 02:43] MengNan-Li commented on #1161
Currently, this problem does not occur without using the rmw_opensplice_cpp middleware, in which the problem can be reproduced.

[2019-09-27 02:44] rotu commented on #1161
I'm seeing something very similar and traced it to `OccGridLoader::on_configure` and traced it to a failure on this line
https://github.com/ros-planning/navigation2/blob/dashing-devel/nav2_map_server/src/occ_grid_loader.cpp#L169

Are you seeing the same message about "rcl node's context is invalid"?
[code]

[2019-09-27 02:55] MengNan-Li commented on #1161
@rotu I just reproduced this problem and found no the log message about "rcl node's context is invalid".

[2019-09-27 04:52] rotu commented on #1161
Whatever the original error is, it looks like the log is missing some detail due to https://github.com/ros2/rclcpp/issues/776
I'd recommend updating ROS to Dashing patch 3 so you have this PR: https://github.com/ros2/rclcpp/pull/847

[2019-09-27 04:59] SteveMacenski commented on #1161
Is this blocking you @MengNan-Li or is this just occasional?

If its just occasional and its from rclcpp, I think you should file the ticket there and we close this one. If its 100% blocking then we need to patch something to get everyone up and running in the meantime

[2019-09-27 05:17] rotu commented on #1161
@SteveMacenski what makes you think it’s a problem *originating from* rclcpp? I just suggested that rclcpp might be swallowing relevant debugging info.

[2019-09-27 05:36] SteveMacenski commented on #1161
Ah, I misread the context of bringing up the ticket.
![](https://tenor.com/IfFG.gif)

(crossing through other comment)

[2019-09-27 08:11] MengNan-Li commented on #1160
## Bug report

**Required Info:**

- Operating System:
  - ubuntu 18.04
- Version or commit hash:
  - 0.2.4
- DDS implementation:
  -  Fast-RTPS
- ROS2.0 Version:
  -  dashing patch release 3

#### Steps to reproduce issue

[code]

#### Expected behavior
The robot move to the goal and update path when encountering obstacles.

#### Actual behavior
The "transformed_global_plan" topic path will not b

[2019-09-27 08:14] MengNan-Li commented on #1160
As @Jconn , inserting `status = action_msgs::msg::GoalStatus::STATUS_ACCEPTED` can avoid the problem.

[2019-09-27 08:19] MengNan-Li commented on #1161
@rotu This problem is present in this version(ROS2.0 dashing patch release 3).

[2019-09-27 14:02] rotu commented on #1161
Can you give me a bit more log context? Maybe there’s something pertinent before the line `Error occurred while doing error handling.`

[2019-09-27 16:59] mkhansen-intel opened #1173 "Should Costmap2DROS ptrs be removed from nav2_core interfaces?"
For discussion -

Both the local_planner and global_planner abstract interfaces include a Costmap2DROS ptr in the configure interface.
[code]
I don't think the Costmap2DROS object is used in the planner_server or controller_server, is it?

I see it is created, then a thread is created to spin it:
[code]
It seems to me that this could all be done in the plugin as needed. It also seems as though the

[2019-09-27 17:18] SteveMacenski commented on #1173
So costmaps are heavy, you're right to say that the `server` themselves don't use the costmap, but its the arbiter of the costmap to hand off to the plugins so they can share the costmaps between them and not have a costmap for `pluginA` and another for `pluginB`

_Technically_ the costmap _is_ used in the servers, to get the TF buffer which is used to get the pose information, but that's not me m

[2019-09-27 19:11] #1160 closed

[2019-09-27 22:06] mlherd commented on #1163
I couldn't reproduce this issue. I tested it with the most recent Nav2 Dashing release. However, I have seen this issue happening before.

After I kill the launch file, sometimes map_server node will still be listed when I run ros2 topic list, but /map topic is not being published. If I run ros2 daemon stop, map_server node disappears.
I will try to reproduce this issue using the master branch as

[2019-09-29 03:21] MengNan-Li commented on #1161
I found this problem is due to the /map_server process did not exit. #1163.

[code]

If you start the nav2 launch directly without killing the map_server process, this problem will occur.
[1.log](https://github.com/ros-planning/navigation2/files/3666317/1.log)

[2019-09-30 16:52] orduno commented on #377
We no longer have a robot class and robot specific parameters are provided through parameters in a YAML file.

[2019-09-30 16:52] #377 closed

[2019-09-30 16:55] orduno commented on #429
Closing as this enhancement is considered in #953.

[2019-09-30 16:55] #429 closed

[2019-09-30 18:53] bpwilcox commented on #823
Fixed with merged upstream PR.

[2019-09-30 18:53] #823 closed

[2019-09-30 18:54] bpwilcox commented on #818
Fixed with #1108

[2019-09-30 18:54] #818 closed

[2019-09-30 20:24] bpwilcox commented on #1173
I think this environmental representation wrapper is an important next step for the navigation2 stack. A while ago, we were considering to move to [grid_map](https://github.com/ANYbotics/grid_map), so I'd like to see a wrapper to support different map representations.

[2019-09-30 22:16] SteveMacenski commented on #1173
I think grid_maps is an example of a total replacement for costmap_2d for a variety of reasons rather than an option, but it would be good to have an example of supporting multiple

[2019-10-01 02:58] airuchen commented on #1124
Dear @Jconn
This issue happens to me currently. I'm curious if you have any further progress.

[code]

[2019-10-01 03:12] Jconn commented on #1124
Nope, still busted for me. Every few days I come back to this and try something new

[2019-10-01 03:17] ruffsl commented on #973
Hmm, now that the debug build is up again, this issue seems to have come back.

https://codecov.io/gh/ros-planning/navigation2/tree/0df1713bcb4bbe43471c9ed45cae84065bfb8875

[2019-10-01 03:26] rotu commented on #1124
@airuchen please clip a little more context from the logs. What else does bt_naviator log? Is this always preceded by a warning about a node name collision?

[2019-10-01 03:59] airuchen commented on #1124
@Jconn  Thanks.
@rotu It works fine when I set estimate, but breaks when setting goal. Here are the logs.
[code]

And these are what rviz shows
[code]

[2019-10-01 04:05] rotu commented on #1124
Estimates are processed by the amcl node. Goals are processed by the bt_navigator node.

Try removing the node_name argument to bt_navigator in your launch file. If your launch file uses the LifecycleNode action (which requires the node_name argument), switch to the Node action (which doesn’t require it). While node name collisions *can* be harmless, I suspect this one might not be.

[2019-10-01 04:43] airuchen commented on #1124
Thx for helping. I took out the line, and the warning disappeared. Still, the error remains.
[code]
I will try on another device to check if it's just an env issue.

[2019-10-01 16:05] orduno commented on #1173
Another option is to create an abstract interface for a costmap, as [this](https://github.com/locusrobotics/robot_navigation/blob/master/nav_core2/include/nav_core2/costmap.h).

Planner still require a costmap, as in [here](https://github.com/locusrobotics/robot_navigation/blob/33c974bac48fbc3916f7359ab38a830f6bdb0485/nav_core2/include/nav_core2/global_planner.h#L69).

Then we adaptors for differe

[2019-10-01 16:11] SteveMacenski commented on #1173
@orduno that's certainly a valid direction we could go, but I thought alot of the design you all liked was to have everything as separate servers? I would have thought creating a `CostmapInterface` class that contains the items necessary to subscribe / request / operate over some costmap stream coming from another environmental representation server would have been more your style.

Then the serve

[2019-10-01 17:07] orduno opened #1177 "Long wait on configuring bt_navigator"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Version or commit hash: 8e88686722032298b1f1f77e684185972fee5aba
- DDS implementation: FAST-RTPS

#### Steps to reproduce issue
Run simulation
[code]

#### Expected behavior

<details>
<summary>BT Navigator quickly finds the action serves and configures</summary>
<br>

[code]
</details>

#### Actual behavior

<details>
<summary>

[2019-10-01 18:36] orduno opened #1179 "Navigation fails after second attempt"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Version or commit hash: ec834a5d55f9a7f00f551c147717ea8a9d5e796d
- DDS implementation: FAST-RTPS

#### Steps to reproduce issue
Run simulation
[code]
Start the system, provide an initial pose, provide a goal pose, let robot move to goal pose and navigation succeed.

Provide a second goal pose.

#### Expected behavior

Robot move

[2019-10-01 18:47] SteveMacenski commented on #953
Adding comment per @mhpanah request:

We want to be able to do behaviors and check if it fixed the problem between the behaviors (and really, we'd like to know the *moment* its fixed even during a recovery to start getting back along our way). This would imply that rather than doing the current recovery behavior sequence star where we do each sequentially, we need a way to do each, test if whateve

[2019-10-01 19:06] yathartha3 commented on #1155
Closing now. Will test it and reopen if needed.

[2019-10-01 19:06] #1155 closed

[2019-10-01 19:08] yathartha3 commented on #894
Closing it for now. Will reopen if there is a use case for it.

[2019-10-01 19:08] #894 closed

[2019-10-01 19:10] yathartha3 commented on #1152
Might be useful when we are testing on bigger maps, or with compute limited computers. However, users can always try to tune the number of particles using params. Will close for now. Reopen if needed.

[2019-10-01 19:10] #1152 closed

[2019-10-01 19:30] orduno opened #1181 "RVIZ navigation panel occasionally fails to initialize"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Version or commit hash: ec834a5d55f9a7f00f551c147717ea8a9d5e796d
- DDS implementation: FAST-RTPS

#### Steps to reproduce issue
Run simulation
[code]
Wait for RVIZ to come up.

#### Expected behavior

The `startup` button on the RVIZ `Navigation2` panel is enabled.

#### Actual behavior

Occasionally, the `startup` button is dis

[2019-10-01 19:35] orduno commented on #502
Closing as the issue is covered in #443.

[2019-10-01 19:35] #502 closed

[2019-10-01 19:40] orduno commented on #971
Tasks completed so closing the ticket.

[2019-10-01 19:40] #971 closed

[2019-10-01 19:54] crdelsey commented on #973
I see what's happening. I'm not sure of the fix yet.

Lets look at `build/nav2_msgs/rosidl_generator_cpp/nav2_msgs/action/back_up__struct.hpp`, for example.

In the extract step, the log shows
[code]
*It thinks the file is in the `install` directory, not `build`.*

So when we get the step where we remove `build/*`, well, it's not there and doesn't get removed.

It makes sense that the coverage too

[2019-10-01 20:00] crdelsey commented on #1124
@Jconn Sounds like you are not the only one experiencing the problem. I'm going to reopen the issue till we fix it or figure out where to file an issue upstream

[2019-10-01 20:57] orduno opened #1182 "Should we provide a node to TF listeners?"
We're not passing a node to the tf listener constructor in a few places on our code, for example:

https://github.com/ros-planning/navigation2/blob/a05c9440e76dfd0d76f243740c143a2a1b5d7c1d/nav2_costmap_2d/src/costmap_2d_ros.cpp#L135

Which by default will create a node and spin it:
https://github.com/ros2/geometry2/blob/64a19215f60aca42471a7da202085169dd39e6cc/tf2_ros/src/transform_listener.cpp#L5

[2019-10-01 21:19] mhpanah commented on #1179
@orduno I just noticed this problem as well.

[2019-10-01 21:24] #314 closed

[2019-10-01 21:25] bpwilcox commented on #468
The `nav2_dynamic_params` package has been removed, so this would apply to the re-integration of dynamic parameters. I'll close this issue and this can be apart of a new design issue

[2019-10-01 21:25] #468 closed

[2019-10-01 21:26] bpwilcox commented on #508
Not seeing this issue anymore

[2019-10-01 21:26] #508 closed

[2019-10-01 21:28] bpwilcox commented on #1030
Resolved

[2019-10-01 21:28] #1030 closed

[2019-10-01 21:38] bpwilcox commented on #1181
The startup button should start as disabled until it receives a response from the lifecycle manager. Since autostart is `false` in that launch script, it should immediately catch a response from the lifecycle manager and transition. @orduno Do you see the service request being sent when you launch in those cases it fails?

[2019-10-01 21:47] mhpanah opened #1185 "Controller server process dies after reseting"
## Bug report

**Required Info:**

- Operating System:
  -18.04
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

[code]

#### Expected behavior
All the nodes should resume and work
#### Actual behavior
[lifecycle_manager-4] [INFO] [lifecycle_manager]: Configuring controller_server
[controller_server-7] [INFO] [controller_server]: Configuring

[2019-10-01 21:47] mhpanah commented on #1185
@bpwilcox Have you noticed this?

[2019-10-01 21:53] bpwilcox commented on #1185
@mhpanah When is the last time you updated your ros2 ws? This is an old error we saw with the class loader before my upstream PR was merged

[2019-10-01 22:03] mhpanah commented on #1185
@bpwilcox Couple weeks. I will close the issue.

[2019-10-01 22:05] #1185 closed

[2019-10-01 22:15] orduno commented on #1179
@mhpanah There's something wrong with the current bt xml, I've created #1184 to go back to the previous while we figure out the problem.

[2019-10-01 23:09] crdelsey opened #1187 "What changes should go into the 0.2.5 release? (End of Sept release)"
This is the set of commits that have gone into master since the 0.2.4 release. What commits should go into 0.2.5?

- [ ] a05c9440 2019-10-01 'Carl Delsey' Sphinx Docs - Template Only (#1138)
- [ ] a0a9eb23 2019-10-01 'Steven Macenski' Merge pull request #1176 from SteveMacenski/wait_Recovery
- [ ] 691abe36 2019-10-01 'stevemacenski' using builtin msgs duration
- [ ] ec834a5d 2019-10-01 'Carlos A.

[2019-10-01 23:23] crdelsey commented on #1182
I'd prefer to leave it as is for now unless it is causing problems - at least till the reentrancy problem is addressed.

If we put the transform listener on the same node, we now need to worry about providing a thread for the transform listener, or we need to ensure we can never wait for a transform.

[2019-10-01 23:40] crdelsey commented on #202
Closing since this isn't addressing a specific need. Work on TEB is covered by other issues.

[2019-10-01 23:40] #202 closed

[2019-10-01 23:43] orduno commented on #1187
(I'll be updating this comment as check more items from the list)

Checked items:
- Checking https://github.com/ros-planning/navigation2/commit/1193dbc90690944dd01ccc85736cf3ff021f0f1e as there's an issue reported the bug on Dashing.
- https://github.com/ros-planning/navigation2/commit/0bf7f9ce3eb1862271ccb329d515df653a24f32b is kind of minor, doesn't hut getting in.

Questions:
- We got a long li

[2019-10-01 23:43] crdelsey commented on #528
Closing since this isn't addressing a specific need. We can reinvestigate when performance testing shows an actual problem

[2019-10-01 23:43] #528 closed

[2019-10-01 23:44] crdelsey commented on #531
Closing until there is an actual problem to address

[2019-10-01 23:44] #531 closed

[2019-10-01 23:45] #572 closed

[2019-10-01 23:46] crdelsey commented on #593
Obsolete

[2019-10-01 23:46] #593 closed

[2019-10-01 23:47] #602 closed

[2019-10-01 23:48] #629 closed

[2019-10-01 23:49] crdelsey commented on #825
Updated by #924

[2019-10-01 23:49] #825 closed

[2019-10-01 23:49] crdelsey commented on #834
Done

[2019-10-01 23:49] #834 closed

[2019-10-01 23:50] crdelsey commented on #898
Not causing an actual problem. Closing

[2019-10-01 23:50] #898 closed

[2019-10-01 23:53] crdelsey commented on #949
Problem is not causing actual problems right now and is related to the underlying libraries.

[2019-10-02 00:06] crdelsey commented on #1187
Yeah. Tell me about it. I kind of gave up last month on being surgical and just merged everything. That lead to merging something that shouldn't have been merged. I would not have known it wasn't supposed to be merged, though. I think we need the authors, or at least someone familiar with the change to make the call on whether it should be backported. It would be nice if we added a flag to PRs to

[2019-10-02 00:08] crdelsey commented on #972
Fixed by #1104

[2019-10-02 00:08] #972 closed

[2019-10-02 00:11] crdelsey commented on #730
Obsolete

[2019-10-02 00:11] #730 closed

[2019-10-02 00:17] crdelsey commented on #887
Closing till we've got a specific problem to address with this change.

[2019-10-02 00:17] #887 closed

[2019-10-02 00:25] rotu commented on #949
@crdelsey I disagree. This *is* an actual problem. It's difficult to troubleshoot when the log is full of warnings you're supposed to ignore.

[2019-10-02 16:06] SteveMacenski commented on #528
@crdelsey well more than anything else, has anyone set the use A* parameter and shown that it actually _works_ ?

[2019-10-02 16:07] SteveMacenski commented on #949
I think what he's trying to say is that these aren't actual problems in this project, its from the libraries we use which have their own issue trackers

[2019-10-02 16:11] rotu commented on #949
@SteveMacenski @crdelsey if this is truly correct use of the library, please link this issue to the underlying bug in the geometry2 library.

[2019-10-02 16:15] SteveMacenski commented on #1182
I think inherently we do this because we have to wrap all TF calls for exception handling.

My understanding of the TF2 listener as opposed to TF1 is that the Listener's entire goal is to create the node to spin and give the transforms from the topics to the buffer for use. If you give it a node, you're really just taking away the listener and its just a wrapper around a callback.

I don't necessa

[2019-10-02 16:19] SteveMacenski commented on #1187
I think that's typically what OSRF recommends anyhow. I don't necessarily subscribe to that mentality, but there's too much entropy in this project and its not a good use of your time to try to knit-pick features as you've mentioned. :+1: for back porting genuine bugs only

[2019-10-02 16:19] mkhansen-intel commented on #1187
Seeing this list I agree.

[2019-10-02 16:29] crdelsey commented on #528
In the system test, test_bt_navigator has it turned on while test_bt_navigator_dijkstra has it turned off

[2019-10-02 16:35] SteveMacenski commented on #528
Awesome

[2019-10-02 16:45] crdelsey commented on #949
@rotu I'll reopen this. I think we can fix some of the error messages you are referring to.

I closed this, because, when I filed the issue, I had a different problem in mind. We used to get lots of these error messages even once we were up and operating. Now, with the improvements in tf2 and FastRTPS, I seldom see this error after the system is up.

[2019-10-02 17:10] crdelsey commented on #1182
The main problem with waiting for a transform was that sim_time couldn't advance and time out the wait if the node with the clock wasn't spinning.

The new `setCreateTimerInterface`, I believe, is meant to avoid that problem. You can now provide a clock on a separately running node.

However, I just realized that we already provide our node as the source of that clock in the `setCreateTimerInterfa

[2019-10-02 17:14] SteveMacenski commented on #1182
That sounds reasonable to me, multithreaded executors aren't something to be avoided

[2019-10-02 21:06] shivaang12 opened #1194 "Getting "Timed out waiting for transform from base_link to map to become available""
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - initial_ros_setup.sh
- DDS implementation:
  - default

#### Steps to reproduce issue
nav2 bringup instruction for gazebo.

[code]

#### Expected behavior
Not getting the below error, at least.
#### Actual behavior
[amcl-3] [WARN] [amcl]: Waiting for map....
[planner_server-5] [INFO] [global_costm

[2019-10-02 21:28] bpwilcox commented on #1194
Hi @shivaang12, thanks for your issue. Could you provide more information regarding your bringup procedure such as:
- What map are you using? Is it being visualized in rviz or can see it via `ros2 topic echo`?
-  Did you provide a pose in rviz via the "2D Pose Estimate" button?

[2019-10-02 23:01] mkhansen-intel commented on #1187
I submitted a PR #1193 directly to the dashing devel branch as a bug fix that needs to be merged before 0.2.5

[2019-10-02 23:09] mkhansen-intel commented on #40
@rotu - I'm still interested in knowing how you got this to work, would you be willing to run rqt_graph on your running system and post back here? Even better would be a tutorial document. Do you have any bandwidth to help at all on this?

[2019-10-02 23:52] rotu commented on #40
Oops! I'm sorry I dropped the ball and thanks for the reminder. The node is called "/se_node" in my graph.

![rosgraph](https://user-images.githubusercontent.com/119948/66089602-a6799200-e545-11e9-853c-b4d7c284e1d7.png)

[2019-10-02 23:55] rotu commented on #40
And all my config lives here:

https://github.com/RoverRobotics/openrover-ros2/blob/master/openrover_demo/launch/presence.launch.py
https://github.com/RoverRobotics/openrover-ros2/blob/master/openrover_demo/config/presence.yaml

I'm not sure what tutorial would be helpful. It's just figuring out the parameters and topic mappings and such.

[2019-10-03 00:15] rotu commented on #1151
@SteveMacenski Did this get released? Why don't I see this change in `ros-dashing-nav2-bt-navigator	0.2.4-1bionic.20191001.071451`?

[2019-10-03 00:20] shivaang12 commented on #1194
Hi @bpwilcox,

Sorry for the trouble, I guess I forgot to provide the 2D pose. Thank you for your time.

[2019-10-03 00:20] #1194 closed

[2019-10-03 00:57] ruffsl commented on #1187
Any of my commits for patching the CI should be fine, given they don't intersect with the nav2 code. It could help keep the CI consistent when testing PRs for backporting to dashing. Though, I may need to tweek the docker hooks on the dashing branch to switch the executor image from ros2 nightly to dashing.

[2019-10-03 16:58] mkhansen-intel commented on #40
I'm just not clear on what purpose AMCL is serving vs the se_node. It looks like the map->odom /tf and the /odom topic are both being published by the se_node. If so, then is AMCL even needed?

[2019-10-03 17:05] SteveMacenski commented on #40
Without running it, it looks right to me with [world_frame](https://github.com/RoverRobotics/openrover-ros2/blob/master/openrover_demo/config/presence.yaml#L72) set to `odom`, its going to publish the odom-> base_link transform.

[2019-10-03 17:19] rotu commented on #40
se_node has no absolute positioning info and doesn’t know about the map frame. `/odom_raw` has only velocity info. That also means that, in theory, the se_node positional uncertainty should grow forever, but that doesn’t matter since we’re getting the absolute position from amcl instead.

[2019-10-03 18:02] mkhansen-intel commented on #1187
@ruffsl - can you check the boxes above for the commits you want backported?

It would be great if you could fix the CI on the dashing branch! :+1:

[2019-10-03 18:23] bpwilcox commented on #1177
I'm not sure we need to wait for the action servers in the `onInit` of the bt action nodes. For one, it introduces a blocking dependency on external nodes which I'd like to see removed. Also, if you were to, say, register a bt action or service node, but then not launch the server, then the call will indefinitely wait instead of timing out or proceeding. This might be a problem with the recovery b

[2019-10-03 20:36] crdelsey commented on #1187
@orduno I'm not going to bring in 0bf7f9c, or else I'd also need to bring in the changes that replace the deprecated functions. I don't think we really need that in the dashing release.

[2019-10-04 16:18] mkhansen-intel commented on #40
Based on this, I think the intention of this issue, which was to prove someone can use robot_localization with nav2, has been met. I'm closing this issue!

[2019-10-04 16:51] SteveMacenski commented on #40
I’d like to keep this open until there’s an official release of RL for ROS2 that we can validate against. Right now its various folks’ forks which don’t necessarily represent a stable state of RL stable with Nav2 stable

[2019-10-04 17:40] #1179 closed

[2019-10-04 17:57] orduno opened #1200 "RVIZ nav2 panel inactive with CycloneDDS"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Version or commit hash:
Nav2 126464caf33a465b9944de5d4a0ea287c6935cfa
- DDS implementation:
Cyclone DDS 378b4b19d7a6e6e3d863f3cb16be8b4d000c2734
Cyclone RMW 1205ab5ea223a72253db9c36b19707978b122a9e

#### Steps to reproduce issue

- First [Build Cyclone](https://github.com/ros2/rmw_cyclonedds). To avoid the build error on Cyclone

[2019-10-04 18:02] orduno opened #1201 "BT navigator crashes with Cyclone DDS"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Version or commit hash:
Nav2 126464caf33a465b9944de5d4a0ea287c6935cfa
- DDS implementation:
Cyclone DDS 378b4b19d7a6e6e3d863f3cb16be8b4d000c2734
Cyclone RMW 1205ab5ea223a72253db9c36b19707978b122a9e

#### Steps to reproduce issue

- First [Build Cyclone](https://github.com/ros2/rmw_cyclonedds). To avoid the build error on Cyclone

[2019-10-04 18:03] orduno commented on #1201
@rotu Are you experiencing #1200 and #1201?

[2019-10-04 18:06] rotu commented on #1201
@orduno I haven't seen these. I'm very curious to get to the bottom of this: `error taking goal response: error not set`

[2019-10-04 18:26] Jconn commented on #1201
This is a duplicate of https://github.com/ros-planning/navigation2/issues/1124, me and @airuchen are hitting that error message

[2019-10-04 23:28] crdelsey opened #1205 "System Test Improvements"
The nav2 system test has been valuable detecting bugs and basic problems with the navigation stack, however, the scenario used in the test is too simple to stress the algorithms and navigation design concept. We intend to extend the system test as outlined below.

Goals
-----

 - Find environmental situations where the planners, controllers or recovery
 behaviors are inadequate.
 - Test with movin

[2019-10-04 23:30] orduno commented on #803
Closing feature request for now, can reopen once we get to work with MIssion Planning/Execution.

[2019-10-04 23:32] orduno commented on #565
Closing the issue, it seems we're sticking with the current costmap design for now.

[2019-10-04 23:32] #565 closed

[2019-10-04 23:33] orduno commented on #225
Closing issues as we have no plans on the horizon to incorporate other global planners.

[2019-10-04 23:33] #225 closed

[2019-10-04 23:36] orduno commented on #550
Closing issue, it seems we're sticking to the current model for now.

[2019-10-04 23:36] #550 closed

[2019-10-04 23:40] bpwilcox opened #1206 "Improved Recovery Node Behavior Tree"
The current behavior tree and recovery node implement recoveries in a naive way, such that all recovery actions will be executed before the tree retries a `NavigateToPose` action. This also has the consequence that each recovery action must return SUCCESS in order to retry the navigation. This is problematic since if any of the recovery actions fails to complete, it would exit the recovery node an

[2019-10-04 23:49] mkhansen-intel commented on #1201
@orduno can you test if the system test passes on your build with cyclonedds?
[code]
The system test doesn't use the action interface directly, but uses the 'goal_pose' topic. I've run it 100s of times before with cyclone and it has worked. I'd like to know if it is still working, or if it is also broken.

Based on a conversation with @crdelsey yesterday, I thought the bt_navigator is creating an

[2019-10-05 00:18] mkhansen-intel commented on #1201
I tried my own suggestion above and the system test does pass, but when I try to send a goal through the Rviz interface using the `2D Nav Goal` tool, which publshes to the `goal_pose` topic, nothing happens. That's a mystery to me. I don't think I'll have time to look at this until Monday.

Has anyone tried to call this action through python or C++ without using Rviz?

[2019-10-05 02:47] Jconn commented on #1201
I send `2D Nav Goal`s through a standalone python action client, and still see the crash @orduno is reporting

[2019-10-06 23:55] SteveMacenski commented on #803
I think this should be reopened. This is a good basic example use-case of the navigation action. Having an example of how to go from “point and shoot” navigation from rviz to creating an application would be useful

[2019-10-07 16:52] #580 closed

[2019-10-07 17:07] orduno commented on #811
I've updated the issue to cover only the Server side. We can discuss the need for a `SimpleActionClient` on a separate issue.

[2019-10-07 17:07] #811 closed

[2019-10-07 17:08] #578 closed

[2019-10-07 17:09] #637 closed

[2019-10-07 17:22] orduno opened #1207 "Create a `SimpleActionClient`?"
For discussion:

ROS1 provides a [SimpleActionClient](https://github.com/ros/actionlib/blob/indigo-devel/include/actionlib/client/simple_action_client.h) which is not available on ROS2.

The same situation for `SimpleActionServer`, however, we've created a `nav2_util::SimpleActionServer` (#811).

The SimpleActionClient would wrap `rclcpp:ActionClient` and expose a limited set of features. It would

[2019-10-07 17:58] mkhansen-intel commented on #40
Fair enough, I just made you the owner of this ticket as it met my original intent already

[2019-10-07 18:12] crdelsey commented on #1151
This will end up in the 0.2.5 binaries.

[2019-10-07 18:41] orduno opened #1208 "Robot bumps into obstacles not in the static map"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Version or commit hash: 07c17a3cd9f8697915a82431b4e8b8cfc8c71506
- DDS implementation: Fast-RTPS

#### Steps to reproduce issue
Launch nav-stack in simulation.
Place an object on the Gazebo environment between the robot and the intended goal pose.
Provide the goal pose.

#### Expected behavior
The robot goes around the obstacle

[2019-10-07 18:48] mkhansen-intel commented on #1207
Last I knew this was still a "To Do" from this upstream issue:
https://github.com/ros2/ros2/issues/583

I think this discussion should be raised there.

[2019-10-07 20:26] mkhansen-intel commented on #1208
Is anyone looking at this yet? I've reproduced it and started to look into the cause.

[2019-10-07 21:09] crdelsey commented on #899
Duplicate of #1206

[2019-10-07 21:09] #899 closed

[2019-10-07 22:10] crdelsey commented on #1015
@ruffsl Is this still an issue?

[2019-10-07 22:15] ruffsl commented on #1015
I'll check back again after the improvements to fast rtps QoS are sync'ed into dashing:
https://discourse.ros.org/t/preparing-for-dashing-sync-and-patch-release-2019-10-10/10898

[2019-10-07 23:01] orduno commented on #1201
The crash also occurs if we provide the command directly on the terminal
[code]

[2019-10-07 23:33] orduno commented on #1201
I'm going to close this and follow-up on #1124.

[2019-10-07 23:33] #1201 closed

[2019-10-08 00:11] orduno commented on #1124
I'm running the debugger and am down to this [method](https://github.com/ros2/rmw_cyclonedds/blob/1205ab5ea223a72253db9c36b19707978b122a9e/rmw_cyclonedds_cpp/src/rmw_node.cpp#L1863) where is not "taking" the response request.

We should probably file an issue at `rmw_cyclonedds`.

[2019-10-09 00:36] orduno commented on #803
OK, will reopen per Steve's suggestion.

[2019-10-09 01:43] mlherd commented on #1163
I have tried it many times, but I can't reproduce this issue.

1- launch Navigation2
2- `killall map_server` or `sudo kill PID` or close the launch terminal
3- `gnome-system-monitor`
- there is no process called map_server

5- `ros2 node list`
- map_server is node still listed but not alive

6- `ros2 node info map_server`
- map_server is not alive.
- [ERROR] [rmw_fastrtps_shared_cpp]: Unable to fi

[2019-10-09 01:43] #1163 closed

[2019-10-09 22:41] orduno commented on #1124
We've found the source of the problem. Here's some background:

`BTNavigator` is an action server to `NavigateToPose` but also creates a goal subscription:

https://github.com/ros-planning/navigation2/blob/6bfa8c48ea0291fff540eb7aead6e5e511130bd7/nav2_bt_navigator/src/bt_navigator.cpp#L65

On which it's callback uses an action client to send the action to itself:

https://github.com/ros-planning/n

[2019-10-10 01:00] Jconn commented on #1124
I got rid of `self_client` and now cyclonedds is working great. Thanks so much for root causing this @orduno . I'm comfortable closing this now, or we can leave it open until rmw_cyclonedds is fixed

[2019-10-10 17:20] bpwilcox commented on #1208
Resolved with #1212

[2019-10-10 17:20] #1208 closed

[2019-10-10 17:50] bpwilcox commented on #1154
@Jconn Are you still planning to submit a PR on this issue?

[2019-10-10 18:13] SteveMacenski commented on #1206
@bpwilcox where does this fall in your priority list? This is something I view as very high priority as an item the navigation1 stack had but we do not and one of the last things to accomplish prior to feature parity.

[2019-10-10 18:28] #821 closed

[2019-10-10 18:29] #331 closed

[2019-10-10 18:30] SteveMacenski commented on #450
Folks from Apex + others have good tools for this now. I'm still primarily interested in costmap latency but for now the critical components have direct access so I'm happy with that as is

[2019-10-10 18:31] SteveMacenski commented on #775
@mhpanah @crdelsey anyone going to touch this? I can add to my queue. This has been in here a little longer than I'd like

[2019-10-10 18:33] SteveMacenski commented on #816
@mjeronimo is this still an issue?

[2019-10-10 18:35] SteveMacenski commented on #1187
@crdelsey #1198 was merged, should I do a release?

[2019-10-10 18:51] Jconn commented on #1154
This is was pushed lower on my queue, sorry @bpwilcox. I will get moving on this in a few days. If you have the bandwidth to make the fix then go for it :)

I got side-tracked on this when I was working towards a demo and saw that some stuff like PathAlign's `forward_point_distance` might have the same issue

[2019-10-10 18:52] SteveMacenski commented on #1024
I think that response clears up things in my mind, closing.

[2019-10-10 18:52] #1024 closed

[2019-10-10 18:54] SteveMacenski commented on #975
Should this ticket be renamed/closed?

[2019-10-10 19:54] SteveMacenski opened #1216 "Lifecycle bringup: homologated list of nodes"
Right now in the bringup files for navigation vs total bringup there are a list of managed nodes to transition. They are largely the same except localization additions. We should homologate this to a single list to reduce repetition and if you change a boolean for the lifecycle manager you don't change substantive items

per discussion with @crdelsey

[2019-10-10 19:56] SteveMacenski commented on #1187
closing and doing release

[2019-10-10 19:56] #1187 closed

[2019-10-10 20:02] SteveMacenski commented on #1049
@oneattosecond is this still something your compelled to resolve?

[2019-10-10 20:08] orduno commented on #1105
@hyunseok-yang Would you mind pulling the latest dashing-devel and test again? We've backported this fix and will be included on 0.2.5.

[2019-10-10 20:21] bpwilcox opened #1217 "Rewritten params yaml ignores duplicate node/namespace keys"
## Bug report

#### Steps to reproduce issue
Add parameters in `nav2_params.yaml`  as such:
[code]

#### Expected behavior
- generated yaml file includes parameters for `/top_node` and `top_node/extended_node`

#### Actual behavior
- only one of the nodes' parameters is generated in the tmp yaml file

#### Additional information
Right now the  `configured_params` created via the `rewritten_yaml.py

[2019-10-10 20:26] bpwilcox commented on #1206
@SteveMacenski I agree this is a high priority item, though it is not currently on _my_ plate. @crdelsey is currently porting the behavior tree 3.0 version into the stack and plans to look at these issues for better recovery handling.

[2019-10-10 20:33] oneattosecond commented on #1049
@SteveMacenski yes, without the header swap I described earlier, bt_navigator crashes on receipt of a goal (via topic or GUI)

[2019-10-10 20:34] SteveMacenski commented on #1049
Can you submit that PR then? None of the rest of us have macs to do/test for you unfortunately.

[2019-10-10 20:35] SteveMacenski commented on #1206
OK, sorry thought by filing this was something you were thinking about.

[2019-10-10 20:50] SteveMacenski opened #1218 "Add specific test coverage over all plugins (navfn, 3x recoveries)"
## Feature request

#### Feature description
Right now we only check the base class of recoveries & the system level planner server. The stack should include testing for all registered plugins of a type and validate they do what they should.

ei create a valid path in a reasonable time, produce velocity commands to spin/backup, hold robot for N seconds

#### Implementation considerations
Pluginlib

[2019-10-11 00:33] SteveMacenski opened #1221 "Draft REP regarding sensor, map type QoS settings"
amid my last couple day effort to ship my slam project into ros2, I've spent alot of time getting the QoS settings to that I get and publish data in a way different methods like. We've set a standard based on simulation on the QoS settings to be used for lasers and map topics.

Given that we're early in this process, it seems to me that its up to us to formally define these interfaces and submit a

[2019-10-11 00:34] mkhansen-intel commented on #1177
When you see this happen, does it hang forever or does it eventually respond? I have been trying to reproduce and I've seen it hang for 20-30 seconds then eventually proceed. I haven't reproduced it hanging forever (yet).

[2019-10-11 18:28] crdelsey opened #1224 "Add support for outdoor navigation"
#### Feature description
The navigation stack should support navigating in an outdoor environment. This includes features such as:

- [ ] Taking the unevenness of terrain into account in planning.
- [ ] Taking the unevenness of terrain into account when processing sensor data
- [ ] Detecting whether uneven terrain is navigable or not.
- [ ] Handling very large maps
- [ ] Localizing when the neares

[2019-10-11 18:44] SteveMacenski commented on #1224
The AMCL line is probably removable, if you're really outdoor on uneven terrian, AMCL and 2D mapping in geeneral are poor examples. I think its reasonable to assume positioning is on the userunless we want to get into the 3D slam and localization game in this metapackage

[2019-10-11 19:56] crdelsey opened #1225 "Add support for docking at a charging station"
Add support for getting a turtlebot 2 to dock at the Turtlebot 2 charging station. The turtlebot should monitor it's charge level, navigate to the docking station when the charge is low, dock, wait till it's recharged, and then resume its original mission

This serves as an example of how to use the nav2 stack in a larger use case, and also showcases how to swap out the NavFn planner and DWB contr

[2019-10-11 20:02] crdelsey opened #1226 "Support multi-story buildings"
Support navigation in multi-story buildings. This involves:

- [ ] Making a planner work across multiple maps
- [ ] Breaking the navigate mission into multiple sub-navigations. ie. nav to elevator, summon elevator, nav into elevator, select next floor, nav to final goal

[2019-10-11 20:06] crdelsey opened #1227 "Test multiple sensor input support"
Support for multiple obstacle sensor sources exists in the obstacle/voxel layer. We need to test and verify it works.

@SteveMacenski There is no support for multiple sensor sources in AMCL. Do you think we need it there as well?

[2019-10-11 20:13] crdelsey opened #1228 "Website improvements"
Content updates:
- [x] replace getting started navigation gif so its not terrible.
- [x] slam tutorial needs a gif / image
- [ ] move slam gif to top
- [x] more images, graphics, videos, and gifs in index and description pages. Any index or short page needs graphics. Non-turtlebot.
- [x] update readme hyperlinks
- [x] Make the following pages much better: build pages
- [x] remove word "system" and

[2019-10-11 20:13] crdelsey opened #1229 "Foxy Release Feature List"
This is a list of high-level features being considered for the ROS 2 F release.:

- [x] Reduce the number of outstanding issues
- [ ] Support for navigating multi-story buildings #1226
- [x] Behavior tree plugin support #958
- [x] Improve documentation #1228
- [ ] Add support for map zones #404, #401
- [ ] Traffic lanes and routes #1263
- [x] Docking support #1225
- [x] Voxel layer support #955
-

[2019-10-11 21:26] SteveMacenski commented on #1227
AMCL never before supported it, but if you see opportunity to support I wouldn't oppose!

[2019-10-11 21:32] SteveMacenski commented on #1226
@crdelsey I see this ticket really just asking for2 things:
- ability to change maps in map server
- ability to annotate points with tags in the map

changing maps lets you change floor by a higher level schema. Annotating points lets you say "staging point" and "on elevator" point for each floor map.

As this is a really user specific application, I think those 2 capabilities are what need to be

[2019-10-11 21:35] SteveMacenski commented on #1229
I'd add to the list it is my intention within the next 2 releases to replace navfn entirely for a hybrid approach taking into account robot kinematics and footprint. A special case of that would be a circular holonomic robot which would essentially act as navfn.

[2019-10-11 23:41] SteveMacenski commented on #978
Update: PR coming that fixes all magic numbers except timeouts. Timeouts I think we want all nodes to have a `tf_timeout` parameter similar to `use_sim_time`, which can be set globally at launch or by configuration file

[2019-10-11 23:43] SteveMacenski commented on #775
In progress

[2019-10-11 23:45] SteveMacenski commented on #1226
Also #547 and #392 cover this topic

[2019-10-11 23:47] #1090 closed

[2019-10-12 00:38] #496 closed

[2019-10-12 01:09] SteveMacenski commented on #934
@mhpanah is this complete enough to close?

[2019-10-12 01:15] SteveMacenski commented on #931
@vinnamkim's PR is good & will be merged soon. In terms of support we  can give, its been given and its just on the maintainers to polish and merge

[2019-10-12 01:15] #931 closed

[2019-10-13 01:43] shivaang12 opened #1236 "[ros2_amcl] Refactoring the README.md"
## Feature request

#### Feature description

Refactoring the nav2_amcl/README.md, removing the "current plan" section, as all the mentioned issues in the section are already closed. Or may be rename that section to some thing else.

#### Implementation considerations

[2019-10-13 21:31] Jconn commented on #1154
@bpwilcox I'm failing to build the nav2 master branch, because I'm failing to build ros2 master for reasons I don't understand and am not interested in looking into right now. So I'm not going to submit a PR. I have to prioritize some other things right now, so I'm going to back out of my commitment. My change is [on my fork](https://github.com/Jconn/navigation2/tree/issues/1154_critic_param_name_

[2019-10-14 16:13] mlherd commented on #1236
@shivaang12 Would you like to do the changes and submit a PR? Thanks in advance!

[2019-10-14 16:51] shivaang12 commented on #1236
Sure, Thanks!

[2019-10-14 17:22] #1236 closed

[2019-10-14 17:37] bpwilcox opened #1239 "Pass a pointer to CostmapSubscriber and FootprintSubscriber in RecoveryServer"
Currently, the recoveies (e.g. spin, backup, etc.) create their own `CostmapSubscriber` and `FootprintSubscriber` via the `Recovery` base class. Since the plugins are initialized in the recovery server, there are multiple instances of the same subscribers within the same process. As an alternative, we can have the `RecoveryServer` create the subscribers and pass a pointer to them to configure the

[2019-10-14 18:26] #1114 closed

[2019-10-14 19:27] crdelsey commented on #1216
@yathartha3 is currently trying to create a nav_bringup_common.py that can contain common code used across the launch files. I'm not sure if it is the best solution for this particular problem, but it is a possible solution.

eg. We could just put the list of node names in the common file `nav2_lifecycle_nodes=['a', 'b', 'c'...]`. Then in each of the launch files, we'd change the lifecycle_manager

[2019-10-14 19:30] SteveMacenski commented on #1216
Generally how we did things in ROS1 was to have launch files per package so they were distributed and then 1 bringup package that called each individual package's launch file. That way a 1 liner in the bringup could switch package nodes.

This is useful especially to separate out launch files for package's libraries that are plugins (ei teb vs dwb).

[2019-10-14 19:39] crdelsey commented on #816
It is still an issue. Having too many nodes impacts startup times and seems to overwhelm the current DDS implementations.

Possible fixes to this issue are:
 1. Fix the DDS implementations to better handle many nodes.
 2. Fix rcl to allow re-entrant spinning on the current node.
 2. Fix rcl/rclcpp to allow continuations to be returned from service callbacks.
 3. Re-architect our service calls to c

[2019-10-14 19:55] crdelsey opened #1240 "Make it easier to activate lifecycle nodes started through ros2 run"
## Bug report

**Required Info:**

- Operating System:
  -
- Version or commit hash:
  -
- DDS implementation:
  -

#### Steps to reproduce issue
* As discussed in #975, if a user runs a nav2 node directly - eg `ros2 run nav2_map_server map_server`, the node comes up in the unconfigured state. For users unfamiliar with the fact that nav2 uses lifecycle nodes everywhere, this is unexpected behavior

[2019-10-14 19:56] crdelsey commented on #975
Opened new issue #1240.

[2019-10-14 19:56] #975 closed

[2019-10-14 19:58] SteveMacenski commented on #816
@crdelsey can you provide a few examples in the stack where we use "client nodes", other than costmap spinning, I had a hard time finding any

[2019-10-14 20:17] crdelsey commented on #1216
We did discuss doing that back in the early days, but it didn't seem worth it at the time. Most packages would end up with a launch file that just launched that one node. It didn't seem worth the effort over just calling ros2 run for that node. I will admit that our installs are better and ros2 launch is better, making it much easier to include a dependent launch file. It might be worth looking at

[2019-10-14 20:49] crdelsey commented on #816
I think the big one is here in ServiceClient. https://github.com/ros-planning/navigation2/blob/7652518af52f257d097269309986943771d98683/nav2_util/include/nav2_util/service_client.hpp#L38

Then, there's another use in LifecycleManagerClient (https://github.com/ros-planning/navigation2/blob/a095038da9f4e3729679e5d20b39e1d95582fb16/nav2_lifecycle_manager/src/lifecycle_manager_client.cpp#L30).

There

[2019-10-14 21:05] yathartha3 commented on #1161
@MengNan-Li Are you still having this issue?

[2019-10-14 22:05] SteveMacenski commented on #1216
Maybe a dumb question, but why do we care about having a  hardcoded set of current lifecycle nodes to transition? `ros2 lifecycle nodes` will give you all the active lifecycle nodes, I assume there's a C++ version. If we just have the exhaustive life of all nav2 lifecycle nodes, just check who's up now in a lookup, transaction them, and be done. Optionally transition all in case the manager is use

[2019-10-14 22:10] SteveMacenski commented on #816
Got it, I didn't see that hidden in there. "Fix DDS" I feel like is a never ending battle, I'd say 2 or 3 seem good general long term fixes but 4 seems more practically in our control.

[2019-10-15 00:40] crdelsey commented on #1216
👍  I didn't know you could do that.

You solution seems reasonable to me, at least now that @bpwilcox has made it so the nodes can be brought up in any order. An alternative to discovering the nav2 nodes over the network would be to somehow register them within the launch file and have the list of registered nodes passed to lifecycle manager. I'm sure this is doable, but it might not be easy.

[2019-10-15 02:42] MengNan-Li commented on #1161
No.

[2019-10-15 02:42] #1161 closed

[2019-10-15 07:44] ninamwa commented on #954
Hi. Will the navigation2 stack work with a holonomic robot? Where should this parameter be set? I could only find examples for this with the navigation1 stack.

[2019-10-15 16:55] crdelsey commented on #954
@ninamwa We haven't tested with a holonomic robot yet, however, I suspect it will work since the code has simply been ported from ROS 1.

I believe the robot should work without any parameter changes. It would just move like a differential drive robot in that case.

To take full advantage of the holonomic robot though, there are two sets of parameters you need to change:

[code]

And, assuming you

[2019-10-15 17:28] bpwilcox commented on #1154
@Jconn Okay, I'll get to it when I have a moment.

[2019-10-15 18:50] #775 closed

[2019-10-15 18:50] #727 closed

[2019-10-15 18:51] SteveMacenski commented on #605
I think with the recent build updates from @mlherd we can close this

[2019-10-15 18:51] #605 closed

[2019-10-15 18:53] SteveMacenski commented on #915
Closing from inactivity + several RTI updates since July.

[2019-10-15 18:53] #915 closed

[2019-10-15 20:18] #878 closed

[2019-10-15 20:19] SteveMacenski commented on #867
https://github.com/ros-planning/navigation2/pull/1199 lists this ticket as resolved

[2019-10-15 20:19] #867 closed

[2019-10-15 20:32] SteveMacenski commented on #742
I did an audit of these, it seems nearly all the chrono calls are timeouts for IPC calls, throttling logging, or throttling rate controller in BT. I'm going to close this ticket since none of these represent big enough problems if simlation time was scaled (which will happen in simulation). they're not loop rates for controllers or update triggers for costmaps / planners. Though my feeling is that

[2019-10-15 20:32] #742 closed

[2019-10-15 20:48] orduno opened #1244 "Provide option/example to launch nav2 as composed nodes"
## Feature request

#### Feature description

As described by the title, provide the capability to launch the stack as a composition of nodes.

In general, we have to:
- [ ] [Register](https://index.ros.org/doc/ros2/Tutorials/Composition/#writing-a-component) the nodes as components #1013
- [ ] Use the components to run the stack. Define which [option](https://index.ros.org/doc/ros2/Tutorials/Comp

[2019-10-15 20:53] orduno commented on #746
Closing ticket as multi-robot scenario is now supported.

[2019-10-15 20:53] #746 closed

[2019-10-15 21:18] orduno opened #1245 "Multi-robot features"
## Feature request

#### Feature description

Meta-issue for collecting multi-robot feature requests.

Trying to stay within the scope of navigation, here are some ideas:
- [ ] **RVIZ** plugin for multi-robot system visualization and control
- [ ] **Collision avoidance** between robots - #1318
- [ ] **Traffic control** and deadlock avoidance
- [ ] **Centralized global path planning**: an entity co

[2019-10-15 21:18] #934 closed

[2019-10-15 21:25] orduno commented on #1229
Cool! Let's chat about this, I'm also interested in doing some work on this area.

[2019-10-15 21:42] SteveMacenski commented on #712
@crdelsey from our discussion last week, it sounds like our direction is to move away from the manager and towards something else. Is there something we want to do with `on_error`? I dont think we necessarily *have* to do anything and that's totally valid.

The best option I see is to have error plugins that lets a user inject whatever they want to have happen in an error case (notify something, r

[2019-10-15 21:43] bpwilcox commented on #1244
duplicate of #1013?

[2019-10-16 00:03] crdelsey commented on #915
Sorry. I hadn't had a chance to get back to this yet. I did retest, and I am still able to reproduce the problem, however, I can reproduce it without any navigation2 in the environment. This does seem to be a gazebo or rmw_connext problem.

[2019-10-16 00:11] SteveMacenski commented on #915
I'll stick with "more of a gazebo_ros ticket" then

[2019-10-16 02:52] MengNan-Li opened #1248 ""Navigation failed" occurs frequently"
## Bug report

**Required Info:**

- Operating System:
  - ubuntu1804
- Version or commit hash:
  - 0.2.4
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

[code]

#### Expected behavior
When the robot encounters an obstacle, re-planning will not fail until several attempts.
#### Actual behavior
Sometimes blocking the direction in which the robot is moving, the moving task will f

[2019-10-16 02:53] shivaang12 commented on #1245
Hi @orduno,

I am interested in contributing to these ideas, especially for a centralized global path planning. In the recent past, I have worked on developing global coverage/surveillance planners for multi unmanned aircraft system. May be we can aim something similar here. Let me know your thoughts about it.

[2019-10-16 03:10] SteveMacenski commented on #1248
I'm trying to dissect your statements a little more.

Do you mean it doesn't fail fast? It will replan through occupied space a few times? Does the costmap reflect those changes? Is this all run on the same computer? Are the update settings reasonable?

If there's something blocking it should enter a failure state of executing quickly. I don't see the issue?

[code]

That looks normal to me. It tr

[2019-10-16 04:03] MengNan-Li commented on #1248
All Yes.
![1](https://user-images.githubusercontent.com/27143147/66887194-b779d700-f00c-11e9-8c0c-1764f858fdb4.png)

https://github.com/ros-planning/navigation2/blob/2edfb83152f71e771b683c6f834ed1c69b62fbe4/nav2_navfn_planner/src/navfn_planner.cpp#L558

[2019-10-16 04:30] MengNan-Li commented on #1248
https://github.com/ros-planning/navigation2/blob/2edfb83152f71e771b683c6f834ed1c69b62fbe4/nav2_bt_navigator/src/bt_navigator.cpp#L85
https://github.com/ros-planning/navigation2/blob/2edfb83152f71e771b683c6f834ed1c69b62fbe4/nav2_behavior_tree/include/nav2_behavior_tree/bt_service_node.hpp#L64
https://github.com/ros-planning/navigation2/blob/2edfb83152f71e771b683c6f834ed1c69b62fbe4/nav2_behavior_tre

[2019-10-16 16:45] orduno commented on #1244
I don't think it's a duplicate. If I understand correctly, it's at least a two-step process. I've updated the ticket.

[2019-10-16 17:18] SteveMacenski commented on #1244
I'd consider it one ticket since you really wouldn't know if you did it right without making the launch file to test

regardless, +1000. In the near future I have to finish porting image_pipeline to ROS2 + components so I'll be watching closely to take your lead.

![img](https://media.giphy.com/media/3oEdva9BUHPIs2SkGk/giphy.gif)

[2019-10-16 17:36] SteveMacenski commented on #1248
Did you change those values and verify that fixes your problem?

[2019-10-17 02:52] MengNan-Li commented on #1248
https://github.com/ros-planning/navigation2/blob/bd0fe8bf238c69bc41ea29680a7a37bd3fb60022/nav2_behavior_tree/include/nav2_behavior_tree/clear_costmap_service.hpp#L39
[code]
This can greatly reduce the probability of "navigation failed"

[2019-10-17 03:23] SteveMacenski commented on #1248
Can you give me a plausible explanation why? I'm more than happy to change it to that. I'm just surprised it was a timeout issue there werent additional errors

[2019-10-17 03:26] SteveMacenski commented on #1248
Ah I see, we have a virtual for `on_loop_timeout` that basically no one implements. There should really be a `RCLCPP_WARN` before calling `on_loop_timeout` to mention the fact it timed out.

Can you submit a PR that:
- increases the timeout
- adds a warning stating that the node timed out?

[2019-10-17 04:55] #828 closed

[2019-10-17 05:02] SteveMacenski commented on #1124
Closing from discussion above and active PR in the rmw

[2019-10-17 05:02] #1124 closed

[2019-10-17 05:09] crdelsey opened #1252 "Figure out why default values in InputPort descriptors are ignored."
The behavior tree library allows one to specify default values to InputPorts, however, that value seems to be ignored when I tested with the RateController object.

If we can get default values working, we can remove the checks on input values in the "NavigateToPose" node.

_Originally posted by @crdelsey in https://github.com/ros-planning/navigation2/pull/1251/review_comment/create_

[2019-10-17 05:10] SteveMacenski commented on #1225
@crdelsey, I like this in concept, but don’t you think this is a little too specific to go in the stack? This supports the turtlebot but not any other robot that doesn’t share the same dock/charging mechanisms.

For example uses of it, I’d think the ticket for waypoint following would accomplish that. I agree for examples of swapping out controller / planners it would be a good example but I think

[2019-10-17 05:14] SteveMacenski commented on #1182
Is there an action from this ticket? Should we file something in geometry2 or were folks impressions to leave ‘as is’?

[2019-10-17 05:15] SteveMacenski commented on #1252
That was also true before in v2. I ran into that fun fact when testing the backup parameterization

[2019-10-17 05:18] SteveMacenski commented on #998
I think recent documentation PRs fix the spirit of my issue

[2019-10-17 05:18] #998 closed

[2019-10-17 16:49] SteveMacenski commented on #1200
Pinging @joespeed, maybe he has thoughts

[2019-10-17 17:12] SteveMacenski opened #1253 "Add arbitrary obstacle in CI map that isn't in static map"
Right now we're not really testing the costmap layers in any meaningful way. We should really have CI run without the static map and ensure the obstacle layer as well as the voxel layer are seeing the obstacles.

This can be accomplished by changing the gazebo world to include a random block in front of the hardcoded goal. It doesn't have to be moving or anything fancy

[2019-10-17 17:16] SteveMacenski commented on #1068
https://github.com/ros-planning/navigation2/blob/master/nav2_rviz_plugins/src/nav2_panel.cpp#L259

Added

[2019-10-17 17:16] #1068 closed

[2019-10-17 17:18] SteveMacenski commented on #829
The navigation dialog has been gone for a bit.

[2019-10-17 17:18] #829 closed

[2019-10-17 17:43] mkhansen-intel commented on #1253
Agreed, this is something we've also discussed

[2019-10-17 18:25] mkhansen-intel opened #1254 "Add Autolocalization as an action server"
## Feature request
Auto-localization action server

#### Feature description

As a user, I'd like to be able to tell my robot to "Auto-localize" in some cases.
1. When it first powers up / starts in the map, instead of having to send an initial pose, I'd like it to try to localize itself
2. When it get's confused or lost (recovery behavior)

I think if the Autolocalization feature was wrapped with

[2019-10-17 18:41] shivaang12 commented on #1229
Do you mean you want to consider non-holonomic constrains?

[2019-10-17 19:05] SteveMacenski commented on #1254
Isn't that dependent on not-proven DRL work? I'm not sure that should exist outside the experimental repo yet

[2019-10-17 19:15] mhpanah commented on #1254
This version is not dependent on the RL work.  In this version, the AutoLocalizer will naively spins and backups in its place to help the particles to converge (it may or may not converge depending on the environment, which in that case the user will know that it failed to converge).  But for the next version, the plan is to have the robot to navigate in such a way to optimally localize itself fas

[2019-10-17 20:23] SteveMacenski commented on #953
@mhpanah any movement in this?

[2019-10-17 20:31] mkhansen-intel commented on #1200
This is fixed by #1215, not sure why the tool didn't close it automatically when that merged. Closing now.

[2019-10-17 20:31] #1200 closed

[2019-10-17 20:35] mkhansen-intel commented on #1225
I think we can make a generic "dock" action interface with a plug-in that allows for the implementation to be robot dependent if needed. We could implement the first one as a Turtlebot2 plugin, and others could use as an example.

[2019-10-17 21:01] mkhansen-intel commented on #1248
Since this is a blackboard variable, I believe this should be able to be overridden directly in the XML, not sure exact syntax. Something like I think:

[code]
I would bump it to 1000ms though.

[2019-10-17 23:24] #853 closed

[2019-10-17 23:32] mkhansen-intel commented on #1253
Darn you beat me to it @orduno

[2019-10-17 23:39] #1019 closed

[2019-10-18 01:03] mlherd commented on #1253
#1186

[2019-10-18 01:06] SteveMacenski commented on #1253
We've not looking for something that's moving (and could collide with the robot on its own accord). We're looking for something to prove the costmap layers are working by having something in the world that isnt in the map. We want to know specifically where the goal is to place this object between the robot and the goal so that if it collides we know there's an issue

[2019-10-18 01:14] mlherd commented on #1253
I was thinking obstacle velocities can be set to 0, but adding an obstacle to the Turtlebot 3 Gazebo world is a simpler solution.

[2019-10-18 01:22] SteveMacenski commented on #1253
Just a big block 2 meters in front of a goal in front of the spawn position would be enough :)

[2019-10-18 02:26] SteveMacenski opened #1256 "[Tiny Ticket Sprint] 1 ticket award for every 20 methods given doxygen"
For every twenty (20) methods given doxygen documentation in the headers, I will award 1 ticket worth of points.

Maximum 3 ticket (points).
If you plan to go this route, I require that you complete entire files and not pick and choose.

[2019-10-18 02:45] mattcenoo commented on #1248
Emm, the blackboard variable can be overwritten using the built-in Actions called _SetBlackboard_,
```<SetBlackboard output_key="node_loop_timeout" value="100" />```
But it'll affect all actiions and services, and since the type of _node_loop_timeout_ is  _std::chrono::milliseconds_, not sure whether this syntax works.

[2019-10-18 02:48] SteveMacenski commented on #1248
I think @mkhansen-intel point was that the parameter can be set on a per-node basis how he showed so you acan choose the specific timeout for the clear costmap service if that's whats only timing out.

Though 10ms seems short even for planning as well

[2019-10-18 03:37] mlherd commented on #1248
I am able to reproduce this issue. I am testing Navigation2 Dashing 0.2.4 on a real robot (Turtlebot2). After sending a goal pose, if there is an obstacle in front of the robot Navigation fails without trying to do any spins or re-planning.

[dwb_controller-7] [INFO] [local_costmap.local_costmap]: Received request to clear entirely the local_costmap
[bt_navigator-10] [ERROR] [bt_navigator]: Naviga

[2019-10-18 03:45] mattcenoo commented on #1248
Thanks for the quick reply @SteveMacenski.
Yes, I got what @mkhansen-intel point, but I can't find that syntax after reading though tutorials of BehaviorTree.CPP. And I think the black_board is shared in the entire behavior tree, so I'm not sure how could it be set per-node basis. Correct me if I'm wrong.
I've added a parameter in service node to control the timeout, maybe I could submit a pr if i

[2019-10-18 06:15] SteveMacenski commented on #1248
Id merge that PR!

[2019-10-18 16:34] orduno commented on #1245
Hi @shivaang12, Thanks for your interest in contributing. I'll touch base with you once we define our priorities for the next release. Hopefully, we can also get more people interested in this topic :smiley:

[2019-10-18 18:03] orduno opened #1258 "Use TB3 Waffle on system tests"
#### Feature description

System tests currently run using the smaller burger TB3, however, the parameters on the `nav2_bringup/nav2_params.yaml` file were tuned for the Waffle model.

#### Implementation considerations

[2019-10-18 19:06] orduno commented on #1253
I'm using the *current* system tests which have a hard-coded start and goal pose (#1243 changes this).

I'm seeing that most of the time (for most obstacle positions between the robot and goal), the robot will trigger recoveries and eventually [fail](https://youtu.be/gNiF5GsJmTM). In just a few locations the robot can actually recover or plan an alternate route and eventually [succeed](https://you

[2019-10-18 19:39] SteveMacenski commented on #1253
@orduno for this test, dont we want static start and stop points?

What's the benefit of changing to different points? That stops determinism. I'd rather have 1 (or a few) tests that force the robot to do things that prove capability than random generate and you can't say for certain anything in particular works

[2019-10-18 20:15] orduno commented on #1253
Agree, and #1259 uses static end poses.

My reference to #1243 was only because I wanted to adjust the static poses to be closer but didn't want to change was used for other tests.

[2019-10-18 22:39] ruffsl commented on #1015
I tested this again using the latest recent dashing sync, and everything seems to be much better. The lion's share of the CPU usage remaining seems to be just from the gazebo and rviz GUIs:

![image](https://user-images.githubusercontent.com/2293573/67132183-b5567a80-f1bc-11e9-8814-8153ab773cde.png)

@crdelsey , feel free to close this, however we are still having issues enabling security for navi

[2019-10-18 22:43] bpwilcox commented on #714
Since PR #1099, parameter re-declarations are being handled in most cases by using the added `declare_if_not_declared` utility function. The alternative seemingly suggested in this issue is to undeclare the parameters when the plugins are destroyed, as opposed to leaving them on the node.

Are there any strong reasons we should move to specifically undeclare all parameters of a plugin (or any obje

[2019-10-18 22:43] SteveMacenski commented on #1015
@ruffsl dear god, what computer are you running on? Gazebo takes **3%** CPU?

[2019-10-18 22:43] #1015 closed

[2019-10-18 22:45] SteveMacenski commented on #714
I'm happy with that. I think undeclaring is a bit excessive but if someone's a completeist I would understand.

Functionally, I dont know when I'm regularly loading and unloading plugins outside of restarting a process

[2019-10-18 23:05] ruffsl commented on #1015
It's about a 3yo CPU in a workstation. I was thinking perhaps the GPU ray tracing is working in my favor, but it doesn't seem like the turtlebot3 is using `gpu_ray` , so perhaps its my CPU core count.

https://github.com/ROBOTIS-GIT/turtlebot3_simulations/blob/224f347204a3af3315313a620dcab4808d21deed/turtlebot3_gazebo/models/turtlebot3_burger/model.sdf#L94
http://gazebosim.org/tutorials?tut=ros_gz

[2019-10-18 23:15] SteveMacenski commented on #1015
I need to get off this peewee laptop game then. My computer nearly catches fire when I run gazebo with a depth sensor for longer than 20 minutes

[2019-10-19 02:47] hyunseok-yang commented on #1105
Hi, all
Sorry for late comment.

I  cannot see the error what I mentioned above after update to 0.2.5 version but can see new warning message.

But I guess it is already investigated by another ticket.

[2019-10-19 02:47] #1105 closed

[2019-10-21 02:17] mattcenoo commented on #1245
Hi @shivaang12, could you list some key methods for solving multi robots navigation problems, and how should it be integrated into the navigation stack. I'm absolutely interested in this topic but still have no idea yet.

[2019-10-21 19:20] orduno opened #1263 "Costmap Filters (keep out, preferred lanes, slow/safety zones)"
## Feature request

#### Feature description

- [x] Enable the capability for setting traffic lanes and/or preferred routes.
- [ ] Interface to a UI that allows users to create the traffic flows/lanes, such as this [one](https://github.com/osrf/traffic-editor).

#### Implementation considerations

It could be implemented using a costmap layer or way-point following #803.

[2019-10-21 19:22] SteveMacenski commented on #1263
This is a spiritual duplicate of #404

They're all the same mechanics with different labels

[2019-10-21 19:41] orduno commented on #1263
I see a theme around defining *navigation constraints* (#1263, #404, #401) with the underlying objective of achieving order in the environment.

Maybe we should create a meta-ticket around this theme, and list this and other possibilities.

[2019-10-21 20:08] SteveMacenski commented on #1263
I think closing the other 3 and renaming this would be fine.

How I see this: All of these are just costmap filters.

- Costmap Layer
- Reading in from multi-layer map or separate file with filter (so storing map as a png with `N` channels where `N-1` are the filters and `1` is the map itself, or map png, and new png files for each of the filters)
- The filters are loaded with some annotation or h

[2019-10-21 21:08] bpwilcox commented on #789
Duplicate of #699

[2019-10-21 21:39] SteveMacenski commented on #1256
@shivaang12 has been awarded 1 point from this

(for my later accounting)

[2019-10-21 21:40] SteveMacenski commented on #1019
This ticket awards @SteveMacenski 1 point for the TTS competition

(though I cant win my own competition so...)

[2019-10-21 22:58] shivaang12 commented on #1256
Thanks @SteveMacenski !. I think I will do nav2_controller, if that's fine?

[2019-10-21 23:05] SteveMacenski commented on #1253
One point for @orduno in the tiny ticket competition!

[2019-10-21 23:06] #1253 closed

[2019-10-21 23:07] crdelsey commented on #712
I think we want to migrate the ideas of lifecycle manager into the launch tool.

Besides making on_error plugins, I think a reasonable thing to do would be to report the error state back to the launch tool, whereupon the failed node is killed and restarted, or something. For a truly robust system, we probably need both.

In the short term though, I think having the on_error method just report out

[2019-10-21 23:11] SteveMacenski commented on #712
I dont have a strong preference here. I really don't even know what I would do with an `on_error` function, so maybe someone more creative than me can give me some intuition.

Assuming its been launched, I would expect there to be some param for `respawn` like in ROS1 to bring the process back up after a failure, so I'm not sure what the `on_error` should do if relaunching is on the launch provide

[2019-10-21 23:17] SteveMacenski commented on #1256
Sure thing!

[2019-10-21 23:33] crdelsey commented on #1182
I'd vote for "leave 'as is'". Trying to provide our own node caused performance problems when ros2/geometry2#121 got merged in. I think we really need to consider multi-threaded executors if we want to put the tf_listener on the same node. I don't think that's worth the effort at the moment. Maybe it's something to revisit if we switch to multi-threaded executors for something else.

[2019-10-21 23:45] orduno commented on #1135
@mkhansen-intel I think #1243 addressed this, can we close the issue?

[2019-10-21 23:46] orduno commented on #813
@mkhansen-intel Was this addressed by #1243? What are we missing?

[2019-10-21 23:47] SteveMacenski commented on #1182
I think maybe filing a ticket on geometry2 with the proposal and getting some advice on best way to make it all work out to minimize the number of nodes, but I agree I don't think there's an action for our stack without a larger change / understanding

[2019-10-21 23:56] crdelsey commented on #1225
Yes. I'm not quite sure what to do with it. Probably it should go in the turtlebot 2 repo or a separate repo. I want the capability, though, so we can do the "robot marathon" test at some point. I want to try to get our turtlebot 2 to drive around the office randomly, and recharge as needed for a day or two or more.

[2019-10-21 23:59] SteveMacenski commented on #1225
If you read the PR2 paper, they plugged in by hand on request. Not saying don’t do it, just an observation

[2019-10-22 00:02] orduno opened #1266 "Remove TB3 model files, instead download at build"
## Feature request

#### Feature description

As suggested [here](https://github.com/ros-planning/navigation2/pull/1243#issuecomment-542944123) we should probably download the files at build time.

#### Implementation considerations

Previously, we had to customize the model files to account for the `--ros-args` changes, however, that might be fixed now.

[2019-10-22 00:16] crdelsey commented on #712
I just checked, and every lifecycle node reports the error and exits. Closing this issue.

[2019-10-22 00:16] #712 closed

[2019-10-22 00:28] crdelsey commented on #1225
Good to know. I was considering sticking a QR code on the base and then docking using the realsense camera if the built in docking wasn't very good. But, I'll admit, I don't know how hard this will be. Plugging it in by hand would be my second choice.

[2019-10-22 00:35] SteveMacenski commented on #1225
There’s built in docking? If so, why’s this a ticket here?

[2019-10-22 16:19] orduno commented on #1181
Closing the issue as the race condition was fixed in #1215.

[2019-10-22 16:19] #1181 closed

[2019-10-22 16:32] orduno commented on #1177
I've only seen it it hanging for a long time and eventually responding. I haven't seen the case where it hangs forever.

[2019-10-22 16:41] crdelsey commented on #1225
If the built-in docking works, then all that's required here is to create a behavior tree node that triggers the behavior.

I probably shouldn't have created this issue; it could have just been a note in #929. I'm a bit reluctant to remove it now though since it has several thumbs up from the community. Let's leave it alone for now and see where it ends up on the priority list. We can close it in

[2019-10-22 16:43] orduno commented on #951
We could use [this](https://arxiv.org/abs/1706.09068) as a starting point.

[2019-10-22 17:38] SteveMacenski commented on #951
I think the best starting point would be to finish the ticket to have a table of all the parameters everywhere to chose from, then look at that guide for descriptions of our selected candidates

[2019-10-22 17:51] SteveMacenski commented on #1256
@shivaang12 second documentation PR gets them another 1 point!

[2019-10-22 22:18] crdelsey opened #1271 "CircleCI runs colcon test directly instead of run_test_suite script"
@ruffsl I noticed that CI is now calling `colcon test` directly instead of using the `tools/run_test_suite`script directly. Any objections to us changing that back?

Calling `colcon test` hides console output so we can't tell why a test is failing in CI. It also doesn't let us run the test a few times to try to get a pass on flaky tests. Given the state of our testing right now, both those things

[2019-10-22 22:33] SteveMacenski commented on #1271
Go for it

[2019-10-22 22:42] mlherd commented on #1248
I am able to reproduce this issue using Navigation2 Dashing 0.2.6 on Turtlebot 3.

I set the time out to 100 ms.

[code]

I can confirm that this fix reduces navigation failures without executing any recovery behaviors.

[2019-10-22 22:46] SteveMacenski commented on #1248
Its mostly there, we just need a little cleanup to pass CI + place in the behavior tree

[2019-10-22 23:25] orduno commented on #1263
I agree with the costmap approach for defining zones. In the case of the keep-out zones, it's straight forward enforcing it, but slow zones might require some though -- scaling is one option, but dwb's trajectory generator could also have a max speed parameter.

Something to keep in mind is that while the values costmap values for these zones might not change, the ones for traffic lanes depends on

[2019-10-22 23:31] orduno opened #1272 "Launch RVIZ using launch_ros::Actions::Node"
Now that [this](https://github.com/ros2/rviz/issues/442#issuecomment-545157376) has been fixed we should update our launch files and launch it using `Node` instead of `ExecuteProcess`.

[2019-10-22 23:42] SteveMacenski commented on #1263
Scaling parameter is largely static. I think the 2 best routes:
- expose a service in the `nav2_controller` called `/controller_scale` and the plugin broadcasts a scale depending on value in the position of the costmap, costmap layers get the robot's position for free.
- expose a new API / layer type in costmap 2D that has a method `getSpeedScale()` that will return a scale for the caller to use.

[2019-10-23 01:05] ruffsl commented on #1271
Is the test stdout/stderr output from the test not being saved to the colcon log directory? I really hope your not trying to use the nosie stdout of the CI step command UI to debug errors, as apposed to just clicking on the relevant atomic trace log file. That wouldn't be taking advantage of the log artifacts we take effort to save for convenience.

Also, shouldn't the test scaffolding itself stor

[2019-10-23 01:08] SteveMacenski commented on #1271
@ruffsl I don't disagree with any of that, but I think more information in the terminal isn't necessarily bad. The parallelism argument is strong, so I'd want to hear about how much this slows it down, but if its not substantial, I don't have a problem with it.

I agree the artifacts are useful for debug but sometimes just having a clear answer in the UI for small stupid errors is nice

[2019-10-23 01:22] ruffsl commented on #1271
Do we have any insight on why the stdout isn't being captured, I'd like to fix the root of the problem rather than a symptom.

Also, the next Circle I web UI is receiving an update, that folds/box-windows the stdout from steps. This makes it easier to navigate steps over jobs, but will further incentivize the use of artifacts/test-results, as it can hamper reading long nosie prints.

Quicker visib

[2019-10-23 02:07] SteveMacenski opened #1274 "Active action servers on shutdown aren't going quietly"
Locally, I'm seeing the CI tests success but on the SIGINT:

[controller_server-7] terminate called after throwing an instance of 'std::runtime_error'
[controller_server-7]   what():  Asked to publish result for goal that does not exist
OR
[bt_navigator-10] [ERROR] [bt_navigator]: Navigation failed
[bt_navigator-10] terminate called after throwing an instance of 'std::runtime_error'
[bt_navigator-

[2019-10-23 03:36] SteveMacenski commented on #1271
I guess wht I was just saying is: I don't have a problem with it since he asked for objections. I have a workflow that uses the artifacts, but if someone likes their output another way, who am I to judge

[2019-10-23 13:34] shivaang12 commented on #1274
@SteveMacenski
I also noticed this same issue on my computer, mine says "navigation failed".

[2019-10-23 16:00] mkhansen-intel commented on #1129
OK, I have no idea why this was happening before, but it's now not happening anymore, and I ran the localization test 300x yesterday and it passed every time. So I'm wondering if somehow my system libraries were mismatched or something specific to my system at the time I was seeing this. In any case, I cant' reproduce anymore, so I'm closing this. The good news is there's no bug, the bad news is i

[2019-10-23 16:00] #1129 closed

[2019-10-23 16:01] SteveMacenski commented on #1129
Didn’t other people see this too? That’s odd

[2019-10-23 16:03] mkhansen-intel commented on #229
I don't believe there's any action to be taken here, we now support plugin interfaces for planners, controllers and recoveries. I think we're good. If we decide to port anything from robot_navigation later, we could open a ticket for each functional change we want to make.

[2019-10-23 16:06] SteveMacenski commented on #229
This is still active.

DLu pushed a bunch of DWB updates that we dont have reflected. I have to imagine there are bug patches

[2019-10-23 17:30] bpwilcox opened #1276 "Automatic Parameter Tuning"
## Feature request
Create a tool to automatically tune navigation2 node parameters using state of the art machine learning techniques.

#### Feature description
Currently, the default parameters in the system are some combination of magical numbers, specific to one robot platform (i.e. turtlebot), or may have previous insight. Frankly, there are likely too many parameters in the stack for non-adva

[2019-10-23 17:45] SteveMacenski commented on #1276
This seems like a large undertaking (even PID tuning is still alot of human in the loop!). I'd first ask for a list of *specific* magic numbers we think this might be good to solve.

I think most things are either geometric or pretty clear what its needed for. The weights of DWB I think is an interesting candidate, implementation details aside.

[2019-10-23 17:57] SteveMacenski opened #1277 "Implement Model Predictive Controller"
MPC is the defacto standard these days. While DWB is closely related, it is not as extensive and configurable based on model types and base characteristics.

Something to spend some real time thinking about on a white board is whether that's a good general default for this project. MPC will likely be heavier than DWB and we need to balance generalization/algorithmic improvements with CPU/GPU inten

[2019-10-23 18:02] SteveMacenski opened #1278 "Redesign Environmental Representation -- Gradiants"
Today we use a 2D costmap of independent cells. While this is a good and cheap way of saving some relevant information, it will bound us for the foreseeable future to 2.5D land.

If we want to support navigating on irregular surfaces, we need to make some steps towards that. A gradient map can still provide obstacle information similar but less regularly than a direct costmap. And to be fair, the

[2019-10-23 18:09] SteveMacenski opened #1279 "Replace Navfn with Hybrid approach"
Something that's on mind and I'm allocating time in 2020 to work on.

navfn is a pretty awesome optimization for circular, differential drive, indoor mobile bases. A smart engineer can easily make a controller to turn to a given heading on a path update to accurately align with a path start and march forward with their controlling approach.

However for the rest of the world (ackermann, skid, non-

[2019-10-23 18:16] SteveMacenski opened #1280 "Rectify & describe map server tickets"
I've looked at themes of tickets we have in the stack and we have a **number** (10+) of tickets around map server:
- representing multi level maps
- change maps service
- data storage for multi level maps
- submap sources
- etc

Many of these cover largely the same ideas but in different ways, or in partial. I'd like to see someone that has a vision for this collapse these tickets into 1-3 tickets

[2019-10-23 18:33] mkhansen-intel opened #1281 "Travis CI times out when building gazebo_plugins"
# Bug report

Travis CI is timing out at 10 minutes due to no output on the console when building gazebo_plugins.

See issue filed here for details:
https://travis-ci.community/t/help-please-how-to-deal-with-a-travis-timeout-in-the-middle-of-a-multi-package-build/5647

[2019-10-23 18:37] mkhansen-intel commented on #1274
Can you paste in the entire log? Are you sure that the test passed? Keep in mind that sometimes the console output is out of order.

[2019-10-23 19:41] ruffsl commented on #1271
What way does this effect stdout and test time? Do we need this in the config:
https://github.com/ros-planning/navigation2/blob/67a92be87f8a00470313c232b1462d45379273e8/tools/ctest_retry.bash#L46

[2019-10-23 19:45] shivaang12 commented on #1277
@SteveMacenski How about Time Elastic Band?

[2019-10-23 19:55] ruffsl commented on #1271
Could we just pass the `--retest-until-pass` arg to colcon, so we don't break the test parallelism:

[code]

[code]

https://github.com/ros-planning/navigation2/blob/67a92be87f8a00470313c232b1462d45379273e8/.circleci/config.yml#L142-L156

[2019-10-23 19:59] SteveMacenski opened #1283 "CI Broken: spawn_robot (multirobot test)"
All CI is failing on a change to the test bringups getting XML path & not being able to find a spawn_robot package:

[code]

This commit https://github.com/ros-planning/navigation2/pull/1269/commits/a8fece364864c3a32758d32fba758eabfe37bcf4 fixes the XML BT paths, but the spawn_robot error is still around

[2019-10-23 20:43] orduno opened #1285 "BT Navigator crashing after resetting through RVIZ"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18
- Version or commit hash: 67a92be87f8a00470313c232b1462d45379273e8
- DDS implementation: Fast-RTPS

#### Steps to reproduce issue

1. Run the stack: ```bash ros2 launch nav2_bringup nav2_tb3_simulation_launch.py ```
2. Set initial and goal pose in RVIZ
3. Cancel goal pose in RVIZ
4. Press reset in RVIZ

#### Expected behavior

The sy

[2019-10-23 21:06] orduno commented on #1217
@bpwilcox based on your recent findings, is this still an issue?

[2019-10-23 21:26] shivaang12 commented on #1256
@SteveMacenski Are we dropping name "Global planner" just like "Local Planner"?

[2019-10-23 21:30] SteveMacenski commented on #1256
I hadn't thought much on global planner, I didn't have an issue with that term. I suppose it could just be "planner" now and that would be fine

[2019-10-23 21:52] crdelsey commented on #1271
I didn't know about that. I think that is sufficient for getting the console output.

I can live with the --retest-until-pass 3 for now. We had discussed having different numbers of retries for different tests based on expected failure rate, but I don't think it is very important right now.

@ruffsl Do you know how the test parallelization works? Do the tests run concurrently in the same docker in

[2019-10-23 21:57] shivaang12 commented on #1256
Got it! I guess we were using term global just to distinguish it from local planner. Planner sounds cool!

[2019-10-23 22:00] crdelsey commented on #1271
export RCUTILS_CONSOLE_STDOUT_LINE_BUFFERED=1

This causes ROS2 to output console messages immediately, rather than waiting until a buffer full has been received. Without this, time ordering of console messages is lost.

It will make the test slower, but I doubt it is by much.

Looking at the logs, I believe it is still needed.

[2019-10-23 22:15] crdelsey commented on #1281
We could try passing through the console output when we build that package. Presumably, individual files build in less time than 10 minutes.

eg. After line 65, we can add `--event-handlers console_direct+ \`
https://github.com/ros-planning/navigation2/blob/67a92be87f8a00470313c232b1462d45379273e8/Dockerfile#L61-L65

[2019-10-23 22:27] ruffsl commented on #1271
Presently, we control test parallelization in the config by changing the `parallelism` key for the job. Although this is currently set to 1, I'd like to retain the ability to simply scale this up in the future as our test suite grows, thus my hestence to break the setup.

https://github.com/ros-planning/navigation2/blob/67a92be87f8a00470313c232b1462d45379273e8/.circleci/config.yml#L375-L382

Paral

[2019-10-23 22:29] crdelsey commented on #1283
The BT XML stuff looks like a merge error. I believe your commit above is the correct fix. I'm not sure about the spawn_robot issue.

[2019-10-23 22:32] SteveMacenski commented on #1283
@crdelsey can you review the multi planner PR so we can get that part fixed?

The spawn robot I dont know too much about to debug too far

[2019-10-23 22:44] ruffsl commented on #1271
@crdelsey , are you

[2019-10-23 23:58] bpwilcox commented on #1276
I don't deny this would be a significant task, though I am in the process of scoping this feature now. I would say that almost any parameter that is not a property/state of the robot or environment itself could be a candidate parameter to be tuned. As you mentioned, the controller server parameters are candidates, some in AMCL perhaps too. I think this would be generalize-able to parameter tuning

[2019-10-24 00:23] orduno commented on #1279
Sounds like you are describing a *Hybrid-A** path planner.

I like the idea! We discussed the possibility early on but decided porting `navfn` was the first step. I'd be really interested in helping out on this, especially if we have interest from teams whose robots are not currently supported by nav2 due to its configuration/design.

We should also think about breaking it down to building blocks

[2019-10-24 00:31] SteveMacenski commented on #1279
Frankly this isnt a huge amount of work once everything is set up. My plan was to knock this out over a 2 week sprint but lets chat in China on it!

I dont necessarily want to box in with hybrid-A* specifically. By hybrid I mean partially search and partially sampling based.  In the sense that in this world I’d likely take some ques from my time in manipulation rather than cell visiting

[2019-10-24 00:37] SteveMacenski commented on #1276
Sure... usually I’ve seen auto tuning and then a human still tops it off.

Can you be specific on what parameters in AMCL or costmap layers? Most (if not all?) of these values also have physical property meanings so I’m not sure what weights you’d be autotuning.

[2019-10-24 00:44] orduno commented on #1277
(assuming we are talking about a receding horizon LQR)

The core of it might actually be faster. The estimating (trajectory generator) and discarding (critics) of trajectories on DWB might be slower thant the evaluating a previously solved equation on MPC.

**But**, DWB, through the critics, provided a way to define the behavior of the robot. Not sure yet how we would do that with MPC. We might st

[2019-10-24 00:45] SteveMacenski commented on #861
@crdelsey I see a TODO in the nav2 controller on implementing the preemption condition. Is this tied in to that?

Any particular blocker?

[2019-10-24 02:50] Jconn commented on #1276
I think something that could optimize the local costmap resolution and area as a function of robot speed limits, and something that could optimize `vx_samples`, `vtheta_samples` and `sim_time` based on map grid critic resolution, robot critics, and speed limitations would help me, a non-advanced user.

[2019-10-24 02:59] SteveMacenski opened #1289 "BT Action Node Result / Goal logic"
This is probably not good to be doing, we're even using what I consider to be the 'right toolset' already. We should be while looping over get_status() and when the status is STATUS_SUCCEEDED then we spin the future to get the result.

Right now we're continuously timing out a future request for a result from an action server we **know** isn't done yet, because we're even checking `get_status()` t

[2019-10-24 03:09] SteveMacenski commented on #1276
The resolution isn't generally related to speed, its related to how close you need to get to objects, how accurate your positioning is, and how much CPU you want to dump into it.

Similar with the samples -- those are mostly "as many as you can handle in your design spec" on CPU load and how fast you want to run your controller

[2019-10-24 03:29] SteveMacenski opened #1290 "Add clear area to costmap_layer"
[code]
So we can clear a specified area if asked nicely in a recovery behavior and overloaded by a plugin should it need to implement some of its own magic (like STVL requires)

[2019-10-24 03:45] Jconn commented on #1276
maybe I need to read the documentation, not an auto param tuner :O

When we started missing our controller timing, we tuned the `samples` params and controller rate based on how velocities*sim_time would be binned in the map_grid critics.

[2019-10-24 04:01] SteveMacenski commented on #1276
I can definitely see DWB critic weights and some AMCL weights being tunable, though extremely challenging and data intensive. You can’t really tune amcl in simulation, perhaps DWB you might but defining the spec would be interesting.

The costmap “stuff” i think is nearly all geometric and you shouldn’t need to tune anything in particular. The local costmap size I suppose could be tunable relative

[2019-10-24 15:35] shivaang12 commented on #1245
Hey @mattcenoo, I just saw this, sorry for replying this late. To answer your question, it depends on what you want from multi robot system. There are many sub areas in this topic and I have experience only with coverage and surveillance part of it. About integration, currently I can see one way we can integrate multi robot system to nav2 by tweaking bt_navigator to provide support for "n robots".

[2019-10-24 16:03] crdelsey commented on #1217
This is invalid YAML. The yaml parser used in the RCL layer accepts this input, but it shouldn't if it enforced the standard.

I'm not sure we should fix this in the RewrittenYaml component. Rather, the YAML library used by the RCL layer should error out when it receives an invalid file like this.

[2019-10-24 17:05] orduno commented on #1283
I push #1293 to fix the bt xml paths.

I'm not able to reproduce the `spawn_robot` pkg finding issue...

[2019-10-24 17:14] SteveMacenski commented on #1283
@orduno wait for CI to run, you'll see it

[2019-10-24 17:36] SteveMacenski opened #1294 "nav2_params.yaml copy in updown tests -- use nav2_bringup copy?"
Is there a reason theres a copy of this file in the updown tests directory? If not, we should point to bringup so we don't have to maintain copies

[2019-10-24 17:46] bpwilcox commented on #1276
I would consider costmap parameters such as `inflation_radius`, `cost_scaling_factor`, `resolution`. For AMCL, I think the `alpha_x` weights, and the `max_particles`, `min_particles` are some candidates as well. We've already mentioned the DWB critic weights, and if we expect the affect on CPU load for some parameters to affect some performance criteria, then they would be candidate parameters as

[2019-10-24 17:56] SteveMacenski commented on #1276
So the alpha_x parameters are motion model and are characteristic of a robot. I expect most professional users do some robot modelling and pick derived numbers. With that said, autotuning could be a way to achieve similar results but those numbers are actually meaningful.

Min/max particles I could see being tunable as well. In my experience these really are big problems for response time and smoo

[2019-10-24 18:06] bpwilcox commented on #1276
I don't think an argument per parameter is really the point of this ticket, as we've already illuminated several parameters which could be "tunable". I am also the person who has an interest in implementing (or at minimum scoping out the needed work for a formal design proposal) this feature, especially as I see value in said tool not simply in the navigation2 stack but for ros2 in general. I woul

[2019-10-24 18:06] #1294 closed

[2019-10-24 18:17] SteveMacenski commented on #1283
@orduno reopening, you #1293 PR also exhibits the failing to spawn

[code]

[2019-10-24 18:22] shivaang12 opened #1297 "Sperating Astar and Dijkstra from nav2_navfn_planner"
----
## Feature request
Dissolving nav2_navfn_planner into Astar and Dijkstra.
#### Feature description
- We'll have two different planner, Astar and Dijkstra, if we want to add more planners in our inventory.

#### Implementation considerations
- Create two different planner one for nav2_Astarfn_planner and another nav2_Dijkstrafn_planner.
- As we'll have two planner we can be put either one of t

[2019-10-24 18:27] SteveMacenski commented on #1297
I'm confused, why do you want this?

Navfn lets you select from a parameter which to use

[2019-10-24 18:32] shivaang12 commented on #1297
I agree we have both the planner in out inventory and nav2_navfn_planner is great. Just that it would me more organized than "two planner in one package". If you think otherwise, I am good.

[2019-10-24 18:36] shivaang12 commented on #1256
@SteveMacenski I should get one more point?

[2019-10-24 18:39] SteveMacenski commented on #1256
Yup!
You have 3 (maximum) documentation points and are in the lead.

You're also welcome to keep working on documentation or other tickets ;)

[2019-10-24 18:40] SteveMacenski commented on #1297
They just share so much code that separating them out would be a headache to do cleanly.

With that in mind I don't have a problem with it, I'm trying to understand your needs to require it. If this interests you, I'd merge a given PR for it

[2019-10-24 18:41] shivaang12 commented on #1256
Sure!

[2019-10-24 18:46] shivaang12 commented on #1297
No worries, I think this might be not that important for now. I look on different task to solve. Thank you for your time. Closing this ticket!

[2019-10-24 18:51] SteveMacenski commented on #1297
Well lets leave it open, maybe someone else agrees and wants to work on it.

[2019-10-24 19:03] SteveMacenski commented on #1070
You should probably have a timeout on wait_for_service. Without that, if something goes wrong you are stuck forever and can't provide any error messages to the user. With the current state of the networking, this is a very common failure mode.

Networking is a bit more stable these days. What do you think, do we still need this? The BT nodes will

[code]

so it logs to the user when its waiting fo

[2019-10-24 19:05] SteveMacenski commented on #1289
Working on it

[2019-10-24 21:20] mkhansen-intel commented on #1297
I actually agree with you @SteveMacenski. We have visited this topic before and decided the NavFn name with two parameters was the most efficient and somewhat consistent with ROS Navigation so users would understand it.

@shivaang12 - thanks for offering to help, we would definitely welcome you to fix another issue in the backlog.

[2019-10-24 21:23] shivaang12 commented on #1256
@SteveMacenski one more question, if you don't mind. Can anyone attend nav2_wg meeting?

[2019-10-24 21:37] SteveMacenski commented on #1256
**Yes**

Resounding yes

[2019-10-24 21:38] SteveMacenski commented on #1297
Sounds like we have a decision

[2019-10-24 21:38] #1297 closed

[2019-10-24 23:46] SteveMacenski commented on #1280
Ticket list:
#392 #547 #548 #549 #1226

The way I'd classify this set is: multi-story or multi-map source map server

There are others #1010 #239 that are map servery but standalone tasks

[2019-10-25 02:29] ruffsl commented on #1271
With https://github.com/ros-planning/navigation2/pull/1284 merged, is this closed?

[2019-10-25 13:56] mkhansen-intel commented on #1281
This is now fixed by #1287

[2019-10-25 13:56] #1281 closed

[2019-10-25 15:55] shivaang12 commented on #1028
@SteveMacenski Are we still considering this change/update or not?

[2019-10-25 16:13] SteveMacenski commented on #1028
I'd like to get back to what the original costmap publisher was doing: https://github.com/ros-planning/navigation/blob/melodic-devel/costmap_2d/src/costmap_2d_publisher.cpp

We check for a new subscription to publish a full costmap and otherwise just publish updates. As Matt points out above we can tell how many subscribers are around now so we can do this.

I'm not 100% sure what the raw  topics

[2019-10-25 16:16] #1290 closed

[2019-10-25 16:29] shivaang12 commented on #1028
@SteveMacenski Sounds cool! I am game to do it if it okay?

[2019-10-25 16:33] SteveMacenski commented on #1028
Sure!

[2019-10-25 17:47] bpwilcox commented on #1028
I thought I had clarified before, but the raw topics were added to publish the `uint8` raw costmap data before conversion (and data loss) to the occupancy grid map topic that is used primarily for visualization. The raw costmap topic is being used by the recovery server to locally construct a costmap into its `CostmapSubscriber`.

All that said, I think having the publishers only publish when some

[2019-10-25 17:56] crdelsey opened #1300 "Alternate interface for Multiple Planner Plugins"
As designed in #1269, there is one Action interface per planner/controller server instance.

Let's say we want 3 controllers enabled in the system simultaneously, TEB, DWB and a reinforcement learning based controller. Let's also assume TEB and DWB can share a costmap, but RL works fundamentally differently so needs a different costmap setup.

We can use ROS remapping rules to change the action in

[2019-10-25 17:57] crdelsey commented on #1300
Here's a description of what I was trying to convey in the WG meeting yesterday.

[2019-10-25 18:18] SteveMacenski commented on #1300
I think defining the `server` as another field in the behavior tree sounds reasonable (you have `topic`, I'd probably choose `server` or `server_name`), where the default value is the default server we provide `/ComputePathToPose`. So this would only be a tag required if you were doing a non-default multi-planning-server implementation. The convention we could define would be that the `server_name

[2019-10-25 19:31] bpwilcox commented on #1217
I'm not opposed to leaving as is if we consider the current version of the rcl yaml parser as having this as a bug, however, I'm also in favor of bringing this issue upstream in case they decide that this is an intended feature for ROS2.

[2019-10-25 19:43] orduno commented on #1272
Closing since solved by #1286.

[2019-10-25 19:43] #1272 closed

[2019-10-25 19:50] orduno opened #1301 "NavToPose Preemption Broken"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18
- Version or commit hash: f409ba184e54f919bb8a2cbb6d0057b8b3658dde
- DDS implementation: Fast-RTPS and CycloneDDS

#### Steps to reproduce issue
- Start nav stack and provide a goal pose.
- Before goal pose is reached, provide a new goal pose.

#### Expected behavior
- Nav stack computes a path to the new goal pose and robot start fo

[2019-10-25 20:10] SteveMacenski opened #1302 "BT navigator test suite"
We have some good tests, but a couple things to avoid problems would be to include
- changing goal mid-navigation via preemption
- cancelling goal and reissuing goal `N` times

[2019-10-25 20:27] SteveMacenski opened #1304 "Rename spawn_robot package (nav2_gazebo_spawner?)"
Spawn robot is the name of a node within gazebo used to spawn a robot model. While the name of a node vs. name of a package shouldn't conflict, admittedly it could be confusing when thinking about the spawn_robot process.

I'd suggest nav2_gazebo_spawner (or even at minimum nav2_spawn_robot) to make it explicit this is part of the metapackage. Otherwise someone might install spawn_robot separately

[2019-10-25 21:04] crdelsey commented on #1300
Ok. I'm assuming the mapping of the name to the plugin will be configurable? So someone could load the TEB plugin and call it "FollowPathSlowlyAndCarefully" or they could just call it "TEB" if they want to be literal?

That's fine with me

Just to be clear, for the recommended option, this means having the user create a custom BT node? Or are they still using the FollowPath/ComputePathToPose node

[2019-10-25 21:31] SteveMacenski commented on #1300
That is correct.

The latter, I will implement it so they specify the server name or the full path, its up to us to decide which we support. I like full path so there's no hidden design knowledge. No custom BT node required

[2019-10-25 21:41] mkhansen-intel commented on #1135
Yes, I think #1243 did this, thanks!

[2019-10-25 21:41] #1135 closed

[2019-10-25 21:42] mkhansen-intel commented on #813
Yes, #1243 closed this. I had previously removed the "setSimTime" code.

[2019-10-25 21:42] #813 closed

[2019-10-25 21:43] #1256 closed

[2019-10-25 21:43] #1248 closed

[2019-10-25 21:46] mkhansen-intel commented on #1110
Note from my original issue that there are tests that are checking this param and will need to be updated also.

[2019-10-25 23:41] SteveMacenski commented on #1271
I noticed travis is using the script and circleCi is not and this is the reason travis passes with the spawn robot issue, that test isn’t being run in the test suite.

Do we want to add that, though at the moment that would make Travis fail as well.

[2019-10-26 00:20] yathartha3 opened #1307 "Robot not avoiding obstacles"
## Bug report
Related to #1301

**Required Info:**

- Operating System:
  - OS and version Ubuntu 18.04
- Version or commit hash:
  - f409ba184e54f919bb8a2cbb6d0057b8b3658dde
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
Launch navstack.
Send goal pose.
Drop an obstacle on the robot's path.

#### Expected behavior
Calculate new global path and avoids the obstacle.

#### Actual

[2019-10-26 00:28] SteveMacenski commented on #1307
I think that’s a direct result of the behavior tree immediately going to recovery mode when anything fails to generate a valid output. If you wrote a quick print statement, it would surprise me if it wasn’t the case that on seeing the obstacle DWB failed, triggered recovery regardless if it just needs a plan update, then replanned.

That long wait I hope is the wait recovery acting... what do your

[2019-10-26 01:14] #1283 closed

[2019-10-26 01:26] yathartha3 commented on #1307
@SteveMacenski I updated the issue with the log in the details.

[2019-10-26 02:00] SteveMacenski commented on #1283
@crdelsey can you give a quick summary of what that was? Given it didn’t appear locally that was a unique thing I haven’t run into before.

[2019-10-26 02:02] SteveMacenski commented on #1307
Huh failed to make progress really fired fast if that’s the case. Because these logs don’t have stamps, can you tell me if that progress checker claim happened immediately or it happened after dwb sat for a bit and didnt move?

[2019-10-26 04:06] yathartha3 commented on #1307
@SteveMacenski The progress checker claim happened after DWB sat for a bit. Even before getting to the recovery behaviors, the global path should be computed every second is what I thought. I did not just drop the obstacle very close to it. It had enough time if a different global path was computed.

[2019-10-26 04:58] SteveMacenski commented on #1307
At least from your gif, I don’t think that’s what’s happening. It looks to me like DWB couldn’t compute a control so it returned the failure and that triggered recoveries. Replanning at 1hz only happens when it wasn’t in a failure part of the tree.

I’d recommend testing this with just adding a retry-able node around the plan->control with a throttle of 1hz and retry >= 3. You should see that on t

[2019-10-26 05:49] yathartha3 commented on #1307
I put print statements inside ```PlannerServer::computePathToPose()```.
It was not ticking at 1Hz.

[2019-10-26 06:05] SteveMacenski opened #1308 "Add test for multiple robots into run_test_suite.bash for travis"
Right now TravisCI does not run the multi-robot test since it isn't called out in the `run_test_suite.bash`. If that was intentional, feel free to close. If not we should add it.

[2019-10-26 22:39] SteveMacenski commented on #1256
@shivaang12 as the winner of the tiny ticket sprint, you may select a graphic that i will place in my ROSCon presentation in China next week!

I'd offer the suggestion to not make my life too hard ;-)

Please post your selected image to the discourse thread: https://discourse.ros.org/t/ros2-navigations-tiny-ticket-sprint-reward-for-winning/11080 no later than Monday at 6pm so I can get it in (and

[2019-10-27 03:34] shivaang12 commented on #1256
@SteveMacenski Thanks man! Could you give me more context into this graphic?

[2019-10-27 15:15] shivaang12 commented on #1256
@SteveMacenski And also I don't want to make it difficult for you too. So if you can suggest some topics, it would be great.

[2019-10-27 21:26] SteveMacenski commented on #1256
Just an image, XKCD comic, a robot, I suppose a meme, etc anything you like, that’s appropriate for display.

If you don’t want to make my life too hard, something graph or laser related since its graph-slam with lasers (who doesnt love lasers?!)

[2019-10-28 01:18] SteveMacenski opened #1309 "Add timestamps to all logs"
Right now its very challenging to debug using the logging to screen or file when you can't tell the relative timing of the events occurring.

this might be something to move upstream to rcl logging but for now I'd like to at least cover Nav2 logging with timestamps.

[2019-10-28 16:17] yathartha3 commented on #1301
Related to #1307 where path not being recalculated at 1 Hz, at thus not re-planning around obstacles once it starts moving on a path.

[2019-10-28 17:58] orduno commented on #1307
Let's solve #1301 first and then test obstacle avoidance.

[2019-10-28 21:06] yathartha3 commented on #1307
I am thinking the same.

[2019-10-28 21:15] yathartha3 commented on #1277
@shivaang12 TEB has been ported for Dashing. It in in the TU Dortmund repo.

[2019-10-28 21:20] crdelsey commented on #600
Closing this since it is obsolete. Mission Executor is gone now.

[2019-10-28 21:20] #600 closed

[2019-10-28 21:31] crdelsey commented on #640
Done

[2019-10-28 21:31] #640 closed

[2019-10-28 21:43] crdelsey commented on #690
Dupe of #1305

[2019-10-28 21:43] #690 closed

[2019-10-29 15:40] AndreasAZiegler opened #1312 "[cartographer_node-1] ERROR: unknown command line flag"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04.1 LTS
- Version or commit hash:
  - ec4904be2af7dc5a6ed74dc46edac5ea4bfb6aab
- DDS implementation:
  - standard (I guess Fast-RTPS)

#### Steps to reproduce issue
* In the first terminal in workspace
[code]
* In the second terminal in workspace
[code]
* In the third terminal in workspace
[code]

#### Expected behavior
Cartogra

[2019-10-29 17:38] crdelsey commented on #850
Results of the scan. Nothing jumps out as a major concern.
[sanitizer_report-asan.csv.txt](https://github.com/ros-planning/navigation2/files/3784982/sanitizer_report-asan.csv.txt)
[sanitizer_report-tsan.csv.txt](https://github.com/ros-planning/navigation2/files/3784983/sanitizer_report-tsan.csv.txt)

[2019-10-29 18:06] yathartha3 opened #1314 "Scoping global and local planner params"
The dwb paramaters, and other local controller parameters should be underneath the controller_server scope.

Probably, we should scope the dwb parameters: eg
[code]

_Originally posted by @crdelsey in https://github.com/ros-planning/navigation2/pull/1045_

[2019-10-29 19:02] yathartha3 opened #1316 "Update readme for nav2_dwb_controller"
The current nav2_dwb_controller readme is outdated. It has not been updated to reflect the new architecture with plugin capability.

[2019-10-29 19:05] yathartha3 opened #1317 "Add documentation for lifecycle manager"
Currently, there is no documentation for lifecycle manager.

[2019-10-29 22:09] orduno commented on #1314
Same for the planner plugins in the `PlannerServer`.

[2019-10-29 22:28] shivaang12 commented on #1317
Do you mean doxygen? Cause I have open pull request for it.

[2019-10-29 22:38] yathartha3 commented on #1317
@shivaang12 Thanks for adding the doxygen.
However, I was not referring to that. I was referring to some documentation about the lifecycle manager and lifecycle nodes in general in the front page readme of the package. I am planning to do that soon.

[2019-10-29 22:40] shivaang12 commented on #1317
@yathartha3 No worries!

[2019-10-29 23:00] mjeronimo commented on #1309
Steve, there is a feature in the ROS2 logging subsystem that allows custom formatting of log messages (see ros2/src/ros2/rcutils/src/logging.c). There are several variables that the log system knows about:

- severity
- name
- message
- function_name
- file_name
- time
- time_as_nanoseconds
- line_number

You can use these in the setting of the RCUTILS_CONSOLE_OUTPUT_FORMAT environment variable. F

[2019-10-29 23:17] orduno opened #1318 "Multi-robot collision avoidance"
I'd like to request your input on the best way to implement collision avoidance between robots.

Background
---
The default LiDAR scanner on the [tb3](http://www.robotis.us/turtlebot-3/) is not sufficient to detect the complete footprint of other robots.

A depth-camera could solve this problem. However, we would do better if robots communicate their position and footprint to others. Possibly, eve

[2019-10-29 23:53] shivaang12 commented on #1318
@orduno I think robots communicating their position would be a more of a centralized approach. While trying to avoid obstacles using depth sensor or lidar at an individual level would be a decentralized approach. We should make room for both the approach considering the generality of the applications.

[2019-10-30 02:45] mattcenoo commented on #1301
Hi, here is something confusing me and may affect the behavior of BT.
(a) If we use the dashing version bt xml, the subnodes of the sequence node will be executed parallelly, and the path will be recalculated at 1 Hz.
![image](https://user-images.githubusercontent.com/26203247/67824105-6aaff900-fb00-11e9-858f-9eda5bf27bca.png)
(b) But if we use the master version, the path will not be recalculated

[2019-10-30 02:56] #895 closed

[2019-10-30 04:21] yathartha3 commented on #1301
@mattcenoo The exact behavior of what a sequence node should do is described [here](https://behaviortree.github.io/BehaviorTree.CPP/SequenceNode/).

I do not think the sequence node should be running it's subnodes in parallel. How did you verify this? I am really curious to know what is actually happening.

Also, if you are launching `nav2_bringup_launch.py` in master, the default behavior tree xm

[2019-10-30 07:08] AndreasAZiegler commented on #1312
@mlherd Thanks for your answer
With ```ros2 launch turtlebot3_cartographer cartographer.launch.py --ros-args use_sim_time:=True``` I do not longer get the
[code]
But I still get these errors which seem to crash the cartographer_node
[code]

[2019-10-30 07:16] mattcenoo commented on #1301
Yes, so do I. To be specific, I'm testing the newest release of dashing-devel (merged some bug fix), here is the comment in the xml.
![image](https://user-images.githubusercontent.com/26203247/67835846-0011b400-fb26-11e9-97ce-62bced1cc129.png)
BT replans the global path at 1hz indeed, although I don't know why.

[2019-10-30 10:43] mlherd commented on #1312
It seems like I forgot to add -p :) Can you try the following command instead.

```ros2 launch turtlebot3_cartographer cartographer.launch.py --ros-args -p use_sim_time:=True```

[2019-10-30 11:02] AndreasAZiegler commented on #1312
Unfortunately, it looks like it makes no difference:
[code]

[2019-10-30 17:31] bpwilcox opened #1320 "Add lifecycle management system test"
There should be a system test to transition the lifecycle states of the stack using the `LifecycleManager`, particularly a test which will pause, resume, reset, and re-startup the running stack. Since we have gotten into bugs like in #1285, this test will hopefully catch these errors before PRs are merged.

[2019-10-30 17:42] crdelsey commented on #1271
Yes. Let's close.

[2019-10-30 17:43] orduno commented on #1318
Wouldn't it depend on who they're communicating to? Robots conveying information to other robots would still be considered distributed as there's no centralized component.

[2019-10-30 17:57] orduno commented on #920
The issue has been coming and going. Let's figure out on #1301 what's the problem on the current master branch.

[2019-10-30 17:57] #920 closed

[2019-10-30 19:06] orduno commented on #1245
Users might have a preference for a particular architecture (centralized, distributed, hybrid) depending on the requirements (coherency, fault tolerance, level of coordination, hardware) and constraints for their particular use case. I think we should consider developing an example/solution for each.

Given that MRS is a huge field, we would have to narrow down the scope and capabilities -- probab

[2019-10-30 19:58] yathartha3 commented on #1318
I see the proposed `nav2_costmap_2d::RobotsLayer` would be very useful for avoidance and planning.
And especially having some kind of _intent_ such as the robots' future locations could be very useful.
The alternate idea was using TF, which I think can be used in a similar way; i.e., if we know the footprint, of the robot, we can populate the master costmap using the TF data and robot footprint.

[2019-10-30 20:11] shivaang12 commented on #1318
That's actually true! Sorry, I kind off assumed that it would go through central server.

[2019-10-30 23:29] SteveMacenski commented on #1318
I think having located footprints makes most sense (either robot footprint points and then a position, or a set of posed-footprints). I don't want to tie TF to this as that would make it pretty un-useful for real robot applications where they're not going to be running on the same network directly and are probably chatting to each other over a production cloud service that is aggregating and distr

[2019-10-31 01:31] shivaang12 commented on #740
@SteveMacenski can you elaborate?

[2019-10-31 03:13] mattcenoo commented on #1318
The social_navigation_layers in [navigation_layers](https://github.com/DLu/navigation_layers.git) could be a good start.

[2019-10-31 15:58] shivaang12 commented on #111
@crdelsey UML class diagram would be okay? or you mean something else?

[2019-10-31 17:49] yathartha3 commented on #111
We have done UML before, and I think it is a good idea. PlantUML is what we used to before generate the diagrams from vscode.

[2019-10-31 17:52] yathartha3 commented on #1312
@AndreasAZiegler It complaining about the params file, which you are currently trying to give using the command line.
You can specify the param file that you want to use in the launch file itself. Maybe peeking at nav2_bringup.launch in the nav2_bringup directory will help.

[2019-10-31 18:12] shivaang12 commented on #111
@yathartha3 Are you making working on it?

[2019-10-31 19:12] yathartha3 commented on #111
@shivaang12 It was one of the things I was considering to do since I was starting to look at the documentation. However I haven't started working on it, and if you are interested, go ahead.

[2019-10-31 21:13] shivaang12 commented on #111
@yathartha3 I can do it if that's okay.

[2019-10-31 22:33] yathartha3 commented on #1277
I'm very interested in this. However, can only start working on it after a month or so.

[2019-11-01 00:19] yathartha3 commented on #757
I am not seeing this issue right now after enabling the voxel layer. Open again if needed.

[2019-11-01 02:00] SteveMacenski commented on #111
I disagree, I think this should be something easier for a random person to understand. Not everyone (maybe even most?) that works in navigation/robotics have formal computer science backgrounds & this type of document should be accessible to anyone that knows ROS. Lots of software beginners use navigation and we shouldn’t bog a high level “how everything talks” down with notation.

I’m thinking th

[2019-11-01 02:39] SteveMacenski commented on #757
Didn’t your PR have some obstacle layer namespaced parameters needed for the voxel layer?

What’s changed between your initial PR commit and now?

[2019-11-01 02:43] shivaang12 commented on #111
@SteveMacenski Do you mean a higher level diagram than normal UML class diagrams?

[2019-11-01 03:23] yathartha3 commented on #757
@SteveMacenski Sorry for the confusion. I believe it was error on my part.

While working on my initial PR for voxel layer, I had removed the obstacle_layer parameters from the global_costmap namespace, and replaced it with voxel_layer params.
I __hadn't__ added the 'plugin_name' for global_costmap to have ["voxel_layer", ..]. So what was happening was that it was taking the default plugin_names,

[2019-11-01 05:58] #757 closed

[2019-11-01 05:59] SteveMacenski commented on #111
I’m saying a nice ROS-based diagram of data flow, no UML

[2019-11-01 21:59] AndreasAZiegler commented on #1312
The only places I found ```params-file``` was in ```src/navigation2/nav2_system_tests/src/updown/test_updown_launch.py``` and in ```/src/navigation2/nav2_common/nav2_common/launch/node.py``` but as ```cartographer_node``` is started directly in ```cartographer.launch.py``` I don't think that's related.

Could it be related to this issue https://github.com/googlecartographer/cartographer_ros?/issue

[2019-11-03 03:23] SteveMacenski opened #1325 "Change all references from Local Planner -> Controller"
The local planner actually describes a controller and that nomenclature is widely used in vernacular.

This also was a point of discussion at ROSCon & universally agreed upon

[2019-11-04 08:30] mikeferguson commented on #1325
+1 from me as well -- much of the code internally in ROS1 navigation actually says "controller" in the poorly named "local planners"

[2019-11-04 08:35] SteveMacenski commented on #1325
I changed a bunch of places, but I greped through and realized there's a few too many places it still exists for me to comfortably say that "[checkmark] did completely remove it".

Changing the pluginlib header name is a little late at this point, but I can have the LocalPlanner header derive from the Controller with an additional depreciation warning for F-turtle.

[2019-11-04 18:42] orduno commented on #1177
Closing the issue as this seems to be related to the DDS implementation.

I'm not seeing the issue using CycloneDDS.

[2019-11-04 18:42] #1177 closed

[2019-11-04 20:24] mlherd commented on #1312
@AndreasAZiegler Which method did you use to build or install Cartographer?

[2019-11-04 20:28] crdelsey commented on #111
If you keep the diagram super simple and don't try to express any details, this can work, although, IMHO, a UML diagram is just as easy to understand in that case. In my experience, if people don't use UML, and want to express detail, they tend to invent their own notation which is even harder to understand because they alone in the world know what it means.

[2019-11-04 23:03] shivaang12 commented on #111
Lets create both UML and simple data flow. UML for new contributors to understand our design and data flow for the users to understand.

[2019-11-05 01:44] SteveMacenski commented on #111
Fair enough on the both comment.

I am referencing a “rqt” like version, arrows with topics/services/action names (maybe types). I think that notation is inherently understandable to everyone. This goes to that over /topic. And the names of /topic give a clear understanding of what’s being transported. If /topic doesnt, /topic should change

[2019-11-05 06:44] #1227 closed

[2019-11-05 11:31] fmrico commented on #803
Hi @orduno and @SteveMacenski ,

I have been working on this issue, and I have created a PR #1327 I . I recorded this [Video](https://youtu.be/a9sD2xlZCek) with the result. I would like to know if you consider this approach valid before continuing with it.

I changed the actions `ComputePathToPose` to `ComputePathToPoses`, and `NavigateToPose` to `NavigateToPoses`. The request is a `nav_msgs/Path`

[2019-11-05 22:43] orduno commented on #803
Francisco, thanks for your PR! I've reviewed your approach and provided feedback.

Can we discuss a bit more about alternate solutions to waypoint navigation? Here are some:

1. **Mission Executor**: The waypoint-following action is received by some Mission Executor, which is tracking the robot's current position and preempting the `NavigateToPose` action on `BTNavigator` in order to get the desir

[2019-11-06 00:56] bpwilcox commented on #803
I was thinking about some of these issues as I briefly looked at the recent PR. I think there should be a clear and intentional difference between pre-empting a current goal and adding a new one to a queue. I also agree that there is a difference between a waypoint and a pose in that the former doesn't require that the orientation match, necessarily.

I'd like to see good synergy in the goal poses

[2019-11-06 04:15] SteveMacenski commented on #803
I’m still in China for another few days. Can we discuss this in 2 weeks at the weekly?

[2019-11-06 13:01] #1308 closed

[2019-11-06 13:29] SteveMacenski commented on #1028
I traced back through, right now the only one that uses this is the collision checker -- why can't that use the costmap itself?

Sure, I understand why it might exist to support the costmap subscriber, but why does the costmap subscriber require it? The only client of that is the collision checker, and that is more than fine with the reduced data.

Moreover, looking at the collision checker, its c

[2019-11-06 14:14] SteveMacenski opened #1330 "Review naming of *_properties for contextual control/planner"
We decided on `controller_properties` and `planner_properties` for the names of the "types" of algorithms running from the BT abstraction.

I think in concept that works, but trying to describe DWB or NavFn in a trivial-one-liner is basically impossible to do well. Moreover the idea of having `controller_properties_[action_msg->property]->DoAction()` doesnt read well when the `controller_propertie

[2019-11-06 14:17] SteveMacenski commented on #1309
Well I think if this exists, we should find a way to apply these settings in the launch files for all of Nav.

I don't think its optional to include timestamp in logs, that's so critical to debugging async navigation issues, I'm shocked its "batteries-included" but not default.

[2019-11-06 14:36] SteveMacenski commented on #978
#1070 being packed into this ticket, they're asking for the same thing

[2019-11-06 14:36] #1070 closed

[2019-11-06 14:37] SteveMacenski commented on #827
I'm curious, does anyone _want_ the front end? Its super heavy and really gets in the way for me.

I'd vote to just launch only `gzserver` and make launching `gzclient` up to the user if they care

[2019-11-06 14:39] SteveMacenski commented on #951
Closing from #1305 imminent merging

[2019-11-06 14:39] #951 closed

[2019-11-06 14:40] SteveMacenski commented on #973
@crdelsey would it be possible to just remove `nav2_msgs` from coverage computation? Its not like we actually need test coverage over the message markdown files

[2019-11-06 14:41] SteveMacenski commented on #955
@crdelsey do you consider hand testing & validating the voxel layer through #1291 in the spirit of completing this ticket?

[2019-11-06 18:31] crdelsey commented on #1301
*Update*: This broke when we updated to `behaviortree_cpp_v3`. The cause of this is a change in the way `Sequence` nodes work.

There is no direct replacement for the `Sequence` node in the new library. Possible solutions are:
1. Reimplement the Version2 sequence node as a `LegacySequence`.
2. Make the tree work again using the `Parallel` node in some way.
3. Change the behavior of the upstream `R

[2019-11-06 18:38] bpwilcox commented on #1028
The collision checker is being used in the recovery server where it does not itself contain a costmap2DROS object, thus it needs to create a costmap2D in order to inspect the cost values and access other related API, thus it creates the CostmapSubscriber.

I can agree with this point, since we are only checking for the lethal objects here, we could use the reduced data. This could mean reconstruct

[2019-11-06 20:25] fmrico commented on #803
Hi @orduno,

As I commented in the PR, I will change the approach. Let me try a new approach using the first two options you suggested (Mission Executor and Bt Waypoint Navigator).

Thanks!!

[2019-11-06 20:35] shivaang12 commented on #111
All things consider, I am creating UML and rqt type diagram ( or whatever steve described).

[2019-11-06 23:06] orduno opened #1333 "Can't visualize voxels from voxel layer"
## Bug report

**Required Info:**

- Operating System:
  -
- Version or commit hash:
  -
- DDS implementation:
  -

#### Steps to reproduce issue
Follow instructions from:
https://github.com/ros-planning/navigation2/blob/master/nav2_costmap_2d/README.md#to-visualize-the-voxels-in-rviz

#### Expected behavior
We should be able to view voxel markers in RVIZ.

#### Actual behavior
No markers shown in

[2019-11-07 00:27] crdelsey commented on #1333
@orduno Can you work with Yathartha to figure out what's going on with this?

[2019-11-07 02:39] SteveMacenski commented on #1028
To your first comment, that still doesn’t explain why you need the raw data, just that you need a costmap representation over a topic, which exists.

Second, I’d prefer to change it to the actual costmap topic. The whole point of the costmap is to do collision checking. If the costmap itself is insufficient and you need these raw values, then no where in the stack should not be using the raw data.

[2019-11-07 02:52] SteveMacenski commented on #111
I’m basically just describing what Matt already made at ROSCon, with maybe a couple tweaks.

[2019-11-07 02:56] SteveMacenski commented on #803
I’m not sure I agree with any of those lines of thought at the moment, but I’m also open to changing my mind. There’s 1,000,000 ways to do this. I’m just drawing from how I’ve done it in the past and that’s not necessarily the best way.

I do generally like the idea that navigation is “stupid”, it knows its current task but shouldn’t know about future ones until an application level process gives

[2019-11-07 11:28] shivaang12 commented on #111
Want to discussed it in nav_wg?

[2019-11-07 12:34] peterpena opened #1335 "Navigation2 does not compile with current behaviortree_cpp"
Behavior Trees C++ library now reflects  v3 in their include directories. This repository still depends on version 3.0.9 but they have released version 3.1.0. I made a pull request #1334 to update the include directories.

[2019-11-07 13:31] SteveMacenski commented on #111
I’m still in China. No wg this week for me.

[2019-11-07 14:13] AndreasAZiegler commented on #1312
I installed it view ```apt-get install``` and have the following packages installed:
[code]

[2019-11-07 17:42] shivaang12 commented on #111
Okay, I will work on rqt type diagram. We'll discuss later about the other.

[2019-11-07 18:08] mjeronimo commented on #1274
Is the system being shut down before the processes are terminated? That is, invoke shutdown() service on the lifecycle manager before killing the processes. If this isn't happening the processes are being killed while in the Active state. They should be killed when in the Finalized state, after they've had a chance to stop threads, clean up their resources, etc.

[2019-11-07 18:14] mlherd commented on #1312
It seems like the turtlebot_cartographer launch file needs to be updated for eloquent. I would open an issue in their repo.

It requires a little bit more work, but you can look at what they do in their launch file and try to execute the nodes yourself. I haven't tested cartographer eloquent release to create maps yet, but I was able to install the package via apt and run cartographer_node and occ

[2019-11-07 18:21] mlherd commented on #1312
Since this is not a Navigation2 related issue, I close it. When you find a solution to this issue, please feel free to add a comment.

[2019-11-07 18:21] #1312 closed

[2019-11-07 18:53] orduno commented on #803
I thought I was covering your application-level approach in *Mission Executor**. Could you edit this ticket and provide some high-level info.

Let's identify some reasonable approaches and discuss these, maybe there are only just a few and the rest are only variations. Please edit the ticket and add any other you think we should consider.

[2019-11-07 23:34] orduno commented on #1333
*Update:* Didn't realize we're using a robot model without a depth camera, let's try again once #1249 is merged.

[2019-11-08 04:40] SteveMacenski commented on #803
I think there are (at least) 2 major schools of thought here. One being navigation gets a set of waypoints to plan through and control to, other being navigation gets 1 waypoint fed to it at a time, and on completion you dish out the next.

If there’s no planner provided that can plan through intermediate waypoints (which we dont), theyre essentially the same outcome except you push the behavioral

[2019-11-08 22:54] orduno commented on #1274
I think that's the case, I'm working on a PR to solve this.

[2019-11-08 23:16] mlherd opened #1337 "Remove all the mesh files and stl files from nav2_system_tests"
There are tb3 robot models and description files in the system tests. For the system test that we have, we don't need to have any visuals in these files. Simple shapes such as boxes can be used in burger.urdf and waffle.urdf and no visuals in gazebo models.

[2019-11-09 05:03] ribinmathew commented on #1312
ran into same issue...

[2019-11-09 19:53] mlherd commented on #803
Here is a great example of using waypoints and mission executor idea. [Video ](https://www.youtube.com/watch?v=LjVAxx5vbqg)

Let's say I want to do a very similar application with a rover robot on the ground using Navigation2. Depending on the application, this problem can be more complex or simpler and there are many different ways to solve it. In my opinion, pretty much all these tasks shown in

[2019-11-09 20:27] mlherd commented on #827
Yes, it is heavy, but I almost always use gzclient. Maybe the launch file can take an argument such as use_gazebo_client:=True ?

[2019-11-11 15:15] SteveMacenski commented on #1337
Is there a reason we don’t have a dependency of system tests on the TB3 repos and just call them from their packages?

The system tests can have dependencies on specific artifacts and I think that’s totally fine.

[2019-11-11 15:58] SteveMacenski opened #1339 "Add action server feedback to all action tasks"
Right now none of the action servers provide feedback on the state of the action in progress

[2019-11-11 18:43] crdelsey commented on #1309
We can probably add it to the launch files in the same way we set `RCUTILS_CONSOLE_STDOUT_LINE_BUFFERED`

I agree it would be better if this were enabled by default upstream, or at least, if it was much easier to turn on.

[2019-11-11 18:43] mlherd commented on #1337
Because, in the system test, currently we duplicate their files in our repo. The size of Nav2 is about 82MB and about 62 MB of it is these files. In addition to that, why should we have a dependency when we can easily avoid that dependency?

[2019-11-11 19:07] crdelsey commented on #973
Let's find out #1340.

I was starting to look at this during the tiny ticket sprint, but the build was too broken at the time to get useful code coverage results.

[2019-11-11 19:12] crdelsey opened #1341 "Nightly builds of connext, opensplice and cyclone are broken."
## Bug report

**Required Info:**

- Operating System:
  -
- Version or commit hash:
  - master as of today (Nov 11, 2019) and for the past few weeks
- DDS implementation:
  -

#### Steps to reproduce issue
Look at Circle CI results for
- [ ] test_rmw_cyclonedds_cpp
- [x] test_rmw_opensplice_cpp
- [ ] test_rmw_connext_cpp

at https://circleci.com/gh/ros-planning/navigation2/tree/master

These are

[2019-11-11 19:14] crdelsey commented on #955
Yes. Let's close this as resolved by #1291

[2019-11-11 19:14] #955 closed

[2019-11-11 19:19] SteveMacenski opened #1342 "Move AMCL/map_server into new repository"
Right now the 2 sore thumbs in the navigation stack are AMCL/map_server. They're pretty use-case specific and really give the impression for a user that navigation is only useable in 2D and with a laser scanner, which isn't true. Also, many used SLAM implementations are coming with localizers (which may vary in method or quality) but there's now a generation of companies using things like cartogra

[2019-11-11 19:23] SteveMacenski commented on #1337
Exactly. If its just a dependency, its not in this repo to duplicate.

Duplication isn't really removing the dependency, its just adding more maintenance requirements for us. Even by adding the simplified versions to system tests, its now more maintenance that there would be if we just used the turtlebot packages directly.

In my opinion, system tests should not ship with the metapackage `navigati

[2019-11-11 19:24] SteveMacenski commented on #1309
It's on my backlog to look at, but if someone else is motivated, I certainly wouldn't argue

[2019-11-11 19:30] SteveMacenski commented on #1221
Drafted and starting submission process

[2019-11-11 19:30] #1221 closed

[2019-11-11 19:34] mlherd commented on #827
[code]
Currently, if the argument ```simulator``` is set to ```gzserver``` it will not launch ```gzclient```. The default value for ```simulator``` is ```gazebo``` that is why it launches gzserver and gzclient together.

I will work on this issue first and then see how I can make it more convenient for the user to enable/disable gzclient.

[2019-11-11 19:34] SteveMacenski commented on #827
The generic phrase we use in simulation is `headless` as a bool to start the client. This has history in ROS1 as well.

[2019-11-11 20:00] orduno commented on #1168
@mkhansen-intel I can take this one. Switching to use an action interface is part of the solution for #1274.

[2019-11-11 20:35] orduno opened #1344 "Shutting down or resetting BT Navigator while running"
## Description

Currently `BtNavigator` receives a `NavToPose` action request and spins a separate thread to create and execute the behavior tree (after it has been transitioned to an active state).

If there is a request to transition `BtNavigator` (or for that effect any managed node with a `SimpleActionServer`) to `unconfigured` or `finalized` we first deactivate the action server:

https://git

[2019-11-11 20:57] orduno opened #1345 "Explicit way of specifying the order for bringing up or shutting down the nodes."
`nav2::LifecycleManager` resets/shutdowns the nodes in the inverse order that these were brought up. We currently store the order on a vector:

https://github.com/ros-planning/navigation2/blob/43bace3bbb9ddec4d2b362b56af05957194233b7/nav2_lifecycle_manager/src/lifecycle_manager.cpp#L40-L42

And use the same method for transitioning the nodes, the only difference is what we pass to `reverse_order`:

[2019-11-11 20:57] crdelsey commented on #1337
We'd need to add the necessary TB3 repos to our ros2_dependencies.repos file in order to build master. Now that the nav2_system_test package is built by default, anyone building our repo from source would need to have those packages available as well, even if they intend to work with another robot.

Also, Robotis has our stuff as a dependency of theirs. Adding their repos as dependencies of ours i

[2019-11-11 21:05] SteveMacenski commented on #1337
Fair enough. We can also just change to another default robot model. Either way I don't have a strong opinion, just trying to make sure we're duplicating the absolute minimum possible

[2019-11-11 21:50] mlherd opened #1346 "Start using different Gazebo world and robot models in CI and nav2_bringup"
We have been using the same Turtlebot 3 world model for a very long time. Since now the voxel layer is enabled, I think that we should start using more complex Gazebo worlds. I created a repo with several different candidate Gazebo world files (See the first three models in the readme). We can change the Gazebo world every few months or so.

https://github.com/mlherd/gazebo_worlds_models_maps_for_

[2019-11-11 23:04] #868 closed

[2019-11-11 23:19] #699 closed

[2019-11-11 23:20] #714 closed

[2019-11-11 23:49] orduno commented on #1339
Maybe we can start by discussing the types of feedback messages that make the most sense for each [action type](https://github.com/ros-planning/navigation2/tree/master/nav2_msgs/action)?

[2019-11-12 00:00] SteveMacenski commented on #1206
To summarize the discussion: have more of the contextual recoveries covering the FollowPath/ComputePath that individually try to replan once between them, as well as have the global recovery state try to trigger whatever failed between each recovery.

[2019-11-12 00:02] SteveMacenski commented on #1346
I love those first 3

[2019-11-12 00:04] SteveMacenski commented on #1339
Backup: distance travelled

spin: angle traveled

Navigate to pose: time of task elapsed and distance traveled?

Follow path: time elapsed, number of waypoints passed, distance left to goal

Compute path to pose: is very fast, I dont know that would be meaningful

[2019-11-12 00:16] SteveMacenski commented on #1049
@oneattosecond update?

[2019-11-12 00:48] crdelsey commented on #1346
The question to me is how best to run them. Do we update the  model used in CI, or do we leave CI with just a simple world? Should CI be a thorough test of the system, or is it just a smoke test to catch egregious errors. If the latter, how do we run more thorough tests?

[2019-11-12 00:52] crdelsey commented on #1345
Are you saying reverse order is the wrong order? If so, what's the right one?

[2019-11-12 01:39] #740 closed

[2019-11-12 02:19] shivaang12 commented on #111
@SteveMacenski I don't know if this aligns with what you were saying.
![Blank Diagram](https://user-images.githubusercontent.com/9318164/68636138-8fc14600-04c8-11ea-98af-a8f210afabbd.png)

[2019-11-12 06:44] mlherd commented on #1346
My initial thought was leaving CI with TB3 world for now and using some of these worlds in nav2_bringup for a while first at least until we know which worlds are the most suitable for CI testing.

[2019-11-12 13:20] SteveMacenski commented on #1346
I think it would be most ideal to change our basic demo + CI to use one of those 3 worlds.

Then once there’s some generally liked platform we also change from TB3 to that platform. I think showing a pseudo-realistic room with a (more) useful robot sends good signals to people able the state of the project and its usefulness than a toy example world & robot for their tutorial demos. Plus those wor

[2019-11-12 14:59] sweetquiet commented on #1342
I agree with your thoughts and look forward to new localization  methods.

[2019-11-12 15:18] SteveMacenski commented on #1342
As always, PRs welcome with implementations!

[2019-11-12 17:48] SteveMacenski commented on #1049
V3 of BT library resolved

[2019-11-12 17:48] #1049 closed

[2019-11-12 21:11] SteveMacenski commented on #1173
@mkhansen-intel does this ticket have any action items or was the discussion we had enough?

[2019-11-12 21:15] #942 closed

[2019-11-12 22:18] bpwilcox commented on #1154
Closed with #1319

[2019-11-12 22:18] #1154 closed

[2019-11-12 22:55] bpwilcox commented on #1028
I am okay with changing the collision checker to use the `/costmap` occupancy grid topic since it is primarily only doing binary collision checks. I think the best option would be to have a flag for the `CostmapSubscriber` to grab either the `OccupancyGrid.msg` topic (by default) or the raw `Costmap.msg` topic, where internally it will convert the topics to a `Costmap2D` object so that application

[2019-11-12 23:03] SteveMacenski commented on #1028
Sounds reasonable. Thought from implementation details that sounds hard to make clean but you have a better understanding of that object than I.

I might rename `Costmap` to `RawCostmap` to make it clear

[2019-11-12 23:11] bpwilcox commented on #1028
I think it's cleaner to do conversions at the `CostmapSubscriber` level, its job is to abstract the msg and create a costmap2D object for use in remote nodes. Then none of the `CollisionChecker` code needs to change.

You mean the `nav2_msg/Costmap.msg`? I'm not opposed to the rename.

[2019-11-12 23:21] SteveMacenski commented on #1028
Yeah.

Makes sense, though right now I think the only user is the recovery server and if you have direct access to a costmap, this wrapper isn't really necessary

[2019-11-12 23:30] bpwilcox commented on #1028
It removes duplicated code for collision checking, so DWB could could use the `CollisionChecker` too

[2019-11-12 23:40] SteveMacenski commented on #1028
Then would you be removing the footprint and the costmap subscriber? That pretty much changes the structure of the code quite a bit more than just a constructor swap.

I agree in concept there's code that could be removed. I think the `marginal_utility / marginal_effort` to too low to expend the effort personally, but power to you :small_airplane:

[2019-11-13 02:41] shivaang12 commented on #573
@orduno is this still an issue? I can help if it is.

[2019-11-13 04:14] SteveMacenski opened #1351 "Move bt plugin registration into their respective headers"
Allow for single-file definition of a new BT node and plugin, I think that would fully check my box that the behavior tree is modifiable without requiring a hard fork. This has similar methods then with how we deal with pluginlib plugins.

https://github.com/ros-planning/navigation/issues/941

Ah, ye ol' bookmarks finally got me. Mixed up navigation1 and 2

[2019-11-13 13:52] SteveMacenski opened #1353 "Move nav2_msgs -> new repo"
Right now we have a bunch of duplicated messages in nav2_msgs that are in nav_msgs. Slowly I think we've been deleting them and homologating back, but we've hit the critical mass where we should just move entirely our messages to nav_msgs in common_interfaces.

Mostly filing to see if anyone has any objections to this. I think there's a world where we have some temporary messages as we're solidify

[2019-11-13 15:33] #1304 closed

[2019-11-13 15:34] #1168 closed

[2019-11-13 15:34] #1274 closed

[2019-11-13 15:36] SteveMacenski commented on #1033
I think this is the direction we have momentum in, its not worth changing at this point

[2019-11-13 15:36] #1033 closed

[2019-11-13 16:54] SteveMacenski commented on #1309
https://github.com/ros2/rcutils/pull/190

[2019-11-13 17:14] SteveMacenski commented on #573
This is still an issue, we're not 100% sure that its happening but from glancing over again, I'm about 80% sure it is.

Feel free to submit a PR

[2019-11-13 18:14] zachfang opened #1355 "Does nav2 costmap_2d currently support multiple obstacle layers?"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - ros-dashing-nav2-costmap-2d	0.2.6-1bionic.20191017.211223
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
YAML file used:
[code]

#### Expected behavior
The costmap should have two obstacle layers with separate observation sources and inflation layer inflates difference sensor r

[2019-11-13 18:50] mlherd commented on #1355
What robot do you use? Do you use Turtlebot 3 in Gazebo? Can you check if the point cloud messages are published?

[2019-11-13 19:05] zachfang commented on #1355
Hi @mlherd,
Thank you for checking on this. We are using a proprietary robot and the point cloud data is being published from the forward facing laser. The example I have is the above screenshot of the real robot in RVIZ that you can see the sensor is actually outputting data.

I can have one obstacle layer working by specifying `observation_sources` on the top level, however, we are trying to hav

[2019-11-13 19:26] SteveMacenski commented on #1355
Ditto on making sure the topics line up and transformations are available to get past the message filter. Make sure to build from source, our last sync was awhile ago and some work has occurred on the costmap side since then.

[2019-11-13 19:32] yathartha3 commented on #1355
@zachfang Try with 'data_type: PointCloud2' and same for laserscan

[2019-11-13 19:40] SteveMacenski commented on #1355
Aorry to pile on, but also check the QoS settings of your publisher if you see them publishing with transforms & the above suggestions.

Yathartha have you tested multiple layers before?

[2019-11-13 21:59] yathartha3 commented on #1355
@SteveMacenski I have tested with one obstacle layer, and one voxel layer. But not two obstacle layers.

[2019-11-13 22:03] SteveMacenski commented on #1355
Got time to do that today? If you see the issue, I bet its something stupid simple. If you don't, that at least lets us narrow down @zachfang problem to user-specific or debians.

I'd do it but I'm working from home today (and my home machine isn't 18.04 with ROS2)

[2019-11-13 22:10] zachfang commented on #1355
Hi @SteveMacenski and @yathartha3 I can get more screenshots for different yaml configurations shortly to show what I think is the problem. Basically, I think currently if you have multiple obstacle layers, they WILL share the same observation_sources because the code only reads the param on the top namespace (/local_costmap/local_costmap/observation_sources) but not the individual obstacle layer

[2019-11-13 22:28] SteveMacenski commented on #1355
I don't follow that logic.

The plugins are initialized here:
https://github.com/ros-planning/navigation2/blob/a227539ea9a9d979baa91e1139cbcf60499ad564/nav2_costmap_2d/src/costmap_2d_ros.cpp#L148

Being given their name, ei `obstacle_layer_2` and then the plugin initialization called here:
https://github.com/ros-planning/navigation2/blob/c530cd89eb2e23cd4e9928c9df9dcdf21eaa042a/nav2_costmap_2d/src

[2019-11-13 22:33] SteveMacenski commented on #1355
woah @yathartha3, not sure if this is the problem they're seeing, but there's a problem here

https://github.com/ros-planning/navigation2/blob/master/nav2_costmap_2d/plugins/obstacle_layer.cpp#L118

We have declared parameters in what looks like the wrong namespace. We declare `source + "." + "topic"` but then get `name_ + "." + source + "." + "topic"`.

So how the streaming in ROS1 worked is that

[2019-11-13 22:40] SteveMacenski commented on #1355
Correct. That should be removed.

Annnd you are correct. Ignore my first comment. That's 100% the issue.

[2019-11-13 22:40] zachfang commented on #1355
@SteveMacenski I found the branch I was reading is `dashing-devel` rather than `master`.
[code]
-> does make sense to me.

[2019-11-13 22:41] SteveMacenski commented on #1355
Yes, it looks like we're on the same page, I just caught that myself.

[2019-11-13 22:43] SteveMacenski commented on #1355
If you would submit a PR to dashing devel, we can fix that up.

Right now we've moved _so far_ ahead of dashing, its hard for us to cherry pick commits over from master (Eloquent) to Dashing.

[2019-11-13 23:00] zachfang commented on #1355
Thanks @SteveMacenski. Plan is to move to Eloquent for sure and I just want to make sure Nav2 will have multiple obstacle layers functionality in Eloquent. I can also help to address that if everyone's cycle is full.

[2019-11-13 23:01] SteveMacenski commented on #1355
I'm not sure many of us spend too much time thinking about the dashing branch. I think our unofficial stance on it is "fix it only when someone reports something horribly wrong".

[2019-11-13 23:31] yathartha3 commented on #1355
@zachfang @SteveMacenski so everything okay now?

[2019-11-14 00:27] #1335 closed

[2019-11-14 00:38] SteveMacenski commented on #903
Our discussions said to add a warning when the robot is off the costmap

[2019-11-14 01:46] zachfang commented on #1355
@yathartha3 Fine by me to close this issue. I will move to Eloquent to test and maybe submit a PR for multiple obstacle layers if it's not there yet. Thank you for all your help!

[2019-11-14 02:36] mlherd commented on #1333
@orduno #1249 is merged, so it should solve this issue.

[2019-11-14 02:56] #1355 closed

[2019-11-14 17:58] shivaang12 opened #1358 "Refactor navfn"
I understand that navfn is working properly and all. But I think that it's code is quite old as it is written in old c++ (< c++11) and now that in ROS 2 we can leverage the power of modern c++ we should refactor its code.

Also, there is some code which is not being used any where. Refactor can help reduced the code and that way we would have less code to maintain.

Let me know if you think the sa

[2019-11-14 18:02] SteveMacenski commented on #1358
I dont think that's a wise move. People have tried and failed (enter: `global_planner` in ros1). Its a huge and buggy project with not much marginal benefit. I'd agree if there was anyone that wanted to change the navfn library, but I think its not going to be modified ever again.

(plus I just scheduled 6 weeks in early 2020 to delete navfn and replace with hybrid A* with plugin motion models)

[2019-11-14 18:11] shivaang12 commented on #1358
Actually, I think replacing is fine too. Hybrid A* sounds cool already. Let me know if you need any help on that.

[2019-11-14 18:18] #1358 closed

[2019-11-14 19:15] fmrico commented on #1339
In the case of Navigate to pose, maybe this information should be provided by extending `nav2_core::LocalPlanner` with a method to get this information. Something like:

`void getFeedback(rclcpp::Duration * elapsed_time, float * distance_to_goal)` (better distance_to_goal instead of distance_traveled?
or
`std::tuple<rclcpp::Duration, float> getFeedback()`

and to implement it in dwb_core::DWBLocal

[2019-11-14 19:28] SteveMacenski commented on #1339
Well I think step 1 is: what are the metrics that would make sense for each task.

Step 2 is: how do we get those metrics.

Anything other than the metrics I posted that you'd want? I know most of those are knee-jerk and there's probably something more insightful than that available

[2019-11-14 20:02] #850 closed

[2019-11-14 20:05] mlherd opened #1359 "Publish more information about navigation tasks"
Calculate and publish more information using a custom message type. For example;

- Total length of the current path
- Estimated Time of Arrival
- Total distance traveled in the current path
- Total time spent on the current navigation task
- Task completion percentage
- Total distance traveled since launch
- Total travel time since launch

Feel free to give suggestions.

[2019-11-14 20:07] SteveMacenski commented on #1359
@mlherd is that not in the same vein as this? https://github.com/ros-planning/navigation2/issues/1339

[2019-11-14 20:18] mlherd commented on #1359
You are right they are very similar. Github issue search failed me this time :) I am moving my metric suggestions there then.

[2019-11-14 20:18] #1359 closed

[2019-11-14 20:30] mlherd commented on #1339
+ Estimated time of arrival
+ Task completion percentage
+ Path length
+ Number of performed recovery behaviors
+ Total distance traveled since launch
+ Total travel time since launch

[2019-11-14 20:38] SteveMacenski commented on #1339
Cannot be computed with current architecture. We're not using a time dependent planner. We could make a rough guess but it would be so rough I think it wouldn't have alot of direct value. But maybe I'm wrong -- would a really rough estimate be interesting to people?

For which of the actions?

Integrating this accurately isn't as trivial as it sounds and if we're replanning often, what's this tell

[2019-11-14 20:42] crdelsey opened #1360 "Disable TravisCI"
## Bug report

The Travis build now times out frequently, exceeding the 50 min limit. I tried reducing the number of tests it runs, but it even times out just doing the build step.

To continue using Travis, we either need to reduce the amount of code we build, or figure out how to cache build objects.

The question is, do we keep making Travis work or is it time to stop using it.

[2019-11-14 20:48] SteveMacenski commented on #1360
+1 for getting rid of it at this point

[2019-11-14 21:14] mlherd commented on #1339
I think ETA information can be useful in several different use cases.

- One robot: if the user knows how long the delivery of a package could take using a specific robot and the ETA is much later than what they can tolerate, they can cancel the navigation or use a different robot, etc.

- Multi-robot: Let's say there are several different robots in the building, ETA can be used when picking a rob

[2019-11-14 21:18] SteveMacenski commented on #1339
I was on board with this potential, but if those are the reasons, I'd say not to do it. That information is not what you should be doing for multirobot coordination or scheduling.

How would you calculate this? if you're replanning and have to go different routes, this is going to fluxuate wildly

Ok, but again, is the action caller really the right entity to be receiving that information? Moreove

[2019-11-14 21:33] shivaang12 commented on #1339
May be considering to make an interface, build on some basic feedback operation. Through this interface we can custom define the way we want to extract this information.

[2019-11-14 21:43] SteveMacenski commented on #1047
With BT plugins and the multiple controllers/planners this is done

[2019-11-14 21:43] #1047 closed

[2019-11-14 21:44] SteveMacenski commented on #1339
This is for a `.action`, we can't build an interface, its going to be hardcoded into a serialized message

[2019-11-14 23:30] SteveMacenski commented on #1360
Update name from discussion

[2019-11-15 00:43] mkhansen-intel commented on #1360
I just turned it off in the Travis settings. We shouldn't see it build any more. I think all that needs to be done is remove the status badge from the front 'README' page and optionally remove the .travis.yml file.

[2019-11-15 00:51] #973 closed

[2019-11-15 00:58] mkhansen-intel commented on #803
We discussed in the Nav2 WG and decided to go with approach 1) above, which is implemented in #1338.

Thank you everyone who contributed to the conversation.

[2019-11-15 01:18] SteveMacenski commented on #1125
I think this is probably an uphill battle not worth fighting.

Closing

[2019-11-15 01:18] #1125 closed

[2019-11-15 18:55] srsidd opened #1362 "Unable to build Navigation2 Dependencies"
## Bug report
I followed instructions from [the wiki](https://github.com/ros-planning/navigation2/blob/master/doc/BUILD.md). I did a src build of the latest ros2 from [here](https://index.ros.org/doc/ros2/Installation/Eloquent/Linux-Development-Setup/#linux-latest). Tried the `ros1_bridge`, and am able to send msgs back and forth, which leads me to believe my `ros2` installation is ok.. However I'

[2019-11-15 19:06] SteveMacenski commented on #1362
Try fresh using our script after sourcing /opt/ros/dashing:

https://github.com/ros-planning/navigation2/blob/master/tools/initial_ros_setup.sh

[2019-11-15 19:15] mlherd commented on #1339
After thinking about it I came to the conclusion that
- Is Navigation2 the correct place to calculate ETA? Probably not.
- Can we use the ETA information anywhere in Navigation2? I don't know. Maybe for informing the user.
- Should it be calculated at the application level then? Perhaps.

  - This metric would be hard to calculate accurately especially if the environment is dynamic, but if the env

[2019-11-15 19:22] mlherd commented on #1362
@srsidd did you set the rosdistro to eloquent
- rosdep install -y -r -q --from-paths src --ignore-src --rosdistro eloquent

[2019-11-15 19:30] srsidd commented on #1362
@SteveMacenski I'm using `eloquent` built from src. I will give the script a try.

@mlherd Yes, from my bash history I have `rosdep install -y -r -q --from-paths src --ignore-src --rosdistro eloquent`.

[2019-11-15 19:54] mlherd commented on #1362
@srsidd the build instructions should work too. I successfully built and tested everything last night.

The build fails because it can't find `/sensor_msgs/msg/camera_info.hpp`. It is part of `ros2/common_interfaces`. I would say make sure that you built ROS2 successfully and sourced your ros2 workspace.

[2019-11-15 21:41] #923 closed

[2019-11-15 22:04] SteveMacenski commented on #1339
So I think very rough ETA information could be useful, but it has to be with the understanding and framing to the user that its VERY rough and shouldn’t be relied against. Similar with % complete.

They’re interesting prototypes, but I don’t think we can casually include, that needs some real design discussion on how to do well and how its represented to a user.

I basically always assume every en

[2019-11-15 22:19] crdelsey opened #1363 "Planner and Controller server die with message - [PARTICIPANT Error] Type : sensor_msgs::msg::dds_::PointCloud2_ Not Registered"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - f80356380f765 (master from 2 days ago - Wednesday)
- DDS implementation:
  - FastRTPS

#### Steps to reproduce issue
Run the nav stack interactively or through the system tests. Cause "Clear Costmap" recoveries to happen

#### Expected behavior
Costmap gets cleared.

#### Actual behavior

Within a

[2019-11-18 08:11] lbegani opened #1366 "Nav2 bringup does not work with namespaced tb3 hardware"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Version or commit hash: 8c1a8e6e15a6b7ea52d32dc0a2e4abd70e4f9e12
- DDS implementation: Fast-RTPS

#### Steps to reproduce issue

[code]

#### Expected behavior
Nav2 should run without errors
#### Actual behavior
Error in running nav2 with namespaced tb3 waffle hardware
#### Additional information
The experiment is run with TB3 w

[2019-11-18 09:31] yathartha3 commented on #1363
This might be related to the voxel layer PR since we start using point cloud from that point on.

[2019-11-18 15:17] SteveMacenski commented on #1366
Feel free to submit a PR.

if they do something to breaks basic compatibility with this stack, someone who has an invested interest in the TB3 should work to resolve.

[2019-11-18 18:27] SteveMacenski opened #1367 "Incorrect behavior when navigating to current pose"
When you navigate to the current pose, or within the success criteria of the controller of the current position, rather than returning success it returns failure.

[code]

It should return success. This looks like a bug in the simple action server.

[2019-11-18 18:47] crdelsey commented on #1351
I'm not sure I understand this. Are you wanting to get rid of the .hpp files and move their contents into the .cpp file? For instance, the `SpinAction` class definition in spin_action.hpp could be moved to the spin_action.cpp file and we could get rid of the header.

[2019-11-18 18:49] crdelsey commented on #1353
I'm OK with this. What about the nav_2d_msgs as well?

[2019-11-18 18:52] #827 closed

[2019-11-18 18:56] crdelsey commented on #111
This looks good, but is missing a few connections I think. /map should go to nav2_planner, and /scan should go to nav2_planner and nav2_controller.

It should be possible to use `rqt` to auto-generate the graph.

[2019-11-18 19:24] SteveMacenski commented on #1353
That's been completely isolated to DWB, I think that should just stick where it is.

[2019-11-18 19:25] SteveMacenski commented on #1351
Yes, see PR

[2019-11-18 19:25] #789 closed

[2019-11-18 19:27] SteveMacenski commented on #111
I think its missing quite a bit. It doesn't actually show any structure behind the project.

BT Nav connects to planner / controller / recovery and each of those load maps of plugins.

Topics also as @crdelsey says. I don't think Lifecycle or map server should be given

[2019-11-18 20:49] shivaang12 commented on #111
@crdelsey This is the rqt_graph. I agree that above diagram is missing quite a bit. Was trying to confirm if it aligns to what @SteveMacenski  was referring earlier as "rqt" type diagram. I think now I have a good picture about what to do.

![rosgraph](https://user-images.githubusercontent.com/9318164/69091020-6dbf4a80-0a17-11ea-92cf-4bb20052e0f3.png)

[2019-11-18 20:51] SteveMacenski commented on #111
@mkhansen-intel can you just post that slide for us?

[2019-11-18 21:04] #1360 closed

[2019-11-18 21:58] #573 closed

[2019-11-18 22:21] crdelsey commented on #1289
@SteveMacenski Does #1298 fix this? Can we close?

[2019-11-18 22:22] SteveMacenski commented on #1289
No. #1298 wasn't merged.

The action clients need to be registering callbacks or using lambdas to get their result and feedback and not polling a future spin.

[2019-11-18 22:36] SteveMacenski commented on #958
With the plugins I think this is done now.

Still some that can be done to reduce the redundancy in some respects but its not enough to keep a ticket open for

[2019-11-18 22:36] #958 closed

[2019-11-18 22:37] crdelsey commented on #1367
How often do you see this? How do you reproduce this?

[2019-11-18 22:42] mkhansen-intel commented on #1367
Can you post more of the log? This doesn't make sense by itself. There's no global planner output here, did the global_planner output a path? How did we get to the recovery behavior at all?

[2019-11-18 23:09] SteveMacenski commented on #1367
That's all the log there is, I didn't clip anything.

I see this every time. Reproduce by just having it go to its current position in a navigate command

[2019-11-19 00:32] SteveMacenski commented on #1346
After some thought @mlherd I think you should add a default map and world to one of these maps. I think leaving CI as it is for now is fine, but as we build more CI tests we migrate to it as well.

[2019-11-19 00:41] SteveMacenski commented on #1330
@crdelsey

How about:
Planner_plugin_name & planner_id (or and then controller_plugin_name & controller_id) where the plugin name is the registered plugin name & the ID is the masked name for the BT.

Pluginlib naming convention has ‘type’ as the registered name and ‘name’ as the masked name, so this still isn’t homologated with that but makes the servers at least more readable.

The properties na

[2019-11-19 05:11] mlherd commented on #1367
I am not so familiar with this part of the stack, but I guess somewhere in [simple_action_server](https://github.com/ros-planning/navigation2/blob/46b329571d3b9f9a60bf9da7158bcdfa64992f23/nav2_util/include/nav2_util/simple_action_server.hpp)  when there is a request for goal acceptance, the [isGoalReached()](https://github.com/ros-planning/navigation2/blob/ea0524fb6a75b9ab8f113556ff5d6e492fab6e0c/

[2019-11-19 05:57] mlherd commented on #1346
Ok. I will test one these worlds/maps and submit a PR sometime this week then.

[2019-11-19 06:15] rafaelhuang-intel opened #1369 "Navigation2 Dependencies build fail"
I followed instructions from the github (https://github.com/ros-planning/navigation2/blob/master/doc/BUILD.md) to build navigation2, ros2 source code is  build success. However I'm having trouble building navigation2.
## Bug report

**Required Info:**

- Operating System:
  - ubuntu 18.04
- Version or commit hash:
  -
- DDS implementation:
  -

#### Steps to reproduce issue

[code]

#### Expected

[2019-11-19 07:22] mlherd commented on #1369
- try fresh build
  - make sure .bashrc is clean and ROS2
  - get the lastest ROS2 packages (master branch)
  - build ROS2_master
  - source setup.bash in ROS2 workspace
  - run `rosdep install -y -r -q --from-paths src --ignore-src --rosdistro eloquent` in both navigation2_ws and nav2_dependencies_ws.
  - build nav2_dependencies_ws
  - source nav2_dependencies_ws/install/setup.bash
  - build navi

[2019-11-19 07:33] rafaelhuang-intel commented on #1369
@mlherd
My fail is Navigation2 dependence, not navigation2, fail package is camera_calibration_parsers, this package include image_common.

I tried below step, but still fail,

[2019-11-19 07:57] mlherd commented on #1369
How did you do all that in 10 minutes? :)

I just build the camera_calibration_parsers package to test it. I am have ROS2 master from 2 days ago.

![test](https://user-images.githubusercontent.com/12270197/69127427-1349dc80-0a5f-11ea-9938-90b923c5ec9a.png)

[2019-11-19 08:08] rafaelhuang-intel commented on #1369
I clean work space and tried again, still fail

intel@intel-desktop:~/ros2_nav_dependencies_ws$ source ~/ros2_dashing/install/local_setup.bash
intel@intel-desktop:~/ros2_nav_dependencies_ws$ colcon build --symlink-install --packages-select camera_calibration_parsers
Starting >>> camera_calibration_parsers
--- stderr: camera_calibration_parsers
/home/intel/ros2_nav_dependencies_ws/src/image_common/

[2019-11-19 08:10] rafaelhuang-intel commented on #1369
@mlherd
what's the ROS2 repo you use it? dashing? eloquent?

[2019-11-19 08:19] mlherd commented on #1369
I have ROS2 master from two days ago.

[2019-11-19 08:21] rafaelhuang-intel commented on #1369
@mlherd
got it, I re-build ROS2 core and try again.

[2019-11-19 08:25] mlherd commented on #1369
ok let me know if it still doesn't build. I will try to build nav2_depend using ROS 2 Dashing tommorow.

[2019-11-19 15:13] SteveMacenski commented on #1369
I’d recommend cleaning the ros2 workspace and rebuilding everything. I do this about monthly to keep up with the changes

[2019-11-19 15:14] SteveMacenski commented on #1367
Careful on language, it shouldn’t reject, it should succeed.

[2019-11-19 16:52] SteveMacenski commented on #111
![D7FD9D3E-F061-46F5-BC9F-28F800434D98](https://user-images.githubusercontent.com/14944147/69167311-9abc3d80-0aa9-11ea-9534-abd161a6983a.jpeg)

See above. This is what I’m thinking. Closer in line with how the move base diagram was laid out. A UML as well wouldn’t be bad, but that’s too in the weeds I think for a first (or even 10th) look at the stack.

This would be color coded by optional inputs

[2019-11-19 17:18] mlherd commented on #1362
@srsidd were you able to build Navigation2?

[2019-11-19 18:24] crdelsey commented on #1367
FYI. We discussed possible causes yesterday. It's possible that #1371 will also fix this. I'm gonna test soon.

[2019-11-19 19:35] crdelsey commented on #1363
You are correct. If I disable the voxel layer, this seems to go away.

[2019-11-19 19:43] crdelsey commented on #1367
I don't see this problem if I run the behavior tree in #1371.

I believe the problem is, when you say nav to the current location, the "GoalReached" condition node in the behavior tree responds with true, preventing the ComputePathToPose node from ever running and producing a path. Then FollowPath is told to follow an empty path and fails.

[2019-11-19 19:58] SteveMacenski commented on #1367
Did you confirm it before doing in 1371? Happy to close when that’s in then.

[2019-11-20 01:04] crdelsey commented on #1367
No. I'm not able to reproduce what you see exactly. I either get a Navigation success or a controller server crashes.

Controller server crashes for me because we end up sending a path with 0 poses, I believe.

[2019-11-20 01:17] SteveMacenski commented on #111
![image](https://user-images.githubusercontent.com/14944147/69200585-6c158580-0af0-11ea-83ce-ac25ff9e575f.png)

thoughts? still in the works but... actually legible :rofl:

[2019-11-20 01:18] SteveMacenski commented on #1367
That's probably not good that DWB can't handle that condition

[2019-11-20 02:32] rafaelhuang-intel commented on #1369
@mlherd @SteveMacenski
when I checkout ROS2 repo from dashing to master, clean, sync , re-build code again, this issue disappear.

[2019-11-20 02:33] #1369 closed

[2019-11-20 02:39] mlherd commented on #1362
@srsidd you can check the recommended steps at #1369 which is a build failure issue for the same package.
I close this issue but feel free to reopen this issue if you still can't build the stack successfully.

[2019-11-20 02:39] #1362 closed

[2019-11-20 04:37] SteveMacenski commented on #1353
@crdelsey on naming, how attached to you are `ComputePathToPose` vs `ComputePath`?

The `ToPose` seems too much information to me. The `FollowPath` isn't `FollowPathToPose`.

[2019-11-20 04:49] SteveMacenski opened #1373 "Controller and Planner action server names CamelCase when should be snake_case"
The action servers for the planner and controller are named after the messages and not according to the rest of the servers and convention.

We have `NavigateToPose` when it should be `navigate_to_pose`. As well as compute path and follow path.

This came up as I was making documentation. @mkhansen-intel @crdelsey any issues with changing this real fast?

[2019-11-20 05:06] SteveMacenski commented on #111
Version with more information (I think I'm happy with this one, plus or minus color scheme)

![diagram](https://user-images.githubusercontent.com/14944147/69210682-66c83300-0b10-11ea-9666-6c1fbf15d8e4.png)

[2019-11-20 05:46] mlherd commented on #111
Looks very good to me. What about odom?

[2019-11-20 05:57] mlherd commented on #111
this is I belive what Matt used for ROSCon.
<img width="541" alt="nav2" src="https://user-images.githubusercontent.com/12270197/69212938-81ea7100-0b17-11ea-9e15-da8b18ddc70f.PNG">

[2019-11-20 06:00] SteveMacenski commented on #111
What about it? its not really a substantial element. REP-105 provides me the transforms I need in TF that replaces the use of the odom topic in 95% of cases.

[2019-11-20 06:02] SteveMacenski commented on #111
I had that on a list of comments as well. I decided against it since the message types I show include the `/msg/` and `/action/` but still not necessarily sold one way or another. Especially considering that everything here is an action except the arrows on the sides

[2019-11-20 06:15] SteveMacenski commented on #111
Didn't even think about this - but all the action servers have double sided arrows (except for waypoint follower, which I can and should change) so the key could just that to separate actions vs topics.

If you also have thoughts on how to include the `ComputePathToPose` and `FollowPath` cleanly, I'd love to have those included but was alot of letters for a small space

[2019-11-20 06:17] mlherd commented on #111
Also the sensor data can be used by both controller server and planner server. + Is it worth mentioning the param file?

[2019-11-20 06:34] mlherd commented on #111
Just an idea.

<img width="710" alt="Capture" src="https://user-images.githubusercontent.com/12270197/69214757-9d0baf80-0b1c-11ea-9039-a3af88676803.PNG">

[2019-11-20 06:44] mlherd commented on #111
Since the /odom is used by DWB, I just wanted to know why you didn't include it. I aggree that the graph should be as generic as possible. Now, it makes sense why you didn't include map server and amcl to the picture.

[2019-11-20 07:03] mlherd commented on #111
I think the arrows should touch the shapes. In my opinion, that will make it easier to see where the arrows go and where exactly they come from. for example, the behaviour tree arrow should touch the bt navigator server shape, and cmd_vel should touch controller server etc
.

[2019-11-20 13:07] shivaang12 commented on #111
I thought lifecycle manager should be included as it is the core thing in our stack. But this looks generic and useful for a newbie to understand the core operations. I agree with @mlherd about the arrows.

[2019-11-20 13:43] shivaang12 commented on #40
Is someone working on this?

[2019-11-20 16:08] SteveMacenski commented on #111
Comments in order:

It is true, sensor data is in each costmap. Thoughts on how to make that look nice?

I can live with the actions key you suggest, good add!

I think from looking at it the slight arrow offset from the box is clearly indicating what its pointing to in particular, but I also made it so I’m clearly biased. Anyone else feel its ambiguous?

The lifecycle manager is just going throug

[2019-11-20 16:16] SteveMacenski commented on #40
Slowly, there’s alot of long standing background tasks that move at glacial speeds. I just finally got all the ROS2 PRs merged into mainline after possibly the longest code review in history (thanks @klintan for sticking with me).

Next steps are to look at Rover’s fork and see if there’s anything worth adding or just different, thoroughly test, and deploy with bloom.

[2019-11-20 17:50] mlherd commented on #111
<img width="784" alt="Capture" src="https://user-images.githubusercontent.com/12270197/69263911-1fc35780-0b7b-11ea-8ce0-0a75113359f8.PNG">

[2019-11-20 17:54] srsidd commented on #1362
@mlherd Sorry abt the delay, I couldn't get to this till today. I was able to build the navigation stack and the `turtlebot3_ws` without any errors. I think it had something to do with the way I was sourcing my workspaces, (I have multiple ros1 overlays, and I think the env variables were fighting with each other). If I can find something more concrete, I will post it here.

[2019-11-20 19:08] SteveMacenski commented on #111
![image](https://user-images.githubusercontent.com/14944147/69269484-f52acc00-0b85-11ea-89ac-a23f9e19f1f0.png)

Intermediate. Still working out what I want to do with sensor data. I like having the "ins" and "outs" being on the same axis and the auxiliary things on another axis.

[2019-11-20 19:20] SteveMacenski commented on #111
![image](https://user-images.githubusercontent.com/14944147/69270412-bbf35b80-0b87-11ea-8612-922dcb0e3e81.png)

Ok. Ready for another round of thoughts.

[2019-11-20 22:19] #1330 closed

[2019-11-20 23:09] crdelsey commented on #1373
Are you referring to the class name like here?
https://github.com/ros-planning/navigation2/blob/5fe111a9d65d4d64d2f1f328559b21def159655e/nav2_behavior_tree/include/nav2_behavior_tree/navigate_to_pose_action.hpp#L30

Or the name given to the node that gets used in the behavior tree?
https://github.com/ros-planning/navigation2/blob/5fe111a9d65d4d64d2f1f328559b21def159655e/nav2_bt_navigator/behavior_