[2019-11-20 23:13] SteveMacenski commented on #1373
I'm referencing the actual action server name `/NavigateToPose` rather than `/navigate_to_pose`

Do a ros2 topic list and a ros2 service list, you'll see that the interfaces are supposed to be snake case

[2019-11-20 23:23] #111 closed

[2019-11-20 23:31] crdelsey commented on #1373
Ah. I see. I've got no objection.

[2019-11-20 23:35] mlherd commented on #111
It look cool on the main page :)
IMO, what the arrows that are between the planner server, the controller server and the recovery server mean is a little bit unclear in the diagram

[2019-11-20 23:45] crdelsey commented on #1353
I can see someone wanting to compute other types of paths. They could have a ComputePathToCoverArea, ComputePathToNearestPub, etc. We may never integrate it into the nav stack, but we wouldn't conflict with them.

I think it's slightly preferable to be specific, but I'm not strongly attached. I'll ping the others here and see how they feel.

FollowPath is a different. We don't really FollowPathToP

[2019-11-21 00:18] SteveMacenski commented on #1353
You’re going the opposite direction than I intended. I want shorter, cleaner names. Not longer

[2019-11-21 00:36] crdelsey commented on #1366
I think you just need to do a clean build. This library `libnav2_behavior_tree_nodes.so` no longer exists. The code shouldn't be referring to it.

[2019-11-21 00:42] SteveMacenski commented on #1333
Has this been brought to conclusion?

[2019-11-21 00:51] SteveMacenski commented on #1182
Closing- I think we’re just leaving to status queue

[2019-11-21 00:51] #1182 closed

[2019-11-21 00:58] SteveMacenski commented on #1110
Anyone taking ownership of this?

[2019-11-21 02:12] SteveMacenski opened #1379 "Additional Tests in Stack Metaticket"
We have a number of tickets scattered describing tests needed, I'd rather have one-stop-shop for all those and close those tickets so that when someone gets an inkling to write some tests, its all in one place. It also cleans up the tickets and groups related work. Since these are more "requests" than bugs or immediate requirements, I suspect these might hang around for awhile.

- [ ] Add lifecycl

[2019-11-21 02:13] #1320 closed

[2019-11-21 02:13] #1302 closed

[2019-11-21 02:13] #1218 closed

[2019-11-21 02:13] #1205 closed

[2019-11-21 02:13] #539 closed

[2019-11-21 02:13] #443 closed

[2019-11-21 02:19] SteveMacenski commented on #1373
@crdelsey do you prefer if I change the XMLs to be snake_case, or change the constructors to take in an action name and separately the XML tag to use?

[2019-11-21 02:20] SteveMacenski commented on #1353
I think these are still actually in enough flux that I think its worth keeping them separated for the moment. I think in a release or two when we've definitely settled on something and have more users we can re-evaluate.

I think for now, the action item is to change all the uses of `nav2_msgs` to their `nav_msgs` counter part when possible (costmap metadata, etc)

[2019-11-21 02:22] SteveMacenski commented on #1373
@shivaang12 if you're looking for another small task, this is another good candidate to get yourself familiar with the behavior tree stuff

[2019-11-21 04:57] SteveMacenski commented on #1363
Does this appear outside of fastRTPS? I suspect this is a RMW layer bug since this is happening on a layer reset which is unsubscribing and resubscribing, clearly the message did at one point exist.

[2019-11-21 04:59] SteveMacenski commented on #1363
Does this appear outside of fastRTPS? I suspect this is a RMW layer bug since this is happening on a costmap layer reset which is unsubscribing and resubscribing to a topic quickly, clearly the message did at one point exist.

@JaimeMartin does this look like something lower in the stack?

[2019-11-21 05:00] SteveMacenski commented on #1317
@yathartha3 any update here? I see you self-assigned

[2019-11-21 19:49] yathartha3 commented on #1317
@SteveMacenski Hadn't really worked on it. I will write it up this week, or by monday and submit a PR.

[2019-11-21 20:20] SteveMacenski commented on #1317
No, just trying to see if I poked the bear if it would get done faster ;-)

[2019-11-21 21:56] yathartha3 commented on #1363
<details>
[code]

@crdelsey I still see this after deleting the voxel layer plugin name, and the voxel layer params.

This is triggered mostly if you do the following:
- Give a goal pose to navigate
- Drop an obstacle on its path right in front of the robot
- repeat 2-3 times

[2019-11-21 22:36] mlherd commented on #1363
I can reproduce this issue if I drop an obstacle in Gazebo very close to the robot while the robot is navigating.

I tested it without enabling the voxel layer.

[2019-11-21 23:08] #1351 closed

[2019-11-22 22:03] #1301 closed

[2019-11-22 22:03] #1307 closed

[2019-11-22 22:11] SteveMacenski opened #1387 "Reachitect Behavior Tree / Nodes"
The behavior tree has some problems, outlined in #1371

I think there needs to be a design discussion about things we want to be able to accomplish and the needs of robots using this in the real world.

In particular, planning should not be allowed to run over, it needs to have a cut off. The controller and planner need contextual recoveries (possible in current land) but recovery state needs to b

[2019-11-22 23:37] #903 closed

[2019-11-22 23:38] #1239 closed

[2019-11-22 23:42] SteveMacenski commented on #1309
RCUtils is merged.

[2019-11-22 23:42] #1309 closed

[2019-11-23 01:19] crdelsey commented on #1207
This would be nice to have, but should probably be part of a package outside the nav stack. Closing.

[2019-11-23 01:19] #1207 closed

[2019-11-23 01:25] crdelsey commented on #1373
I think the latter as well. That way they can be namespaced if someone wants to have mutliple different actions of the same type.

[2019-11-23 02:18] SteveMacenski commented on #1373
It is already implemented @crdelsey

[2019-11-23 02:29] #1258 closed

[2019-11-25 00:34] SteveMacenski opened #1389 "Default SLAM(s) For ROS2"
Per some discussions with the TSC, we're moving this discussion into Navigation.

We need to come up with a default option that's well supported for ROS2. From the discourse thread and additional conversations at ROSCon, I propose the following as the 3 major options

- Cartographer
- SLAM Toolbox
- LaMa

Each of these has their pros and cons.

Cartographer:  Apache 2, Lots of community traction,

[2019-11-25 16:01] artivis commented on #1389
I essentially agree with @SteveMacenski and, in the given context, vote for `SLAM Toolbox` because it is karto ('it just works') with goodies.

My only remark is that I wouldn't 'officially' provide/support 2 SLAM implementations for the reason that it pledges ROS 2 (maintainers, community etc) in to a lot of efforts. We better support one, do it well, and advertise other packages has 'community-p

[2019-11-25 17:23] SteveMacenski commented on #1389
A followup question since I wasn’t involved circa 2011 when these are made:

Is the reason they weren’t “fully supported” because of duplicate efforts or just complete lack of any efforts? From my experience in the last 6 years, neither has had any support and I don’t believe that would have changed any even if there were only 1. Moreover, little maintenance is a fair claim, but both have very sma

[2019-11-25 18:56] #1333 closed

[2019-11-25 19:06] crdelsey opened #1390 "Pull GoalChecker plugin out of DWB"
## Bug report

## Feature request

#### Feature description
There is currently a "isGoalReached" method in the controller plugin interface. DWB implements this method by loading a "GoalChecker" plugin and passing the parameters through to the plugin with virtually no change.

There is nothing about the "GoalChecker" plugins that is DWB specific, so it makes sense to pull them out and load the Goal

[2019-11-25 19:51] SteveMacenski commented on #1390
Its also possible we do both, where there is a controller level process and goal checker for local control level and correspondingly from a task level perceptive.

[2019-11-25 20:41] crdelsey commented on #1390
- If we put it in the BT navigator, I'm thinking it would be like the existing "GoalReached" condition node ... in other words, it would just do the transforms it self to get current pose, and also do the math itself to determine if we've reached the goal. No need for a service call.

- I was thinking bad things would happen if BT navigator failed to cancel the action when the goal was reached (eg

[2019-11-25 20:55] SteveMacenski commented on #1390
That really should never happen. I know back a year ago when things were less... usable that was a concern, but it shouldn't be anymore. I don't know how we can accomplish anything if we assume there's going to be lost service or action calls.

Is GoalReached doing a service call? I've never looked at it. Yeah it should just have some rotation and position tolerance. I think adding those plugins t

[2019-11-25 22:07] crdelsey commented on #1367
@SteveMacenski #1371 is integrated. Can you confirm this is fixed?

[2019-11-25 22:42] SteveMacenski commented on #1373
Its already done - why assign me?

[2019-11-25 22:43] SteveMacenski commented on #1367
I will not be able to get to it before the new year

[2019-11-25 23:50] SteveMacenski opened #1391 "Potential Migration to QMCL from AMCL"
There's an on-going discussion here (https://github.com/VorpalBlade/quickmcl/issues/15) about potentially moving away from the software package that implements an MCL, AMCL, to another, QuickMCL (QMCL?).

Benefits are
- More permissive licensing (probably)
- Better structured software
- Lower memory footprint
- Scales linearly (vs o(n2)) with number of particle

Drawbacks
- Quite a bit of work to

[2019-11-26 10:47] lbegani commented on #1366
@SteveMacenski @crdelsey I am able to fix this issue by creating a new launch file that includes  nav2_bringup_launch file and calls PushRosNamespace action. Have tested it on simulation, shall test on hardware and create a PR for the same.

[2019-11-26 18:27] #1325 closed

[2019-11-27 03:26] SteveMacenski opened #1395 "Replan immediately on plan invalidation"
Right now we only replan on the 1hz cycle.

Imagine you have a robot moving at 4 m/s. Within 1 second a new plan out be computed 4 meters later. If someone is 6 meters away when that happens, the replan will be extremely evasive and not appear to be going around the person until the last moment. If any closer, then the local planner would fail to compute a plan and immediately stop from 4m/s abrup

[2019-11-27 03:27] SteveMacenski commented on #1390
Another note, this work shouldn't just be the goal checker, it should be the progress checker too. These are both generic things that should be pulled out at the same time and exposed.

[2019-11-27 14:26] srsidd opened #1396 "Inconsistency in tutorials\documentation"
Sort of related to #980. While getting started on the nav stack, I used instructions from [doc/build.md](https://github.com/ros-planning/navigation2/blob/master/doc/BUILD.md). Once completed, the tutorial redirects me to [nav2_bringup/readme.md](https://github.com/ros-planning/navigation2/blob/master/nav2_bringup/bringup/README.md). However that documentation is not as thorough\complete as what I

[2019-11-27 19:49] mlherd commented on #1396
PR #1393 is going to update and move the build instructions to Github Pages. There is a link to the doc/tutorials in it but I am moving the tutorials to the website as well.

Starting from Eloquent release, the plan is to start using Github Pages instead, so there may be some readme files in the repo but probably no instructions and tutorials. Github pages is under construction [Navigation2 Docume

[2019-11-27 21:20] crdelsey commented on #1387
The behavior tree is polling at a rate by its very nature. We can increase the rate to high levels (I'm not sure how high we can go). If that's not acceptable, then we can't use behavior trees. However, it seems likely that for any given workload, there is a tick rate that is fast enough.

[2019-11-27 22:15] #1373 closed

[2019-11-27 22:18] SteveMacenski commented on #1387
Then maybe behavior trees arent the appropriate technology choice to handle the planning and recovery states.

I don’t view this feature as optional, its required for safety and reliability of systems that arent just running a TB3 at 0.2m/s. Any amount of speed or any amount of large spaces is going to make the behavior tree as it currently sits unusable

[2019-11-27 22:34] SteveMacenski commented on #1387
#1395 related with more context on the replanning/invalidation. the system needs to be safe with any replanning rate (or no replanning at all, which is a totally valid way to go when there's not alot of moving stuff in your environment).

It seems like there's some capabilities that are really hard to implement in the existing set of plugins and base classes, but I don't see anything about the the

[2019-11-28 01:11] mlherd opened #1397 "Critical Error: Robot performs unexpected recovery behaviors when navigating in the kitchen"
![turkey](https://user-images.githubusercontent.com/12270197/69768761-bd4bf780-1136-11ea-9b6f-5fde0dd45f57.gif)

## Bug report

**Required Info:**

- Operating System:
 Ubuntu 18.04

- Version or commit hash:
  ROS2 Eloquent
  Navigation2 Master

- DDS implementation:
  Fast-RTPS

#### Steps to reproduce the issue
Send a turkey robot to the kitchen

#### Expected behavior
Navigate to the kitchen a

[2019-11-28 02:18] SteveMacenski commented on #1397
I think its a namespacing issue, your `turkeybot` should be `apathetic_cat` and I think you should be good.

If not, try with cyclonedds and tag @joespeed in the greetings.

[2019-11-28 02:46] mlherd commented on #1397
![turkey_burger](https://user-images.githubusercontent.com/12270197/69772874-06577800-1146-11ea-8b33-3220c09d9dea.png)

It is a turkey on a TB3 Burger robot.

If anyone wants to do tests with the model -> [turkey_burger.zip](https://github.com/ros-planning/navigation2/files/3899584/turkey_burger.zip)

[2019-11-28 15:42] mkhansen-intel commented on #1387
This is a very long thread, however I think that if this boils down to the two bullets listed:

I think those are solvable. For example, we can push some of the looping logic for the replanning down from the BT into the planner_server node. We can also add ability for the controller_server to call the "compute_path_to_pose" action directly when a path is invalid. And for the recoveries, we're alre

[2019-11-28 15:48] mkhansen-intel commented on #1395
As I commented in #1387. I think this is solvable.
1. the looping rate can already be adjusted easily via the behavior tree XML (that's why we put it there)
2. If that is insufficient, we can push the looping logic down into the planner_server
3. We can add ability to request a new plan via to the controller_server if needed
4. We can retry planning before trying recoveries

Let's talk in the Nav2

[2019-12-02 18:59] crdelsey opened #1399 "Circle CI tests sometimes use wrong cache key to restore overlay_ws"
## Bug report

Frequently Circle CI reports a test failure on the release or debug build while the other passes. Here is an example:
https://circleci.com/workflow-run/52ce72ee-bb06-4184-9924-96b52b2ded4b

Notice in this example that the `release_build` passed but the `release_test` failed. The test failure seems to be a result of the `restore_cache_overlay_ws` step which reports

[code]

This is n

[2019-12-02 19:38] srsidd commented on #1396
Ah, I missed that PR. I'll wait for that to get merged, and then clean it up (if required). I'd rather wait and make sure I'm not duplicating effort\complicating things more.

[2019-12-02 19:40] SteveMacenski commented on #1396
@srsidd if you have some concerns, please review @mlherd PR so that your issues can be reflected soon.

We're pushing the Eloquent release this week so this is your last call to get changes in for the distribution

[2019-12-02 20:00] crdelsey commented on #1396
I'd say the intent is to move user documentation to the Github Pages docs. It looks so much nicer there and is easier to navigate. I think each package should still have a readme, but it is focused more on documentation for developers.

I'd say it's more a case of neglect due to focusing on other issues. I believe we want separate simple build instructions with add-ons or some such thing for more

[2019-12-02 20:02] #803 closed

[2019-12-02 21:15] ruffsl commented on #1399
The source of any cache break can be debugged by diffing the `checksum.txt` artifacts between jobs. Comparing the overlay `checksum.txt` files:

* https://6486-135363400-gh.circle-artifacts.com/0/opt/overlay_ws/checksum.txt
* https://6489-135363400-gh.circle-artifacts.com/0/opt/overlay_ws/checksum.txt

We can see the following first delta is the cause for the break in cache key change:

[code]

@c

[2019-12-02 22:22] #1316 closed

[2019-12-02 22:52] crdelsey commented on #1399
Depends on the package. Most just use a branch name. The only exception is the behavior tree library which uses a release tag.

[2019-12-02 22:54] crdelsey commented on #1399
Those two versions are the same; 1.12.1 is a release tag on 60cdaa

[2019-12-02 23:17] crdelsey commented on #1399
It seems like a bug in `vcs`. The docs say if `--exact` is specified it should output the SHA hash. Instead it's outputting tags.

It looks like this block of code looks if a tag exists and reports that instead.

https://github.com/dirk-thomas/vcstool/blob/ca86a2699c8b23b3cfadf565e54d3f1bc44528dc/vcstool/clients/git.py#L149-L175

It must be occasionally failing. It depends on the network, I believ

[2019-12-02 23:41] crdelsey commented on #1399
I filed issue https://github.com/dirk-thomas/vcstool/issues/109 to report this. I think it should be an easy fix if Dirk agrees to this behavior.

[2019-12-02 23:55] mlherd opened #1401 "bt_navigator crashes after reaching a goal pose"
<details>
   <summary>Terminal Logs All </summary>

[code]

</details>

<details>
   <summary>Terminal Log Simplified (No warning messages) </summary>

[code]

</details>

## Bug report

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - Built from source (master-branch)
  - Commit: 533044db0b661dfdac2578a656a7e6dc960a155b
      - update dwb plugin pkg readme (#1380)

- DDS impleme

[2019-12-02 23:58] SteveMacenski commented on #1401
That’s no bueno. In general can we replace all exceptions with warnings? We absolutely don’t want things crashing, log inconsistent states or we need to guarantee that all exceptions are being handled

[2019-12-03 00:10] mlherd commented on #1367
I just tested this. This is still an issue.

<details>
    <summary> Terminal Log </summary>

[code]

</details>

[2019-12-03 00:15] mlherd commented on #1397
Closing this issue since I can't reproduce it anymore. However, please feel free to reopen it, if you still have this issue :)

[2019-12-03 00:15] #1397 closed

[2019-12-03 00:39] mlherd opened #1402 "Navigation fails even though the robot reaches the goal"
<details>
  <summary>Terminal Log </summary>

[code]

</details>

![nav_fail_reached_goal](https://user-images.githubusercontent.com/12270197/70006491-375af280-1522-11ea-9486-74977491196d.gif)

## Bug report

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - Built from source (master-branch)
  - Commit: 533044db0b661dfdac2578a656a7e6dc960a155b
      - update dwb plugin pkg readme

[2019-12-03 00:48] mlherd commented on #1401
I don't have a strong opinion on this. Maybe this could be a working group discussion "**replace all exceptions with warnings**".

[2019-12-03 01:24] SteveMacenski commented on #1401
Well I know that’s not a popular opinion in this group- just bringing up “hey this is a case that would help”.

Trying to compile with gdb and make it happen again to get a trace...

[2019-12-03 01:26] SteveMacenski commented on #1367
You sure its not just a special case of #1402 ?

[2019-12-03 02:42] mlherd commented on #1367
I am not sure. It quite is possible. It is hard to tell why navigation fails since it returns Navigation Failure almost for any goal pose. However, I have seen it printing success a a few times (~1 in 10) after sending the robot's current pose as its goal pose.

[2019-12-04 00:49] bpwilcox opened #1404 "Robot still bumping into obstacle during spin recovery"
## Bug report

**Required Info:**
- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - master
- DDS implementation: Fast-RTPS
  - Fast-RTPS

#### Steps to reproduce issue
- add an obstacle near robot in gazebo simulation (close enough such that a spin movement would hit the obstacle)
- trigger spin recovery

#### Expected behavior
- robot will stop executing spin before it hits obsta

[2019-12-04 00:57] bpwilcox opened #1405 "Use collision checker in Dwb"
Currently, the collision checker code is refactored from the obstacle footprint critic in dwb in order to allow for collision checking on remote nodes via the costmap and footprint topic. It would be good remove the duplicate code and have dwb use the collision checker itself.

Since the collision checker currently relies on the costmap subscriber and footprint subscriber, there could be an overlo

[2019-12-04 03:05] SteveMacenski commented on #1404
unless they were in the minimum distance so they weren't considered. Not all rays are valid. https://github.com/ROBOTIS-GIT/turtlebot3_simulations/blob/master/turtlebot3_gazebo/models/turtlebot3_burger/model.sdf#L109

[2019-12-04 19:07] shivaang12 commented on #1366
I am getting this error without providing the namespace. Is someone happen to know the problem?

[2019-12-04 21:00] SteveMacenski commented on #1289
https://github.com/ros-planning/navigation2/pull/1406

[2019-12-04 22:22] crdelsey commented on #1289
So near as I can tell, these are the commits that went in between before the merge of #1384.  Presumably, one of these needs to be the conflict that change.
[code]

I suppose it's also possible an upstream change conflicts with this. I guess to prove or disprove this, we could recreate the PR with the original branch. It should pass. Then, if we rebase the branch it should fail if the conflict is

[2019-12-04 22:26] bpwilcox opened #1409 "Create shared_from_this for nav2_util::LifecycleNode"
Throughout the stack shared pointers of the lifecycle nodes are being passed through functions and objects, somewhat recklessly and inconsistent. There doesn't appear to be any consistent behavior passing a `rclcpp_lifecycle::LifecylcleNode::SharedPtr` vs the `nav2_util::LifecycleNode::SharedPtr`, however in either case, only a shared ptr to the base class (`rclcpp_lifecycle::LifecylcleNode::Share

[2019-12-04 23:03] SteveMacenski commented on #1409
I figured the `nav2_utils` wrapper for lifecycle was temporary (https://github.com/ros-planning/navigation2/blob/master/nav2_util/include/nav2_util/lifecycle_node.hpp) it looks like a pretty thin shim, other than the thread being spun up to spin (which could generalize to any node type?).

Is there benefit rather than overloading it, just removing it now that lifecycle nodes are a little more API

[2019-12-04 23:36] bpwilcox commented on #1409
@SteveMacenski I'm not sure if we are in a stage yet to remove the thread yet. @mjeronimo @orduno might know better?

My position is that the wrapper would be useful, at least in the interim, as we could move convenient API in our stack to the wrapper that might receive resistance upstream. As I mentioned in my example, I think it's better code design and less intrusive to the code.

If we pass th

[2019-12-04 23:56] orduno opened #1410 "Multiple gzclient instances launched"
Multiple gzclients are launched when running `nav2_multi_tb3_simulation_launch.py`.

Bug was introduced in https://github.com/ros-planning/navigation2/pull/1349.

[2019-12-04 23:56] SteveMacenski commented on #1409
I agree by common schools of thoughts you are correct. I, however, disagree with those thoughts :laughing:. I like to use the core tools, light wrappers I'd rather just use the tool itself.

I dont think we are either. I was just thinking that we have a node thread for the costmaps and such, and the lifecycle wrapper mostly just does that, so maybe rather than a separate lifecycle node wrapper, we

[2019-12-05 00:00] orduno commented on #1410
For some reason, the condition for executing the process evaluates to `true` even when the `use_simulator` substitution is `false`.

https://github.com/ros-planning/navigation2/blob/c2d93596084968376ccb3d6213621f1cf59fe7b5/nav2_bringup/bringup/launch/nav2_tb3_simulation_launch.py#L138-L141

[2019-12-05 00:18] bpwilcox commented on #1409
For me it is case dependent.

Yes, I think that would be preferable.  I'll try knocking on that door as soon as they merge my PR.

[2019-12-05 00:36] orduno commented on #1410
Seems like [compounding conditions](https://github.com/ros2/launch/issues/105) is still an open problem.

[2019-12-05 04:46] mlherd commented on #1410
hmm.. interesting. I tested headless=true and false conditions, but I didn't test use_simulator argument since I didn't think anyone would launch tb3_simulation without simulation :) but you proved me wrong :D

[2019-12-05 04:49] mlherd commented on #1402
This issue no longer happens after #1406.

[2019-12-05 04:49] #1402 closed

[2019-12-05 16:57] mkhansen-intel commented on #1389
Let's discuss again today in the WG.

[2019-12-05 16:59] SteveMacenski commented on #1389
@mkhansen-intel I have a speaking engagement during this slot, I can't come. Shouldn't stop you all if you would like to continue to discuss.

[2019-12-05 19:12] #1410 closed

[2019-12-05 19:19] #1206 closed

[2019-12-05 19:35] #844 closed

[2019-12-05 19:36] SteveMacenski commented on #844
This was approved by dirk

[2019-12-05 19:47] SteveMacenski commented on #1289
https://github.com/ros-planning/navigation2/pull/1415

[2019-12-05 21:51] #1300 closed

[2019-12-06 00:03] #980 closed

[2019-12-06 00:51] SteveMacenski commented on #401
@mkhansen-intel this is covered by #1263

[2019-12-06 00:52] SteveMacenski commented on #404
This is covered by #1263

[2019-12-06 01:00] mkhansen-intel commented on #401
I don't think so, that says traffic lanes in the description.

[2019-12-06 01:01] mkhansen-intel commented on #404
I don't think so, that says traffic lanes in the description.

[2019-12-06 01:20] SteveMacenski commented on #404
I think the discussion in the ticket describes a path forward that makes them all the exact same problem description, with a single operational difference.

This to me then signals this is a great candidate for a generic costmap layer with plugins for how to handle cost. Which is the same as traffic lanes, keep out, slow down, etc

[2019-12-06 01:20] SteveMacenski commented on #401
I think the discussion in the ticket describes a path forward that makes them all the exact same problem description, with a single operational difference.

This to me then signals this is a great candidate for a generic costmap layer with plugins for how to handle cost. Which is the same as traffic lanes, keep out, slow down, etc

[2019-12-06 15:37] mkhansen-intel commented on #404
I don't disagree that the implementations may be similar and even overlapping, however the 'feature' from a users and robots perspective is different. This is why they have separate issues filed.

[2019-12-06 15:46] mkhansen-intel commented on #1263
I would prefer that there is a meta-issue for supporting this category of features, then a list of the individual feature issues (like #401, #404) within that meta-issue.

I think that while there is some overlap in these conceptually and even in the implementation, I would NOT want someone to try to solve all of them at once in some very large PR. I would prefer to see this done incrementally. We

[2019-12-06 19:00] crdelsey opened #1421 "Automatic docs publish CI step updates "last updated" date everyday."
## Bug report

**Required Info:**

#### Description

Looking at the commit history of the gh-pages branch, you can see that the docs build step updates the "Last Updated" date to be the current date. This results in a new commit every day even if no docs have changed.
https://github.com/ros-planning/navigation2/commit/c86492ce78be52cfacb0d5f1696da0a4bf8fc008

The docs should reflect the date of th

[2019-12-06 19:05] SteveMacenski commented on #404
I don't think they should be separate issues because of how closely they relate that in the process of implementing 1, you should implement them all since they share 90% of the code. This also makes [whomever] is doing that at the time think about design so that these are extendable and not just 1-offs.

I think adding a costmap-filter-like plugin interface that can be used to make these features

[2019-12-06 19:09] SteveMacenski commented on #1263
Fair enough. When I think of a meta-ticket I think of a ticket encompassing a bunch of tasks to check off and links to closed tickets that were rescoped within it. If you prefer to have the tickets still open, that's totally valid. I generally close them so that someone knows that there's a metaticket covering them, with the ticket open my fear is someone just goes after that ticket in isolation s

[2019-12-06 21:47] #239 closed

[2019-12-07 07:57] ninamwa commented on #954
@crdelsey Hi. We tried this at our KMR iiwa robot yesterday, and it was a success. I only did the changes you suggested!

[2019-12-07 07:58] SteveMacenski commented on #954
Awesome! Super glad you had a good experience, means we did a couple things right.

Can you add a short gif of your robot moving around? It would mean alot to us to have a short clip to share of your robot omni robot moving around.

[2019-12-09 22:17] crdelsey commented on #1391
Hmm. So, the option's are, port QuickMCL or fix AMCL, or leave AMCL alone and get a different type of algorithm going.

I don't see MPL-2 as a significant enough improvement over LGPLv2 to warrant the switch to QuickMCL. Making the switch involves a bunch of porting work and gains some performance benefits at the expense of features, so on technical reasons there's pros and cons.

For me, I think

[2019-12-09 22:20] orduno commented on #861
Solved in #1356.

[2019-12-09 22:20] #861 closed

[2019-12-09 23:00] crdelsey commented on #1366
The only place the name `nav2_behavior_tree_nodes` exists is in the default value for the `plugin_lib_names` parameter on nav2_bt_navigator. So, if you get the error

[code]

it means that the `plugin_lib_names` parameter is not getting set properly through your launch file.

I will try to reproduce.

[2019-12-09 23:09] crdelsey commented on #401
There are differences in each. I don't believe they can all be handled exactly the same way.

- Keep Out Zones - These can be simply represented by an extremely high cost in the costmap.
- Slow Zones - These probably get represented as a slightly higher cost in the costmap to encourage avoiding them if possible, but there is additional work to change the max speeds in DWB - using either a new crit

[2019-12-09 23:11] crdelsey commented on #954
Thanks!

[2019-12-09 23:17] SteveMacenski commented on #401
Do you have a few minutes to call me?

[2019-12-10 19:46] mlherd commented on #1401
I don't see this exact problem since #1417. However, sometimes bt navigator crashes with a different error message. I haven't had a chance to fully debug this issue. Here is a screenshot of the debugger logs when bt navigator dies.

[2019-12-10 20:51] bpwilcox opened #1429 "Navstack fails to transition to inactive state during reset or pause"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Version: master
- DDS implementation: Fast-RTPS,

#### Steps to reproduce issue
- launch navstack (e.g. `ros2 launch nav2_bringup nav2_tb3_simulation_launch.py`)
- reset/pause lifecycle nodes

#### Expected behavior
- nodes should transition to unconfigured or inactive
#### Actual behavior
- waypoint_follower node fails to trans

[2019-12-10 20:58] SteveMacenski commented on #1429
I think that's a simple action server issue https://github.com/ros-planning/navigation2/blob/master/nav2_util/include/nav2_util/simple_action_server.hpp#L183

If you see the `Deactivating` printout in waypoint follower:

[code]

then its the action server I believe

[2019-12-10 21:15] bpwilcox commented on #1429
@SteveMacenski Yes, I tracked it to this line in the `simple_action_server`:
https://github.com/ros-planning/navigation2/blob/3c736f87dfcbba029e92f2f40de332073aba742a/nav2_util/include/nav2_util/simple_action_server.hpp#L213

This is called during the `is_running` function inside `deactivate`

[2019-12-10 21:31] bpwilcox commented on #1429
I was able to successfully deactivate the node and action server but only after sending an action goal for the waypoint follower. It looks like we are not initializing the future `execution_future_` until the goal handle has been accepted and it creates the async thread, so if deactivate is called before then, the future has no state, and the node crashes/goes to error state.

[2019-12-10 21:44] SteveMacenski commented on #1363
Filed ticket https://github.com/ros2/rmw_fastrtps/issues/341

[2019-12-10 21:50] SteveMacenski commented on #1363
@mlherd I'm curious - has anyone on your end tested this with Cyclone or any other DDS vendor? It would be good to know if its vendor specific or generally problematic

[2019-12-10 22:04] bpwilcox commented on #1429
I'm thinking the (simplest) fix for this could just be to catch the exception and return from the deactivate function. I'll submit a PR.

[2019-12-10 22:13] SteveMacenski commented on #1429
@bpwilcox you can just check if the future is valid in `is_running()`: https://en.cppreference.com/w/cpp/thread/future/valid.

Or if you want, you can just add

[code]

at the start of `deactivate()` and just miss everything

[2019-12-10 22:30] bpwilcox commented on #1429
I wasn't aware of this function. I'll update my PR with this method, I think it is a bit cleaner.

[2019-12-10 22:32] mlherd commented on #1363
I tested it only with FastRTPS.

[2019-12-11 18:39] #1110 closed

[2019-12-11 20:49] crdelsey commented on #1401
This new stack you've posted looks related to #1285

[2019-12-11 20:52] crdelsey commented on #1363
Not yet. It's on the todo list.

[2019-12-11 23:17] bpwilcox commented on #1285
@mjeronimo I was able to manually reset and startup the stack using the lifecycle manager with success after #1430 and #1432  with no crashes in the `bt_navigator`. However, the condition that I found causes crashes in the `bt_navigator`: Cancel a current goal _and then_ reset the stack. An exception occurs in the `BtActionNode` during the call to reset the tree. Apparently it is the condition of

[2019-12-12 20:00] maxlein opened #1433 "Why do we have to take an absolute topic for the scan topic param in costmaps?"
I don't know why we have to take an absolute topic name for the costmap scan topic param.
Is this just a bug, or as intended?

If I have namespaced robots, the costmap node runs already in a namespace.
So if I use `scan` as scan topic and the node runs in namespace `robot_1`, I would want the resulting topic to be `/robot_1/scan`.

[2019-12-12 20:57] crdelsey commented on #1433
That should be fixed in eloquent. I assume you are running into this problem in dashing?

[2019-12-12 21:20] SteveMacenski commented on #1433
@crdelsey I think that's consistent with our multirobot items as well

[2019-12-12 21:26] maxlein commented on #1433
No, I am on eloquent. But I need to check this repos branch to be sure.

[2019-12-12 21:27] SteveMacenski commented on #1433
We decided on the global namespace for the lasers when we removed it from the launch remap so that we were only remapping TF and other topics like in rviz that we don't have control over the namespacing of. If you have `/robot1/scan` you should provide that in a configuration file.

[2019-12-12 21:38] maxlein commented on #1433
I don‘t geht that. Where do we have no control over namespacing? Rviz config files? ... Ohh, I think I got it. Rviz is also used to look at multiple robots at the same time... That‘s what I don‘t do. I just start Rviz namespaced also, with relative paths in the config. So I can use the config for multiple robots.

[2019-12-12 22:47] crdelsey commented on #1433
Ok. I see.

Because our costmaps run in a namespace already (to differentiate between local and global costmap), if you just specified `scan`, you'd end up with `/robot_1/local_costmap/scan`

As @SteveMacenski said, you can override the topic using parameters as is done here:
https://github.com/ros-planning/navigation2/blob/c6d98d99c1c018c5d3e0dc2bf1105b10066639e9/nav2_bringup/bringup/params/nav2_

[2019-12-12 23:49] SteveMacenski commented on #1433
I view this as a quirk to have many some documentation around, but I don't think its a bug requiring a fix. It's just how ROS2 is with namespacing and parameters now.

[2019-12-13 01:08] crdelsey opened #1436 "Newly flaky tests"
## Bug report

The following tests are now failing frequently in CI and locally, on the master branch and the eloquent branch:
 - [x] nav2_util test_actions
 - [x] nav2_recoveries test_recoveries
 - [ ] nav2_system_tests test_waypoint_follower

Here's a build that demonstrates all three failures:
https://circleci.com/gh/ros-planning/navigation2/7136?utm_campaign=vcs-integration-link&utm_medium=ref

[2019-12-13 07:06] maxlein commented on #1433
I forgot about this part, true!

[2019-12-13 16:15] SteveMacenski commented on #1433
I would tend to agree, I haven’t looked at the namespaces recently, but I thought we’d removed that with the last batch of multirobot PRs?

[2019-12-13 17:55] crdelsey commented on #1433
Yeah. I think that's my fault. It made sense at the time, I'm sure. :-)

We should do something like `/planner_server/costmap` and `/controller_server/costmap` now, given the new architecture. Can we have a node named `/planner_server` and a namespace with the same name at the same time?

[2019-12-13 18:05] SteveMacenski commented on #1433
I still prefer the costmaps retain their namespaces at `global_costmap` and `local_costmap`. I would agree that if our intention for the long term future is to have the costmaps in the processes themselves, that would make sense to separate them out like what you suggest. However, memory recalls that there was resistance to me changing that and folks wanted a clear separation as to not bake in the

[2019-12-13 21:12] SteveMacenski commented on #1433
[code]

I don't see the double namespacing in non-multi-robot modes

[2019-12-16 15:39] maxlein opened #1439 "Segmentation fault in bt_navigator when passing a goal"
## Bug report

I was playing around with navigation stack with default, out of the box planners, behavior trees, etc. and I got a seg fault when passing a goal while shuttle was already executing one.

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - [latest source](https://github.com/ros-planning/navigation2/commit/f6defdbb70a2419e8585ac59ba09a0cdf1c1fe4e)
-

[2019-12-16 21:37] SteveMacenski opened #1440 "Remove markdown files from .doc that have pages on website"
We should make sure we don't have redundant files we're trying to maintain.

[2019-12-17 18:48] #1440 closed

[2019-12-18 12:09] maxlein opened #1447 "Handle missing lifecycle node"
Is there a reason not to detect missing / non-existant lifecycle nodes?

See this example:
I start up a lifecycle node like this:
[code]

All looks good, the only problem is `local_costmap` is wrong, the name is `controller_server`
And for a long time I was looking at this:
`[osg_1.lifecycle_manager] [INFO]   Configuring`

So I thought something in costmap layer, parameters, lifecycle manager is w

[2019-12-18 17:48] crdelsey commented on #1433
i believe @maxlein's concern was in the way you have to say /local_costmap/local_costmap anywhere you need to refer to a node by name. eg. `ros2 node info /local_costmap/local_costamp` where the first name is the namespace and the second is the node name.

[2019-12-18 22:08] bpwilcox commented on #1447
I think you are right that it should detect (or fail out) when a node is missing instead of being stuck hanging.

The `lifecycle_manager` changes the state of each lifecycle node using the `LifecycleServiceClient`, which I believe the current version will hang waiting on the response from the lifecycle node which in your case does not exist and forever waits.
https://github.com/ros-planning/naviga

[2019-12-18 22:10] SteveMacenski commented on #1447
@bpwilcox I think as a general rule, we should always use a timeout for calling servers. I'd even recommend just deleting the other option and only using the timeout version

[2019-12-18 22:12] bpwilcox commented on #1429
Resolved with #1430

[2019-12-18 22:12] #1429 closed

[2019-12-19 23:20] #1366 closed

[2019-12-20 17:20] hidmic opened #1450 "nav2_bt_navigator ignores /goal_pose topic messages"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - ea42a7d670ad80d03c4612c92bb4160665f072f8
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

I had this happen on a private project. I was unable to bring up TB3 simulation myself in Eloquent for a simple repro (had issues with the lifecycle manager right out of the box), but it sh

[2019-12-20 18:07] SteveMacenski commented on #1450
https://github.com/ros-planning/navigation2/pull/1434

This PR is handling it, its in review

[2019-12-23 05:00] #953 closed

[2019-12-23 20:57] SteveMacenski opened #1452 "STVL docs video not showing up"
Right now the STVL youtube video isn't being linked to. I’m not sure if its formatting or some other issue, but it should be looked at.

[2019-12-24 20:47] yathartha3 opened #1453 "Is there a list of documentation items that we want to tackle?"
After the eloquent release, one of our priorities was to improve documentation.
Can we create a list of them so that it is clear what needs to be done?

[2020-01-04 05:34] #1363 closed

[2020-01-06 09:46] maxlein commented on #1401
I got this error also. Got the same debug log.
Happens to me when calling `NavigateToPose` in rviz while robot is already executing a goal.
But doesn't happen everytime... didn't figure out what's the cause yet.

[2020-01-06 18:25] fmrico opened #1455 "To configure maximum speed at runtime"
## Feature request

#### Feature description

I think it is useful to configure the maximum speed of the robot at runtime. It would be helpful for some tasks in which the robot must slow down in the presence of people, when the robot is loading fragile or unstable objects, to reduce the energy consumption or to reduce the noise, for example.

In [MROS](https://github.com/MROS-RobMoSys-ITP), we are

[2020-01-07 16:52] fmrico commented on #1345
Dear @orduno

If I have understood correctly, the order (reverse or not) depends on the type of transition. Maybe the order could be implicit in the function:

Something like:

[code]

Would it be a solution?

Best
Francisco

[2020-01-08 16:21] mkhansen-intel commented on #1173
I'm good with closing this now. It's not a priority until someone has the need for grid maps.

[2020-01-08 16:21] #1173 closed

[2020-01-10 15:35] maxlein opened #1458 "TF NaN errors when starting navigation after amcl"
I am passing the initial pose by parameter at startup.
But occasionally I get this error:

[code]

And only solution without restarting amcl is to pass a new inital pose with rviz for example.

And I found out, that if I start amcl with a delay, there is no problem.
So I think it has to do something with odometry missing when amcl is setting the intial pose.
And therefore the odom covariance not b

[2020-01-10 19:25] SteveMacenski commented on #1458
What specifically are the values you’re putting into it?

NaNs usually show up from poor conditioning of quaternions.

[2020-01-10 20:32] maxlein commented on #1458
I don‘t have them by hand now, but the Parameter values passed in, are definitely correct.
So there is only odometry left. Covariance is fixed there, so is not the problem. So left is only odom position and maybe some not initialized values in amcl. Maybe when calculating the covariance for the published amcl pose. I have to look at the odom position but I also don‘t think the problem is there, as

[2020-01-10 21:46] SteveMacenski commented on #1458
Try to find those values for me. Also make sure your TF tree is fully defined. The only way you get NaN in position and orientation is by having messed up quaternions if you think about how homogenous transforms are calculated

[2020-01-13 09:58] maxlein commented on #1458
These are my inputs:

Odom - base link tf:
[code]

[code]

And after trying to reproduce this, I found out that if I start odom driver, amcl and laser, all is fine.
But if I start the navigation stack afterwards in another screen, the errors occur...  Every time.

[code]

If I start navigation before amcl, it's fine also.
FYI: In my setup the localization is split from navigation in different scre

[2020-01-13 17:54] mkhansen-intel commented on #1401
Any update on this, does anyone know what's causing the exception?

[2020-01-13 19:33] mhpanah commented on #913
This work is currently halted.  I will close for now.

[2020-01-13 19:33] #913 closed

[2020-01-13 19:50] crdelsey commented on #1399
This will be fixed when `python3-vcstool` version 0.2.6 binaries are released.

[2020-01-13 20:24] shivaang12 commented on #1405
Any one doing this?

[2020-01-13 21:14] crdelsey commented on #1405
I don't think so. If you're interested, go ahead.

I think this is a relatively big change. After taking a look at this, and figuring out how you want to approach this, I recommend you quickly describe how you want to approach the problem here to see if there is any feedback before investing a lot of time.

[2020-01-13 21:18] #1455 closed

[2020-01-13 21:22] SteveMacenski commented on #1458
Mhm. Is someone sending a transform on startup with an uninitialized quaternion for its (0,0,0,0) or something?

I'm not going to have cycles to look into this this week, but it sounds like you have a pretty good bet of where the issue is. PRs always welcome :-)

[2020-01-13 21:24] SteveMacenski commented on #1399
It appears to be out: https://pypi.org/project/vcstool/

[2020-01-13 21:35] crdelsey opened #1459 "KinematicParameters dynamic parameters callback needs thread synchronization"
This needs some thread synchronization. The kinematic parameters are used on a different thread than the reconfigure call back.

The simple fix would be to add a mutex to the `KinematicParameters` class that we take in `on_parameter_event_callback` and every function that accesses these parameters. However, that's not going to be very efficient; every parameter has an individual accessor method.

[2020-01-13 22:00] crdelsey commented on #1399
Hmm. The [official ROS 2 build instructions](https://index.ros.org/doc/ros2/Installation/Eloquent/Linux-Development-Setup/#install-development-tools-and-ros-tools) have us install vsctool using apt. That was still 0.2.5 when I grabbed it this morning.

I'm assuming that's what our build uses, but it's possible we grab vcs using pip.

[2020-01-13 22:04] SteveMacenski commented on #1399
I never know with python package management... why support both apt and pip... that just makes this so much more difficult

[2020-01-13 22:12] crdelsey commented on #1399
Yeah. I keep getting messed up because some pip package installs the pip version of colcon, which conflicts with my apt installed colcon, and then my build breaks some months later when the two versions get out of sync. Ugh!

[2020-01-13 22:16] SteveMacenski commented on #40
As an update, my PR has been merged and at a high level tested. Mabel has another PR to add the missing stuff from Melodic over to Dashing (think estimator, etc). Once that is in, we can probably do a release.

We are ready, though, to test the EKF and the UKF in Dashing against Navigation2. The basic stuff is there and in mainline for this work to actually take place now.

[2020-01-13 22:17] SteveMacenski commented on #1266
I think we should just close this. Its definitely a piece of technical debt, but at this point, we've modified the basic turtlebot3 files so much to work with depth cameras/lidars that we can't just install them from robotis's mainline anymore for basic testing and CI

[2020-01-13 22:17] #1266 closed

[2020-01-13 23:25] ruffsl opened #1461 "Using 3D environmental meshes in navigation layer"
I'm working with a VIO SLAM pipeline (e.g. [Kimera](https://github.com/MIT-SPARK/Kimera-VIO)) that can be used to generate 3D meshes of the environment, and would like to ask the best approach to utilize this world model representation for the navigation planning layer. I can think of a few conventional approaches that I'll mention later, but would prefer to make full use of the mesh representatio

[2020-01-13 23:36] SteveMacenski commented on #1240
To assist, I did make a launch file that automatically transitions into the active state for another project: https://github.com/SteveMacenski/ros2_ouster_drivers/blob/eloquent-devel/ros2_ouster/launch/os1_launch.py

[2020-01-13 23:39] SteveMacenski commented on #592
@crdelsey can this be closed because eloquent is out? I think the foxy ticket is the new reference

[2020-01-13 23:40] SteveMacenski commented on #1025
@crdelsey is this something you still feel should be readded?

[2020-01-13 23:40] SteveMacenski commented on #1280
Doesn't seem like there's much interest in this front. Closing.

[2020-01-13 23:40] #1280 closed

[2020-01-13 23:41] SteveMacenski commented on #1345
@fmrico I think that resolved the concern, yes

[2020-01-13 23:42] crdelsey commented on #592
Yes.

[2020-01-13 23:42] #592 closed

[2020-01-13 23:43] SteveMacenski commented on #1447
@maxlein is this something we can expect a PR from you on?

[2020-01-13 23:46] crdelsey commented on #1025
As I recall, we thought this should be an RViz feature, so we should close the issue in our repo.

[2020-01-13 23:46] #1025 closed

[2020-01-13 23:54] SteveMacenski commented on #1461
A couple questions and a few comments. All pretty off the cuff.

Q: What way would you like to "utilize" the model? First I'd say the 2 (main) uses are for planning and control, but also for localization if you like. Because this is VIO and not a SLAM, its going to be prone to drifting. If you're proposing to have this be the global-representation of your world youd like to plan in, you'll need to

[2020-01-13 23:55] ruffsl commented on #1399
That happened to me just after returning from break; a pip install slipped into my system:

https://answers.ros.org/question/339552/failed-to-build-with-colcon-cannot-import-name-has_ros_schema_reference/#339671

I'd suggest we ping the vcstool maintainers to release upstream in the apt repo, keeping it all in sync.

[2020-01-14 00:09] SteveMacenski commented on #1458
https://github.com/ros-planning/navigation2/blob/master/nav2_amcl/src/amcl_node.cpp#L600

That line shows that it should exit if it can't get odometry. Above it also checks for the laser -> base link transform.

[2020-01-14 00:12] SteveMacenski commented on #1453
I think there's a few tickets open on this @yathartha3
https://github.com/ros-planning/navigation2/issues/1396
https://github.com/ros-planning/navigation2/issues/1092
https://github.com/ros-planning/navigation2/issues/1317
https://github.com/ros-planning/navigation2/issues/1228

In addition to doxygen in all the remaining headers missing ( I think we're about 50% )

[2020-01-14 00:13] SteveMacenski commented on #1337
@mlherd do you think from the introduction of the files into `nav2_bringup` for laser/depth camera we can remove all the STLs/URDFs from nav2 system tests and use that instead?

[2020-01-14 00:14] #1452 closed

[2020-01-14 00:27] SteveMacenski commented on #1433
@crdelsey @maxlein reading over this now, are there any action items? I think we answered the question and I think its a feature, not a bug.

Is there an action item to leave this open for?

[2020-01-14 00:30] crdelsey commented on #1240
@mjeronimo ran into a bunch of problems trying to get the shutdown path to work when using the LifecycleNode launch action, which is why he wrote lifecycle manager in the first place. However, I think it's time to try to get launch and lifecycle working well together.

In the meantime, for people who didn't use our launch file and just tried to `ros2 run` a node, I've submitted PR #1463

[2020-01-14 00:43] SteveMacenski commented on #954
User above tested on holonomic working

[2020-01-14 00:43] #954 closed

[2020-01-14 00:44] SteveMacenski commented on #1092
@mkhansen-intel @crdelsey do you intend in doing this? I don't really know anything about that test to document myself.

[2020-01-14 01:34] SteveMacenski commented on #1216
Taking this on. Mostly its just distributing the task to the appropriate lifecycle manager instances.

[2020-01-14 02:33] SteveMacenski commented on #1216
This is the branch: https://github.com/SteveMacenski/navigation2/tree/simplify-bringup

I'm having a problem reading in the parameters from the parameters file, but I dont think its related to this work, but need to make sure. I've been having that problem on and off since Crystal.

[2020-01-14 02:59] SteveMacenski commented on #913
@mhpanah what should we do with the DQN work inside of `nav2_experimental`? I'd vote to throw it into another branch `nav2_experimental` so we stop releasing it if its on hold & doesn't appear to users as an element of the core metapackage.

[2020-01-14 10:01] maxlein commented on #1447
Naive me thought this is just adding a parameter...

Looking at the code here:
https://github.com/ros-planning/navigation2/blob/a71ea592ca1d32aab300e180a298eb0eefd0fb72/nav2_util/src/lifecycle_service_client.cpp#L58-L66

`wait_for_service` is called twice, in the function and when invoking. Don't know why.
When I add a timeout to the first one, I can't trigger a timeout. It just blocks forever.
So

[2020-01-14 10:09] maxlein commented on #1458
No, I am not really sure anymore. :-)
None of the navigation nodes should somehow have influence on the tf tree/behavior but it looks like it does.
Also not sure how to debug this best...
Maybe run node by node from nav stack and then see when error occurs...

[2020-01-14 17:21] SteveMacenski commented on #1458
Wait, are you saying you have _both_ a SLAM library and AMCL running? That’s not how this works. AMCL is a localizer and ST is a mapper. They both produce map->odom transformations, essentially replaceable with each other. Having both run at the same time in the same namespace will have undefined behavior.

[2020-01-14 18:16] crdelsey commented on #1433
I think we need an upstream feature - relative topic paths (eg. `../scan`) - to address @maxlein's issue. Without that, we can't address the main concern.

I'm OK with closing this and revisiting the topic when that feature exists.

[2020-01-14 18:21] yathartha3 commented on #1453
@SteveMacenski Got it.

[2020-01-14 18:21] SteveMacenski commented on #1433
We could in theory make that feature, but that starts getting pretty involved.

Closing

[2020-01-14 18:21] #1433 closed

[2020-01-14 18:21] crdelsey commented on #1092
There is a brief explanation here.

https://github.com/ros-planning/navigation2/blob/1ec7b205ddee240273ac6ba5d218d050e8ab4f4c/nav2_system_tests/src/updown/updownresults.py#L17-L26

I could move this to a readme.

@mkhansen-intel You made a bunch of changes to this test, but I don't see them in the branch. DId you ever get those changes working? I don't recall.

[2020-01-14 18:35] SteveMacenski commented on #929
Anyone have interest in writing a paper for this for IROS 2020? Its a little tight of a schedule but possible. I have lasers, cameras, and a few robot bases, but no substantially large space I can use. Maybe can coerce a co-working space to let me camp out for a week or another open-source friendly place

[2020-01-14 18:52] fmrico commented on #929
Hi @SteveMacenski , I am interested in writing the paper for IROS2020, if you think it is fine, without obligation for your part. We can conduct the experiments in my lab, using kobuki or even Tiago. [We got it navigating](https://www.youtube.com/watch?v=JvGnojXBjTU) with navigation2 last week. We could extend the scenario even to the near corridors.

If you agree, you can email me to fmrico@gmail

[2020-01-14 19:13] crdelsey commented on #929
I'm likely going to have limited time to work on this soon, so I don't want to commit to this. But this is a high priority for nav 2, IMHO. If there is anything I can do to support this - new features, bugs to look into, etc, let me know.

[2020-01-14 19:14] maxlein commented on #1458
Oh, no I don‘t think so, because I switched off publishing tf in mapping node. I need to check parameter tomorrow, but I am quite sure.
But it doesn‘t change anything regarding running the nav stack, as there was never a mapping node running. Just amcl.

[2020-01-14 19:18] SteveMacenski commented on #1458
Then why mention or run SLAM?

Can you try this without that running anywhere?

[2020-01-14 19:46] maxlein commented on #1458
It was only coincidence. I was just running the mapping process as I wanted to try something out and then got the error again.
SLAM was never running during my other tests here.

[2020-01-14 19:53] SteveMacenski commented on #1458
Ah ok. So you think its something upstream of AMCL, and also ST. That would place it squarely on the TF from base->sensor, TF odom->base. It could be actually an invalid report from the first reading of the base driver’s odometry or gazebo. Is this simulation or hardware? Any info you can provide there?

[2020-01-14 20:07] maxlein commented on #1458
It‘s on real hardware. Didn‘t try to reproduce in gazebo yet. The first reading of the drivers odometry I posted a few comments before.

[2020-01-14 20:11] SteveMacenski commented on #1458
Try in gazebo. Lets try to isolate where its coming from. I suspect highly its the odometry source.

[2020-01-14 21:24] crdelsey commented on #1458
It might also be worthwhile to log the transforms by doing `ros2 topic echo /tf > tf_logfile.txt` We might be able to catch the offending transform and see exactly what's going on

[2020-01-14 21:26] SteveMacenski commented on #1458
Well the problem is it could also be not a direct transform but NaNs introduced in multiplying transforms. I do agree though that is likely to find the culprit but just a note that if you don't see it, that doesn't rule it out.

[2020-01-14 21:46] shivaang12 commented on #1405
Cool! Before I move ahead, I need to clarify if I am understanding the problem in a right sense.

I can see there two problems here,

1. Collision checker code is refactored from obstacle footprint critic and now we want to run only collision checker code and want obstacle footprint to use the result from collision checker.

2. Currently, Collision checker itself is subscribed to costmap subscribe

[2020-01-14 22:00] SteveMacenski opened #1465 "System tests are failing"
[code]

[2020-01-14 22:05] SteveMacenski commented on #1405
That would be correct.

Its a bit involved. Personally, I would air on the side of "meh, whatever" and close the ticket. Trying to factor out everything sounds good on paper but this is really a different usecase (subscriber vs having access to the costmaps directly) and would make both implementations messy, or result in unnecessary data transformations on big-ish costmaps into a `msg` datatype.

[2020-01-14 22:12] shivaang12 commented on #1405
I agree! You can close it if you want.

[2020-01-14 22:14] SteveMacenski commented on #1405
Well, not really mine to close ;-)

[2020-01-14 22:25] mkhansen-intel commented on #1465
Can you provide the template info: what branch of nav2, what branch of ros2, etc? How to reproduce?

:)

[2020-01-14 22:26] SteveMacenski opened #1466 "Question: Why do we have a custom Node launch class?"
In `nav2_common` we have a separate `Node` that may make it hard to transition to lifecycle nodes. Why is this here? I'm not seeing alot of documentation about it. I assume it has to do with the remappings, but this should be explicit somewhere and what a path might be back to using the base-Node launch tool.

[2020-01-14 22:28] SteveMacenski commented on #1465
Ahhhhhh ok ;-)

I'm seeing this in CI for most of the PRs. So Foxy / master, navigation2 master. Reproduce by looking at CI. I see this on at least the following:

https://circleci.com/gh/ros-planning/navigation2/7690?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

https://circleci.com/gh/ros-planning/navigation2/7682?utm_campaign=vcs-integration-link&utm_medium

[2020-01-14 22:30] mkhansen-intel commented on #1092
I updated the test and got it working without requiring simulation in #1413. I'll add a README file to the folder with simple instructions for running it.

[2020-01-14 23:19] bpwilcox commented on #1405
If others would like to close this ticket, I am okay with it (maybe give an upvote if you agree).

[2020-01-15 02:16] shivaang12 commented on #1013
Do you any high level planning of how you want to approach this? I think we might need to split the nodes in order to make them compatible for running standalone as well as through component.

[2020-01-15 02:32] mkhansen-intel commented on #1465
So I ran this manually and it is passing on my system, however I haven't updated to the latest ros2 repos.

Before I do that can you just try one thing on your system:

`cd` into your `build/nav2_map_server` folder

`ctest -V`

Tell me if it's passing for you, also how recently you updated your ros2 repos.

[2020-01-15 02:33] SteveMacenski commented on #1013
They should all work to my knowledge just registering in the CMakelists and with the cpp macros. They all derive from the node type and take in `NodeOptions`.

[2020-01-15 02:45] SteveMacenski commented on #1465
Yeah things are passing on my end but I haven't updated since before ROSCon. I'm not sure its too productive to test on my local machine since the error that's displayed above is in CI. Things are working fine (well, except other known issues) locally otherwise

[2020-01-15 08:32] maxlein commented on #1458
So on the real hardware I recorded tf.
Without the navigation stack, all looks fine, no errors.
As soon as I start navigation, there are NaN tf's published from map->odom.

<details><summary>NaN transforms after amcl is running ok and navigation is started</summary>

[code]
...
[code]

</details>

Complete logfiles:
[tf_log_nan.txt](https://github.com/ros-planning/navigation2/files/4063767/tf_log_

[2020-01-15 14:23] SteveMacenski commented on #1458
Please post your amcl configuration, TF tree from RQT, and a sample laser message

[2020-01-15 14:31] adamdbrw commented on #1389
Was there any follow up to this?

[2020-01-15 15:17] SteveMacenski commented on #1389
No updates at the moment. We have another working group meeting tomorrow, @mkhansen-intel can we add to the agenda?

[2020-01-15 15:59] mkhansen-intel commented on #1465
I'll update my ros2.repos today and test this again.

[2020-01-15 16:11] mkhansen-intel commented on #1465
The error message from magick is expected, as the test is testing the invalid file condition:
[code]
I don't think there's anything wrong with the test, but don't know why this error is occuring:
[code]
What would cause the node to die in CI?

[2020-01-15 17:31] maxlein commented on #1458
<details><summary>Scan msg</summary>

[code]
</details>

<details><summary>Amcl config</summary>

[code]

</details>

TF tree coming soon. Can't see RQT plugin atm...

<details><summary>tf monitor</summary>

[code]
</details>

[2020-01-15 18:02] crdelsey commented on #1466
I believe you are right. We needed to pass remappings from one launch file to another for the multirobot use case, similar to the way namespaces are passed down.

There are two paths back to base Nodes that I can see:
1. Incorporate this capability in the base Node. We looked into that. I don't remember why we didn't do that.
2. Rewrite the multi-robot launch files in way that avoids the need to p

[2020-01-15 18:25] SteveMacenski commented on #1458
Your config has x/y/yaw, what are those specific values? I might guess that your yaw is invalid.

Your z_* variables, the ones in use for your specific sensor model, must add up to exactly 1.0. Make sure that is true, I forget off hand which ones your sensor model uses.

[2020-01-15 18:27] SteveMacenski commented on #1466
I’m not sure what’s preferable to yal. Any opinions? Both sound reasonable.

[2020-01-15 18:52] crdelsey commented on #1466
Well, `2.` is easier said than done. I don't have a method in mind to accomplish this, and @orduno didn't find a reasonable way of doing `2.` either when he wrote this code originally, I presume. But, maybe we can find a way now.

[2020-01-15 19:08] mkhansen-intel commented on #1465
Just to confirm, I pulled the latest ros2.repos and re-ran on my system and the nav2_map_server tests are passing. I don't know how to reproduce this issue.

Maybe @ruffsl can look into it?

[2020-01-15 19:47] mkhansen-intel opened #1470 "Can't pass map to nav2_bringup_launch.py file"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - master branch since 2873bfc3468a25a47483f22d17a232a83355dfc6

- DDS implementation:
  - Fast-RTPS (default)

#### Steps to reproduce issue

[code]

#### Expected behavior
Nodes should start correctly with map given.

#### Actual behavior
[code]
#### Additional information
I bisected it to the comm

[2020-01-15 20:24] SteveMacenski commented on #1470
@mkhansen-intel its this line https://github.com/ros-planning/navigation2/commit/2873bfc3468a25a47483f22d17a232a83355dfc6#diff-9ced65f168bb2611c9a7bb195a719d11R50

I resolved it in this PR https://github.com/ros-planning/navigation2/pull/1464

It was part of my "why the hell isn't this working for me?" discussion in that PR which I  resolved.

[2020-01-15 20:25] mkhansen-intel commented on #1470
This line of code seems to be the culprit:
https://github.com/ros-planning/navigation2/blob/1ec7b205ddee240273ac6ba5d218d050e8ab4f4c/nav2_bringup/bringup/launch/nav2_bringup_launch.py#L50

I'm not sure why this was changed to the default, or what the side effects of changing it back might be. @orduno can you tell me?

[2020-01-15 20:27] SteveMacenski commented on #1465
Are they moved to the install space with the same permissions? Maybe it just can't be opened.

Also, it makes sense that it crashes @mkhansen-intel. If you look at occ grid loader where that log is coming from, L161, it returns false. That triggers L176 to throw an exception inside of the `on_configure` step, which won't have exception handlers so it crashes.

[2020-01-15 20:31] SteveMacenski commented on #1466
https://github.com/ros2/launch_ros/blob/18cc7fc699692e040dde3406c8170fe9f269c254/launch_testing_ros/test/examples/talker_listener_launch_test.py#L44

It appears remapping is supported? The only init item I don't see is `use_remappings` but that can be an easy conditional about whether to call the `Node()` object with the field `remappings` or not (or call with it either way, but just remap global

[2020-01-15 20:48] mkhansen-intel commented on #1465
This isn't happening during the `on_configure` step. That error is in the `load_map_callback` lambda function, see the message printed here:
https://github.com/ros-planning/navigation2/blob/94283482d4e61ab323f5d9fb134efa5dbf3cc3b2/nav2_map_server/src/occ_grid_loader.cpp#L208

It's expected to fail when it tries to load "invalid.png".

[2020-01-15 20:54] maxlein commented on #1458
The last one is yaw.
I will look tomorrow.

[2020-01-15 21:07] SteveMacenski commented on #1458
Whats your scanner to base link transform? I dont see it in tf (it'll be in tf_static)

[2020-01-15 21:11] SteveMacenski commented on #1465
Same logic applies: https://github.com/ros-planning/navigation2/blob/master/nav2_map_server/src/occ_grid_loader.cpp#L210

It still returns false, throws exception, nothing handles it.

[2020-01-15 22:47] crdelsey commented on #1466
As I recall, the problem wasn't that remappings weren't supported in the Node class. The problem was that the remappings were computed up at the multirobot launch file level and needed to be used by all subordinate launch files. There was no good way to pass those remappings on to subordinate launch files.

There is a mechanism in ros2 launch that supports this kind of thing for namespaces - somet

[2020-01-15 22:56] SteveMacenski commented on #1466
OK. I'll admit I didn't follow all of that but it sounds compelling. Do you feel its worth trying to homologate back to the original `Node()` in some fashion or we should leave as is?

[2020-01-15 22:57] mkhansen-intel commented on #1465
The exception is caught here:
https://github.com/ros-planning/navigation2/blob/7097e6944c8617cccbf93286b0d61ff70b580518/nav2_map_server/src/occ_grid_loader.cpp#L159
Then the response value is set, the function returns false and the lambda returns the response.
https://github.com/ros-planning/navigation2/blob/7097e6944c8617cccbf93286b0d61ff70b580518/nav2_map_server/src/occ_grid_loader.cpp#L163

I d

[2020-01-15 23:07] ruffsl commented on #1465
I just did a fresh build/test against 6fa310c1e3fc8fed5a291bb4f0fc3eea3648c7dc using `osrf/ros2:nightly` like so:

[code]

Side note: Why are the tests now so painfully long (~40min of tests), could we have them fail a bit quicker? It kind of bogs down the CI, and given its mostly `nav2_system_tests`, test parallelization via splitting over packages won't help much in this respect.

Output:

<deta

[2020-01-15 23:36] SteveMacenski commented on #929
@fmrico sounds good! Lets chat about it at the weekly meeting tomorrow. We're moving it to 2pm because of the TSC meeting at 4pm PST.

Given the deadline is relatively soon, and to do something similar to the Office Marathon, there's going to be a pretty substantial hardware burden (and tickets filed to make it work) we should get started on this ASAP. The deadline is March 1 for regular paper sub

[2020-01-15 23:44] SteveMacenski commented on #1465
Ah got it, well, in `on_configure` there is an uncaught exception: https://github.com/ros-planning/navigation2/blob/7097e6944c8617cccbf93286b0d61ff70b580518/nav2_map_server/src/occ_grid_loader.cpp#L177

We catch one exception, return false, then use that false to throw another exception. That seems excessive.  I agree there you linked to does not, sorry, I jumped the gun from seeing how `on_config

[2020-01-16 01:02] crdelsey commented on #1466
Let me give a concrete example of what we'd ideally like if we were to use the existing base Node action.

1. The multirobot launch file defines two sets of remapping:
   * `robot1_remappings = [('/tf, /robot1/tf'), ('/tf_static, /robot1/tf_static')]`
   * `robot2_remappings = [('/tf, /robot1/tf'), ('/tf_static, /robot2/tf_static')]`

2. It launches two instances of `nav2_tb3_simulation_launch`, e

[2020-01-16 09:27] maxlein commented on #1458
[code]

[2020-01-16 16:49] orduno commented on #1345
@fmrico could you submit a PR for this change?

[2020-01-16 16:51] fmrico commented on #1345
@orduno Yes. I hope to do it this evening.

[2020-01-16 16:54] orduno commented on #1344
Closing as this was addressed by #1356.

[2020-01-16 16:54] #1344 closed

[2020-01-16 17:29] orduno commented on #1466
The custom node class is to support *conditionalizing* the remappings.

I agree with what @crdelsey has explained.

I looked into possible implementations for:

Like having a [PushRemapping](https://github.com/ros2/launch_ros/issues/56) action or passing the sets of remappings down to included launch files (as Carl explains above). I didn't see a clear path for implementing either.

My recommendat

[2020-01-16 17:46] orduno commented on #1470
Changing the default value to an empty string should fix the problem without side effects -- but haven't been able to confirm as am having trouble running nav2.

[2020-01-16 19:12] SteveMacenski commented on #1470
I have confirmed, its in #1464

[2020-01-16 19:14] SteveMacenski commented on #1466
OK, I like that as well. Is this something @orduno you have the cycles to start? I have no issues pulling the work over and submitting the PR, but frankly if they had followup, I'm not sure I could do it.

[2020-01-16 19:22] SteveMacenski opened #1472 "LIfeycle manager to python launch_ros LifecycleNode feature"
Right now, `launch_ros` has a way to transition into lifecycle active states. Its a mess, but it exists. You can request state transitions based on current states and the states of other nodes. If you have even a modestly complex launch file, this will take up 80%+ of your launch file over the actual functional code. Also I haven't figured out how to transition to shutdown on control-C, but I'm no

[2020-01-16 19:28] SteveMacenski commented on #1458
Your frames are incorrect.

You have `base_link` in your TF publishers and `/base_link` as the frame ID for your scan transform. Those are 2 different frames in TF2.

If you look at your TF monitor, you'll see all but 3 have the `/` on them, really none should have them, but if you have them, they should _all_ have them. TF2 will not remove the slash that TF1 did.

[2020-01-16 19:53] dirk-thomas commented on #1472
I am not the right person to give you feedback on this. @Karsten1987 @hidmic FYI.

[2020-01-16 20:36] crdelsey commented on #1466
I'll look at it. I've got no choice at the moment. There's a bug in the class right now that is preventing me from running the stack at all.

I'm not sure why nobody else is seeing it, but it looks like a legit bug to me.

[2020-01-16 21:19] #1345 closed

[2020-01-16 21:19] SteveMacenski commented on #1466
Can you describe it?

[2020-01-16 21:48] crdelsey opened #1474 "nav2_common.launch.Node passing empty arguments to process, causing process to crash"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - nav2 and ros2 latest as of about 9am 16 Jan 2020
- DDS implementation:
  -

#### Steps to reproduce issue
1. `ros2 launch nav2_bringup nav2_tb3_simulation_launch.py`

#### Expected behavior
nodes launch and run

#### Actual behavior
Many nodes crash with an error like below
[code]
#### Additional

[2020-01-16 21:48] crdelsey commented on #1466
See  #1474

[2020-01-16 22:40] mkhansen-intel commented on #1401
Looks like the original issue is resolved and the new issue is a duplicate of #1285.

[2020-01-16 22:40] #1401 closed

[2020-01-16 22:46] #1465 closed

[2020-01-16 22:47] SteveMacenski opened #1475 "Fix CircleCI Test Failures on PRs"
See all PRs active ;-)

[2020-01-16 23:07] crdelsey commented on #1475
I looked through the Circle logs of the latest build on master, and they seem to be failing in the same way as #1474.

[2020-01-16 23:33] SteveMacenski commented on #1389
We talked again this week, the default was chosen to be `slam-toolbox`.

We need to find now a set of maintainers other than me to be involved and have some more formality with its maintenance, release, and testing.

Closing ticket, opening new ticket in SLAM Toolbox for this work

[2020-01-16 23:33] #1389 closed

[2020-01-17 06:25] JaccovdS commented on #1389
For the public track record and for my information can you explain shortly why `slam-toolbox` was chosen over the other options you mentioned before?

[2020-01-17 06:54] SteveMacenski commented on #1389
I'm going to pass the baton to @mkhansen-intel to explain.

Frankly, I think any explanation coming from me is going to look full of impropriety in posterity. I will put a couple bullets but I'd like Matt to give his opinion on it independently.

- The goal is to have a sold out of box experience - and given this has roots in Karto and this version has received very good feedback from all users.
-

[2020-01-17 08:30] maxlein commented on #1458
Well I don't do that intentionally.
I just use default ROS tools/ways of publishing tf's.

So `robot_state_publisher` is adding a slash.
Static tf's launched like this ( doesn't matter if I add namespace or not ):
[code]

If you say that `base_link` and `/base_link` are two different frames, then I shouldn't be able to transform from `map` to `camera` for example, because they are part of differen

[2020-01-17 15:23] eupedrosa commented on #1389
LaMa SLAM author here.
I completely agree that my solution lacks testing and it is in fact an unknown out of box experience. Selecting  `slam-toolbox` was a good decision.

I will continue maintaining (and developing) LaMa - ROS2 included. Having choices is always a good thing.

[2020-01-17 15:51] doisyg commented on #1389
@mkhansen-intel and @SteveMacenski , is there any qualitative tests comparing the performance of the `slam-toolbox` and `cartographer`? I am thinking for instance about tests conducted on a set of bags with different variables: size of the of the area scanned, quality of the odometry, power of the lidar (range, scan density), with/without IMU, etc... Ideally with some of the bags being challenging

[2020-01-17 19:21] SteveMacenski commented on #1389
I don't think anyone's going to argue that comparing is good. But really, Cartographer is not a real option until at least one of the following occurs:
- Google stands back up and commits to maintaining cartographer. The last commit was in [May](https://github.com/googlecartographer/cartographer/commits/master).
- Someone that deeply and appreciably understands the codebase of cartographer and the

[2020-01-18 00:14] SteveMacenski commented on #1458
Frankly at this point, I'm not exactly sure. I'd need you to give me exact instructions to reproduce to look any further.

Do you see this with the default stack or is it only with your specific hardware / configurations / software? If you start with default stuff and change things block-by-block until it occurs again that will at least give you an idea of where to look. Unfortunately, from what y

[2020-01-18 00:19] #1092 closed

[2020-01-18 00:19] SteveMacenski commented on #1254
@mhpanah @mkhansen-intel What's the status of this given the status of the RL work?

[2020-01-18 00:27] SteveMacenski commented on #1447
Are you sure that the `wait_for_service()` is implemented the way you think?

[code]

It looks like that's the timeout for the calls, in an infinite loop. I think you just need to change the meaning of the `timeout` parameter and remove the while loop, that's a really unintuitive implementation.

[2020-01-22 05:22] yathartha3 commented on #1470
I tried what @orduno suggested, and changing the default value to an empty string __did solve__ the problem. I am able to run the stack and navigate.

[2020-01-22 05:48] #1470 closed

[2020-01-22 06:00] yathartha3 commented on #1317
Addressed by #1392

[2020-01-22 06:00] #1317 closed

[2020-01-22 06:10] yathartha3 commented on #1439
Hi @maxlein, I tried reproducing this issue. I gave a goal and repeatedly kept giving a new goal while it was already executing one. However, I do not see the problem (segmentation fault, or any other error) that you have mentioned.
Do you still have this issue?

[2020-01-22 20:59] #40 closed

[2020-01-22 20:59] SteveMacenski commented on #40
Shown to work as part of the ROS2 porting

[2020-01-23 06:35] SteveMacenski commented on #1387
Did some reading this evening on behavior trees and looked at best-practices in other projects and I think this is fine how it is. There's implementation considerations I may want to change down the line, but a re-architecture is unnecessary.

[2020-01-23 06:35] #1387 closed

[2020-01-23 06:47] SteveMacenski commented on #816
Any objection to using multithreaded executors? It seems that way we can have these all going at once with one node. Do you think there are applications here sensitive enough (or otherwise not well formatted) for multithreaded processing? Most places have mutex where we might want to use a multithreaded spinner. I wouldn't think it would be too much of a hassle to update the few places required.

[2020-01-24 02:33] SteveMacenski opened #1478 "Understanding the Custom BT Nodes: Back to fundamentals"
Hi,

I did a bunch of reading on behavior trees and got a good feeling of the building blocks. It occurs to me that the BT we use in Navigation doesn't contain mostly fundamental building blocks from literature. I think this has the unintended effect of the following:
- BT experts that would like to use the `NavigateToPose` BT as a subtree in their applications won't be able to understand what exa

[2020-01-24 17:42] crdelsey commented on #1478
I believe this is true. In fact, I'm pretty sure we made a version out of fundamental building blocks for all three before replacing them with a custom node. In all those cases, the tree made with fundamental building blocks was much more complicated and difficult to understand.

I've come to the conclusion that it's better to make custom nodes and require people to learn what they do than to have

[2020-01-24 19:07] SteveMacenski commented on #1478
Given the BT library V3 allows for subtrees, could we instead create subtrees that implement the same things that we can call Pipeline, RoundRobbin, etc?

That way its still made of the building blocks but abstracted away into the larger tree?

[2020-01-27 04:37] #1466 closed

[2020-01-27 04:37] #1474 closed

[2020-01-27 19:46] BorgesJVT commented on #1245
Hi @orduno,

I'm also interested in contributing to these features. For the next months I will be working in my thesis, which involves multi-robot coordination and it would be good to do this task integrated with ROS2.

How is the status of these tasks? Is there another channel where these topics are been discussed?

[2020-01-27 20:14] SteveMacenski commented on #1245
@BorgesJVT we have a weekly working group meeting, see calendar here: https://index.ros.org/doc/ros2/Governance/.

The status is that we can simulate multiple robots in multiple namespaces using the TB3 multi-robot launch files. The rest are on-going feature requests and we'd be more than happy to discuss them on the call or find some set of work you could contribute to that effort

[2020-01-28 17:01] shivaang12 commented on #229
What are we aiming for here? transferring his repo or making update to our existing repo?

[2020-01-28 17:10] DLu commented on #229
Updating the existing repo. Original repo is ROS1.

[2020-01-28 17:21] shivaang12 commented on #229
okay cool! I will start porting these changes!

[2020-01-28 22:27] cdelsey commented on #1478
I was thinking that would be nice as well, but I doubt we can do that with the current implementation of the library. We'd need a way to attach nodes below a subtree. I don't think we can do that. I think a subtree has to be a leaf of the "super-tree"

[2020-01-29 21:31] SteveMacenski opened #1479 "Nav2 RVIZ Plugin include Status of Lifecycle Nodes"
We should include the status of the lifecycle manager(s) in the rviz plugin. Either as a color or as direct text

[2020-01-31 04:54] Jconn opened #1480 "{spatio-temporal, nonpersistent}-voxel eloquent debians don't play nice with nav2 debians"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
Eloquent Debians

I tried installing every eloquent package with

[code]

and got a few errors:
[code]

I'm filing this here because nav2 is head honcho of all these plugins.

[2020-01-31 05:09] SteveMacenski commented on #1480
Its all me anyway. The semantics of Nav2 repo vs. STVL repo is purely organizational :wink:

I just copy pasted the template on all of these, so its no surprise if one's broken, they're all broken (and I need to update my template).

That is really not good that this is being installed outside the package. The line in question is below:

https://github.com/ros-planning/navigation2/blob/master/nav2

[2020-01-31 05:10] SteveMacenski commented on #1480
`share/${PROJECT_NAME}` should work, I checked that the rviz plugins debians are correct and they use that.

https://github.com/ros2/rviz/blob/ros2/rviz_default_plugins/CMakeLists.txt#L309

A PR for nav2_costmap_2d, STVL, and NPVL is appreciated.

[2020-01-31 05:23] Jconn commented on #1480
output of  `grep -rni "destination share"` gives me these files with the same issue:
[code]

Can I change those too?

[2020-01-31 05:43] SteveMacenski commented on #1480
Yes please

[2020-01-31 15:17] maxlein commented on #1458
Can someone explain the idea behind this here:

[code]

So when I start another node, in my case navigation stack, the parameter callback of amcl is triggered, because we can't subscribe to a specific parameter yet.
But amcl doesn't care what parameter was changed and calls all the init functions.

So amcl
* doesn't look for a correct parameter
* and if there would be a correct parameter, handling

[2020-01-31 17:06] SteveMacenski commented on #1458
In AMCL (https://github.com/ros-planning/navigation/blob/melodic-devel/amcl/src/amcl_node.cpp#L499) for ROS1, the dynamic reconfigure (the way we think about updating parameters) callback would change all the parameters, initialize a new particle filter, odometry model, etc.

For ROS2, that's done with  the parameter callbacks. What you point out there is essentially the same process but factored

[2020-01-31 17:10] #1480 closed

[2020-01-31 17:56] maxlein commented on #1458
Omfg, why didn‘t I see this pr ...!?
Sorry...

[2020-01-31 18:10] maxlein commented on #1458
Well, PR was only for master.
Can we have this for eloquent too?

[2020-01-31 18:12] SteveMacenski commented on #1458
*reopens ticket*

Commentary aside, that would be lovely. I think we're at a point for a Eloquent sync. @crdelsey do you mind setting up an Eloquent release with commits?

[2020-01-31 18:47] SteveMacenski opened #1485 "Navigation Branding"
The navigation stack hasn't traditionally had much branding associated with it. [MoveIt](https://moveit.ros.org/) was at one point Arm Navigation, has done an exceptionally good job at creating an active brand presence, logos, website, etc.

I'd love to see the phrasing `Nav Stack`, a derivative, or a complete fresh re-branding take place as part of a V1.0.0 release of the ROS2 Navigation Stack, w

[2020-01-31 20:47] mikeferguson commented on #1485
Honestly, the word "stack" could die - it's a carryover from when we organized packages into stacks (which are now metapackages).

[2020-01-31 21:46] SteveMacenski commented on #1485
And metapackages weren't carried over to ROS2 :wink:

I was looking for something more flashy than `Nav Stack` anyhow. MoveIt is both fun and relevant. I'd like to have some new name for it that has a similar theme

[2020-01-31 22:33] davetcoleman commented on #1485
Let's just roll Navigation into the feature set of MoveIt and call it a day ;-) MoveIt is already suppose to support base planning (and leg planning, and all types of planning).

There's plenty of online cheap logo sites like https://99designs.com/ you could use for Navigation.

[2020-01-31 22:43] #1314 closed

[2020-01-31 22:44] #1216 closed

[2020-02-01 00:03] SteveMacenski commented on #1475
I started looking at the `nav2_utils` failure first, since a failure in the action server would cause other failures.

Its in the `test_simple_action`, the last PR was https://github.com/ros-planning/navigation2/pull/1356, soon after we stopped passing CI.

it crashes on this line (https://github.com/ros-planning/navigation2/blob/master/nav2_util/test/test_actions.cpp#L240) which is odd. I removed

[2020-02-04 00:46] SteveMacenski opened #1489 "Bug may have been introduced into simple action server"
After PR https://github.com/ros-planning/navigation2/pull/1356, we see a bunch of tests become flaky. I was able to track down the flakiness to the simple action servers not receiving action requests when called in quick succession.

I added some sleeps between calls in the tests to patch it form 50% success to 80% success, but it should probably be dealt with. It seems to be caused by this PR and

[2020-02-04 00:51] SteveMacenski commented on #1436
Closing in favor of #1489 that is root cause,

[2020-02-04 00:51] #1436 closed

[2020-02-04 00:52] SteveMacenski commented on #1458
Closing ticket, we've figured out the issue. Next time eloquent is synced it will be handled there

[2020-02-04 00:52] #1458 closed

[2020-02-04 04:49] SteveMacenski commented on #1254
I'm closing for now -- if this is premature and there's something to be done, let me know and we can reopen and address what actions we should take.

[2020-02-04 04:49] #1254 closed

[2020-02-04 05:28] SteveMacenski opened #1490 "Do an Eloquent sync"
I think its about time to cherry pick our changes over to Eloquent again. There's some updates that also need it to fix bugs (like the install paths for plugin xmls and issues #1458

@crdelsey is this something you might be able to do within the next week or two?

[2020-02-04 18:55] #589 closed

[2020-02-04 22:16] Jconn commented on #1489
I am getting a prohibitive amount of bt_navigator crashes off the head of `eloquent-devel` that look something like this:

[code]
Maybe related? I'm going to look into it on Thursday or Friday

[2020-02-04 22:27] SteveMacenski commented on #1489
Can't say -- personally, I don't use eloquent, I'm on master. Master should still work with eloquent binaries (that's my current development environment).

If you see those problems still in Master, let me know. This could just be the case that Eloquent-devel is a little stale. I filed a reminder #1490 to sync them up.

[2020-02-04 23:37] SteveMacenski commented on #1475
OK just the system tests failing are left

[2020-02-05 10:30] maxlein commented on #1447
[Current state](https://github.com/maxlein/navigation2/commit/2768f3802f4e05105de1a62819c2813d04cb5986), made some comments there.

So if I get you right by saying:

, you mean that `change_state()` should not timeout? Because there could be a long running transition, like a sensor booting up?

https://github.com/ros-planning/navigation2/blob/075208a23b50a4429406937412b2756738ed144e/nav2_lifecycle

[2020-02-05 15:14] 3wnbr1 opened #1492 "Unable to reach GoalPose with xy precision higher than 40cm"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu bionic 18.04.03
- Version or commit hash:
  - `1faa3425cf5a51c3e0d1102687555932663b499e` : branch `eloquent-devel`
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

- Create a YAML configuration file with attached parameters
- Launch the ros2 navigation stack and set a goal pose. The navigation succeeds
- Edit the

[2020-02-05 18:44] shivaang12 commented on #229
@DLu I was just curious to know the reason behind change of "addGridScore" to "addCriticVisualization".

[2020-02-05 19:25] SteveMacenski commented on #1492
Did you try tuning your controller to follow paths more closely? I think that problem may largely fall on the controller tuning if you don't tuned it in a way capable of achieving that accuracy. If you play with the controller gains, does that behavior change?

Also, I'd add some print outs / use the `ros2` CLI to make sure that your parameter is being correctly read in, just as a precaution, with

[2020-02-05 19:29] SteveMacenski commented on #1447
Sure, I think that's also a good reason. I was just thinking that if you've gone out of your way to use lifecycle nodes to get some kind of deterministic bringup and shutdown, you're specifying the nodes that should be up. In the case where one of these is incorrect, that should be an immediate failure (by lifecycle not coming up) and not just gloss over it. This could be masking a typo where then

[2020-02-05 21:35] SteveMacenski opened #1499 "Dockerhub badge shows failing, but all builds are succeeding"
See here (https://hub.docker.com/r/rosplanning/navigation2) all of the build have succeeded within recent memory, yet the badge shows it failing.

We should investigate and fix this.

[2020-02-05 23:27] SteveMacenski commented on #1499
Some more work shows that this is failing in a number of repos and I don't think this is uniquely navigation or ROS related.

My tentative plan is to just remove the badge if its going to be unreliable and replace it with the badge for number of pulls

[2020-02-06 00:49] wjwwood commented on #1472
The problem, as I see it is: "who is responsible for transitioning lifecycle states"

It's technically possible that:

- a node transitions itself
- a node is transitioned by code in the same process (the `main()` function for instance)
- a node is transitioned via the ROS interface (Services) by a separate ROS node (same or different process), like a "lifecycle manager" or something
- a node is t

[2020-02-06 01:04] SteveMacenski commented on #1472
Fair enough. From what I've seen of Lifecycle it seems to be a work in progress which is fine :smile:. This is just another case to add to your study next time there's being work done in this area.

I think there's many ways, like you mention, that people might want to play with lifecycle nodes. I think I'd add the following bullet, though:

- Transition from launch system

If the launch system co

[2020-02-06 01:09] wjwwood commented on #1472
Just to expand on a few of those cases that might make sense to me, while I'm thinking about it...

----

In this case we talked about have a setting in each lifecycle node which I called a "lifecycle policy", which would break down into things like:

- do nothing (all externally requested state transitions)
- automatically transition to level X
  - the node will try to transition itself up to a c

[2020-02-06 01:10] wjwwood commented on #1472
Yeah, that's what I meant.

[2020-02-06 01:14] wjwwood commented on #1472
Unless you need coordination between them, that might be replaced with the policy I described.

Even if you need coordination, the in-process lifecycle manager might be a good solution when you are composing them anyways.

Otherwise, a separate node that manages the lifecycles ("lifecycle manager") is what I think makes the most sense. If there are performance or scaling issues with that then we s

[2020-02-06 01:16] wjwwood commented on #1472
I think an option like that would be fine, but I'd like to see the implementation of it be "pass an argument to the node so it transitions itself" rather than "launch will monitor and transition the node for you". But that's just my perspective.

[2020-02-06 01:57] shivaang12 opened #1500 "turtlebot's not moving form the start pose when provided goal pose"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  -
- DDS implementation:
  -

#### Steps to reproduce issue

[code]

#### Expected behavior
Should run towards goal pose
#### Actual behavior
[bt_navigator-7] [INFO] [1580954443.690200183] [bt_navigator]: Begin navigating from current location to (0.12, 0.50)
[controller_server-4] [INFO] [1580954443.

[2020-02-06 01:58] shivaang12 commented on #1500
@SteveMacenski Do you know about this?

[2020-02-06 02:00] SteveMacenski commented on #1500
You didn't fill out any of the ticket. I can't really do or say anything with that.

I however was testing with stuff this morning, so my guess is its something with your setup.

[2020-02-06 02:02] shivaang12 commented on #1500
It's working fine with my old repo.

[2020-02-06 02:15] SteveMacenski commented on #1500
Feel free to circle back when you have more information to share.

[2020-02-06 14:25] shivaang12 commented on #1500
cool! If it's working for you then it's my system's fault. Thanks, I am closing the ticket then.

[2020-02-06 14:25] #1500 closed

[2020-02-06 17:52] 3wnbr1 commented on #1492
I'm 99% confident that my parameters are read correctly since I'm trying to tune them for a few weeks now.

I totally agree on this but using the default `dwb_core::DWBLocalPlanner`, I was not able to find the controller PID/Corrector gains. From your knowledge of the project structure, could you let me know where I might find them or anything equivalent ?

Best regards

[2020-02-06 18:28] SteveMacenski commented on #1492
I mean, I hope that's true, but I did refactor the way parameters are read in not long ago and if there are issues, this may be how they show up. See https://github.com/ros-planning/navigation2/pull/1468.

This isn't a PID controller, you may want to read [Thrun's paper](https://pdfs.semanticscholar.org/cd9e/0901a07262db18fb249efb82094e7c266527.pdf) if you're not familiar with DWA. All of [these](

[2020-02-06 22:47] #1499 closed

[2020-02-07 03:18] shivaang12 commented on #1489
I am having some what same problems with current master. After two-three preemption request I get this error. This is my log. Please ignore "[SHIVANG_DEBUG]"
[code]
It gets stuck at above log and does nothing after that. If I hit the ctrl-c then
[code]
What I noticed (with like 10 trials) is that when it finds "No valid trajectories out of 420! " then "follow path" action server drops "Aborting ha

[2020-02-07 04:32] Jconn commented on #1439
I am hitting this issue. I can reproduce it by setting a goal in rviz, and then cancelling the goal in rviz. It usually takes 4 repetitions for it to occur.

The line that causes the segfault is here in the [behavior tree lib](https://github.com/BehaviorTree/BehaviorTree.CPP/blob/ros2-devel/3rdparty/coroutine/coroutine.h#L298). i am running the head of the `ros2-devel` branch, I didn't check if th

[2020-02-07 04:38] SteveMacenski commented on #1439
@Jconn we run 3.1.1: https://github.com/ros/rosdistro/blob/master/eloquent/distribution.yaml#L208 from ros2-devel, at the moment.

Any suggestion of how to work around this or fix it? I think the big reason it hasn't been addressed yet is a lack of insight into how to resolve it.

It may be worth also filing a ticket in BT.CPP and cross linking this one.

[2020-02-07 04:43] SteveMacenski commented on #1489
What's in the control-c print outs that you're trying to highlight? It looks pretty typical to me, things just shutting down.

For your `No valid trajectories out of 420! `,  have you debugged why that's happening? How may it relate to this ticket about the action server?

I haven't seen this issue at the moment, but that may be also because I'm a little underwater trying to fix CI and documentati

[2020-02-07 04:47] Jconn commented on #1439
I'm planning on digging into this more but I'll be afk until monday. Adding
what I know in the meantime incase someone else is digging into this too

On Thu, Feb 6, 2020, 10:38 PM Steven Macenski <notifications@github.com>
wrote:

[2020-02-07 04:58] SteveMacenski commented on #1439
I appreciate it. Crashes are something I take very seriously and want to work to resolve them swiftly.

Its not clear to me from this if its our fault in not being thread safe or if its the BT.CPP project's issue. Once you dig more, circle back and let me know.

[2020-02-07 05:02] SteveMacenski commented on #1439
I don't know if this is directly related or not, but seems to be on topic to make you aware of: https://github.com/ros-planning/navigation2/issues/1285

[2020-02-07 05:12] SteveMacenski opened #1506 "Eloquent debian nav2_system_tests failing"
It looks to be for 2  reasons (http://build.ros2.org/job/Ebin_uB64__nav2_system_tests__ubuntu_bionic_amd64__binary/)

We have a failure:

[code]

and failing to get something with pthreads

[code]

which I've seen before when there were other problems afoot, so lets ignore that one for just right now.

https://github.com/ros2-gbp/navigation2-release/blob/debian/eloquent/bionic/nav2_system_tests/pa

[2020-02-07 05:29] SteveMacenski opened #1508 "Multirobot test failing consistently in ROS Build Farm"
This is failing > 95% in the ROS build farm. Even if its working in our local CI, I would like to have it removed or fixed to stop resulting in unstable builds from the ROS build farm.

[2020-02-07 06:07] SteveMacenski commented on #1453
Closing - doc tickets are still open (well the 2 that haven't already been dealt with)

[2020-02-07 06:07] #1453 closed

[2020-02-07 07:02] SteveMacenski commented on #1489
In line with this ticket on the action servers, it may be upstream.

I'm seeing most of the test issues due to:

[code]

and

[code]
spinning just never returning. I check with prints and the goal never makes it to the action server. So the async will return success, but the action server callback is never called. In the first case, it just spins forever trying to submit the goal.

[2020-02-07 07:29] SteveMacenski commented on #1489
Found issue with an uninitiated boolean. It was registering with random values creating highly non-deterministic behavior that affected **all action servers**. This is a huge stability boost. Fix in #1509

[2020-02-07 07:29] #1489 closed

[2020-02-07 07:29] SteveMacenski commented on #1489
@shivaang12 @Jconn those may be issues -- please file new tickets for them

[2020-02-07 07:38] SteveMacenski commented on #1506
Fixed with #1507 and ros/rosdistro#23705

[2020-02-07 07:38] #1506 closed

[2020-02-07 08:02] SteveMacenski commented on #1475
I went back through and found some errors in the simple action server that helped stabilize a number of the flaky tests to 100%.

Still working on the action tests.

[2020-02-07 08:05] SteveMacenski commented on #1341
Would it be OK if we dropped down to 1 or 2 nightly RMW builds? Fast RTPS (because default) and Cyclone seem the most reasonable.

Opensplice has been deprecated for Foxy & I'm not sure we've ever used Connext enough to make it worth the maintenance.

I will be looking at this after I stand up CI

[2020-02-07 11:04] Jconn commented on #1439
~4 navigation threads ticking things like the `ComputePathToPose` over the span of setting and cancelling 4 `NavigateToPose` goals

[2020-02-07 21:05] SteveMacenski commented on #1475
@shivaang12 I'm now seeing the behavior your described:

[code]

from DWB.

[2020-02-07 22:08] ruffsl commented on #1399
I think this issue with vcs is resolved, as the output of vcs export seems to be the exact branch.

* build https://8434-135363400-gh.circle-artifacts.com/0/opt/underlay_ws/checksum.txt
* test https://8439-135363400-gh.circle-artifacts.com/0/opt/underlay_ws/checksum.txt

Though, it seems that when the docker image is pulled (during `Spin Up Environment`) it sometimes isn't the exact same between b

[2020-02-07 22:08] #1399 closed

[2020-02-07 22:11] SteveMacenski commented on #1399
I'll take your word for it.

I'm working through the testing / CI issues and I'm seeing right now a pretty strange behavior where all the packages are failing with uncrustify (https://circleci.com/gh/ros-planning/navigation2/8454?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) but tests are passing otherwise. Its seemingly every single package but only in Circle

[2020-02-07 22:44] ruffsl commented on #1399
Can you reproduce locally via our development Dockerfile? Your local host setup may not have all the latest curstify rules from upstream. E.g. https://github.com/ros-planning/navigation2/issues/1465#issuecomment-574899182 , but with:

[code]

[2020-02-07 23:14] SteveMacenski commented on #1399
You could be correct: https://github.com/ament/ament_lint/blame/master/ament_uncrustify/ament_uncrustify/configuration/ament_code_style.cfg

That is a pain, ok, there goes my afternoon :wink:

I _will_ get CI passing before monday...

[2020-02-08 17:40] Jconn commented on #1439
Each time we cancel a NavigateToPose goal, we call the [behavior tree reset function ](https://github.com/ros-planning/navigation2/blob/master/nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp#L58), which sets the state of every node in the behavior tree to idle.

The nav2 `BtActionNode` inherits from `BT::CoroActionNode`

Even though we set the `CoroActionNode` to status idle

[2020-02-08 17:53] Jconn commented on #1439
This may explain the issue you linked too, https://github.com/ros-planning/navigation2/issues/1285

In that scenario, the NavigateToPose request occurs, the action server spawns a thread to handle the request, the request is cancelled and the thread dies.

Then, a separate thread resets the stack. When it resets the stack, the `tree_` object must be destroyed. The [coroutine destructor ](https://g

[2020-02-10 04:26] SteveMacenski commented on #1439
Thank you for your debugging efforts, that is a very good summary that closes the loop on this.

I'm curious from what you've seen - how long does it take to create a new BT? Is that creation something problematic (>100ms?)

I'd merge a PR with that fix if the creation time is reasonable.

[2020-02-10 13:42] maxlein opened #1511 "Origins orientation not taken into account in static costmap"
Just found out that if you add a rotation to the map.yaml's origin, the global costmap is not rotating the map. So map and static costmap differ in der global representation.
But I am not sure if this is a bug, or if this is just how the costmap "works".
I think in ROS 1, it was the same.

Map without rotation:

[code]
![image](https://user-images.githubusercontent.com/11796203/74153921-ddf1fc80-4

[2020-02-10 15:45] SteveMacenski commented on #1511
To be upfront, I won’t have the cycles to work on this. If this is something important, I’d recommend taking the initiative and implementing it yourself and submitting a PR.

This is one of those “yeah, we know its a problem” but has reasonable workarounds so it doesn’t usually cause a huge hassle.

[2020-02-10 16:05] Jconn commented on #1439
I haven't characterized that beyond just some terminal staring. I was happy to just make some progress lol

I'll submit something later today or tomorrow once I do some timing and more testing

[2020-02-10 17:33] SteveMacenski opened #1512 "Reenable Planner Tests in Master"
The master branch off Foxy has the planner tests failing (https://github.com/ros-planning/navigation2/tree/master/nav2_system_tests/src/planning).

I've done quite a bit of looking into it and I cannot figure out what's changed between Eloquent and Foxy to cause a ~75% success rate to <<5%. The smoke tests pass so clearly the planners are working and it has to do with the tests' design. I have dis

[2020-02-10 17:45] #1341 closed

[2020-02-10 17:45] #1475 closed

[2020-02-10 17:45] #1508 closed

[2020-02-10 22:05] SteveMacenski commented on #1439
Sounds good, I moved these tickets over to "In progress"

Thanks for taking lead on this. I look forward to no more crashes :-)

[2020-02-10 22:34] Jconn commented on #1439
well the tree recreation seems to fix the issue for me, but when I use the standard "navigate_w_replanning_and_recovery" behavior tree the recreation takes anywhere between 200 and 300 milliseconds.

I was checking open PRs and I think @mjeronimo probably knew all this Coro node stuff when he made https://github.com/ros-planning/navigation2/pull/1322, and there was some hesitation on there about m

[2020-02-10 22:40] SteveMacenski commented on #1439
200-300ms is a little high for me to be comfortable with that long term, but if it gets rid of crashes, I think its not a terrible idea to start with. Any other suggestions that would avoid that overhead? I think in that thread I suggest a BT pointer-swap thread where we, on bringup, initialize 2 trees, execute 1. Then the next time around we use the cached tree and then spin up a thread to kill a

[2020-02-11 02:02] SteveMacenski opened #1514 "Nightly Connext and Cyclone DDS' builds are failing"
https://circleci.com/gh/ros-planning/navigation2/8593?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

https://circleci.com/gh/ros-planning/navigation2/8592?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

These are the nightly for connext and cyclone DDS. The Fast RTPS is successful.

Something to note here is that all of the tests actually do return su

[2020-02-11 02:15] SteveMacenski commented on #1450
@hidmic any movement for fixing that small typo and testing that it works?

[2020-02-11 06:35] Jconn commented on #1439
I couldn't think of any other ways unfortunately..I think the ping-pong strategy you mention is good.

I cherry-picked https://github.com/ros-planning/navigation2/pull/1322 onto master and I'm testing that.

I will file an issue in the behavior tree repo to get some input on if there's a lighter fix. I would prefer to get the slow creation merged in and then iterate on a more efficient solution

[2020-02-11 14:05] SteveMacenski commented on #1439
Makes sense, link that ticket here and keep me posted :-)

[2020-02-11 16:13] AlexeyMerzlyakov commented on #1263
As far as I understand there are three directions in this task:
1. keep-out zones
2. slow/safety zones
3. preferred lanes

I am suggesting to create three Costmap2D plugins linked with local costmap. It should be enough to use them in Controller only without involvement in Planner Server.
There to be one plugin per each sub-task:
* KeepoutLayer will just mark keep-out zones with LETHAL_OBSTACLE wo

[2020-02-11 16:48] Jconn opened #1516 "reduce time it takes to process NavigateToPose request"
merging in https://github.com/ros-planning/navigation2/pull/1515 adds another 200-300ms of latency to handling a NavigateToPose request, which is a lot.

This comes from creating a new behavior tree every time a NavigateToPose request is accepted. That change is done to handle CoroActionNode's properly. But there should be a smarter way that doesn't take so much time.

[2020-02-11 17:01] #1285 closed

[2020-02-11 17:01] #1439 closed

[2020-02-11 17:06] SteveMacenski commented on #1367
This is no longer seen

[2020-02-11 17:06] #1367 closed

[2020-02-11 17:09] SteveMacenski commented on #1461
Closing -- we can continue discussion but there isn't really an action item here.

[2020-02-11 17:09] #1461 closed

[2020-02-11 17:27] SteveMacenski commented on #1263
I think it should be the opposite. I think only the global costmap makes sense for most of these, since there is going to be a globally defined set of maps for each of those tasks. Also for the keep out zones, it is necessary for the planner to have that information so that it is unable to path plan through those areas. Additionally, the safety zones need to be aware of the location in the global

[2020-02-11 18:29] #229 closed

[2020-02-11 21:31] ruffsl commented on #1461
Sure thing, we can keep this a discussion until we come up with something more concrete.

@SteveMacenski , I've opened some tickets directly over on Kimera to connect with the project maintainers about these ideas. As an author of slam_toolbox, I figured you might also be interested as well. I'm thinking about non-planner SLAM for non-planner path planning.

* https://github.com/MIT-SPARK/Kimera-V

[2020-02-11 21:40] SteveMacenski commented on #1461
Got it - sorry I didn't know things were happening behind the scenes. I figured this ticket was forgotten about.

Also a note, I had a short meeting with the CEO of anybots over the weekend talking about porting grid maps and elevation mapping over to ROS2. Part of the goal of that work would be to replace costmap2d with it so that we have a terrian mapping solution to work with.

Accordingly, I w

[2020-02-11 22:27] SteveMacenski opened #1517 "Plugin-ize costmap2d in the servers"
Right now, costmap 2D is hardcoded into the controller and planner servers.

In the future, we may want other representations. While we could host the environmental representations in other processes, having low-latency, direct access to this data is necessary for algorithms with many querys and such that large messages don't block the thread which executing the callback.

[2020-02-11 23:24] ruffsl commented on #1461
The project's name, Kimera-VIO, is a bit odd but does include SLAM capabilities. Particularly once the LoopClosureDetector module is enabled:
https://github.com/MIT-SPARK/Kimera-VIO/blob/master/docs/tips_usage.md

You may want to check out the recent publication detail the architecture:
https://github.com/MIT-SPARK/Kimera-VIO/blob/master/README.md#publications

I'd like to eventually reach 3D, as

[2020-02-12 00:56] SteveMacenski commented on #1461
I'm familiar with Kimera. At some point last year I did a dive into it to see what was up - I forget at the moment why I didn't explore it more.

We're on the same page here. Actually the 3D navigation part of that problem is pretty closed-form; I know its something I could do given time and resources. What I'm a little more skeptical of is the 3D generalized positioning system and map representat

[2020-02-12 03:48] ruffsl commented on #1461
True. I haven't yet seen victor format arise, but I also haven't delved deep into that topic.

Haven't seen much recently around using gradients for planning, mainly just from old textbooks, e.g:

https://books.google.com/books?id=S3biKR21i-QC&lpg=PA91&ots=blANP7VFWT&dq=ronald%20arkin%20%22gradient%22%20planner&pg=PA91

Are there many frameworks that make use of gradients for planning, or just mot

[2020-02-12 15:39] ToniRV commented on #1461
@ruffsl thanks for pointing me to this thread, very interesting discussion!
Let me just add that Kimera will soon support global 3D path-planning, either using the volumetric ESDF (slow honestly), or using a skeleton of the free-space (topological, quite fast) using ETH's work https://github.com/ethz-asl/mav_voxblox_planning
![Screenshot from 2020-01-31 02-16-11](https://user-images.githubusercont

[2020-02-12 17:26] AlexeyMerzlyakov commented on #1263
Agree, that using only the global costmap, path planner will correctly make a path and robot should avoid restricted areas. But I am not sure how robot will move near them: when controller will not see any obstacle on local map, it could move the robot inside restricted area during maneuvers.

Sounds reasonable. It is no problem to prepare one plugin instead. Also, since one plugin may be named wh

[2020-02-12 19:05] SteveMacenski commented on #1263
That is possible. Some of the plugins could be loaded for both. For instance, the speed zones don't, the keep outs probably do.

[2020-02-12 23:12] SteveMacenski opened #1518 "Throttle or remove the buffer warnings from TF on bringup"
We have warnings that appear because we can't transform from map->odom yet. Then under the hood, TF2 is also broadcasting warnings, but much faster, and much more "errory" that just engulfs the terminal on bringup.

We need to find a way to either suppress those since we catch the warning ourselves or at least throttle them to something managable.

[2020-02-13 00:39] #1450 closed

[2020-02-13 00:41] ruffsl commented on #1461
Nice! I just read through [ETH's 2019 paper](http://helenol.github.io/publications/jfr_2019_system.pdf) using voxblox_planning, wasn't aware of this work before. I may read through the rest of Dr. Helen Oleynikova's thesis when I get the chance. I suspect mobile ground based robots could leverage the same topological planning by adding sampling constraints to search for freespace trajectories alon

[2020-02-13 01:35] #1240 closed

[2020-02-13 02:35] SteveMacenski commented on #1461
Sorry, I was unclear, I mean planning with gradient (ie terrain) representations of the space. I suppose it could be a mesh instead, but I think the mesh should be converted into a representation gradients anyhow.

If that's your definition, than fair enough, this falls into the class of LIDARs to you. For me, I don't consider it a lidar unless its long range and ToF is one such way you can make a

[2020-02-13 03:38] ToniRV commented on #1461
@SteveMacenski sorry I meant path planning of a drone (ground robot should be also possible using this repo instead https://github.com/anybotics/elevation_mapping I guess, but we don't support it currently).

[2020-02-13 04:17] SteveMacenski commented on #1461
Yup, that's the medium-term direction I'm going with this project. I was just curious since your links seemed more drone related but (at least my interpretation of) this project is more ground robot related

[2020-02-13 11:02] AlexeyMerzlyakov commented on #1263
I am talking about directed lanes. There could be direction maps encoded as PGM-files and plugin for Costmsp2D forcing robot to move in specified direction each time when robot enters the directed lane.
The design is just as follows:

Map-server part:
* At the input - PGM-file with encoded lane directions. It contains values from 1 to 255 with following encoding rule: 1 - North direction, 64 - Eas

[2020-02-13 20:24] Jconn opened #1519 "simple_action_server race condition, deadlock"
## Bug report

**Required Info:**

- Operating System:
ubuntu 18.04
- Version or commit hash:
hash 2a37b51aa (master on 02/11)
- DDS implementation:
Fast-RTPS
#### Steps to reproduce issue
I'm hitting this when sending NavigateToPose goals in a script that fires off a new goal as soon as the previous goal succeeds.

There's a race condition between when the `work()` function finishes and when a ne

[2020-02-13 20:27] SteveMacenski commented on #1519
Does this describe your issue https://github.com/ros2/rclcpp/issues/861?

[2020-02-13 20:48] Jconn commented on #1519
I think its an issue with the nav wrapper. After I hit this case, the navstack 'zombies' and doesn't respond to new NavigateToPose goals, and also stops logging anything. I'm working on a fix

[2020-02-13 21:00] crdelsey commented on #1519
Looking forward to the PR. In general, I think our current simple_action_server/client code is overly complex and prone to race conditions. I'd like to rewrite at some point. Since you're looking at this specifically today, I'd be interested in any thoughts on alternate architecture for this component if any ideas come up.

[2020-02-13 23:11] #1519 closed

[2020-02-14 08:38] KadynCBR opened #1521 "RGBD intersects laser scan for simulation launch"
## Bug report

**Required Info:**

- Operating System:
  -
  - Ubuntu 18.04 -- Eloquent
- Version or commit hash:
  -
  - 1f6d5a509865936c0537b1a454ae656d2dfe1783
- DDS implementation:
  -
  - Fast-RTPS
#### Steps to reproduce issue

[code]

#### Expected behavior
![image](https://user-images.githubusercontent.com/4926263/74513962-8e852800-4ec0-11ea-8989-d447b9c2666f.png)

#### Actual behavior
![i

[2020-02-14 08:44] fmrico commented on #1521
Hi @KadynCBR

I experienced the same problem. I change the robot model to raise the laser a little bit.

I can do a PR, but I would like to know more opinions also.

[2020-02-14 09:44] AlexeyMerzlyakov opened #1522 "Add preferred lanes CostmapFilter"
## Feature request

#### Feature description
- [ ] Enable the capability for setting traffic lanes and/or preferred routes.
- [ ] Interface to a UI that allows users to create the traffic flows/lanes, such as this [one](https://github.com/osrf/traffic_editor).

The ticket is a branch from #1263 meta-ticket. It contains all background and work related to "lanes" features only.

#### Implementation

[2020-02-14 09:53] AlexeyMerzlyakov commented on #1263
Moving lanes-related discussion into separate ticket #1522.

[2020-02-14 09:56] crdelsey opened #1523 "Can't run bt_navigator without specifying a ton of parameters"
See https://answers.ros.org/question/344030/nav2_bt_navigator-exception-in-callback/?answer=344120#post-id-344120

The OP is trying to ros2 run nav2_bt_navigator bt_navigator, but can't do it without specifying a long set of parameters, specifically naming all the libraries containing all the bt nodes that might be needed.

We should link in our bt nodes by default, or parse the XML and load any t

[2020-02-14 13:50] AlexeyMerzlyakov opened #1524 "Add writing new Costmap2D plugin tutorial"
Add new "Writing new Costmap2D plugin" tutorial containing steps how to make your own plugin for Costmap2D.

[2020-02-14 14:36] SteveMacenski commented on #1523
I think I actually removed that default library awhile back since it doesnt exist and therefore will always be wrong, which should help alleviate that issue in the future.

Both of the suggestions would be beneficial.

[2020-02-14 17:29] SteveMacenski commented on #1263
I think for the naming of things, we can get more pedantic about that in a PR, but the approach sounds reasonable. I think the best option is to create a base class with some of this functionality and then derive from it the specific implementations of methods. I'm imagining the base class taking a `map_mask` or similar parameter, getting the map from the topic, storing it with get/set functions.

[2020-02-14 17:30] SteveMacenski commented on #1522
CC @DLu, who may have some experience or ideas to share, @ruffsl who suggested it in the original discourse thread

[2020-02-14 17:40] SteveMacenski commented on #1522
That's an interesting approach, I hadn't thought of something like that. It seems a little non-general but it might function just as well.

If you know the lane boundaries (ei you know the locations of the sides widthwise of the lane) why not draw a straight line of lethal cost across it, lets say, 1 meter behind the robot? That would push the robot forward in the lane without the sides that make

[2020-02-14 20:33] SteveMacenski commented on #1524
Looking forward to it!

[2020-02-14 20:46] SteveMacenski commented on #1521
1. Very good ticket. Thank you. Pictures tell a thousand words.
2. You're 100% right, this is a problem, a simple shifting up on the URDF should give that a fix - do submit a PR.

I saw the fluttering of the laser scan for a year and just assumed it was Gazebo's noise model at work or the front end just not projecting all the beams before the next one came along. I never actually looked into it.

[2020-02-14 21:05] DLu commented on #229
@shivaang12 I felt like the latter was a bit more descriptive of what was going on, since it doesn't actually change the scores, but just generates visualization information.

[2020-02-14 21:42] #1521 closed

[2020-02-15 00:51] SteveMacenski commented on #938
@DLu if you’re interested in touching base here- this ticket would be a natural starting point 😉

[2020-02-15 03:55] #1514 closed

[2020-02-15 04:11] SteveMacenski commented on #555
My suggestion is to rather print warnings if in capable to reach performance requirements. Inside of the controller server rather than the DWB plugin so that its general for any consumer code.

This however, as I found, is already implemented from our `nav2_controller` implementation. When building a system, if you start seeing these warnings, there's something wrong and that should be addressed i

[2020-02-15 04:11] #555 closed

[2020-02-15 04:12] #710 closed

[2020-02-15 04:15] #1405 closed

[2020-02-15 04:27] SteveMacenski opened #1530 "Nightly builds failing to exit cleanly for passed status to be registered: timing out"
From #1527 we need to see if we're fixing the issue. Retriggering nightly on the day of isnt getting the recent commit hashes, so I'll have to wait a day between them without digging into the CircleCI code more to clear the cache and build. No worries, I'm not in a hurry.

[2020-02-15 04:29] SteveMacenski commented on #1516
Did you file a ticket with BehaviorTree.CPP on the reset?

[2020-02-15 04:30] SteveMacenski commented on #1337
@mlherd is this something you're still open to doing? It would save me a **ton** of time to work on fixing other issues if I didn't have to learn how we deal with meshes for the testing setup right now

[2020-02-15 04:31] Jconn commented on #1516
it is here https://github.com/BehaviorTree/BehaviorTree.CPP/issues/146

[2020-02-15 04:32] SteveMacenski commented on #1421
@crdelsey do you know if we can just remove the "last updated" item on the website instead? Given the current status of our maintainers' time, I don't want to burn many cycles on a pretty superficial footer that near-no-one will look at

[2020-02-15 04:36] #1523 closed

[2020-02-15 04:43] SteveMacenski commented on #1516
Awesome, thanks for linking it.

Is this ticket something you have a a business reason to look into, or should I put this in the pool of tasks to try to find some interested parties to look at?

[2020-02-15 05:03] SteveMacenski commented on #1492
@3wnbr1 any updates? Did you find your problem was better after some tuning?

[2020-02-15 05:15] Jconn commented on #1516
I would put it in the pool - we aren't prioritizing performance issues yet

[2020-02-15 05:35] #1409 closed

[2020-02-15 05:36] SteveMacenski commented on #1516
Ok, thanks for the update.

[2020-02-15 05:55] SteveMacenski opened #1533 "Tutorials for creating all plugins"
Need a set of tutorials with examples of creating new plugins. These shouldn't take long and should be very simple implementations as an example

- [x] costmap 2d: gradient layer
- [x] Planner: straightline planner
- [x] Controller: Pure pursuit  **[IN PROGRESS]**
- [x] Recovery: Send a slack / sms message / email or something
- [x] BT: Call new server to trigger an external action (call an elevat

[2020-02-15 05:55] #1524 closed

[2020-02-15 05:55] SteveMacenski commented on #1533
CC #1524 @AlexeyMerzlyakov I'm just moving the discussion over here so that its all together.

[2020-02-15 07:54] SteveMacenski commented on #1396
Hi @srsidd,

I'd love more feedback on the tutorials and documentation, but it seems that the specific issues this ticket covers are no longer issues, primarily because those files no longer exist. We've transitioned our documentation to the website (https://ros-planning.github.io/navigation2/). If you have any feedback there or suggestions of how to improve, we certainly welcome that.

[2020-02-15 07:54] #1396 closed

[2020-02-15 07:56] SteveMacenski commented on #1346
Closing out - we don't have the engineering time to support multiple or varying environments. We should stick to what we know for the time being.

If a PR appeared to change the environments that works, I'd merge it, but I don't believe its an action item as a bug or required feature to keep a ticket open for.

[2020-02-15 07:56] #1346 closed

[2020-02-15 08:00] SteveMacenski commented on #392
The other tickets mentioned above reference the specific action items to implement for map server improvements.

As this is a metaticket that hasn't been scheduled for working after more than a year, I'm inclined to close it. The actual action items are totally valid and will remain open, but I think a centralized design effort is unlikely to happen at any time in the foreseeable future without a

[2020-02-15 08:00] #392 closed

[2020-02-16 02:39] SteveMacenski commented on #1530
Update: Changes for the system tests make them now no longer fail on shutdown, but are not returning so the test is timing out.

PR #1535 fixes this as well for the waypoint follower, but that has an explicit `exit(0)` so I'm curious if tomorrow's nightly build will have that one still fail or not. If not, then we can add the explicit call and be done with it, but I kind of doubt it'll be that tri

[2020-02-16 08:19] #1421 closed

[2020-02-16 09:18] SteveMacenski opened #1540 "Update nav2 experimental branch and remove DQN package"
This work was not completed and having in the direct repo sends the wrong message. Rather than removing this work, I would like to shift it over to a branch that someone can resume at some later point.

[2020-02-17 15:36] AlexeyMerzlyakov commented on #1533
I've submitted a PR for a `gradient_layer` plugin. In terms of this issue, there are might be need to update a directory structure to put all plugins' tutorials in one place and rename `writing_new_costmap2d_plugin` to something else as well. But I do not know your original intention, so remained the commit as-is in order to start a concrete discussion about.

[2020-02-17 20:37] SteveMacenski commented on #1533
Awesome, I'll take a look tomorrow (today is an American holiday). One thing I did notice if that you included the C++ files in the documentation itself.

Can you create a ros package `nav2_gradient_costmap_plugin` or something similar and put this info in the newly created navigation2_tutorials repo? This lets us separate out tutorial code from the main codebase, and also creating a full stand-al

[2020-02-17 22:23] #1540 closed

[2020-02-18 00:47] SteveMacenski commented on #1530
https://8954-135363400-gh.circle-artifacts.com/0/opt/overlay_ws/log/test/nav2_system_tests/stdout.log

Same issue still with waypoint follower. All tests are passing but they're failing the nightly builds by just not returning cleanly.

[2020-02-18 00:52] SteveMacenski commented on #1530
@ruffsl any ideas why the nightly builds would act differently than the normal CI / master branch builds? This is not seen in either of those in CircleCI.

[2020-02-18 07:04] SteveMacenski commented on #1277
I'm also going to take a deeper technical dive into TEB. They claim it has some optimality to it and if that's true, it may be worth actually making TEB (or some variation on) the default controller over DWB.

[2020-02-18 21:34] croesmann commented on #1277
TEB can actually be seen as a special realization of MPC:
- Variable horizon length
- Terminal equality condition (however, less restrictive since the horizon length is variable)
- System dynamics are described in terms of a *flat system*, so optimization is just performed in the state space (SE2 poses) and inputs are afterward reconstructed from the pose trajectory.
- Discretization using direct

[2020-02-18 22:23] ruffsl commented on #1530
Nightly shouldn't act different than any merge commit that's tested after it's pushed to master.

https://github.com/ros-planning/navigation2/blob/4836c7ff40e28497b350a5cc67e2e0a26488df51/.circleci/config.yml#L468-L483

Nightly also has the same type of jobs as build_and_test (but more of them), only a different trigger:

https://github.com/ros-planning/navigation2/blob/4836c7ff40e28497b350a5cc67e

[2020-02-18 22:25] SteveMacenski commented on #1530
I'm not sure what that is pulling from. There are times (most times) when at least 1 of the tests fail when merging into master, which I would think should make it say failing, but it'll be passing. Other times, it'll be failed with the same conditions. Is it related to nightly at all? That's not immediately clear to me.

The nightly for Cyclone and Connext always fail this way, but we also don't

[2020-02-18 23:03] SteveMacenski commented on #1277
Alright, there's alot there. We may want to take some of this offline into emails for brevity and come back here with a summary, especially if you have some of this work in private branches you don't want to excessively discuss in this forum. My email's on my github page if you want to address a response there.

My current plan is to mess around with creating prototype 2.5D C-space planners. On my

[2020-02-19 02:00] ruffsl commented on #1530
From the "Checkout code" step, you can verify the commit hash it clones/checkout:

[code]

The workflows named "build_and_test" only runs a release and debug build/test using the default RMW (FastRTPS currently), while the "nightly" workflow also tests Cyclone and Connext.

I think I may see the issue in your use of the web UI vs your expectations:

If you go to an old nightly job, and click on "R

[2020-02-19 02:57] SteveMacenski commented on #1530
I'm saying I'm not what the CI badge is pulling from.

[2020-02-19 04:41] ruffsl commented on #1530
Ok, I had no idea this was all about badges. I'd guess that the depicted state of the badge derives from the success or failure of the most recent job on the specified branch.

https://circleci.com/docs/2.0/status-badges

Though perhaps there's some latching issues in hosting the badge endpoint, as both circlci and shields.io show the same status, although the last workflow on the repo has failed.

[2020-02-19 04:43] SteveMacenski commented on #1530
Huh, that's unusual. Interesting.

Anyhow, that's here nor there on this ticket -- this is on why cyclone / connext decided that they dislike me. I poked Joe to see if he or his team had thoughts.

[2020-02-19 05:37] SteveMacenski commented on #1228
how those all are structured, their plugin definitions, what messages they send around, relative rates, behavior tree how it works and how we use it, our custom BT nodes, lifecycle manager.

Behavior tree concept, action server concept, lifecycle manager concept.

[2020-02-19 13:30] AlexeyMerzlyakov commented on #1217
I've checked the `rewritten_yaml.py` code on given example. Indeed, during the `getYamlLeafKeys()` execution there only one parameter tree available to this method.
After insertion the following line to `rewritten_yaml.py`:
[code]
I've discovered that newly loaded yaml-file contains only one parameter tree:
[code]
This means that `PyYAML` loading mechanism is keeping only one unique parameter key

[2020-02-19 22:22] SteveMacenski commented on #1217
Got it. To be clear, is this issue because of the `ros__parameters` namespace or because of 2 `top_node`s?

I suppose what we could do is run each tree separately. I'm sure somehow we can find the lines with root items and then run each section of the params file over that and concatenate them?

Second, larger question, is whether we "should". How often is it that people have 1 yaml file with mult

[2020-02-20 03:57] #1518 closed

[2020-02-20 12:29] VorpalBlade commented on #1391
I would be willing to consider Apache license. I do also believe that having a 2D localiser is still useful, since a lot of robots (especially student projects) can be quite computationally limited, running on for example a raspberry pi with a simple 2D laser. 2D MCL is quite a lot computationally cheaper than for example NDT-MCL (I'm not really familiar enough with other 3D localisation approache

[2020-02-20 18:16] SteveMacenski commented on #1391
Well its also pretty trivial to extend AMCL to 3D if you have a 3D map to work with. its the same concept with raycasting except now its with voxels instead of pixels.

Anyhow, Apache would be great just to conform with the rest of the repo. With that said, things have changed on our end (most of the Intel people are no longer working on this project) and I will not have any time in the foreseeabl

[2020-02-20 18:21] AlexeyMerzlyakov commented on #1217
This is initially the issue of duplicating keys (in this example: 2 duplicating `top_node`) in YAML-file. Duplicating keys in YAML-file are restricted by the standard - latest YAML spec https://yaml.org/spec/1.2/spec.html#mapping// says:

As I understand, `rcl_yaml_param_parser` uses its own parser that makes the work with duplicating keys in YAML-s to be out-of-standard. If we will make our own p

[2020-02-20 18:30] SteveMacenski commented on #1217
I think that’s a good analysis. Closing ticket as won’t fix, the core concept is invalid

[2020-02-20 18:30] #1217 closed

[2020-02-21 16:31] relffok opened #1556 "reduce missing frame warning output"
## Feature request

#### Feature description
When running the nav2 bringup I run into the problem that a lot of missing map frame warning messages are published **until a 2D pose is estimated**, like the following:

`[planner_server-13] Warning: Invalid frame ID "map" passed to canTransform argument target_frame - frame does not exist`

These warnings come up in no time and stop when a 2D pose was

[2020-02-21 16:58] AlexeyMerzlyakov commented on #1533
Thank you for so detailed review! I've made all changes you've mentioned in the PR #1451 and re-submitted new patch there.

[2020-02-21 16:59] SteveMacenski commented on #1556
Good timing, I merged that a few days ago https://github.com/ros-planning/navigation2/pull/1553

[2020-02-21 18:00] relffok commented on #1556
Oh I didn't see that one. Great, thanks!

[2020-02-21 18:00] #1556 closed

[2020-02-21 22:01] crdelsey opened #1557 "Turtlebot world doesn't show up when running tb3_simulation_launch.py"
## Bug report

When running the nav2 stack through the provided tb3_simulation_launch.py launch file, Gazebo starts and the turtlebot shows up, but not the turtlebot world

#### Steps to reproduce issue
[code]

#### Expected behavior

![image](https://user-images.githubusercontent.com/39749483/75075196-1f0bcb80-54b2-11ea-806f-f4e22775de9e.png)

#### Actual behavior

![image](https://user-images.gi

[2020-02-21 22:03] crdelsey commented on #1557
I'm just submitting this issue because several of us were running into the problem. The fix at the end of the description above. We can close this as soon as a few people have had a chance to see this.

[2020-02-21 22:17] SteveMacenski commented on #1557
It appears I have it in my bashrc

[code]

Good thinking past me.

[2020-02-22 22:41] mlherd commented on #1337
@SteveMacensk I remember #1249 was the first step for this issue. I can work on this issue sometime next week.

[2020-02-23 02:09] Leonti opened #1558 "Navigation with SLAM Toolbox - nothing happens"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 19.10
- Version or commit hash:
  - 8793b3a806b51f21bc88526e0896e332bffc3e7d
- DDS implementation:
  - default one

#### Steps to reproduce issue
1. Start gazebo simulation with Lidar and Slam Toolbox
Here is my repo where my config is located:  https://github.com/Leonti/ros-rover
It's nothing more than a robot model, room world and

[2020-02-23 06:07] SteveMacenski commented on #1558
Does this work with amcl rather than slam toolbox?

There should be no relationship between slam toolbox and navigation if you’re not seeing tons of TF errors every time you try to go to pose.

Have you started with our basic tutorials and moved from there? Why not common with rviz using our provided action server tool? Does that work?

Also what branch is that on? We don’t support specific issues

[2020-02-23 08:03] Leonti commented on #1558
Hi @SteveMacenski!
Thanks for the reply!

My repo has no navigation launch files because I'm using the ones from this repo:
https://github.com/ros-planning/navigation2/blob/8793b3a806b51f21bc88526e0896e332bffc3e7d/nav2_bringup/bringup/launch/nav2_navigation_launch.py
`nav2_params.yaml` is the same as in the repo, no changes at the moment.
Is `nav2_navigation_launch.py` not the one I should be usin

[2020-02-23 11:08] Leonti commented on #1558
@SteveMacenski you were right - there are 2 topics:
`/goal_pose` and `/move_base_simple/goal`

Sending a message to `/goal_pose` makes it work (the robot is still not moving, but I can deal with it, at least I see something is happening)
[code]

I still don't understand how Turtlebot example works - if Rviz is sending messages to `/move_base_simple/goal` when I click on the `2D Goal Pose`, how is

[2020-02-23 20:09] SteveMacenski commented on #1558
Rviz does not send on the move base topic for ROS2. It sends on the goal pose topic.

Sounds like you found your issue! Closing out

[2020-02-23 20:09] #1558 closed

[2020-02-23 20:10] #1557 closed

[2020-02-24 01:38] Leonti commented on #1558
Ok, now I know what happened - my setup was copied from another project which had topic set to:
[code]
This is why RViz didn't work.

Next thing I did is I looked at the docs https://ros-planning.github.io/navigation2/tutorials/docs/navigation2_with_slam.html which had `/move_base_simple/goal` as well so this is why sending message to a topic directly didn't work either.

I created a PR to fix the

[2020-02-24 19:13] srsidd commented on #1396
Hi @SteveMacenski, thanks for the heads up. I'm excited abt the sphinx documentation which IMO is big stepup. I tried the new instructions recently and have the following comments -

- I think it's worth specifying a `rosdep install` step in the src build instructions (I had a dependency issue that was resolved by running the rosdep cmd which is currently missing)
- I had trouble with my ros1\ros2

[2020-02-24 20:06] SteveMacenski commented on #1396
rosdep is indeed in the source build instructions

[code]

I'm not sure that that needs to be explicitly called out. We never ask for users to source or do anything with ROS1 in the instructions so there shouldn't be any reason a user would think they should source any ROS1 paths.

Its not missing - its not included. This is how to install navigation2, which doesn't depend on turtlebot. If you wou

[2020-02-24 21:05] srsidd commented on #1396
Perhaps I was looking at the wrong page, but I used instructions from [here](https://ros-planning.github.io/navigation2/build_instructions/index.html#manually-build-master) to manually build from master and that doesn't have a rosdep install step.

That's fair, my assumption is that (like myself) most people already would have a shortcut in their `.bashrc` to source their ros1 workspace, and do no

[2020-02-25 04:14] SteveMacenski opened #1563 "Create BT node plugin for checking for a TF transformation"
This topic has come up a few times as something that may be useful. It's also very easy to create and could be generally useful.

Basically BT navigator should pass a TF buffer as a pointer in the blackboard of the behavior tree. Then the new BT TF node should take in a parent and child frame strings in the XML and return if that transformation exists within some reasonable timeout.

[2020-02-26 03:10] Jconn opened #1567 "xy_goal_tolerance param name is different in simple_goal_checker and rotate_to_goal"
The [rotate to goal](https://github.com/ros-planning/navigation2/blob/master/nav2_dwb_controller/dwb_critics/src/rotate_to_goal.cpp#L58) `xy_goal_tolerance` looks for a different param than the [simple goal checker]( https://github.com/ros-planning/navigation2/blob/master/nav2_dwb_controller/dwb_plugins/src/simple_goal_checker.cpp#L64) `xy_goal_tolerance`

This is a difference from dashing, I assu

[2020-02-26 03:13] Jconn commented on #1492
the rotate to goal critic and goal checker are looking at different xy_goal_tolerance params in eloquent-devel as well as master.
https://github.com/ros-planning/navigation2/issues/1567

the goal checker is picking up the change from your param file but the rotate_to_goal critic is not. If you tighten your xy goal tolerance beyond the default, the rotate to goal critic could fire and ban you from

[2020-02-26 03:33] SteveMacenski commented on #1567
I can't imagine it was, PRs welcome.

What are the 2 names?

Not providing any default configfile ;-) but that's not a good answer either. We could run some static analysis tests to check all declares and check the yaml and report an error if not aligned. That would be a little hard though.

[2020-02-26 15:31] Jconn commented on #1567
in `SimpleGoalChecker` we have:
[code]

and in `rotate_to_goal` we have:
[code]

[2020-02-26 20:35] 3wnbr1 commented on #1492
Sorry for the late reply, I tried the second trajectory generator `dwb_plugins::LimitedAccelGenerator` which best suite my needs by the way. As the speeds and accelerations were defined by the robot, I proceeded to tuning the critics.

*All my tests were done on `master` commit `f1aee99`*

At first, my robot wasn't achieving its goal but entering recovery right before getting around 40cm from it.

[2020-02-26 20:37] SteveMacenski commented on #1492
to kind of summarize that, you were able to fix it with tuning the controller?

Can we close this then?

[2020-02-26 20:38] SteveMacenski commented on #1567
Ah ok. Mhm.

I definitely do not want to make the `FollowPath.<critic>.xy_goal_tolerance` the new default, it should be be probably the `FollowPath.xy_goal_tolerance` while the goal checker is still inside of DWB's implementation.

[2020-02-26 20:56] 3wnbr1 commented on #1492
I would like to understand why the trajectories don't converge to the goal pose but somewhere else. Then it will be just tuning and I will consider this closed

[2020-02-26 21:04] SteveMacenski commented on #1492
https://github.com/ros-planning/navigation2/issues/938

Try not using these plugins with known issues.

[2020-02-26 21:17] 3wnbr1 commented on #1492
Thanks for your feedback, I will try to investigate the underlying issue and test with the original config. I'll post updates tomorrow.

[2020-02-26 23:05] Jconn commented on #1567
makes sense to me. I'll get a PR for this early next week

[2020-02-27 01:28] SteveMacenski opened #1570 "Planner update logic change"
Rather than planning at 1 hz, I'd like to propose the following, where in the prior iteration we stored the path and the path cost:

At 10hz (or something) we:
- Check if old path has the same, lower, or higher cost
- If lower, same or slightly higher, we continue on it
- If much higher by some statistical value, we replan and replace the original plan
- If legal obstacle, we replan

The goal here

[2020-02-27 08:58] amburkoff commented on #1522
Добрый день, @AlexeyMerzlyakov!
Приглашаю вас выступить с докладом на ROS Meetup 18 апреля в Москве.
https://sberbank-robotics.timepad.ru/event/1271640/ - анонс.
https://habr.com/ru/post/476436/ - видео записи с первого ROS Meetup.

[2020-02-27 10:53] ninamwa commented on #1227
Is it a requirement that a subscribed topic for the obstacle layer is /scan? I tried testing with two different scan topics, named scan_1 and scan_2. When setting the initial pose in Rviz, nothing happens and the transform from map to odom is never created. When changing the topics to /scan and /scan_2, the initialization is fine again. But then it does look like only the /scan topic is included i

[2020-02-27 13:55] 3wnbr1 commented on #1492
After some testing, this strange behavior was due to `PathAlign` critic. As the underlying issue falls back to #938, I'm closing this.

[2020-02-27 13:55] #1492 closed

[2020-02-27 15:38] shivaang12 commented on #1252
@SteveMacenski Can you provide me some more context for this problem? Thanks!

[2020-02-27 16:33] AlexeyMerzlyakov commented on #1010
From high-level point of view, the following refactoring changes seems are required in `nav2_map_server`:
- Move `MapSaver` code inside `OccGridLoader`. `try_write_map_to_file()/mapCallback()` methods to be renamed to `saveMapToFile()`.
- `map_saver_cli.cpp` to be connected with `OccGridLoader` class instead. CLI functionality of `map_saver` binary to be untouchable.
- In `OccGridLoader` class unc

[2020-02-27 18:35] SteveMacenski commented on #1252
Essentially, these defaults (https://github.com/ros-planning/navigation2/blob/master/nav2_behavior_tree/plugins/action/spin_action.cpp#L49) are not being properly used. The "InputPorts" are the inputs that can be taken by a behavior tree node, and there are a number of them. What we have done to get around this is require all XML nodes to fully fill out the inputs or in the setup of the BT node, w

[2020-02-27 19:17] SteveMacenski commented on #1010
Is there also a `map_saver_server` node, ei something that can take a map being published and on a service call save it to a file? The single use `map_saver` is necessary, but I like the idea of multiple calls (often) having a single server that can be hosting it so we don't have nodes coming up and down alot for a necessary operation.

I see the output as needing 4 things:
- map server, as descri

[2020-02-27 22:01] AlexeyMerzlyakov commented on #1010
Initially, I planned to merge `map_server` and `map_saver` into one node which can also save and load maps by input services. But if you consider that to remain architecture of separate `map_server` and `map_saver` is better choice, e.g. for some reasons like compatibility with code already using `map_saver`, there is not a problem to keep them individually.
Regarding `map_saver_server` with servi

[2020-03-02 00:01] SteveMacenski commented on #929
[IROS_2020___Navigation2(9).pdf](https://github.com/ros-planning/navigation2/files/4272801/IROS_2020___Navigation2.9.pdf)

Done, submitted for IROS 2020, up on Archix soon.

[2020-03-02 00:01] #929 closed

[2020-03-02 03:49] ROBOTIS-Will commented on #1337
@mlherd I can help with simplifying TurtleBot3 mesh files. Not sure where the DAE files first came from, but I think using a different 3D file only in Nav2 simulation wouldn't be critical. Combining NAV2 into a TurtleBot3 WS can be reviewed later if it is not urgent.

[2020-03-02 19:27] SteveMacenski commented on #1567
Any update here?

Moving to "In Progress" on the V1 project

[2020-03-02 19:38] shivaang12 commented on #1252
Okay on it!

[2020-03-02 20:04] Jconn commented on #1567
I'll have a PR soon. I forgot about this, thanks for the ping

[2020-03-02 20:37] SteveMacenski commented on #949
@mjeronimo thanks for the analysis on root cause. It was pretty trivial to fix after your good analysis. See #1574

[2020-03-02 20:52] SteveMacenski commented on #855
Per #1472 and other discussions over the last year, I think we've come to the agreement to push this into the launch system. We'll keep lifecycle manager around (spun out into another repo) as its generally useful, but we'll have the launch system handle this.

[2020-03-02 20:52] #855 closed

[2020-03-02 20:54] #1563 closed

[2020-03-02 20:57] #949 closed

[2020-03-02 21:15] #1567 closed

[2020-03-02 21:18] SteveMacenski commented on #1225
This was a particular demo for Intel - closing since I don't have that hardware and the docking controller by all accounts already exists in the turtlebot codebase

[2020-03-02 21:18] #1225 closed

[2020-03-02 21:20] SteveMacenski commented on #1229
Moving tickets into the Foxy milestone, so we don't have redundant lists.

See list here: https://github.com/ros-planning/navigation2/milestone/15

[2020-03-02 21:20] #1229 closed

[2020-03-03 00:29] SteveMacenski commented on #1490
Incoming

[2020-03-03 00:29] #1490 closed

[2020-03-03 00:46] #1395 closed

[2020-03-03 02:01] SteveMacenski commented on #929
http://arxiv.org/abs/2003.00368

[2020-03-06 03:14] SteveMacenski commented on #1512
Fixed

[2020-03-06 03:14] #1512 closed

[2020-03-07 00:11] SteveMacenski commented on #1339
Working on this now. So far I'm thinking:

Navigate to pose:
- pose
- time for task
- number of recoveries executed
- distance left (? follow path has, but also useful to an application client I imagine)

Follow path:
- distance left

Compute path:
- None, very short process without a loop

Backup:
- Distance
- time processed

Spin:
- distance
- time processed

Wait:
- time left

[2020-03-07 00:49] SteveMacenski commented on #1530
Fixed!

Now what's left is usual flakiness of tests. Will make new ticket for that.

[2020-03-07 00:49] #1530 closed

[2020-03-07 00:50] SteveMacenski opened #1585 "Fix flaky tests"
The costmap and random planner test and the action_utils test are flaky. We should get them back up to >80%.

Sometime we see the waypoints task fail, but that's much less frequently.

- [ ] planner - costmap
- [ ] planner - random
- [ ] action utils. Not sure why this started behaving much better today, but I'll take it.

[2020-03-07 22:22] mlherd commented on #1337
@ROBOTIS-Will I would really appreciate your help! I have been able to work on this yet. Please feel free to take the lead.

In my opinion, for Nav2 bring up it is ok to use 3D visuals, but for testing purposes, no 3D visuals needed.

I already created a model file with no 3D files.
https://github.com/ros-planning/navigation2/tree/master/nav2_system_tests/models/turtlebot3_waffle_depth_camera

Als

[2020-03-09 21:00] SteveMacenski opened #1589 "Website page for configuration guide and setup instructions"
Configuration guide
- [x] all parameters listed and their descriptions and defaults
- [x] Namespacing for server maps of plugins

Setup Guide
- [x] setup TF / REP103/105
- [x] setup kinematics / UDRF (+ gazebo plugins for sim)
- [x] setup odom sources + RL
- [x] setup sensor sources (+costmap gradient global at minimum to be correct + param list description links)
- [x] setup footprint and referen

[2020-03-09 21:47] orduno commented on #1570
Just to clarify, on your proposal, the path is computed (replanned) at a given fixed-rate but will only be updated (on the controller) if some criteria are met?

I like the idea. We would need to clarify the implementation, are you thinking of keeping the logic for assessing an update on `BtNavigator` or the `PlannnerServer`. There are some small issues on either.

I think we should treat replanni

[2020-03-09 22:07] SteveMacenski commented on #1570
No, 1 of the 2 options have the exact opposite interpretation of this. There will be a very frequent check if replanning is required, but it will not replan unless actually necessary.

One step at a time. I would rather come to consensus about what makes sense thematically before being bogged down in technical specifics. We should chose the right solution and then figure out how to do it.

[2020-03-09 22:24] orduno commented on #1570
Ok, so as the robot is making progress on a path, the navigator runs the path periodically through some evaluations (validity, current pose deviation, etc.) and triggers replanning when needed. Navigator would still be replanning at a (smaller than current) rate, however, the new and previous paths are compared (cost, variation, etc.) and if beyond some threshold.

[2020-03-09 22:29] SteveMacenski commented on #1570
Correct, by option 1

Correct

No, it would never replan unless required, by option 1

That's option 2

[2020-03-09 22:48] orduno commented on #1570
Ok, so these are mutually exclusive. I don't have a good example at the moment for having both enabled and work as I describe.

You've mentioned issues/requirements around path oscillation, path computation time, path computation halting. Any others?

[2020-03-09 22:52] SteveMacenski commented on #1570
Those are the big ones.

We could also have some modest replanning in the background - but I generally like the idea of no replanning unless there's value in it to conserve resources. And as I mentioned, if you're working with distributed multirobot systems, I imagine replanning on a frequent basis can get real-old real-fast.

But we could still enable the ability to do replanning, but have it sev

[2020-03-10 18:16] orduno commented on #1570
I like the event-based approach of option 1.

I think it would be helpful to discuss some scenarios. For example, how will a map update propagate to trigger replanning?

[2020-03-10 18:45] orduno opened #1590 "Discussion: enable topological navigation?"
I'd like to request your input on whether nav2 should support topological navigation.

Benefits:
- Might alleviate some issues from [constant replanning and update](https://github.com/ros-planning/navigation2/issues/1570)
- ...

[2020-03-10 19:33] SteveMacenski commented on #1570
New sensor data being processed so you see that the old path now has something in the way like a box or a moved shelf. Or has something that is closer to the path than is comfortable and may want to make a new path.

If a person is moving in the environment and blocks the path then that would also trigger a replan. Its just a trivial integration of costs and then some heuristic or probabilistic mo

[2020-03-10 19:34] SteveMacenski commented on #1590
That's how a path is defined already. I don't understand

[2020-03-11 04:50] wizkon opened #1592 "Segfault when running map_saver cli with one param"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source

#### Steps to reproduce issue
$ ./map_saver --fmt
$ ./map_saver --free

#### Expected behavior
Normally process ignoring the param as the log description.

#### Actual behavior
[WARN] [map_saver_cli]: Argument ignored: --fmt should be followed by a value.
**Segmentation fault (core dumped)

[2020-03-11 05:12] SteveMacenski commented on #1592
You didnt properly define a value as the error says.

Feel free to submit a PR to fix it. It looks like the for loop in the arg parsing needs to exit failure on a false argument.

[2020-03-11 15:10] SteveMacenski opened #1594 "Switch from Twist to TwistStamped for cmd_vel"
Right now we use Twist which contains no time based information. This may be important for detecting old or out of order messages in async applications.

A survey should be conducted for supporting this across the navigation ecosystem to support:
- Navigation
- RL
- turtlebot drivers
- gazebo
- other common robot drivers
- rviz (?)

In the mean-time, may be worth having a deprecation warning in na

[2020-03-11 15:34] SteveMacenski opened #1595 "Semantic labeling in maps"
Create a basic demo, and perhaps some standards, around enabling semantic information in the map yaml to label places (point and size), pixels, or polygons.

Then capabilities to load that information, and some capabilities enabled on top of it.

[2020-03-11 19:00] Timple commented on #1594
_Copy-paste from [discourse](https://discourse.ros.org/t/foxy-message-api-review/13105/7?u=timple), probably better to have the discussion here:_

How does twist_stamped help? It can be stamped upon generation, but maybe the navigation algorithm took very (unexpectedly) long and is thus based on old sensor information.
Or the message never arrives and you cannot check it’s timestamp -> you need a

[2020-03-11 19:04] SteveMacenski commented on #1594
Yes, so you know exactly when that command is supposed to be executed.

That's an unrelated issue.

Sure, but when the new message comes and using timing relative to that. If you get an old message instead, you definitely don't want to arbitrarily execute it.

[2020-03-11 19:26] Timple commented on #1594
Well, the inorder part is a good point. And indeed an inorder can messup another timeout system which is unaware of that. 👍

[2020-03-12 03:37] #1592 closed

[2020-03-12 03:39] orduno commented on #1590
I've updated the issue description.

[2020-03-12 03:41] SteveMacenski commented on #1590
Can you define what you mean they that? Topographical navigation will mean different things to different people (planning vs perception in particular).

I think a couple examples would help.

[2020-03-12 03:54] orduno commented on #1570
That would be for the case where replanning is triggered by obstruction from dynamic obstacles.

We also need to consider how it would be triggered (for the event-based approach) if the static map was updated (that's what I meant to ask above).

[2020-03-12 04:11] SteveMacenski commented on #1570
That would also be reflected in the costmap and if the new path causes a collision or a much higher cost, then the it would trigger a replan.

Keep in mind that the planner only see a costmap -- so whether the updates are from sensors, from moving obstacles, or from the map, via the static layer, it appears to the planner the same way as a new or resized planning space.

The situation that brings

[2020-03-12 07:38] fmrico commented on #1590
Yes, I agree with @SteveMacenski . IMHO, it is more related to [planning](https://www.semanticscholar.org/paper/Planning-Topological-Navigation-for-Complex-Indoor-Mart%C3%ADn-Gines/398748d68d530db5caa954840842016c9d1813a3), and I think this is an application of navigation, not part of general navigation software.

[2020-03-12 16:44] orduno commented on #1590
[Here's](https://www.cpp.edu/~ftang/courses/CS521/notes/topological%20path%20planning.pdf) the interpretation I was considering.

[2020-03-12 19:03] SteveMacenski commented on #1590
This seems related (or the same?) as this ticket https://github.com/ros-planning/navigation2/issues/1595.

I think what you're describing by that is using a sparse graph for planning (which could be computed by a PRM) where the nodes may or may not represent an area or location of interest.

Are you referencing the sparse graph of landmarks in your question or are you describing the ability to say

[2020-03-12 21:47] shivaang12 commented on #1252
I have opened an issue about this in BehaviorTree.CPP repo here BehaviorTree/BehaviorTree.CPP#153

[2020-03-13 11:36] ninamwa opened #1596 "Paper of Navigation2"
Hi. I have noticed that other ROS packages, like Cartographer, has a paper which should be cited, if Cartographer is used for research. Does it exist something similar for Navigation2? If not, what is the best place to cite, this github repo?

Best regards

[2020-03-13 18:02] SteveMacenski commented on #1596
It's currently in peer review, so nothing to share at the moment. I suppose cite the repo -- I'm a pseudo-academic and I don't know off hand the best way to handle that.

We'd prefer PRs to citations :wink:.

[2020-03-15 13:32] ardabbour commented on #1533
I would like do the controller/planner tutorial, but is there a simple sim-based navigation testbed?

[2020-03-15 21:28] SteveMacenski commented on #1533
Hi!

If you look at the getting started page, you’ll see how to run the TB3 in simulation!

https://ros-planning.github.io/navigation2/

[2020-03-16 00:32] SteveMacenski opened #1597 "Plan/Control with Dynamic Obstacles"
Right now, we work only with static data about the state of the world. We should be able to create a generic interface to handle detections to track them and have them included in the planning and control processes.

This could be done with explicit modeling (e.g. planner and controller step forward dt and we project the new time-variant pose of detections and uncertainty into C-space) or implicit

[2020-03-17 05:09] gimait commented on #1404
@SteveMacenski, I found an issue with the CollisionChecker that could be the source of this problem, could you take a look at my commit [d1b2754](https://github.com/gimait/navigation2/commit/d1b27548e61cb1fca9daf6f7d30e9ecf0a418988) and tell me what you think?

[2020-03-17 05:26] SteveMacenski commented on #1404
That looks like it could be right, though I'd do some printouts to be sure. Sometimes you can implicitly cast `unsigned char *` to a `char *` which would manifest negative values. I'd make sure there's not some clever optimization going on there.

You could very well be right, that's what it is. Devise some test you can run and see if that does the trick!

[2020-03-17 16:51] shivaang12 opened #1598 "Change from dashing to eloquent in nav2's build scripts"
I was building the ros2 from our script and I noticed that it still has default `$ROS_DISTRO` var to `dashing` and if you set it to `eloquent` then it would exit with an error due to strict `dashing` constraint.

[2020-03-17 22:50] gimait commented on #1404
I think there is definetely an issue, since the result of scorePose will always be >=0 (this function returns the maximum cost in the robot footprint, which is given as a unsigned char* and then converted to double). I run some tests using the navigation bringup and I can say that now the spin stops when there is an obstacle.

What I am not certain of is how far does this obstacle have to be for i

[2020-03-17 22:59] SteveMacenski commented on #1404
To be clear, as opposed to the current way, which you tested to not stop when in collision but this did?

It should be if the value of the costmap is 254 (occupied) or 253 (inscribed radius).

What I've done in the past is just modify the behavior tree to only have 1 recovery: spin. Turn off the sensor data so you just have the static map, and then localize the robot in some position you're intere

[2020-03-18 00:15] gimait commented on #1404
Yes, that’s correct.

I’ll update the condition to include the inscribed radius also then.

I’ll try to test it this way then, let’s make sure that this is the actual issue.

[2020-03-18 00:45] SteveMacenski commented on #1404
Awesome! If it all works out, please do submit a PR

[2020-03-18 03:01] #1289 closed

[2020-03-18 03:02] #1596 closed

[2020-03-18 03:04] SteveMacenski commented on #1598
@shivaang12 good points - PR appreciated

[2020-03-18 04:38] #1479 closed

[2020-03-18 22:16] facontidavide commented on #1516
Hi,

I probably need to join this. I am sorry that my library is creating issues of this kind. I will try to dedicate time to this in the next days.

[2020-03-18 22:42] facontidavide commented on #1439
I am joining this thread much later than I should...

First of all, I see a big problem with BehaviorTreeEngine::resetTree()

As pointed out by @Jconn , this does not reset correctly the running nodes.

I think the correct implementation would be:

[code]
The only correct way to do it is to let the halt() callback propagate through the tree, from the root.

About the coroutine, I have two comments

[2020-03-18 23:22] facontidavide opened #1600 "Problem with BehaviorTreeEngine reset and halt"
This issue is related to the ongoing discussion in #1439

I noticed that the logic of the methods [resetTree](https://github.com/ros-planning/navigation2/blob/master/nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp#L58)
and [haltAllActions](https://github.com/ros-planning/navigation2/blob/master/nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp#L47) is pr

[2020-03-19 01:42] SteveMacenski commented on #1600
Do you think that would solve the async issues on reset? @jconn is this something you'd be willing to test for us? It looks like a 5 line change to get it going.

@facontidavide that sounds reasonable to me if it fixes the issue. Are you certain of that? We're approaching a V1 release and I wouldn't want to revert to include this if there's any doubt of it fixing the problem.

[2020-03-19 07:26] facontidavide commented on #1600
No, I am not certain need to be tested

[2020-03-19 07:29] facontidavide commented on #1600
Something else that we should urgently explore together is why you are using CoroAction.

I will probably have a look to decide if we don't have a better approach during the weekend.

[2020-03-19 16:15] Jconn commented on #1600
I will start testing this locally in the next few days

[2020-03-19 17:02] facontidavide commented on #1600
I will try to work during the weekend on a refactoring that removes CoroAction altogether...

[2020-03-19 17:34] #1404 closed

[2020-03-19 17:35] #1598 closed

[2020-03-19 17:38] SteveMacenski commented on #1600
@facontidavide I wasn't part of the original work to wrap BT.CPP into navigation use, so I can't speak to the specifics of why that was chosen. Can other action node-types be "yielded" for long running  tick processes?

Removing it seems to be a pretty nuclear solution if there's not actually a problem with it. It seems like you just need to make sure halted also idles, which  that commit you link

[2020-03-19 18:33] facontidavide commented on #1600
The big problem with CoroAction is that you are apparently (for what I understood, but I might be wrong) halting from a  different thread.

I am not sure that is a possible. I definitively need to explore the source code and understand better what is going on.

[2020-03-19 19:50] SteveMacenski commented on #1252
Fixed in BehaviorTree/BehaviorTree.CPP#153

[2020-03-19 19:50] #1252 closed

[2020-03-19 22:23] Jconn commented on #1600
@facontidavide we were passing our Behavior tree object and CoroActionNodes between multiple threads. Thread A would halt the CoroAction node, and Thread B would start ticking that node again.

These threads are being spawned by the NavigateToPose action server. Every time a request was made, the action server would spawn a new thread to handle that request. That new thread would be passed the Beh

[2020-03-19 22:31] facontidavide commented on #1600
This thingy with multiple threads seems to be suspicious to me (code smell), but I guess you have good reasons that I don’t understand.

Why are you halting the node, instead of letting it conclude it’s work?

In any case, If you have good reasons to do that, you must **not** use CoroAction

[2020-03-19 22:40] Jconn commented on #1600
The Node is halted if a request is cancelled. If a request is allowed to be completed, the Node will tick until it concludes its work.

I tried to implement a request cancel that would halt nodes, and then tick the node again to try and clean up state, but hit a snag somewhere.

[2020-03-19 22:42] facontidavide commented on #1600
Let me think a good solution for this. I am sure I am are missing something...

[2020-03-19 23:45] facontidavide commented on #1600
@SteveMacenski and @Jconn
I am not very familiar with ROS2 and Navigation2 (shame of me).
I can look at the source code from the point of view of the BT.CPP author, but it would be nice if someone can assist me with some guidance about how to reproduce the error.

I have absolutely no idea where to start. Any ready to use turtlebot simulator with Gazebo?
Can any of you spend time with me to finall

[2020-03-19 23:49] SteveMacenski commented on #1600
To close the loop: the ROS action server will call the action, then the callback will create a worker thread. It'll do some stuff, then return when complete. If a BT is reset and then called again, its being processed by a new worker thread from the action server. The BT could be called by N arbitrary threads, but synchronously (e.g. only 1 thread calling at BT at a time).

He's pointing out that

[2020-03-20 00:10] gimait opened #1603 "CollisionChecker detects a collision when robot footprint hits inscribed radius distance."
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

Place the robot on an area marked as inscribed inflated obstacle.
Trigger spin recovery.

#### Expected behavior
The ```isCollisionFree``` function should return false when there is a collision for a given pose

#### Actual

[2020-03-20 00:29] SteveMacenski commented on #1603
Try changing the `>= to LETHAL` -- I think that should square you up

[2020-03-20 00:36] gimait commented on #1603
I think the issue comes actually from the costmap, after looking a bit more closely, it looks like the cells inside the robot footprint are marked as inscribed, and then we don't get any collision:
![costmap_failure](https://user-images.githubusercontent.com/14293015/77126740-48fae280-6a9e-11ea-8cfe-ec7169c97f1c.png)

After checking the code again it looks like this was the original issue. Althoug

[2020-03-20 02:58] SteveMacenski commented on #1603
There's a 'clear footprint' option in the costmap where we clear cells that are under the footprint to allow it to navigate if there's a bad costmap value somewhere. I think that's what you're seeing.

I'm not sure off hand the best way to handle this situation. I'd also look to see how this is dealt with in ROS1 navigation with the spin recovery with that same thing on.

[2020-03-20 11:58] gimait commented on #1603
Yes, footprint clearing seems to be the source of the problem. However, I do not see any differences between this and the ROS1 version, so I am wondering wether this has always been an issue.

I don't really know what is the best option here, I will need to investigate more how to deal with this situation. We could make the clearing function a bit smarter on some way, to make account of the surrou

[2020-03-20 13:27] facontidavide commented on #1600
This is good thing. If we really need (but probably we don't if we just get rid of CoroAction), it means that we might have a single thread (always the same), responsible for running the BT, trigger by the spawned ones.

But that is not needed probably.
I have a long weekend in front of me... hopefully I am able to send some interesting PR on Monday ;)

[2020-03-20 18:39] SteveMacenski commented on #1600
That sounds very not-awesome, because then the triggering thread would just be doing nothing and completely blocked for a result. There may be a fancy C++17 way of doing this, but that may be overkill.

Is there a reason that thread can't be updated on a new call? It's not intuitive to me at all that a coroutine cannot be called by different threads synchronously.

Can you explain the benefits of

[2020-03-20 18:52] SteveMacenski opened #1604 "Investigate if there's a problem clearing free space with track unknown space is true"
I noticed in testing some motion planners that when I set track unknown space to true or false, the background default value will change, but it doesn't appear that the measurements from the laser and depth camera "free" unknown space. In ROS1, you'd see this by rays casted from the robot the measurement being marked "Free" rather than "Unknown", which is especially useful in SLAM and navigating i

[2020-03-20 18:55] SteveMacenski commented on #1603
I agree from looking at the code, I think this was in issue in ROS1 as well. I don't have an answer to the best course of action right now. The footprint clearing also helps if you happen to already be very close to an obstacle and you're trying to navigate away from it by allowing permissible paths and control efforts to be generated.

By the way, I looked up the `> 0` t hat was there before: htt

[2020-03-20 18:56] facontidavide commented on #1600
From your point of view, you won't notice the difference, not even in terms of latency, but that is not the point.

Precisely because of the fact that it is not untuitive, **I was not aware of this problem myself** :(

I **believed** that coroutines were a good abstraction, but your problems revealed that the coroutine library  I am using (not the concept of coroutines themselves) has serious limi

[2020-03-20 19:11] SteveMacenski commented on #1600
OK, keep us in the loop. It sounds like my idea of having a pointer swap of BT objects (problem in #1516) would cause issues since the threads are different to help reduce latency.

For your initial ticket, can you submit a PR with the updates to halting / resetting to be in compliance with your library?

[2020-03-21 12:09] gimait commented on #1603
I just created a pr to change the check to lethal.
And I just realised, could it be that the turtlebot3 footprint is not properly defined? If the footprint should match the shape of the robot, this might be the reason why we are seeing the problem in this simulation.
I was also thinking that another solution could be keeping the obstacles under the border of the footprint? That would probably be e

[2020-03-21 17:39] facontidavide opened #1607 "Documentation error: missing tb3_simulation_launch.py in Dashing"
I am not sure if this is the right place to report this, but I am not able to follow the steps described here with Dashing installed:

https://ros-planning.github.io/navigation2/getting_started/index.html

Apparently, the release of Dashing of **nav2_bringup** does not contain the file  **tb3_simulation_launch.py**.

https://github.com/ros-planning/navigation2/tree/dashing-devel/nav2_bringup

[2020-03-23 00:32] ROBOTIS-Will commented on #1337
@mlherd
Agreed. I don't think complicated modeling files wouldn't be necessary for simple simulation.
I've been working on simplified version of DAE files that will reduce the size of current files up to 90%. (waffle_base will be about 3.2MB)
But definitely boxes and cylinders would be a good option to have!

[2020-03-23 01:28] gimait commented on #1603
Seems like the issue appears when using the radious of the robot as footprint.
With the current implementation, if the robot footprint is not provided or is wrong and the clear footprint option is enabled, the objects near the robot won't be visible in the map. This is a problem mostly for the spin recovery, other actions can still be performed since the robot wouldn't appear as in collision.
I be

[2020-03-23 06:46] SteveMacenski commented on #1607
The dashing eq is nav2_simulation_launch.py

I’ll update the docs to reflect that this is from eloquent and newer, thanks for the report. I think we need to overall make the docs consistent with Foxy with that release pending.

[2020-03-23 19:05] SteveMacenski commented on #1603
What makes you think that? I'm looking at the green circle in rviz above and it seems fine to me. Can you clarify?

It doesn't have to, circles are easy to check and can be used. The footprint doesn't need to be exact. In general, I add a 5% engineering margin to my footprints.

I think you'd see this same issue if the footprint was a set of coordinates, that also were a circle, or a box, or any c

[2020-03-23 23:28] gimait commented on #1603
I believe we might have more than one issue here, that in combination are causing this problem:

First, when it comes to the collision checking itself:
If we use a footprint that does not describe the robot properly, we can hide obstacles in the scene. This is usually not a problem in a static environment where the obstacles are well defined, since the planners will always keep a distance to those

[2020-03-24 01:50] SteveMacenski commented on #1603
There is no situation where no footprint is provided. This is a strict requirement of the stack to have a configured footprint. It is permissible to make your footprint larger than the actual robot base amount for a multitude of reasons:
- Engineering margin
- Manufacturing tolerances
- Robot is circular-ish so you'd like to use the speed ups for defining a circular footprint
- etc.

The only prob

[2020-03-24 03:09] gimait commented on #1603
When I said no footprint is provided I was looking at this:
https://github.com/ros-planning/navigation2/blob/efc42bd161bb3672ed273f3f4142fc35d88bd190/nav2_costmap_2d/src/costmap_2d_ros.cpp#L329-L344
and I was thinking on doing something with the use_radius_ variable, but I understand that avoiding the clear footprint option might not be the best solution .

I don't really know.. the footprint is c

[2020-03-24 05:39] gimait commented on #1459
I have been taking a look at this issue, and I would like to help with it.

I don't have so much experience with multi threaded applications, so here goes a stupid question: Is it really necessary to protect these variables in this case? It looks like there is only two moments that these parameters are written: during initialization or in service request, and there isn't any other operations happe

[2020-03-24 08:10] crthilakraj opened #1608 "Segmentaion fault in planner_server node."
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu18.04
- Version or commit hash: ea1667e510335789f932594b6604b177c4592763 (eloquent-devel)

- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce the issue
It cannot be reproduced consistently.

#### Additional information
gdb backtrace:
[code]

#### Implementation considerations
Patch.
[code]

[2020-03-24 18:28] SteveMacenski commented on #1459
They're used in several places if you search, outside of initialization and reconfiguration:
- https://github.com/ros-planning/navigation2/blob/f3a138124ae3d24a52c0963d971f29993a6cebf3/nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp#L184
- https://github.com/ros-planning/navigation2/blob/aaa97902c1e1bb9a509c4ee0d88b880afb528f20/nav2_dwb_controller/dwb_plugins/src/xy_theta_iterator.

[2020-03-24 19:03] SteveMacenski commented on #1603
Lets be super clear -- the footprint, regardless if its circular, from the radius, or defined by a set of points, will be made into a set of points. These points are then being cleared out by the clear under footprint parameter in the costmap updates for the obstacle and voxel layers. I dont think you should or need to focus on anything regarding the footprint representation itself. Any and all sh

[2020-03-24 23:54] gimait commented on #1603
I completely agree with you there. However, all collision checks will be done on future positions of the robot, and almost any robot movement towards the object would potentially be prevented by the planners. That's why I think is a corner case happening only with the spin at the moment, and only with a specific setting.

I am also not sure wether this is something we should fix.
At the end there

[2020-03-25 00:14] SteveMacenski commented on #1603
I think we should leave as is. It seems to me to be working as intended -- adding the inflated cost would stop planning from occurring and result in an infinite loop.

[code]

An object that would appear would likely be of width of > 1 pixel. So any detected stuff behind it at any angle would give you more information to not drive forward. For the issue of spinning, that isnt an issue with circula

[2020-03-25 00:35] gimait commented on #1603
I agree, this is not a problem for circular robots, or robots with other shapes, if their footprint matches the robot shape (plus a safety width). This issue can only happen when you have a non circular robot with a circular footprint, or in any case where the footprint of the robot does not describe correctly the movement of the robot in a spin. This was the source of the issue #1404.

Maybe we c

[2020-03-25 00:41] gimait commented on #1459
Makes sense! I'll try with the struct and see how it looks, then create a pr.

[2020-03-25 01:15] SteveMacenski commented on #1603
I'm not sure there's an issue to be solved - if someone uses the wrong footprint they're going to get weird behavior. I don't necessarily think that using a circular footprint and having the behavior we talk about is a problem because it will still be collision free. If you have a square robot with a circular footprint with the rotation axel in the center, you're still not going to hit anything if

[2020-03-25 01:15] #1603 closed

[2020-03-25 03:14] #1607 closed

[2020-03-25 03:18] SteveMacenski commented on #1228
@gimait if you're so interested, it would be helpful if you could help make some media for the website! The  first two tasks:

[code]

Are pretty straight forward with a screen video if you're interested. The goal of these are to have visual examples for all tutorials and pieces of documentation. The SLAM tutorial currently has no gif and the getting started gif at the very end is a poor example o

[2020-03-25 03:29] SteveMacenski commented on #1516
#1606 resolves

[2020-03-25 03:29] #1516 closed

[2020-03-25 03:33] gimait commented on #1228
For sure, I'll take a look at that :)

[2020-03-25 13:46] kurshakuz opened #1611 "CMake error during building navigation2 for Crystal"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 18.04
- Version or commit hash:
  - (crystal) 47c6e58ecc17e557bed26b7f7aae9ffe57f8406d
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

[code]

#### Expected behavior
Successful build
#### Actual behavior
[code]
#### Additional information

[2020-03-25 14:37] shivaang12 commented on #1611
Navigation2 depends on several packages. This error points to package called behavior tree which you might not have it prior to building Navigation 2. Behavior tree isn't the only dependency. Here is the link to Navigation 2 dependencies

https://github.com/ros-planning/navigation2/blob/master/tools/ros2_dependencies.repos

Make sure first build the dependencies and source them prior to building N

[2020-03-25 14:41] Rayman commented on #1594
Nice, I would like this switch to `TwistStamped`.

On our robots we always publish a `TwistStamped` in tandem with twist. For rosbag this is nice, but also when viewing a `rqt_graph` of the `cmd_vel`. If you have a stamp you have nice smooth graph, even though you could be on a wifi connection for example.

[2020-03-25 15:11] SteveMacenski commented on #1611
@shivaang12 is correct. Additionally, crystal is EOL and will not receive any new development or support

[2020-03-25 16:06] mhpanah commented on #929
@SteveMacenski Hey Steve, It's great that this work got submitted to IROS.  Let me know how the revision goes, I can help out with the BT and Recovery behavior sections.

[2020-03-25 18:39] kurshakuz commented on #1611
Got it, thanks! I will use Dashing then as it is supported by Gazebo

[2020-03-25 18:39] #1611 closed

[2020-03-26 19:17] #1608 closed

[2020-03-27 00:09] #1600 closed

[2020-03-27 10:05] atb033 opened #1613 "Reimplement passing of action_name to BtActionNode"
## Feature request

#### Feature description
- Currently, the `action_server_name` is passed as an argument to the constructor, and the action_client is initialized in the constructor.
- In this [implementation](https://github.com/ros-planning/navigation2/blob/2214a04a61b1dadc2f2518b29a2237bb3c6f190c/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp#L38-L41) the action client is re

[2020-03-27 11:03] atb033 opened #1614 "Handling FAILURE in BtServiceNode"
## Feature request

#### Feature description
- According to the current [implementation](https://github.com/ros-planning/navigation2/blob/2214a04a61b1dadc2f2518b29a2237bb3c6f190c/nav2_behavior_tree/include/nav2_behavior_tree/bt_service_node.hpp#L93-L95), the `BtServiceNode` returns `SUCCESS` whenever the service is executed
- Even if the service responds with a failure boolean, `BtServiceNode` ret

[2020-03-27 17:54] SteveMacenski commented on #1613
A PR would be appreciated. One reason we didnt do that is we didnt want to force users to define the default server address if they didnt have multiple. If you can find a way around that, very open to that.

I think potentially if you add the default address in the constructor being registered, it can be set as the input default and give you that behavior

[2020-03-27 19:08] SteveMacenski commented on #1613
The goal here was so that be "default" it goes to the default server name, and then if provided it uses the provided server address.

The mechanism in which you think is most suitable to do that, I'm ok with. I'm not particularly picky on this one. I think there's probably a half dozen ways it could be done.

[2020-03-27 19:11] atb033 commented on #1613
Sure. I will do a PR soon.

[2020-03-27 20:58] #1614 closed

[2020-03-29 00:01] SteveMacenski opened #1617 "Investigate RADAR support and where it may fit in"
Radars are getting cheaper and cheaper, they make for excellent sensors for static mounted applications for detecting and tracking moving obstacles. Removes the need for ML for detecting things of interest in the scene and give ranging / velocity profiles of blobs.

Investigate if this works well (and computationally efficiently) on mobile robots as autonomous cars. Integrate into the navigation s

[2020-03-29 00:53] #1613 closed

[2020-03-29 01:01] SteveMacenski commented on #1594
We will discuss this more after the Foxy release, we don't want to break anything before an LTS or make things harder for other parts of the ecosystem.

In the meantime, it would be helpful to compile a list of places that need to be updated to support this off hand I can think of:

- DWB
- TEB
- Spin and backup recovery
- Gazebo plugins, probably
- open-source robot drivers (kobuki, turtlebot3, c

[2020-03-29 01:11] SteveMacenski commented on #200
DWB reports on logging it misses rate: https://github.com/ros-planning/navigation2/blob/e15d8f228d8c9814506099e22aacce5ce6d7400a/nav2_controller/src/nav2_controller.cpp#L271

Maybe add something in the navigation action message feedback about the amount of time it took and if it was over?

Navfn does not report anything. I'm working on a planner though that would give that ability. Navfn could be

[2020-03-29 01:13] SteveMacenski commented on #1245
I found this recently: https://github.com/atb033/multi_agent_path_planning

May be

[2020-03-29 19:41] Rayman commented on #1594
* robot_localization
* teleop_twist_joy
* teleop_twist_keyboard
* twist_mux
* yocs_velocity_smoother

[2020-03-30 16:55] mohamedsayed18 opened #1618 "[docs] Turtlebot3 for eloquent"
## Bug report

#### Operating System:
* Ubuntu 18.04
* ROS_distro: eloquent

#### Steps to reproduce issue
 I'm trying to run this command ```sudo apt install ros-eloquent-turtlebot3* ```

#### Output
[code]

[2020-03-30 18:06] SteveMacenski commented on #1618
Please file a ticket with the turtlebot folks: https://github.com/ROBOTIS-GIT/turtlebot3

In the mean time, you can simply install from source.

[2020-03-30 18:06] #1618 closed

[2020-04-01 04:29] SteveMacenski opened #1622 "Wait recovery isn't preemable from a new navigation request"
The wait command speeds the action server thread so its unable to wake up and exit when a navigation request is preempted. We should update that with a while loop and check every 100ms if it should exit.

[2020-04-02 01:10] shivaang12 commented on #1533
@SteveMacenski I can write tutorial for RRT. Let me know if its taken.

[2020-04-02 02:01] SteveMacenski commented on #1533
If you make it, its not taken ;-)

I got side-tracked. I'm working on a planner and intended to write a tutorial on a basic implementation of it but I got sucked into the real thing and haven't been spit back out yet.

I think for RRT, OMPL will make your life easier and give a demo of OMPL in navigation. I don't know if @davetcoleman has any input on that though.

this is someone's implementation

[2020-04-02 02:33] SteveMacenski opened #1623 "AMCL particle cloud should also contain scores"
The particle cloud contains the poses, which is great for debug and for some quality analytics, etc, but including the scores would complete the particle filter information.

Also might be some useful information here in how to use effectively here: http://ebrenna8thesis.blogspot.com/

[2020-04-02 06:13] gimait commented on #1228
@SteveMacenski could you give me some feedback on the gifs I added in [f3c7c64](https://github.com/gimait/navigation2/commit/f3c7c643ebbf9442937472d1b77283ece52581a3)?
I could change framerate and/or resolution. Is there a size limit I should be aware of for these files?

[2020-04-02 06:52] SteveMacenski commented on #1228
For both, I'd say increase the frame rate a bunch so that its smooth, we don't want it to be choppy. Your recordings are 800x400 while the originals are 600 x 375. Not saying that's necessarily the right resolution, but its big enough to get the point across but small enough to save space. Finally, try also compressing the mp4 before gifing it to decrease size. @mlherd any recommendations on that?

[2020-04-02 07:31] mlherd commented on #1228
I use [ezgif](https://ezgif.com/maker) to create gifs since it has all the tools I need.

-20 fps (15 seconds) should give you good results. Even 10 fps will look good if you really need more seconds. Another option, you can seed up the video a little bit if 15 seconds is not enough.
-Keep the resolution as high as possible ex: 600px

By the way, it seem like the realtime factor drops in Gazebo wh

[2020-04-02 08:58] gimait commented on #1228
Awesome! thanks for the help! I’ll push some better gifs soon.

[2020-04-02 15:49] shivaang12 commented on #1533
@SteveMacenski thanks! I think using OMPL would be a good thing to start, it will be easy to make and also it will pose a great example to show how to wrap an existing planner library for Nav 2.

[2020-04-02 18:48] SteveMacenski commented on #1533
Well the point of the tutorial is to show how to create a global planner plugin, not explain under the hood of how you created it.

For instance, look at Alexey’s in costmap. It creates some gradient pattern that doesn’t matter as a toy example.

If you were To create an RRT example, my feeling is people would just use it so it could be made well. Keep in mind that pkg doesn’t properly encapsulate

[2020-04-02 18:53] shivaang12 commented on #1533
Okay! Got it!

[2020-04-02 19:02] SteveMacenski commented on #1533
My recommendation: if your goal is to build a tutorial, a good toy example is to just make a straight line path. If your goal is to work with OMPL, maybe you should just make a legit global planner and we can worry about the tutorial later.

If your goal is both, awesome! 😎

[2020-04-02 23:31] #1459 closed

[2020-04-03 19:58] SteveMacenski commented on #1010
Added comments - in addition I think something useful would be to remove the futures, I don't know what that really adds here. We give it a topic to subscribe to, it gets an image, it saves. We run on single threaded executor so only 1 request at a time. We can have a timeout to get the subscriber and fail. But I don't know what getting the future and then spinning it accomplishes other than makin

[2020-04-06 06:40] dwisse opened #1625 "nav2_costmap_2d StaticLayer locking problem"
When the StaticLayer receives an incomingMap or incomingUpdate that changes the dimensions of the costmap during a updateMap in the LayeredCostmap, the updateCosts of the StaticLayer can cause getCost of the StaticLayer to do an out of bounds read of the underlying costmap.

The problem is that the dimension of the costmaps should not change between the updateBounds and the updateCosts calls in th

[2020-04-06 19:31] SteveMacenski commented on #1625
That doesn't seem right to lock the entire costmap any time a single layer gets some data sources. Shouldn't you just lock the local mutex at the start of updateCosts and unlock at the end of updateMap?

[2020-04-06 22:36] gimait commented on #1228
@SteveMacenski, @mlherd, what do you think about the new gifs?

[2020-04-06 23:25] SteveMacenski commented on #1228
Both great!

[2020-04-07 00:05] ruffsl opened #1627 "Night builds blocked | No definition of libgazebo9-dev for Ubuntu Focal"
Looks like the docker hub builds have stalled on a rosdep install step,
given that libgazebo9-dev has not yet been released for Ubuntu Focal:

[code]

How would we like to proceed to get the nightly build up again?
COLCON_IGNORE any packages bringing in gazebo dependencies?
Add gazebo source build to the underlay?

[2020-04-07 00:31] SteveMacenski commented on #1627
I saw that but expected it to resolve itself relatively soon, which evidently didn't happen. Is there a different version of gazebo or just not in rosdistro yet?

The nightly issues are unrelated I think - those are just failing on tear down.

[2020-04-07 01:18] ruffsl commented on #1627
Looks like we'll be jumping to Gazebo 11 soon:

https://answers.gazebosim.org/question/24720/does-gazebo-11-go-with-both-ros-melodic-and-neotic/?answer=24723#post-id-24723

[2020-04-07 01:30] SteveMacenski commented on #1627
The only place I can see gazebo in the package.xml deps tree is the nav2_system_tests calls out ros_gazebo_pkgs which has gazebo_dev key. The foxy distribution.yaml has no gazebo yet but gazebo9-dev looks to be an entry in bionic https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml#L2175

[2020-04-07 04:39] gimait commented on #1585
I've taken a look at the action_utils tests, and I found that variables are not used correctly, so I updated them to see if that fixed the issue ([735858e](https://github.com/gimait/navigation2/commit/735858ed2150adbf8b0f616528e35c06041d0fec)).
But that didn't really fix it for me, I still get the error: ```"Goal handle is not known to this client."``` from this line:
https://github.com/ros2/rclcp

[2020-04-07 04:50] SteveMacenski commented on #1585
Don't worry about the action utils issues, I believe its an upstream issue

[2020-04-07 04:59] gimait commented on #1585
Yes I think that's the issue with the action utils.
Although I would still like to change ```future_goal_handle``` with ```future_preempt_handle``` here:
https://github.com/ros-planning/navigation2/blob/db4193fd87dbd9ffc12237f47814704793ec405b/nav2_util/test/test_actions.cpp#L446

[2020-04-07 06:07] SteveMacenski commented on #1585
Mhm, that test is complex to dissect since its intentionally trying to test a race condition. Its not immediately clear to me if that was the intention to cause the race condition or not.

[2020-04-07 06:12] gimait commented on #1585
I mean, I guessed that the intention here
https://github.com/ros-planning/navigation2/blob/db4193fd87dbd9ffc12237f47814704793ec405b/nav2_util/test/test_actions.cpp#L442-L446
would be to wait for the second goal to be sent, otherwise it doesn't really matter to have that spin (is the same one as few lines before).

[2020-04-07 21:07] SteveMacenski opened #1628 "Inflation layer option to inflate unknown space"
This can be helpful when you don't want to traverse into unknown to inflate those costs to steer you out of them in case there's any issue in being near them.

Also useful for working with maps without occupancy information.  It can be implmeneted by changing:

[code]

to

[code]

[2020-04-07 23:35] mlherd commented on #1228
They both show the expected results, so they are good. The lag between RVIZ and Gazebo is a bit noticeable, but it is fine.

[2020-04-07 23:36] mlherd commented on #1228
They both show the expected results, so they are good. The lag between RVIZ and Gazebo is a bit noticeable, but it is fine.

[2020-04-08 01:20] gimait commented on #1228
I disabled cameras etc from the robot on gazebo, and although it improved the real time factor, it didn't really help with the lag. Do you have any ideas on how could I fix this?
Otherwise I'll create a pr for the current gifs.

[2020-04-08 01:39] SteveMacenski commented on #1228
I think this is fine - honestly didnt notice it I'm so used to gazebo doing gazebo-y-things

[2020-04-08 09:18] dwisse commented on #1625
I've found a problem using the locking in updateBounds and unlocking in
updateCosts approach.
When updateBounds doesn't detect a change in the costmap, updateCosts is
never called, and the mutex is never going to be unlock.
Could make a explicit method unlock in the costmap interface, but that
doesn't look nice.

On Mon, Apr 6, 2020 at 10:35 PM Steve Macenski <notifications@github.com>
wrote:

[2020-04-08 18:16] SteveMacenski commented on #1627
@ruffsl I haven't had the cycles to look into this yet, but please correct me if I'm wrong that this is something we need to change to get the builds up and running long term. It appears to me like a temporary problem while waiting on gazebo / ros pkgs to get released. If you don't believe that's the case, we should add this to the active queue to look into

[2020-04-08 18:21] SteveMacenski commented on #1625
Perhaps in the layered costmap we can `layer->getMutex()` and lock them externally? We'd then have to remove all the mutexes from the costmap layers itself to ensure no lock out except by external sources (e.g. sensor, map, data updates).

I don't think there's going to be a single clean solution here since we separated these tasks. Maybe @dlu has a suggestion.

[2020-04-08 18:27] ruffsl commented on #1627
That's just about it here. There are a few other unrelated issues upstream where something in the master ros2 .repos file is broken, blocking fresh builds of the nightly archives, that the nightly docker tag installs, leading to stale nightly images. But that's out of scope for this ticket.

Anyhow, @chapulina is there a ticket we can subscribe to about ros_gazebo_pkgs for foxy?

[2020-04-08 18:46] SteveMacenski opened #1630 "Create SLAM launch files analog to localization launch files"
This is to make it easy to switch between and give a clear separation of ideas of positioning systems from the core navigation code ("look, you can use AMCL or ST, without changing anything else, all positioning systems are fair game"). Add the saver server to this to be analog to the map server server.

[2020-04-08 18:47] SteveMacenski opened #1631 "GPS waypoint navigation demo"
Using RL nav sat transform to create an outdoor GPS waypoint following demo, both with and without fusing in some other mapping methods (v-slam, lidar slam, localizers, etc).

The case of with SLAM is for increased accuracy and having a map to for a planner to work in if the waypoints are too sparse in a complex environment for the local planner to reliably navigate. If you're in a maze and the wa