[2021-12-03 08:02] SteveMacenski opened #2725 "[Smac] Optimizing performance"
Starting a new thread on performance considerations from https://github.com/ros-planning/navigation2/issues/2710 with @afrixs.

I believe we've talked about a couple of options

- Moving some of the A* logic into the NodeT's which speeds  things up for some reason I don't fully (personally) understand from the description, but definitely worth looking into
- In-situ costmap downsampling and cachin

[2021-12-03 08:03] SteveMacenski commented on #2710
https://github.com/ros-planning/navigation2/issues/2725 I opened a new ticket specifically on performance optimizations topics for that continued discussion

[2021-12-03 18:20] #2710 closed

[2021-12-03 23:02] SteveMacenski commented on #2442
https://github.com/ros-planning/navigation2/pull/2727

[2021-12-04 02:53] cadmus-to commented on #2723
Oh yes, sorry I couldn't find that issue before, I didn't try looking for "NavThroughPoses". I have updated the report with some screenshots. I think you're right, it's probably the same issue. (Happy to move the discussion over to that issue if you think that's more appropriate)

I'm not familiar with how Nav2 works yet (nor the controllers it uses) so I'm not sure how feasible this is, but maybe

[2021-12-04 07:58] SteveMacenski commented on #2723
Probably my fault, that's the short-hand I use (as well as NHP as opposed to NTP for "To" vs "Through"). Moving over to the existing ticket would be great just to keep it all in one place. I already linked it so that there would be visibility that these were related in the future.

I'll close this one, but happy to continue in the existing ticket.

[2021-12-04 07:58] #2723 closed

[2021-12-05 23:57] m2-farzan commented on #1632
I want to give it a try. Can I get an update before I start? Is anyone working on this?

Also, couple of questions:

1. I read your article on comparing V-SLAM tools (nice article by the way), and it says that OpenVSLAM is way to go with Nav2. Now we have OpenVSLAM-community fork but from slack I found that LP-SLAM is being considered too. Has a final decision been made yet?
2. Should the demo be

[2021-12-06 02:32] iLanceS opened #2728 "How to improve the accuracy of AMCL?"
Is there someone could tell me how to improve the accuracy of AMCL?
Can i use Cartographer instead of AMCL and how?

[2021-12-06 17:29] roncapat opened #2729 "Costmap2D Static Layer is not suitable for outdoor traversability maps"
This function inside the CostMap2D Static Layer discards all non-lethal obstacle values from input OccupancyGrid message. If Occupancy is used as traversability score (common scenario in outdoor usage) all the info carried by non-lethal obstacle cells is flattened/discarded as "free space".

https://github.com/ros-planning/navigation2/blob/ec6f70719f302ce0bc267f25d18302b53bacbd8e/nav2_costmap_2d/p

[2021-12-06 18:18] SteveMacenski commented on #2729
That's not true, look at this function again: https://github.com/ros-planning/navigation2/blob/ec6f70719f302ce0bc267f25d18302b53bacbd8e/nav2_costmap_2d/plugins/static_layer.cpp#L265-L266

That only happens if you're in the trinary mode or the cost value is denoted as unknown. You may use the other costmap value types and set the lethal threshold at max in order to use any arbitrary values (its a c

[2021-12-06 18:18] #2729 closed

[2021-12-06 18:23] SteveMacenski commented on #1632
@AlexeyMerzlyakov would be in the best place to give you a full explanation of this work.

LP-SLAM is based on OpenVSLAM + adding some more features to it that are supposed to help with the mobile robot use-cases. But we haven't totally abandoned OpenVSLAM. There's not a clear explanation to offer right now, this is still on-going work that could go either way.

The output of this work would be su

[2021-12-06 18:25] SteveMacenski commented on #2728
You'd have to tune it, see our configuration documentation https://navigation.ros.org/configuration/packages/configuring-amcl.html. If you're not super familiar with what all those parameters mean, you should consult Probabilistic Robotics to understand the formulation of AMCL. Even I do that when I have to tune AMCL to re-jog my memory.

In terms of using another localization system, **absolutely

[2021-12-06 18:45] roncapat commented on #2729
Thank you, now it's more clear to me. I will try to tune parameters.

[2021-12-06 20:54] SteveMacenski commented on #2442
Merging shortly

[2021-12-06 20:54] #2442 closed

[2021-12-06 21:11] SteveMacenski commented on #2690
https://github.com/ros-planning/navigation2/pull/2727 also allows you to turn off the smoother via `smooth_path: false` so that you can disable it due to current issues. I'm working on a fix, but it won't be a complete fix, it will be a rough fix to improve behavior but still will be capable of generating infeasible smoothing effects. The real smoother described in #2498 from previous work of mine

[2021-12-07 07:16] fantasyplus opened #2730 "Can't open gazebo11,in tb3_simulation_launch.py"
**operating system:** Ubuntu20.04
**ros disto:** rolling
**nav version:** main branch

![Screenshot from 2021-12-07 15-11-37](https://user-images.githubusercontent.com/34959626/144983204-d8da3458-cfa0-4e6c-8861-727f71f49980.png)

![Screenshot from 2021-12-07 15-11-34](https://user-images.githubusercontent.com/34959626/144983212-e0c5cf87-8e97-4320-ae3e-9302df015a90.png)

I tried this demo with the

[2021-12-07 07:51] SteveMacenski commented on #2730
I don't see this on my side. Search up your log files and see what's missing, my guess there's something else going on there, like Gazebo had other errors or wasn't able to load the robot into simulation. Do you see the TB3 and data being produced by it in Gazebo, irregardless of Nav2? You could very well just be missing the TB3 package / gazebo model paths.

[2021-12-07 09:38] myxiaojun commented on #2541
i have the same problem of "Rviz2 not showing the costmaps",   @marcomasa  do you find a way to solve this problem?

[2021-12-07 09:42] marcomasa commented on #2541
@myxiaojun you need to launch everything in one launchfile.
Idk why, but starting everything seperately does NOT work for me..
You also need to check your QoS settings, but that does not help if you dont start everything at once (see turtle nav examples)

[2021-12-07 17:51] mradams-bastian commented on #2723
If I understand everything correctly, I would argue that this is not only a problem in how controllers handle overlapping paths, but it is also a consequence of the default goal checker used by the controller server being the Simple Goal Checker which determines that a goal has been reached solely based on whether the current pose of the robot matches the final pose of the path. If the final pose

[2021-12-07 18:13] SteveMacenski commented on #2622
@mradams-bastian writes:

If I understand everything correctly, I would argue that this is not only a problem in how controllers handle overlapping paths, but it is also a consequence of the default goal checker used by the controller server being the Simple Goal Checker which determines that a goal has been reached solely based on whether the current pose of the robot matches the final pose of th

[2021-12-07 18:13] SteveMacenski commented on #2723
Lets continue in the other ticket

[2021-12-07 19:22] mradams-bastian commented on #2622
Would it be possible to additionally check if that pruned segment crosses or overlaps itself, and if so, only send the path up to the point of intersection?

[2021-12-07 20:02] SteveMacenski commented on #2622
I don't think that would be very robust, especially in the colinear situation where there may be several overlaps close to each other or large sections of pure overlap

[2021-12-07 21:45] SteveMacenski commented on #2690
I have a prototype going right now, needs some serious clean up, but it proves the point that this works! I should be able to push a solution before the weekend for you to test @mangoschorle to confirm it resolves your concerns.

[2021-12-08 00:44] SteveMacenski commented on #2670
@Kaetera wanted to get your thoughts - I can implement this but wanted a sanity check from another interested party.

[2021-12-08 00:45] SteveMacenski commented on #2719
Any more info / testing results?

[2021-12-08 01:54] sathak93 commented on #2670
@SteveMacenski I think the above said method might not work when the robot is approaching the goal. since the distance to goal will eventually becomes less than lookahead dist.  the warnings may be reduce a bit.

[2021-12-08 02:35] SteveMacenski commented on #2670
The lookahead point is always at most at the goal [see here](https://github.com/ros-planning/navigation2/blob/main/nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp#L376-L379), so I think that resolves your concern?

[2021-12-08 05:48] padhupradheep commented on #2596
Sorry for the delay. I have implemented 3 BT's that includes:

- IsNewPathLonger (conditionBT)
- IsNewPathShorter (conditionBT)
- CancelControl

With that, if someone wants to implement the above logic. They can have the following BT:
[code]

What do you think? does it look elegant?

[2021-12-08 08:51] myxiaojun commented on #2541
I use "ros2 launch turtlebot3_bringup robot.launch.py" to launch robot, use "ros2 launch turtlebot3_navigation2 navigation2.launch.py map:=$HOME/map.yaml" to launch nav2.. but the costmaps still not show.

[2021-12-08 17:19] mradams-bastian commented on #2622
What are some example situations you're thinking of where it might fail? I am imagining that while traveling overlapping sections, the first time the robot passes over the section, the controller would not even realize it is an overlapping segment because the portion of the path that wraps back around and overlaps will have been pruned. When it passes back over the overlapping section a second tim

[2021-12-08 22:05] SteveMacenski commented on #2622
If you have multiple intersections due to roughly co-linear paths such that each segment before a "cross" is very short, resulting in extremely poor path tracking abilities since it can't see in the future far enough.

Also imagine you have 2 colinear segments, one that leads to the other with a point that marks the change between them. As the robot approaches that point, it will start seeing sect

[2021-12-08 23:46] ymd-stella commented on #2622
Is this implementation informative?

https://github.com/AtsushiSakai/PythonRobotics/blob/d5aca66e1b61692e239e95c928884ede6f2c94cd/PathTracking/pure_pursuit/pure_pursuit.py#L77-L108

It seems to keep track of where the robot is on the path and look for a point that is a certain distance along the path. (It's not a cumulative distance.)
However, since Nav2 recalculates the global plan from the curre

[2021-12-09 01:05] SteveMacenski commented on #2690
https://github.com/ros-planning/navigation2/pull/2731 Please check it out @mangoschorle - makes the smoother feasible again!

[2021-12-09 01:15] SteveMacenski commented on #2622
Yeah, we have things like that in Nav2 that are a bit more efficient. Finding some point `N` distance away or `N` integral path length forward is not challenging. Our challenge is designing a set of rules that is going to cover all of the edge cases for a robot following a path that may have crosses with itself or have segments of it that align with itself.

Only taking the next `N` meters of the

[2021-12-09 04:44] SteveMacenski commented on #2728
Anything else we can answer here or does that meet you intent?

[2021-12-09 04:45] SteveMacenski commented on #2730
Have you figured out your issue?

[2021-12-09 05:59] mangoschorle commented on #2690
I check it out and get back to you. Should be no later than beginning of next week.

[2021-12-09 07:58] ymd-stella commented on #2622
Sorry, I realized that the above solution has already solved most of the problem. The link is not a permalink and probably points to the wrong line. That led to my misunderstanding.

[2021-12-09 10:05] afrixs commented on #2690
@SteveMacenski I haven't done the downsampler work we were talking about, but something with downsampler was needed to be done for the heuristic to be admissible: use _min_ function instead of _max_ for downsampling (since heuristic cost must be <= real cost) so I had to add a param to choose the function in downsampler.

Currently, as far as I remember, the only extra things in there are the anal

[2021-12-09 10:18] marcomasa commented on #2541
I think u need to launch rviz with the nav stack in a single file.
I dont fully understand the new launchfile backend, but i believe some values are not shared when
launching from seperate files (this is also kinda the intention of the new system?)

[2021-12-09 19:42] SteveMacenski commented on #2690
@mangoschorle that looks very good to me, but I do notice that the angle seems a little off in the middle example for the starting heading. I'm not sure why that would be given the solution, it should be rather exact. I'd be interested if you added a print [here](https://github.com/ros-planning/navigation2/pull/2731/files#diff-64cb9b4335e41c3dd5b807ad6aa9805a3fd4456673681efe2e6a5d0c0b1d49e7R448) (

[2021-12-09 20:21] mangoschorle commented on #2690
@SteveMacenski your "here" isn't very specific about the line number you want your print at.
I used 64 angle quantizations. I will add the start and goal from the request to the path and let you know what happens.

[2021-12-09 20:53] SteveMacenski commented on #2596
A BT visualization using either groot or the behavior tree visualization script in `tools/` would be helpful. XML is tricky to parse by eye.

What I dont see here is only executing this type of behavior when the robot is near the goal. I think with that built in, it may make sense to make some kind of combined BT node for specifically this purpose instead of many small ones (eg is path length much

[2021-12-09 20:53] mangoschorle commented on #2690
Smoother result where I added the start (from request) to the plan.
After smoothing, the first point in the result plan has a yaw value of 44.4774 degrees as compared to 0 degrees for the desired start.
![Screenshot from 2021-12-09 21-42-03](https://user-images.githubusercontent.com/94619337/145473159-6a86882f-0c6f-4a15-b4f2-9bee6304eb7d.png)

In this example i set the smoother iterations to zero,

[2021-12-09 21:04] mangoschorle commented on #2690
@SteveMacenski
There is no printing, since
  if (best_expansion_idx > boundary_expansions.size())
evaluates to true and enforceStartBoundaryConditions returns

[2021-12-09 21:19] mangoschorle commented on #2690
The points collide hence the function returns no valid index.

Here, in

// Check for collision
    unsigned int mx, my;
    costmap->worldToMap(x, y, mx, my);
    if (costmap->getCost(i) >= INSCRIBED) {
      expansion.in_collision = true;
      return;
    }

    You are checking the for loop index.

    Are you sure this shouldnt be more like the linear index as inferred from     costmap->getIn

[2021-12-09 21:41] SteveMacenski commented on #2690
Ahhh! Thanks. I didn't catch that - thanks for looking it over :smile:

[2021-12-09 22:20] SteveMacenski commented on #2690
FYI - I see that the smoothed path starts at a different position than the original searched path due to the discrete error into translating the global map poses into the discrete grid search space. So this actually makes the paths better, but it does look a little odd if you don't know why that would be happening.

![image](https://user-images.githubusercontent.com/14944147/145484707-cd66ea8c-2e9

[2021-12-10 00:05] SteveMacenski commented on #2690
I was planning on merging this today, but I had some issues come up that I'm not entirely sure how they developed when I picked this up this afternoon. This is delayed until further notice -- I'm having an issue where we get lots of strong deviations from the path now and I'm not sure why I didn't see this at all yesterday but now seems like it happens ~50% of the time. Such large deviations are n

[2021-12-10 07:07] KrasnovPavel opened #2732 "Obstacle and voxel layers does not update map at range more than 3.0 meters from sensor"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Foxy (from apt)
- Version or commit hash:
  - ros-foxy-navigation2    0.4.7-1focal.20211014.203448
- DDS implementation:
  - Unknown

#### Steps to reproduce issue

I want to build costmap from my point cloud.
But it does not update points if they are more than 3.0 meters from `robot_base_frame`.
I tried to

[2021-12-10 12:56] padhupradheep commented on #2596
Alright, I'm adding the image. This is way better than the XML !

What qualifies the robot to be near the goal? What is the distance? That is the main reason why I decided to define a `length factor`, that would allow the user to decide on how long the length of the allowed length of the new path should be. Say if the length of the new path is just 5 cm longer the the new one, which is tolerable f

[2021-12-10 13:32] Kaetera commented on #2670
So this change the purpose of this feature toward something closer to my point 2. :)

This sounds ok to me.

I think it would be more intuitive and fit more real-life applications. For industrial application, the "stop before collision" part would typically be handled by safety-class scanners with protective field lengths computed according to the speed and the max time to collision (note that the

[2021-12-10 20:42] mradams-bastian commented on #2622
The issue with the paths being too short could be resolved in most cases if the path is not pruned when it first reaches the point of intersection, but rather, it is pruned when it comes back around and crosses that point again. Like if you were playing that snake game, it would be the point at which you lose.
![image](https://user-images.githubusercontent.com/87142313/145496006-98ea6b92-ffc9-4ce7

[2021-12-11 09:11] KarnMatas commented on #2719
until now I have got message "goal was rejected by server" too. my robot can navigate once but every  next goal was rejected.

[2021-12-11 17:00] naidol commented on #938
Hi all,
Not sure if you guys found a solution, but i did now in 2021. use this controller (link below) available in Ros2 Galactic or Foxy.
After much tweaking with the above DWB settings ... i tried this controller below ... it works perfect for my 4wd robot (rectangular shape - long wheel base).

https://index.ros.org/p/nav2_regulated_pure_pursuit_controller/#galactic

just cut and paste the to r

[2021-12-11 22:50] ljaniec commented on #2699
Relevant issue: https://github.com/ros-simulation/gazebo_ros_pkgs/issues/1272#issuecomment-857513366

[2021-12-13 19:50] SteveMacenski commented on #2732
https://github.com/ros-planning/navigation2/blob/foxy-devel/nav2_costmap_2d/plugins/obstacle_layer.cpp#L129

I assume what you think is 3.0 m is actually 2.5m as the default value.

You're using the wrong parameter name, in Foxy its `obstacle_range` and `raytrace_range`. The change to max / min was added in Galactic and newer. Please see the nav2_params.yaml file in the nav2_bringup package for yo

[2021-12-13 19:56] SteveMacenski commented on #2670
Agreed, I thought I could have it here too, but turns out not the case.

Action plan:
- Check up to and including the carrot along the curve, but no further
- Update parameter name to make it clear it will check time ahead to that limitation
- Update documentation / readme to make clear its up to the carrot, so if moving fast, far away carrot positions can be important not just for stability, but

[2021-12-13 20:22] SteveMacenski commented on #2622
Very good point, I did not consider that. That I believe as well would work. My concern with your first image is that we'd need a way to characterize the amount of distance we leave between the robot and the cross over path being exposed in frames C and D so that algorithms like DWB wouldn't try to turn around and just follow the newly exposed path of the path. But that could also be handled by th

[2021-12-13 20:57] SteveMacenski commented on #2596
Euclidean distance, integrated path length to the goal, etc. I would think integrated path distance as the best metric (which you can get as [feedback from the BT nav server](https://github.com/ros-planning/navigation2/blob/main/nav2_bt_navigator/src/navigators/navigate_to_pose.cpp#L134) no less! We could store that in the BT blackboard for use). It would be a parameterized distance for the user t

[2021-12-13 22:46] SteveMacenski commented on #2690
Smoother work to be merged shortly. Renaming the ticket to reflect the current scope to be fixed: Obstacle heuristic

[2021-12-14 01:48] myxiaojun commented on #2541
I once start nav2 by "ros2 launch turtlebot3_navigation2 navigation2.launch.py use_sim_time:=True map:=/mnt/ros2/src/map.yaml".
and  I solved this problem by delete param "use_sim_time:=True".

[2021-12-14 01:49] myxiaojun commented on #2541
I once start nav2 by "ros2 launch turtlebot3_navigation2 navigation2.launch.py use_sim_time:=True map:=/mnt/ros2/src/map.yaml".
and  I solved this problem by delete param "use_sim_time:=True".

[2021-12-14 06:40] KrasnovPavel commented on #2732
Oh, now I see it, thanks!

I using the wrong parameter name because it was listed here https://navigation.ros.org/configuration/packages/configuring-costmaps.html. It would be nice for this docs to say that some parameters has different names in some supported branches.

[2021-12-14 06:40] #2732 closed

[2021-12-14 06:58] SteveMacenski commented on #2732
Yes, that is an on going challenge. I hope in the short term future APIs will stabilize so that won’t be an issue, but in the interim, the docs are pointed towards the latest branch.

I can definitely appreciate the frustration. With the skeleton crew of maintainers that exist today, we’re a bit limited to the degree of bespoke support we can offer for each distribution. I try to balance resources

[2021-12-14 17:53] padhupradheep commented on #2596
That is how I do it already, I just conveyed it to you in a very wrong manner I think. I already use the `nav2_util::geometry_utils::calculate_path_length` . So my confusion was more to the point if we want to use a length_factor or the actual_distance from the goal. This is now clear.

So now, the point remaining is to change the `cancelControl` action node into a decorator node, and bring it und

[2021-12-14 23:19] SteveMacenski commented on #2596
I think they’re fine!

[2021-12-15 06:57] SteveMacenski opened #2738 "Increase default backup distance and speed"
The distance is insufficient to resolve most normal recovery situations and the speed it laughably low -- I'm not sure how we came up with those defaults.

I'm thinking closer to 0.25 - 0.35m in backup distance and at about 5cm/s or a bit faster.

Should spin speed also be pushed up?

- https://github.com/ros-planning/navigation2/blob/main/nav2_bt_navigator/behavior_trees/navigate_through_poses_w_

[2021-12-15 09:18] miku54 opened #2739 "Ackerman car can't reverse while navigating"
## Bug report
Hello, when I used The Ackermann model for navigation, THE target point was released behind the Ackermann car, which could not reverse, so I could not reach the target point. Which file should I change to make Ackerman back up?

**Required Info:**

- Operating System:
ubuntu18.04
- ROS2 Version:
eloquent
- Version or commit hash:
  -
- DDS implementation:
  -

#### Steps to reproduce

[2021-12-15 13:15] AndreV84 opened #2740 "no velocity topic data"
[code]
as well as running a robot node which takes /cmd_vel as an input
from devs - no data on velocity topic
related issue https://answers.ros.org/question/392768/ros2-nav-velocity-topic-empty-but-for-teleop/

[2021-12-15 17:28] SteveMacenski commented on #2740
Are those open source packages? If not, we can’t help debug your proprietary system. I have absolutely no idea what’s in any of those files.

[2021-12-15 17:30] #2740 closed

[2021-12-15 17:48] AndreV84 commented on #2740
@SteveMacenski from dev:
[code]
so the question is if the cmd_vel gets published if to set goal pose in rviz if using your default nav2 package ?

[2021-12-15 18:29] SteveMacenski commented on #2740
This is not nearly enough information. That's basically saying that you added gasoline to a car, why isn't it going 60 miles per hour? There's alot of stuff going on between a command and an output velocity.

[2021-12-15 18:38] SteveMacenski commented on #2739
Please fill in the template properly and also provide more configuration information (e.g. what algorithms are you using? What are your settings for them? etc) Please provide at bare minimum your planner and controller algorithms & their configurations.

Have you read our documentation? https://navigation.ros.org/  Particularly the [Algorithm Selection](https://navigation.ros.org/plugins/index.htm

[2021-12-15 18:40] SteveMacenski commented on #2739
Oh, note that there is no support for Ackermann in Eloquent. Eloquent is end of life, meaning it receives no maintenance time. The algorithms for Ackermann were added in Foxy and newer only.

[2021-12-15 18:45] AndreV84 commented on #2740
@SteveMacenski Thank you for your reply. It is a good point. However, does the default non customized nav2 package supports publishing velocity upon setting up goal in rviz? devs told they got teleop mode working publishing the velocity, but when they try from rviz it won't work.
So is it supported on default stock nav2 package that it publishes the velocity topic ?

[2021-12-15 18:53] SteveMacenski commented on #2740
The default package should work if you don't make any change to it, using the documented getting started guide https://navigation.ros.org/getting_started/index.html.

This is also extremely similar to the setup I use on a daily basis and know that things work - but you don't have to take my word for it, we have an extensive set of system tests that run nightly and on every PR that test every navig

[2021-12-15 19:40] SteveMacenski commented on #2670
- doc updates https://github.com/ros-planning/navigation.ros.org/pull/253
- PR with implementation https://github.com/ros-planning/navigation2/pull/2741

@Kaetera @sathak93 would you be willing to test and see that this resolves you concerns?

[2021-12-15 19:44] SteveMacenski commented on #2728
Closing - this may be asked on ROS Answers for followup

[2021-12-15 19:44] #2728 closed

[2021-12-15 19:47] SteveMacenski commented on #2730
Closing from lack of response and not able to reproduce locally or in CI. Happy to discuss if the user comes back or on ROS Answers. Sounds like its a gazebo issue that is hasn't totally spawned or the something is crashing. Logging would indicate the second, seeing teh gazebo world would indicate the first

[2021-12-15 19:47] #2730 closed

[2021-12-15 22:37] oldtopos commented on #2415
Do not understand "calling the controller" and "Call common recoveries"

wait for navigation refers to function "waitUntilNav2Active" ?

ComputePathToPose and ComputePathThroughPoses take planner_id and use_start, should these be given overrides similar to bt override ?

[2021-12-15 23:38] Aposhian opened #2742 "docs: Tag container image as something other than "main""
## Feature request

#### Feature description
Currently the image used for CI and development comes from the `builder` target in the Dockerfile. It is designed as a base that has all of the dependencies and setup ready to build Nav2 source. However, I personally was confused by the tag `main`, thinking that I could use the published container images to run the latest and greatest versions of Nav2 f

[2021-12-15 23:41] SteveMacenski commented on #2742
@ruffsl is the best to give you a detailed explanation of that system

[2021-12-16 00:04] ruffsl commented on #2742
The tags for the CI images where meant to denote the branch name that the image was derived from, the main tags originating from main branch of the GitHub repo. Presently our CI only runs for the main branch, but if we ever needed to extend it for other branches of previous releases, we would simply add the branch name as the tag for the respective CI image.

The CI images also do not include comp

[2021-12-16 00:08] SteveMacenski commented on #2415
Its the analog to [getPlan](https://github.com/ros-planning/navigation2/blob/main/nav2_simple_commander/nav2_simple_commander/robot_navigator.py#L207-L233) by calling the planner server, but for local trajectory planning via the controller server. See the `FollowPath.action` in `nav2_msgs`: https://github.com/ros-planning/navigation2/tree/main/nav2_msgs/action

Call common recoveries is the same,

[2021-12-16 00:11] SteveMacenski commented on #2742
I suppose we could make part of nightly to rebuild a user-focused docker image

[2021-12-16 01:02] #2670 closed

[2021-12-16 04:08] SteveMacenski opened #2744 "[Smac] Hybrid-A* planner in Rolling takes a long time to initialize"
Look into it by profiling and fix

[2021-12-16 05:55] SteveMacenski commented on #2744
Appears to be a transient issue I only run into on local builds that removes itself with release flags and clearing caches.

[2021-12-16 05:55] #2744 closed

[2021-12-16 11:27] miku54 commented on #2739
I'm using a DWB controller and my controller algorithm configuration file is：

[2021-12-16 11:29] miku54 commented on #2739
`amcl:
  ros__parameters:
    use_sim_time: False
    alpha1: 0.9
    alpha2: 0.1
    alpha3: 0.05
    alpha4: 0.01
    alpha5: 0.04
    base_frame_id: "base_footprint"
    beam_skip_distance: 0.5
    beam_skip_error_threshold: 0.9
    beam_skip_threshold: 0.3
    do_beamskip: false
    global_frame_id: "map"
    lambda_short: 0.1
    laser_likelihood_max_dist: 2.0
    laser_max_range: 100.0
    l

[2021-12-16 11:30] miku54 commented on #2739
Is there any way to make the Akeman's car drive backwards in the eloquent?

[2021-12-16 15:06] Aposhian commented on #2742
If there doesn't seem to be significant demand for a runnable container image, then it is probably not worth the trouble. My thought process went more like "Oh there is a hosted container image? I'll go ahead and run that!" without realizing that it was not designed for that use case, since most hosted container images are designed to run applications out of the box.

It makes a lot of sense to ju

[2021-12-16 15:49] SteveMacenski commented on #2739
No, see my comments & doc links above.

[2021-12-16 16:30] SteveMacenski commented on #2742
I believe they should work for development, but they're not what we're recommending use for deployments, but I don't think it would be that much effort (would it @ruffsl ) to run another Actions job that is specifically targeting external users?

Some yes, but alot of robotics companies are big Docker users so it might feel more natural for them to actually work with the image versus binaries.

[2021-12-16 16:47] SteveMacenski commented on #2739
Closing - please update to a modern, supported distribution to make use of Ackermann algorithms outlined in the documentation.

[2021-12-16 16:47] #2739 closed

[2021-12-16 17:34] ruffsl commented on #2742
We could have a `latest` tag the points to an image building FROM `main` that includes nightly binary builds of Nav2. That is if you think there would be demand for such a bleeding edge image to regularly excitement with. Shouldn't be too hard if needed.

As for binary installs with released Ros distros, I think it would be better for end users to host and manage their own Dockerfile/images by bui

[2021-12-16 18:25] SteveMacenski commented on #2742
Fair enough. I’d be fine closing this but I do want to hear @Aposhian ’s thoughts as to what would be most useful if they wanted to use a provided Docker container.

[2021-12-16 21:08] SteveMacenski commented on #2738
https://github.com/ros-planning/navigation2/issues/2738

[2021-12-16 21:08] #2738 closed

[2021-12-16 21:30] SteveMacenski commented on #2599
Potentially also include shim controller by default with DWB in config?

[2021-12-16 21:47] SteveMacenski commented on #2721
In progress

[2021-12-16 21:47] #2721 closed

[2021-12-17 00:30] wep21 commented on #2648
@nuclearsandwich @SteveMacenski Any updates on this?

[2021-12-17 07:42] Aposhian commented on #2742
As far as whether a experimental docker image or the rolling binaries are preferable, probably the rolling binaries are preferable. If I really want to play with the bleeding edge of `main` then I think it would be perfectly normal to expect to build it myself. So if the hosted image existed I might use it sometimes, yes, but I'm not requesting that it be added either. I would love to just make a

[2021-12-17 11:25] HarunTeper opened #2749 "BT-Navigator transition error"
Hello,

I am currently working on a multi-robot simulation, you can find the package here:

https://github.com/HarunTeper/AuNa

When I try to launch multiple robots with the navigation stack (only localization and navigation, no slam), I get the following transition error:

[bt_navigator-26] [ERROR] [1639740019.328779724] []: Caught exception in callback for transition 10
[bt_navigator-26] [ERROR]

[2021-12-17 14:58] SteveMacenski commented on #2749
Please ask on ROS Answers and I’ll follow up there, that’s the appropriate place for config help. Please also include all of the logs. My guess is something just above the snippet you included is critical to understanding the error.

[2021-12-17 14:58] #2749 closed

[2021-12-18 13:27] HarunTeper commented on #2749
Thanks, https://answers.ros.org/question/393029/bt-navigator-transition-error/

[2021-12-20 05:38] SteveMacenski commented on #2742
That sounds good to me!

[2021-12-21 02:15] SteveMacenski commented on #1589
https://navigation.ros.org/setup_guides/index.html

Done! Thanks to @jd-deleon and team! Thanks for taking the lead on this, it will continue to be helpful for users for years to come!

[2021-12-21 02:15] #1589 closed

[2021-12-21 06:25] YANGuanTing commented on #2732
Sorry I have some like BUG!

I use cartographer load map and use navigation2-1.0.8, but static_layer can't inflation
![Screenshot from 2021-12-21 14-16-20](https://user-images.githubusercontent.com/29427877/146881045-9f82f717-e067-4168-a905-b688fc140844.png)

[2021-12-21 06:39] YANGuanTing opened #2751 "Static_layer can't inflation"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - galactic
- Version or commit hash:
  - navigation2-1.0.8
- DDS implementation:
  - Unknown

#### Steps to reproduce issue

I use cartographer load map and use navigation2-1.0.8, but static_layer can't inflation

My costmap params:
[code]

![Screenshot from 2021-12-21 14-33-11](https://user-images.githubuser

[2021-12-21 09:07] tuxnese opened #2752 "Lifecycle manager re-transition after a crash of a managed node is respawned"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 20.04
- ROS2 Version:
Galactic binaries
- Version or commit hash:
ros-galactic-navigation2	1.0.7-1focal.20211012.051615

- DDS implementation:
Cyclone

#### Steps to reproduce issue

1) Run a set of managed nodes passing the "respawn=True" parameter

2) Run 'nav2_lifecycle_manager', in my scenario the managed nodes are:
lifecycle_nodes

[2021-12-21 16:14] Nathan24zz commented on #2730
I also got the same error (the gazebo can't be opened when running **ros2 launch nav2_bringup tb3_simulation_launch.py**).
Error that show in terminal like **[local_costmap.local_costmap]: Timed out waiting for transform from base_link to odom to become available, tf error: Invalid frame ID "odom" passed to canTransform argument target_frame - frame does not exist**.

**OS**: Ubuntu 20.04
**ros di

[2021-12-21 17:03] tuxnese commented on #2752
I have been able to make nav2 robust to the crash or kill of a controller in the following way:

1. Setting the parameter of the Node respawn=false in the launch file
2. Setting the parameter of the lifecycle_manager bond_timeout = 0.0
3. Using a RegisterEventHandler in a similar way to what is done in https://answers.ros.org/question/376101/ros2foxylaunch-restart-node-every-time-it-exits-launch-f

[2021-12-21 17:34] SteveMacenski commented on #2752
A contribution would be appreciated, but historically there hasn't been a respawn option in launch so this hasn’t come up before. I’m not sure its the role of the manager to bring things back up once they fail for safety concerns, but I’d be open to talking about it!

If it shuts everything down due to a failure, it would make sense for an application to recycle things back up once the issue has b

[2021-12-21 17:36] SteveMacenski commented on #2751
Make sure your cartographer map has those cells marked as the occupied values. My guess is that they’re below that threshold and that’s what’s causing the issue. They appear occupied in rviz but the actual value is below the occupied threshold so they aren’t picked up using your current map server and map.yaml file settings.

This sounds like a configuration issue of cartographer and/or map server

[2021-12-22 07:12] YANGuanTing commented on #2751
Thanks!! I try it.

[2021-12-22 10:56] afrixs commented on #2690
Update: can't make the PR until Christmas, you can expect it around 2022-1-15

[2021-12-24 04:53] aditya12data opened #2754 "navigation fails when goal is given"
- Operating System:
     UBUNTU 20.04
- ROS2 Version:
        ROS2 foxy

#### Expected behavior
  bt_navigator to begin  navigation when goal is given on map
#### Actual behavior
   action server failed while executing action and  navigation fails

Here is my log:-

[planner_server-7] [INFO] [1640320730.053559633] [global_costmap.global_costmap]: Timed out waiting for transform from base_footprint

[2021-12-24 05:01] SteveMacenski commented on #2754
Please ask on ROS Answers

[2021-12-24 05:01] #2754 closed

[2021-12-24 08:02] aditya12data opened #2755 "One of the children of a DecoratorNode or ControlNode is nullptr"
i am using navigatiopn2 plugin but it is ending up with the error "One of the children of a DecoratorNode or ControlNode is nullptr".

so by error it seems bt navigator is not able to find behavior tree node but i am giving all the required parameters in yaml file.

Below i am attaching a yaml file parameters.

bt_navigator:
  ros__parameters:
    use_sim_time: True
    global_frame: map
    robot

[2021-12-24 17:18] SteveMacenski commented on #2755
Please ask on ROS Answers and include your BT XML.

[2021-12-24 17:18] #2755 closed

[2021-12-26 07:46] 207thinh opened #2756 "Học"

[2021-12-26 19:36] #2756 closed

[2021-12-28 07:05] Nathan24zz opened #2757 "Can't open gazebo11 when run tb3_simulation_launch.py"
**OS**: Ubuntu 20.04
**distro**: foxy

I already tried in WSL2 and Ubuntu 20.04 physically but I still got the error (the gazebo can't be opened when I run **ros2 launch nav2_bringup tb3_simulation_launch.py**).
The error that shows in terminal like **[local_costmap.local_costmap]: Timed out waiting for transform from base_link to odom to become available, tf error: Invalid frame ID "odom" passed

[2021-12-28 13:46] SteveMacenski commented on #2757
Please provide full logs. Does Gazebo come up eventually? If not, you may not have properly sourcing turtlebot gazebo files and if you’re not loading gazebo,  clearly there would be no odometry frame as there’s no simulation data being produced.

See the getting started guide in our documentation.

[2021-12-30 05:26] Nathan24zz commented on #2757
Here is the full logs
[code]
After that it keep repeating print `local_costmap.local_costmap]: Timed out waiting for transform from base_link to odom to become available, tf error: Invalid frame ID "odom" passed to canTransform argument target_frame - frame does not exist`

[2021-12-30 05:31] Nathan24zz commented on #2757
the gazebo does not come up, just stuck like this:
![Screenshot from 2021-12-30 12-28-17](https://user-images.githubusercontent.com/67816345/147724152-d5c6d076-787a-47a8-a573-765738d5bbdc.png)

And for sourcing turtlebot gazebo, i just need `export TURTLEBOT3_MODEL` and `export GAZEBO_MODEL_PATH` isn't it? Or there is anything else that i forgot?

[2022-01-03 17:33] SteveMacenski opened #2758 "Offer integration into a mission control system for application autonomy"
Examples:
- A Behavior Tree based system using the `NavigateToPose` higher level primitive to use the Nav2 stack in an autonomy application (e.g. BT.CPP)
- A state machine based system using wrapped clients to Nav2 (e.g. smach, smacc, etc)
- A sequential based system (e.g. @allenh1 )

[2022-01-03 19:33] padhupradheep commented on #2596
Just giving you a small nudge @SteveMacenski for this issue!

[2022-01-03 19:58] SteveMacenski commented on #2757
Please refer to TB3 docs if using their resources, I can't give specific advice on that platform, but I have the following in the bashrc to get the models

[code]

If gazebo isn't coming up, that's the issue, its not in Nav2.

[2022-01-03 20:27] SteveMacenski commented on #2596
The BT looks good, but I think you're missing the check to only run when in proximity to the goal? It could be stripped out if they would rather do that always, but it would be good to have that basic ability as the primary mode.

For testing, you can see in `nav2_behavior_tree` package there's a `test` directory. Look at the tests for the same types of nodes as you've created and make tests that

[2022-01-04 20:17] padhupradheep commented on #2596
This is indeed taken care, by the `IsPathLonger` node. The `path_length` in the BT node allows the user to set the desired goal proximity. By default the value will be set to 1e999.

Maybe the name `path_length` should be changed!

[2022-01-04 20:39] SteveMacenski commented on #2596
Yeah, I think a rename would be good!

[2022-01-05 10:52] Nathan24zz commented on #2757
I already follow your instruction and if I run the gazebo independently, it works. For example, here I run `worlds/pioneer2dx.world` like a tutorial in gazebo.
![Screenshot from 2022-01-05 17-50-26](https://user-images.githubusercontent.com/67816345/148205834-bdf0921a-1627-4e7c-8493-017d2402d906.png)
But when running `ros2 launch nav2_bringup tb3_simulation_launch.py`, it still produces the same e

[2022-01-05 18:11] nuclearsandwich commented on #2648
I haven't been back to this since Steve's confirmation. I'll provide an updated script as it's not trivial to make this alteration in the build farm configurations.

[2022-01-05 23:32] nuclearsandwich commented on #2648
Here's a gist containing a script generating the full xml format for exported gmail filters as well as a sample of the generated xml from my local (and several months-out-of-date) clone of navigation2.

https://gist.github.com/nuclearsandwich/174a442ccbae8e066af4e05ce1b26138

[2022-01-10 21:08] SteveMacenski commented on #2757
Please ask on ROS Answers or review documentation, we cannot reproduce this issue and it is well documented how to work with gazebo / ROS 2. This issue isn't related to Nav2.

[2022-01-10 21:08] #2757 closed

[2022-01-10 21:23] #2751 closed

[2022-01-11 01:36] SteveMacenski commented on #2742
@Aposhian can you submit that PR?

[2022-01-11 23:53] Aposhian commented on #2742
Yeah I can get that.

[2022-01-12 00:10] #2742 closed

[2022-01-12 00:10] SteveMacenski commented on #2742
Thanks!

[2022-01-12 08:56] ste93 commented on #2187
@abylikhsanov  I have the same problem, how did you solved it?

[2022-01-12 13:22] padhupradheep commented on #2626
Maybe just have a parameter for the BT node and add the footprint. Something like as follows:

```<UpdateFootprint name="FootprintUpdate" footprint="[[-0.325, -0.325], [-0.325, 0.325], [0.325, 0.325], [0.46, 0.0], [0.325, -0.325]]" topic_name="global_costmap/footprint"/>````

Then we can design the `UpdateFootprint` BT node to publish to the footprint topic specified by the user.

[2022-01-12 13:25] padhupradheep commented on #2626
Maybe just have a parameter for the BT node for updating the footprint and the topic to which it needs to publish. Something like as follows:

`<UpdateFootprint name="FootprintUpdate" footprint="[[-0.325, -0.325], [-0.325, 0.325], [0.325, 0.325], [0.46, 0.0], [0.325, -0.325]]" topic_name="global_costmap/footprint"/>`

[2022-01-12 15:09] MoritzWillmann commented on #2491
hey @jacobwaller, I don't know if this is still relevant to you but I encountered the same "issue" using nav2 with galactic on tag 1.0.8 today. I think that lifecycle node order is important, yes. It seems that for `navigation_launch.py` (and especially `bt_navigator`) to work, `map_server` and `amcl` which are launched in `localization_launch.py` need to be added to the lifecycle nodes first. Mak

[2022-01-12 21:27] SteveMacenski commented on #2626
I'm not sure the path forward for this. How would this BT node _get_ the footprint itself to be publishing to other topics? A topic? If that's the case, then someone is already publishing the footprint, they should just publish it directly to the costmap and there's no need for this to be in the behavior tree. The ways to get the info in the behavior tree would probably also work for communicating

[2022-01-13 00:08] tonynajjar opened #2764 "aws_robomaker_small_warehouse_world not found"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Rolling Binaries
- Version or commit hash:
14051a6971efca0aaf51a5ef3df01b24e83b1098

- DDS implementation:
  -

#### Steps to reproduce issue

[code]

#### Expected behavior
That it doesn't crash

#### Actual behavior
`LookupError: Could not find the resource 'aws_robomaker_small_warehouse_world' of type 'p

[2022-01-13 00:14] SteveMacenski commented on #2764
Its not released in binary form, you have to build yourself

[2022-01-13 06:59] padhupradheep commented on #2626
This makes a lot of sense to me. I will try to elaborate a little bit more on thoughts which I developed based on the explanation given by @guilyx. Having a robot that goes under the trolley, does the dock, once the docking is finished, you change the footprint depending on the size of the trolley. Although, assuming there is no magic for determining the size of the trolley, but rather being a (pr

[2022-01-13 10:20] guilyx commented on #2626
As @doisyg pointed out

The BT Action would just change the parameters of the footprint dynamically in Costmap2D ? For Nav2 specifically (and not using TEB) then you only need to change the Costmap footprint parameter.
Basically we have a way of detecting the trolley on top of the robot and we want to change the footprint in Costmap2D to that detected footprint.

The dynamic parameters PR already

[2022-01-13 10:20] TipluJacob opened #2766 "RegulatedPurePursuitController Footprint Collision Bug"
Since the last Galactic sync 5 (#2748) I have massive problems with the Regulated Pure Pursuit Controller. While the controller managed to pass through doors (or in general areas near obstacles) perfectly fine before the update, it's now getting stuck most of the time while spaming "RegulatedPurePursuitController detected collision ahead!". We observed this behaviour with a bigger robot than the t

[2022-01-13 11:56] doisyg commented on #2626
I can confirm ;), we use it everyday and it works great

I made the change for TEB to catch the dynamic footprint param in our fork, if there is enough interests, I can PR it. Though there are a couple of maintenance tasks to take care of also (in TEB) and I am a bit tight in time these days.

[2022-01-13 16:02] KrasnovPavel opened #2767 "ComputePathToPose does not work after update from foxy to galactic"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Galactic from apt
- Version or commit hash:
  - ros-galactic-navigation2 1.0.8-1focal.20211223.041721
- DDS implementation:
  - default

#### Steps to reproduce issue
I am launching
`ros2 launch nav2_bringup navigation_launch.py params_file:=./src/planner/config/nav2_params_1.yaml`
in foxy and in galactic (

[2022-01-13 21:48] SteveMacenski commented on #2766
Is your footprint properly set? The only change in that sync was changing from point costs at the center to using the robot footprint given to the controller server as the basis of collision checking. Also make sure that your look ahead time is reasonable.

Try using the current state of RPP in the `main` branch, if you grab it from the repo it should build fine (just RPP). We added a change to it

[2022-01-13 22:01] SteveMacenski commented on #2626
I think that only works if you're only changing by a small number of discrete sizes (e.g. only 1 or 2 types of trolleys). If its any more variable than that - like if you had a mobile manipulator - you may be better off with a state publisher updating the footprint dynamically itself.

Or a topic, there's an input footpritnt topic to costmap that you can use to change the footprint from another so

[2022-01-14 00:22] billymccafferty opened #2768 "LIDAR timestamp on the message is earlier than all the data in the transform cache"
I am trying to bringup Nav2 on a "server" Ubuntu machine hosting ROS2 Rolling, using messages published from a physical robot "client" via Raspberry Pi hosting ROS2 Foxy. The URDF description is at https://github.com/billymccafferty/xerbo .

When I bring up Nav2 via `ros2 launch nav2_bringup navigation_launch.py` on the server, I'm seeing the following error:

    [controller_server-1] [INFO] [164

[2022-01-14 00:35] SteveMacenski commented on #2768
Please ask on ROS Answers, this is the wrong forum for configuration help

[2022-01-14 00:35] #2768 closed

[2022-01-14 00:36] SteveMacenski commented on #2768
I'd start with it all on the same CPU first and then branch out to make sure things work properly outright (e.g. your issue isn't straight up misconfiguration) then tackle the remote server problem.

[2022-01-14 07:44] KrasnovPavel commented on #2767
Thanks for your response!

I reexamined logs and it looks like galactic does not log bt_navigation configuration process at all.
In my yaml file I tried to:
- not specify `bt_navigator.default_nav_to_pose_bt_xml`
- set it to "/opt/ros/galactic/share/nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml"
- set it to my simple BT: "/home/notebook/work/ROS2-planner/src/plann

[2022-01-14 14:24] debanik123 opened #2769 "Ultrasound sensor (range sensor msg) add with cost map2d how"
How to add "Range Sensor Parameters" just like “static_layer”, “obstacle_layer”, “inflation_layer”, "voxel_layer"?

[2022-01-14 16:15] billymccafferty commented on #2768
I appreciate this feedback Steve; I'll try that today. (I posted this a couple weeks ago on ROS Answers, but alas, no response. So I appreciate yours! :) Thx for all you're doing!

[2022-01-14 16:46] doisyg opened #2770 "[CostmapLayer] clearArea inverted param seems... inverted"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- ROS2 Version: Galactic
- Version or commit hash: last galactic sync
- DDS implementation: Cyclone

#### Steps to reproduce issue

Call `CostmapLayer::clearArea`
https://github.com/ros-planning/navigation2/blob/b201d058a7b15f1786c57afe69d079ac5d502018/nav2_costmap_2d/src/costmap_layer.cpp#L64-L81

#### Expected behavior
https://g

[2022-01-14 17:40] TipluJacob commented on #2766
Thank you for the quick response. The footprint for the turtlebot is properly set to the standard robot_radius 0.22. In our project it's a rectangle, but I double checked if it's properly set. Same for the look ahead time.

I tried using the main branch in our project, which worked fine. I tried as well using the old galactic version, which worked fine too. Only the updated galactic branch causes

[2022-01-14 18:04] padhupradheep commented on #2767
set it to "/opt/ros/galactic/share/nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml"
set it to my simple BT: "/home/notebook/work/ROS2-planner/src/planner/config/nav_to_pose.xml"

I tried to reproduce your issue, but all the BT works as intended.

You are right, galactic does not show all the BT node configurations. But, they work as intended.

It does an initial spi

[2022-01-14 18:05] SteveMacenski commented on #2769
See navigation.ros.org or ask on ros answers.

[2022-01-14 18:05] #2769 closed

[2022-01-14 18:07] SteveMacenski commented on #2766
Can you test on the rectangular robot you reported the issue see on?

[2022-01-14 19:37] SteveMacenski commented on #2770
Agreed, please submit a PR and a website migration guide update explaining the inversion

[2022-01-14 20:18] philmurp opened #2771 "Recovery Backup Not Triggering"
Hello, I am running Foxy install of ROS2/Nav2 stack with Mecanum, NVIDIA Jetson computer. I used Linorobot2 as install setup, Navigation YAML: [LINK](https://github.com/linorobot/linorobot2/blob/1ebfae81ea741ac4d0ee6024eebe26c2f1e329f3/linorobot2_navigation/config/navigation.yaml)

When my robot is stuck in a corner, I see it enters the recovery tree and does the spin and wait actions; however it

[2022-01-14 20:23] SteveMacenski commented on #2771
Your hyperlink doesn't render.

Do you see logging associated with the backup, perhaps with an error saying that is was unable to due to a collision?

I know in early days there was an issue where the default configuration file incorrectly in foxy said `back_up` instead of `backup` which messed with the topic names. Try `ros2 topic list` and see if you have both. If so, there was a misconfiguratio

[2022-01-14 20:40] philmurp commented on #2771
Updated the LINK so hopefully it shows up now.

Looking at the file:

One line for plugins says:
`recovery_plugins: ["spin", "back_up", "wait"]`

Another line says:
[code]

So should it be "BackUp" in both places instead of "back_up" in the recovery_plugins line?

To your other question: Have never seen backup even come up in the loggin, it shows spin and wait and then aborts, never seen backup in

[2022-01-14 21:30] SteveMacenski commented on #2771
Does your behavior tree include a backup call? Many don't have it even. The backup would only be triggered if your behavior tree uses it.

You should check the topics like I requested - I don't remember off hand which caps/underscores we used in Foxy. It's changed a few times.

[2022-01-14 22:39] philmurp commented on #2771
Bottom of post is my full topic list, recoveries_server is the only relevant topic I believe, and in the .yaml file this is what is within that server:

As I mentioned above I see mismatch of "back_up" in the plugins vs below "BackUp"
[code]

Full topic list:
[code]

[2022-01-14 22:55] SteveMacenski commented on #2771
Does your behavior tree include a backup call? Many don't have it even. The backup would only be triggered if your behavior tree uses it.

Also, apologies, list the **actions** not the topics, these are action servers.

[2022-01-14 23:00] philmurp commented on #2771
I believe the tree does have backup call.

--

 ros2 action list
/FollowWaypoints
/back_up
/compute_path_to_pose
/follow_path
/navigate_to_pose
/spin
/wait

[2022-01-14 23:10] SteveMacenski commented on #2771
Check

[2022-01-14 23:11] SteveMacenski commented on #2771
https://github.com/ros-planning/navigation2/tree/foxy-devel/nav2_bt_navigator/behavior_trees none of these in Foxy do it, so unless you've modified a file, it wouldn't in Foxy.

[2022-01-14 23:22] philmurp commented on #2771
Based on this line in my code, and it being Foxy + the default file doesnt have backup, looks like you are correct that its not in the .xml

`default_bt_xml_filename: "navigate_w_replanning_and_recovery.xml"`

So would I have to copy the default .xml and modify locally and call to that to add backup? Any idea why backup wasn't added to these default files?

[2022-01-14 23:25] SteveMacenski commented on #2771
We didn't think it appropriate for defaults at the time :shrug: It also could have been that I added backup after Foxy was initially released. I'm not exactly sure.

Yup!

[2022-01-14 23:26] #2771 closed

[2022-01-14 23:27] SteveMacenski commented on #2764
Note that https://github.com/ros-planning/navigation2/pull/2649 should fix this largely, but also blocked by some issues with the AWS warehouse releasers

[2022-01-15 13:35] philmurp commented on #2771
Any example of .xml files with backup included (perhaps Galactic version?)

[2022-01-17 08:14] TipluJacob commented on #2766
Yes I tested the issue on the rectangular robot. As I reported before, we have massive problems in passing through doors with the Galactic sync 5 version. The older galactic version on the other side works fine, the main branch also.

[2022-01-18 02:43] SteveMacenski commented on #2771
Not sure, that could be a litany of configuration or other issues that I cannot debug from afar. I'd recommend reviewing BT.CPP's documentation on writing XML files to make sure you've done it properly and you can always refer to the navigation.ros.org configuration guide for Nav2 specific content.

[2022-01-18 18:16] SteveMacenski commented on #2766
OK, just to verify, you tested `main` on the rectangular robot and it worked? If so, then that's good the state in main is the most safe way.

I'll revert the changes to Galactic from the most recent sync so that they're both up and running fine. I would though recomment moving to the `main` version as soon as possible with `Rolling` or `Humble`. It includes some more safe aspects, especially if y

[2022-01-18 18:27] SteveMacenski commented on #2767
Please ask on ROS Answers, I'm pretty active on there. Lets keep the issue tracker for issues / features

[2022-01-18 18:27] #2767 closed

[2022-01-18 18:28] SteveMacenski commented on #2764
Can I close this? Its imminently being released and largely out of our direct control

[2022-01-18 18:46] #2766 closed

[2022-01-18 19:03] tonynajjar commented on #2764
Sorry for the late answer. Thanks for the clarification

[2022-01-18 19:03] #2764 closed

[2022-01-19 08:12] #2770 closed

[2022-01-19 10:54] TipluJacob commented on #2766
Yes you stated everything correctly. We are definitely looking forward to move to the main version. Thanks for the advice and your  attention!

[2022-01-19 12:27] kimsooyoung opened #2775 "[very minor] misspelling in readme"
## Tiny misspelling in readme of smac_planner parameters

Now I'm reading all documents about Nav2, And find some tiny spelling error.

During [nav2_smac_planner - parameters](https://github.com/ros-planning/navigation2/tree/main/nav2_smac_planner#parameters)

[code]

I think `For Lattice/Hybrid **ndoes**` should be changed to `For Lattice/Hybrid **nodes**`

By the way, This is the **nicest** ros

[2022-01-19 14:10] ljaniec commented on #2719
I have checked it after recent update and it isn't working still (both binaries for Ubuntu 20.04 and compiled from source from `galactic` branch).
From rqt_graph, phase by phase:

- start without Nav2 startups:
[rosgraph_after_start_gazebo_no_nav2_stacks.pdf](https://github.com/ros-planning/navigation2/files/7897381/rosgraph_after_start_gazebo_no_nav2_stacks.pdf)

- only `robot2` with Nav2 stack w

[2022-01-19 15:10] RiZom-91 opened #2777 "Remove nav2-rviz-plugins from navigation2 dependencies?"
Hi,

I've noticed navigation2 package has nav2-rviz-plugins as a dependency which can be unnecessary and/or unbuildable for embedded targets (Qt5 dependency mostly) like mobile robots.

Of course, it is possible to build/install each sub-package individually but I've created this issue to ask if this should be an optional dependency somehow.

Best Regards,
Romain G.

[2022-01-19 16:54] SteveMacenski commented on #2777
No, since most users want the full metapackage including rviz plugins, we include it in the nav2 dependency list so its a 1 stop shop for this project. But you’re always welcome to pick and choose which you would like! That’s alot of the value of independent packages! 🙂

[2022-01-19 16:55] RiZom-91 commented on #2777
Thanks for the answer. I'll close the ticket.

[2022-01-19 16:55] #2777 closed

[2022-01-19 16:56] SteveMacenski commented on #2775
Thanks!! A PR would be appreciated to fix the typo, if you wouldn’t mind!

[2022-01-19 17:50] SteveMacenski commented on #2690
Update: @afrixs has done some awesome work and his PR is close to being merged. We're going to strip out my initial implementation and replace with his and then largely it should be good to go and will resolve this issue.

[2022-01-20 06:49] #2775 closed

[2022-01-20 14:04] ErikOrjehag commented on #2622
We added this very small change to `transformGlobalPlan` to find `transformation_begin` with great success:
[code]
This works because the global plan is constantly being pruned so transform_begin should usually be the first or second element.
![Peek 2022-01-20 15-03](https://user-images.githubusercontent.com/3470402/150353502-e1a7e4a7-a963-461c-8313-a8fc97ab41df.gif)

[2022-01-20 20:08] SteveMacenski commented on #2622
Am I to read this as you only look over the next 5 poses to which is closest?

How did you come up with 5? This adds kind of a "magic number" into the stack that's dependent on the speed of the robot / density of the path. But I think this could be adapted to be a length (e.g. check only within the next N meters) and work fine and be a bit more general!

I think the issue still remains if you have

[2022-01-20 20:47] SteveMacenski commented on #2147
Essentially done, just waiting on docs updates

[2022-01-20 20:47] #2147 closed

[2022-01-20 20:47] SteveMacenski commented on #816
@gezp I saw another of your PRs was merged, is this now good to move forward on the AMCL / costmap PRs?

[2022-01-21 01:09] gezp commented on #816
@SteveMacenski the upstream PR https://github.com/ros2/geometry2/pull/447 is still blocked.

[2022-01-21 13:40] janx8r opened #2781 "planner_server dies when clearing costmap: Segmentation fault in nav2_voxel_grid"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - galactic from apt
- Version or commit hash:
  - a1e8ea3f578f6edc9a6048d3b94c6c2cb5755694 (branch galactic from this repo, but same for ros-galactic-navigation2 from apt)
- DDS implementation:
  - ?

#### Steps to reproduce issue
I use the package turtlebot3_navigation2 to let a simulated turtlebot navigate

[2022-01-21 18:36] SteveMacenski commented on #2781
Please provide your configuration file. If you're able to compile with debug flags and get a traceback (guide: https://navigation.ros.org/tutorials/docs/get_backtrace.html) that would give us line numbers and see specifically where it was invoked.

This sounds similar to an issue that @AlexeyMerzlyakov resolved in the second half of last year, so I think this would be good for him to take a look a

[2022-01-22 07:46] vaibhavkad-peppermint commented on #2730
**I got the same error**
Gazebo does not open when
`run ros2 launch nav2_bringup tb3_simulation_launch.py`
**Error**: [local_costmap.local_costmap]: Timed out waiting for transform from base_link to odom to become available, tf error: Invalid frame ID "odom" passed to canTransform argument target_frame - frame does not exist

When opened separately Gazebo starts quickly

OS: Ubuntu 20.04
ros distr

[2022-01-22 11:00] janx8r commented on #2781
I added traceback for nav2_voxel_grid and reproduced the error. Above is updated gdb output from planner_server. Apparently it is line 380 in voxel_grid.hpp. The line also looks like it could cause segmentation faults.

I have added my configuration above.

[2022-01-23 17:43] sathak93 commented on #2622
using integrated path length and few tweaks

https://user-images.githubusercontent.com/57533054/150690608-1253dc75-2bac-40d5-bf4f-6fccf2823e25.mp4

this method also looks good on DWB
if you are ok with this result .i can create a pr

[2022-01-23 22:57] tonynajjar commented on #2415
I'm working on adding wait, spin and backup. Spin and backup make sense to me but I'm not sure how wait is expected to work in a python script. As far as I understand in a BT, the wait node would stall the BT. In a python script, wait behave like a time.sleep()?

[2022-01-24 00:29] SteveMacenski commented on #2415
Essentially, yes. I agree it might not make too much sense actually to include in its own right. You could simply sleep in the python script. I think its OK to skip unless you feel it would be good to add to be complete

[2022-01-24 11:52] janx8r commented on #2781
I made a few test outputs of the calculation of offset (voxel_grid.hpp line 255) and could observe the following situation:
[code]
The offset 0 is suddenly 4294967039 after passing it to ClearVoxelInMap::operator().
The bresenham3D function (voxel_grid.hpp line 294) calls ClearVoxelInMap::operator() and passes offset to it.
However, in the function header offset and z_mask have the address operato

[2022-01-24 17:17] mangoschorle commented on #2690
@SteveMacenski I checked out the new work of  @afrixs, played around with the retrospective_penalty and checked the resuts. Great work!

[2022-01-24 18:16] janx8r commented on #2781
[code]
After examining the variables shown above at runtime, I was able to find the error. In the function raytraceLine (voxel_grid.hpp) dist is calculated. dist can become 0 in rare cases. As it is divided by dist, min_x0 and min_y0 then become NaN. Subsequently, this causes the offset for accessing the data to be calculated incorrectly, resulting in a Segmentation Fault.
I suggest to change line

[2022-01-24 18:54] SteveMacenski commented on #2781
Is this when there's a measurement that's at the starting point?

That sounds like a very reasonable solution, can you submit a PR? Alexey is out currently sick so he's not able to review right now, but once he's back, I want him to give it just a glance over to make sure he's OK with it. But otherwise, this looks good to me!

[2022-01-24 19:00] SteveMacenski commented on #2622
Please do!

[2022-01-25 10:18] janx8r commented on #2781
I think that the value of scale doesn't matter in this special case. scale is only multiplied by abs_dx, abs_dy or abs_dz after that, which are always 0 when dist == 0. I have decided for scale = 1.0 because
[code]
with dist -> 0 would result in a 1.0.

[2022-01-26 13:19] bot-lin opened #2785 "Failed to change the odom_topic of bt_navigator"
## Bug report

**Required Info:**

- Operating System:
  -
  - Ubuntu 20.04
- ROS2 Version:
  -
  - Galactic binaries

#### Steps to reproduce issue

In the nav2_params.yaml file, I changed the odom_topic of bt_navigator from /odom to /odom1, but the bt_navigator node was still subscribed to /odom when launch

#### Expected behavior
bt_navigator node subscribes to /odom1
#### Actual behavior
bt_na

[2022-01-26 15:41] SteveMacenski commented on #2785
Please check that you changed odom topic for any BT node’s port that may use it in your behavior tree. You may be using BT nodes which have their own independent parameters that are using it.

All parameters and ports are specified in the configuration guide at navigation.ros.org

[2022-01-26 15:47] SteveMacenski commented on #2785
Actually, I think this may be the result of a bug.

https://github.com/ros-planning/navigation2/blob/main/nav2_bt_navigator/src/bt_navigator.cpp#L75

We declare it here but do not get the parameter and pass it onto the odometry smoother later down in the file. The smoother has a default odom topic constructor argument we aren’t overriding.

A PR would be appreciated to resolve. You’d only need to

[2022-01-27 02:47] Aposhian commented on #2622
This bug has affected us a lot, since our paths have lots of intersections. @sathak93 let me know if you need any help preparing the PR.

[2022-01-27 09:08] sathak93 commented on #2622
RPP was resolved.
dwb has a problem
some critic makes the robot turn away without executing some poses.

[2022-01-27 09:19] sathak93 commented on #2622
https://user-images.githubusercontent.com/57533054/151329171-f45ccf26-1716-40cb-aa0f-870913cf7256.mp4

[2022-01-27 15:55] Kaetera commented on #2491
Got the same error after migration from Foxy to Galactic.
Changing from `back_up` to `backup` as @eliasdc explained solved it for me.

Note: I have vague memory that I tried one day under Foxy to rename the `back_up` key in the .yaml param file and that it caused issues.

[2022-01-27 18:53] SteveMacenski commented on #2622
(copied from slack)

If this were just following waypoint goals, that looks like the goal tolerance to me (e.g. gets within roughly 0.25m of the goal, which is the default value and the value we see it end in with the last waypoint 4). But since that's not the case, I had a take a look in the DWB critic code.

If I were to give an educated guess based on a few minutes of looking, I would wager it

[2022-01-29 01:17] SteveMacenski commented on #2690
Merged and tuned to my satisfaction, should be good to go!

[2022-01-29 01:17] #2690 closed

[2022-01-31 16:56] AlexeyMerzlyakov commented on #2781
Apologies for my late reply. I've checked the case. Indeed: this is corner case where initial and final points are the same for `raytraceLine(p0, p1)` which is not taken into account in its algorithms (by code it is _always_ implied that `(x0,y0,z0)` and `(x1,y1,z1)` are different, so we never have had expected NAN-s there). I've checked the patch proposed @janx8r: we can not just ignore the `bres

[2022-01-31 21:20] hndr-k opened #2793 "namespaces and costmaps in multirobot scenarios"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Foxy and Galactic binaries
- Version or commit hash:
  - apt binaries
- DDS implementation:
  - FastRTPS and CycloneDDS
#### Steps to reproduce issue

[code]

#### Expected behavior
Two fully functioning Navigation2 instances running with corresponding costmaps.
#### Actual behavior
It seems like the costma

[2022-01-31 21:46] SteveMacenski commented on #2793
See https://github.com/ros-planning/navigation2/issues/2719 there is some already noted issues with this we haven't started looking at yet.

[2022-01-31 21:46] #2793 closed

[2022-02-02 13:01] Fellfalla opened #2796 "Couldn't load critics when launching in namespace"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- ROS2 Version: Galactic and installed via `apt`
- Version or commit hash: 1.0.8-1focal.20211223.041721
- DDS implementation: default

#### Steps to reproduce issue

Run `ros2 launch bringup navigation.launch.py namespace:=ns` with following launch file and the default `nav2_params.yaml`

[code]

#### Expected behavior
Booting con

[2022-02-02 15:09] padhupradheep commented on #2796
Tried to reproduce the error, seems that the `LaunchConfiguration` is not reading the namespace at all, consequently not reading the parameters from the nav2_params.yaml.

I checked  `ros2 node list` to see if the namespaces are read. But, unfortunately the namespace is not read at all.  Cannot figure out what is the issue.

Leaving it to Steve!

[2022-02-02 18:06] SteveMacenski commented on #2796
PRs are always appreciated, I don't have the cycles in the foreseeable future to address this myself

[2022-02-02 18:11] SteveMacenski commented on #2374
Merged!

[2022-02-02 18:11] #2374 closed

[2022-02-02 20:00] padhupradheep commented on #2796
Sure, I will look into this issue in few days, if this is not too urgent for @Fellfalla. I need to finish the other issues that I’m working on first. I will add it to my list of Todo’s.

[2022-02-02 23:44] SteveMacenski commented on #2720
Last rolling update handled!

[2022-02-02 23:54] SteveMacenski commented on #2415
For setting parameters, I adapted this class to handle it. This can be massaged into the simple commander later

[code]

[2022-02-03 00:23] SteveMacenski commented on #2720
Untrue, whoops, I had some changed settings cached that removed scans

[2022-02-03 07:06] AlexKaravaev opened #2799 "Ability to pass array of planner_ids to ComputePathThroughPoses.action"
## Feature request

Ability to pass array of planner_ids to ComputePathThroughPoses.action.

#### Feature description

I think it will be quite handy and not so hard to implement this. I have some following scenario, I have a set-up where robot is navigating with nav2 plannet plugin that plans global plan on a lanelet2 map(I hope I will open source this in the future, but this it's not up to me).

[2022-02-03 17:24] SteveMacenski commented on #2799
Sounds easy enough! Would you be willing to submit a PR?

I think the only missing important detail is that we need to check that the array of planner id’s are either 0 (use default), 1 (use for all), or the same length as the number of waypoints requested. Else, reject

[2022-02-03 18:21] SteveMacenski commented on #2796
By the way, we push the namespaces of the nodes in the parent file to the navigation.launch.py using `PushRosNamespace` https://github.com/ros-planning/navigation2/blob/galactic/nav2_bringup/bringup/launch/bringup_launch.py#L80-L82.

The `bringup_launch.py` file is the entry point I'd recommend starting modifications at for that reason and that it passes through the parameters to the navigation la

[2022-02-03 18:28] padhupradheep commented on #2796
I can confirm that this works.

Yes, we can check if the namespace given in the `LaunchConfiguration` has received a value or not. With the help of the `LaunchContext` Api, we can see if the particular argument is empty or not.

[2022-02-03 18:35] SteveMacenski commented on #2796
Got it, so this works, we're just in the wrong place for the current behavior (which may not be ideal)

I don't think that necessarily gives us the full picture.
- namespace is `ns` that was defined in bringup so nodes are already pushed into it and navigation launch still gets `namespace`
- namespace is set as `ns` on CLI for navigation without bringup and navigation file gets `namespace`

Both s

[2022-02-03 19:06] AlexKaravaev commented on #2799
@SteveMacenski Check sounds great!

I will be working on this in the future and will open PR for that in a little while

[2022-02-03 19:29] padhupradheep commented on #2796
I think I will agree with this point. As you said `navigation_launch.py` is used for launching from another parent file. The idea that I have put inside my PR linked with this issue will obviously help. Moreover, I believe `navigation_launch` was not built with an intention to be launched standalone.  Hope @Fellfalla was helped with our conversations.

[2022-02-04 07:02] SteveMacenski commented on #2796
Agreed, I'm not adamant that it has to be that way at all, so don't take the status quo as something immovable. I do like @padhupradheep's PR, but I do want to understand exactly what is going on for why its not pushing into the namespaces twice. I want to make sure we're relying on an intentional feature and not a bug that we've stumbled onto.

Assuming its intentional on the Launch side, I'd 100

[2022-02-04 07:28] SteveMacenski commented on #2785
Merging when CI finishes

[2022-02-04 07:28] #2785 closed

[2022-02-04 10:03] wilcobonestroo commented on #2633
I see that the Kobuko package has 3 options for input: **none**, **odometry** and **commanded velocities**. Odometry makes sure that the new `cmd_vel` value is within bounds compared to the currently estimated odometry. The commanded velocities looks at the previous `cmd_vel` that was send and assumes that the robot follows these commands. I don't understand the none option yet, but I will have a

[2022-02-04 15:24] vinnnyr commented on #2633
Jerk Limits
--
- Yeah so I can concede that jerk limits when in **odometry** mode might not make a lot of sense due to localization noise.

Deadband
--
The velocity smoother in the version of Regulated Pure Pursuit (RPP) was in **odometry** mode.
The deadband issue was inspired by issues we were fighting with RPP on a robot. We would give RPP a reasonable acceleration limit, but since that robot d

[2022-02-04 16:30] Fellfalla commented on #2796
I was able to solve my problem by setting the `default_value` of the `DeclareLaunchArgument` to the `LaunchConfiguration` value according to following modification:

[code]

[2022-02-04 16:55] Fellfalla commented on #2796
I was able to solve my problem by doing 2 things.

1. setting the `default_value` of the `DeclareLaunchArgument` to the `LaunchConfiguration` value according to following modification:

[code]

2. Adding `PushRosNamespace(namespace=namespace)` to the `LaunchDescription` in navigation.launch.py

[2022-02-04 17:04] wilcobonestroo commented on #2633
That helps understanding the deadband issue :smile: So there should probably be several options for the behavior in the band.

Do you think we should include jerk for the commanded velocity mode? Or can we completely drop the jerk issue?

Ps. I started working on the boilerplate code and reading the parameters: https://github.com/wilcobonestroo/navigation2/tree/add-velocity-smoother

[2022-02-04 17:49] #2796 closed

[2022-02-04 18:27] benjinne opened #2801 "Feature request: BehaviorTree Loggers"
#### Feature description
https://www.behaviortree.dev/tutorial_05_subtrees/ describes how a logger object can log state changes. Is this possible with nav2?
I've searched this nav2 repo and I don't see any instances of `FileLogger` mentioned anywhere.

[2022-02-04 18:47] SteveMacenski commented on #2633
Some only handle X, one of the things to make sure is that it supports omni robots in the Y velocity / acceleration direction.

`nav2_velocity_smoother` sounds good to me!

I think for a first-release we can not include jerk, but if @vinnnyr wanted to come in after and include it, that PR would be easily merged. After the bulk is in place, adding a couple new parameters and a new constraint would

[2022-02-04 18:55] SteveMacenski commented on #2801
This is already done with the https://github.com/ros-planning/navigation2/blob/main/nav2_behavior_tree/include/nav2_behavior_tree/ros_topic_logger.hpp. We publish state changes over a topic so they can be collected in a rosbag along with other debug information so you can track the flow of information. It doesn't make sense in this project to have a separate file logger given ROS 2 is largely an e

[2022-02-04 18:55] #2801 closed

[2022-02-05 00:04] SteveMacenski opened #2804 "Update BT for only replanning when required + infrequent refinement"
CC @jwallace42

Considerations
- Add the BT!
- Not just replanning if totally invalid, but sufficiently higher cost
- Figuring out what the right level of replanning is (every 10, 20, 30, 40, ... seconds)
- Asking users to trial and give us feedback

This should hopefully resolve oscillations problems forever in Nav2 + allow more consistent behavior

[2022-02-05 13:15] wilcobonestroo commented on #2633
Hmmm... I had never thought about omni robots and the y-velocity. In the implementation from Care-O-bot (cob) they treat the x and y as independent things to control. I.e. they simply apply the rules for linear speed and acceleration to both components. So, in theory you can have a total combined linear speed larger the the max linear speed (e.g. when both x and y are at their max). Is this what y

[2022-02-06 15:58] wilcobonestroo commented on #2633
I have some initial smoothing attempts going on :smile:

![Screenshot from 2022-02-06 16-52-50](https://user-images.githubusercontent.com/1830620/152689332-b6aef24a-0f01-4119-bdd9-b069d5a2ddfd.png)

[2022-02-07 19:17] SteveMacenski commented on #2633
That would be fine to do, so you could make some functions that take in the min/max values (or probably a struct containing them) and then pass in each axis into them separately to smooth independently. Would be nice actually to have that abstracted architecturally.

I'm not sure the best way off hand to deal with a maximum velocity that is higher than that of the sum of the components. I think th

[2022-02-08 02:53] SteveMacenski commented on #2042
Closing for now -- I've recently done some experiments on a Nvidia Jetson and was surprised how little CPU Nav2 was using with the full system running while processing 2 depth sensors. It looks like Nav2 is good enough as-is for embedded use that we don't need to speed up a whole lot more to be perfectly suitable. DWB is the big area that can use the most help that is the thing causing problems an

[2022-02-08 02:53] #2042 closed

[2022-02-08 10:47] ljaniec commented on #2719
The simulation started working after updating in the `nav2_bringup` package on the branch `galactic` the YAML files (`nav2_multirobot_params_1.yaml` and `nav2_multirobot_params_2.yaml` in the folder `params`) with:
[code]
at the end (similar to the `nav2_params.yaml`).

I guess the binary version installed through `sudo apt-get install ros-galactic-nav2-bringup` has the same incorrect parameters f

[2022-02-08 12:09] matijazigic opened #2808 "[Smac] Crash using footprint instead of radius :bug:"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20
- ROS2 Version:
  - Rolling
- Version or commit hash:
  - 5a17db5a07e1573d81be33f0b737bcac8c43d2d1
- DDS implementation:
  - default

#### Steps to reproduce issue

[code]

#### Expected behavior

#### Actual behavior

#### Additional information
Crash report:
[component_container_isolated-6] [WARN] [1644321675.406004450] [planne

[2022-02-08 13:06] benjinne opened #2809 "rate_controller resets start time too often"
https://github.com/ros-planning/navigation2/blob/main/nav2_behavior_tree/plugins/decorator/rate_controller.cpp

Is a useful tool for slowing down things like printing to the console, however it resets it's start time whenever its state reaches `idle`. This causes issues with a simple tree like this:

![image](https://user-images.githubusercontent.com/9113272/152992471-2a44466b-dede-4abd-94fb-73175

[2022-02-08 13:12] benjinne commented on #2801
Is there any way to visualize this topic other than text format? I've had to manually format it for it to be easier to look at, but it's a bit tedious.

[2022-02-08 14:41] Gianstiff commented on #2651
Hi!
I'm following [this tutorial](https://navigation.ros.org/tutorials/docs/navigation2_with_slam.html) and I can confirm that with a similar setup (on a turtlebot3) I'm having the same issue when executing:

`ros2 launch nav2_bringup navigation_launch.py`

![image](https://user-images.githubusercontent.com/47113861/153008834-6cf56ed8-848f-43e5-8c06-9e36f103ecf0.png)

[2022-02-08 15:01] Gianstiff opened #2810 "Not able to execute navigation2 launch file"
I'm following [this tutorial](https://navigation.ros.org/tutorials/docs/navigation2_with_slam.html) and I can confirm that with a similar setup (on a turtlebot3) such as [this](https://github.com/ros-planning/navigation2/issues/2651) closed issue and I'm having the same problem when executing:

`ros2 launch nav2_bringup navigation_launch.py`

![image](https://user-images.githubusercontent.com/4711

[2022-02-08 16:33] matijazigic commented on #2808
Stacktrace:

[code]

[2022-02-08 17:12] SteveMacenski commented on #2809
No, that is expected behavior. A BT node should fully reset its state when not ticked over and is out of scope. You can just move the decorator to a higher level since you really want to be throttling your check, not the publication, if the only thing that’s being done is publishing (eg why do the work if you’re not going to publish yet).

Please read the docs on BehaviorTree.CPP and read other gu

[2022-02-08 17:15] SteveMacenski commented on #2810
Ask on ROS Answers

[2022-02-08 17:15] #2810 closed

[2022-02-08 17:17] SteveMacenski commented on #2808
Can you compile with -g so we can see exact lines / memory locations? That would narrow it down. I haven’t seen this before but looks like it should be a quick fix if I know exactly what variable to analyze

[2022-02-08 17:20] #2719 closed

[2022-02-08 17:21] benjinne commented on #2809
What if I don't want to move the rate_controller decorator to a higher level since I want my condition checked at the full rate? It doesn't appear theres a good solution for this and is very un-intuitive unless you dive into how the rate_controller works.

[2022-02-08 17:28] SteveMacenski commented on #2809
You are always able to create custom BT nodes if you like to create the desirable behavior, but this is intended behavior following best practices of Behavior Tree design.

Michelle’s book does a good job explaining the basics https://arxiv.org/abs/1709.00084 and you have a few BTs in Nav2 you can use as additional reference for use. But in general unless marked as global, all BT nodes states will

[2022-02-08 19:02] matijazigic commented on #2808
I tried compiling with the -g flag, and everything that is suggested [here (https://navigation.ros.org/tutorials/docs/get_backtrace.html) with no luck. I added -g flag inside nav2_planner
 and nav2_smac_planner. Am I doing something wrong?

Only thing that I can get is:

So I removed [try/catch block ](https://github.com/ros-planning/navigation2/blob/main/nav2_planner/src/planner_server.cpp#L354)

[2022-02-08 19:16] SteveMacenski commented on #2808
Wait, is this a crash or just an exception is thrown and caught?

[2022-02-08 19:18] SteveMacenski commented on #2808
A couple of follow up questions then.

- If you use Hybrid instead of Lattice, do you see this?
- If you use another footprint definition, does it work?
- If you use Lattice with radius, does it work?

[2022-02-08 19:20] matijazigic commented on #2808
It is an exception caught. It would not plan because of that.

- I'll try
- No, tried different footprints
- Lattice with radius working normally

[2022-02-08 19:31] matijazigic commented on #2808
Hybrid also working. I used parameters from [example](https://navigation.ros.org/configuration/packages/smac/configuring-smac-hybrid.html?highlight=smac#example).

[2022-02-08 19:58] SteveMacenski commented on #2808
Hybrid with the same footprint as you used in Lattice?

[2022-02-08 20:05] SteveMacenski commented on #2808
From that, I think this is the issue

https://github.com/ros-planning/navigation2/blob/main/nav2_smac_planner/src/node_lattice.cpp#L214

Does changing

[code]

to

[code]

fix it? If so, please submit a PR with that and I'll merge. I think what's happening is that it rounds up when its in the N-1'th bin size to N which doesn't exist (that would be 0 turning around the circle)

[2022-02-08 20:08] matijazigic commented on #2808
Hello @SteveMacenski,
Maybe the problem lies here:
https://github.com/ros-planning/navigation2/blob/main/nav2_smac_planner/src/collision_checker.cpp#L117
oriented_footprints_ is a vector, and angle_bin is float?

[2022-02-08 20:10] SteveMacenski commented on #2808
Hybrid-A* does the same thing, but computes the float angle differently, that's why I'm suspect of the line I linked to avoid that would floor the angle used in the collision checker rather than allowing it to round up when it is cast into an `int` for that line you linked to.

The error `vector::reserve` and that your trace shows `footprintCost` makes me suspicious that that's not actually the is

[2022-02-08 20:32] matijazigic commented on #2808
I tried changing node_lattice.cpp, as you suggested, but the same problem occurs.

[2022-02-08 21:30] wilcobonestroo commented on #2633
I have also been playing around some more. I assumed that I would always get a continuous stream of `cmd_vel` messages. However, they immediately stop once the goal has been reached. And using de deceleration constraints you need to make it stop slowly. So, I need to have the node running on its own timer anyway. Moreover, smoothly interpolating by having a higher rate is the best reason for havin

[2022-02-08 21:56] benjinne commented on #2809
I tried moving `rate_control` up the tree, but now It's not being used since the recovery node keeps the loop inside. This causes the 300 retries to execute immediately.

![image](https://user-images.githubusercontent.com/9113272/153081977-0edd62b4-fba0-42d4-a878-0e3a9b8eb507.png)

Here's a bit of the `behavior_tree_log` topic
[code]

[2022-02-08 22:01] SteveMacenski commented on #2808
OK, I'll actually need a traceback with line numbers and memory locations then. Or you can add some prints and see if anything looks suspicious or determine what line it crashes at. That may be faster given we know roughly where its happening.

[2022-02-09 08:48] Gianstiff commented on #2810
Ok

@SteveMacenski thanks for the feedback, but actually I'm working with a physical robot, not the simulated one

[2022-02-09 12:52] AlexKaravaev commented on #2799
I've started working on this and I have implemented corresponding changes to the planner_server.cpp, it now can accept and compute paths for arbitrary different planners. However, I am little bit stuck on the conceptual and design thing, how we should pass these different planner_ids to the planner_server?

One thing is that with array of planner_ids the behaviour tree node ComputePathTroughPoses

[2022-02-09 13:48] benjinne commented on #2809
I found a solution, although it's kind of a hack. I found that to keep the rate_controller's state, the subtree must always return `running` that way its start time doesn't reset and bypass the purpose of the rate_controller. After looking at other trees using the rate_controller it's clear that's how it's always used since it's typically used to limit the rate of planning while a controller is re

[2022-02-09 14:01] benjinne commented on #2809
Actually, the recovery_node won't work since it'll only tick the running side and never check `is_armed`. I had to change it to `reactive_fallback` and now it works as intended

![image](https://user-images.githubusercontent.com/9113272/153216395-d74e74a9-4d3d-4f69-94d5-5db6de65eece.png)

[2022-02-09 17:26] matijazigic commented on #2808
It fails when the bin has a negative value, I put one std::cout inside GridCollisionChecker::inCollision to print the angle_bin value. I'll invest more time later, to debug it further and try to fix it.

[2022-02-09 18:12] benjinne commented on #2801
Another problem I found with the `behavior_tree_log` topic is it only tracks changes in the tree node states. It doesn't provide a path of which nodes are ticked.

[2022-02-09 18:48] SteveMacenski commented on #2808
That is odd. The angle should already be normalized from the control set generated. I don't see any reason that I can identify why that could be negative.

https://github.com/ros-planning/navigation2/blob/main/nav2_smac_planner/src/node_lattice.cpp#L504

angle is set to the motion projection which is fresh off of the control set generator, so unless you see a negative value in your json file for t

[2022-02-09 19:00] matijazigic commented on #2808
But I'm using default json, and the backward flag is false, I need to dive deeper in code, I'm still not familiar with it.

https://github.com/ros-planning/navigation2/blob/main/nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/0.5m%20_turning_radius/ackermann/output.json

[2022-02-09 19:04] SteveMacenski commented on #2808
If you do not specify a file, this is the default https://github.com/ros-planning/navigation2/blob/main/nav2_smac_planner/test/default_model.json. Your configuration file shows that you're overriding the default.

Either way, I scanned them both and they both look good to me. Might be worth adding some prints along that trail I laid and see where the first negative value appears. They should alway

[2022-02-09 19:34] SteveMacenski commented on #2799
It doesn't have to be, anything with the `{}` are blackboard variables who's value is used. Hence how the planners and controllers pass the `path` variable value via `{path}`. So you could define a set of `{planner_ids}` to use, but setting those would, as you mention, be up to you as the end user to figure out.

Though I think the easiest solution would be to have a BT node that changes the `plan

[2022-02-10 18:58] #2781 closed

[2022-02-11 10:51] wilcobonestroo commented on #2633
![Screenshot from 2022-02-11 11-46-40](https://user-images.githubusercontent.com/1830620/153578457-7986afb1-2cb4-46cb-8989-20808b14ec78.png)

The behavior is now like this. The ramp-up and ramp-down seem ok to me. What should be the behavior at the top? Currently, it is almost following the noisy behavior of the input, because this is within the acceleration limits. Is this behavior ok?

[2022-02-11 11:35] wilcobonestroo commented on #2633
![Screenshot from 2022-02-11 12-32-21](https://user-images.githubusercontent.com/1830620/153584549-b06a8bdf-4864-4b97-8cc6-87ae93104a41.png)

I can also do something like this with a buffer for the `cmd_vel` messages. As with all smoothing you get some delay in the signal.

[2022-02-11 15:32] Aposhian opened #2813 "[BUG] Unable to resolve rosdep rolling keys in CI build"
## Bug report

**Required Info:**

- Operating System:
  - Nav2 build environment
- ROS2 Version:
  - rolling
- Version or commit hash:
  - main (`5a17db5a07e1573d81be33f0b737bcac8c43d2d1` right now)
- DDS implementation:
  - N/A

#### Steps to reproduce issue
Open a PR to `main`

#### Expected behavior
Build succeeds, and tests pass.

#### Actual behavior
Build fails on trying to install dependen

[2022-02-11 15:44] vinnnyr commented on #2813
Is this related to rolling being Ubuntu Jammy soon ?  https://discourse.ros.org/t/holding-releases-to-perform-rolling-transition-to-new-platforms/24191

[2022-02-11 16:57] SteveMacenski commented on #2813
I believe @vinnnyr is correct. Rolling is in the process of moving to 22.04 for Humble

[2022-02-11 19:00] SteveMacenski commented on #2633
Yeah, but I'd test with setting the max accels to something lower to see what happens if those little variations are invalid (so it should be smoothed out). Actually, that should be more or less what you show with the buffer.

The buffer is an interesting idea. I don't think that should be the default behavior but I'd be fine with that a parameterized option.

[2022-02-13 22:59] angstrem98 opened #2815 "[RPP] Jerk limited trajectory generation"
## Feature request
Regulated Pure Pursuit controller is an attractive controller due to it's simplicity to configure and robustness.
It used to have acceleration limiting which did not work properly and has been removed. There is some deceleration near goal implemented but it requires large lookahead values in order to prevent harsh deceleration.
RPP controller should have motion profile generatio

[2022-02-13 23:43] angstrem98 commented on #2815
Comparing before and after results.
Sending custom differential drive robot in Webots from point A to point B with original implementation results in commanded linear velocity as shown on image
## Before:
![original_rl](https://user-images.githubusercontent.com/44432285/153780515-3cc0807e-0612-42d6-b750-5b43479196ca.png)

New implementation in the linked Pull Request produced following commanded l

[2022-02-13 23:55] angstrem98 commented on #2815
Motion profile generation is done using ```ruckig``` package (it is used inside ```MoveIt2```).
Imagine a robot with significant mass driving at moderate/higher speeds towards the goal. We want it to smoothly come to a stop at the goal point. Velocity smoother #2633 could help us to smooth acceleration, but deceleration near goal with current implementation would cause overshoots. Maybe it is not

[2022-02-16 18:58] SteveMacenski commented on #956
Only AMCL and the obstacle layer remaining...

[2022-02-17 13:33] doisyg commented on #956
If nobody takes care of it before Humble, I ll try to do it

[2022-02-17 20:58] SteveMacenski commented on #956
I think @allenh1 mentioned he might be interested if he can find some spare time for AMCL.

[2022-02-17 21:24] allenh1 commented on #956
Yep -- I can take a look at this soon.

[2022-02-18 08:03] chinabbz opened #2825 "[global costmap]footprint dose not work with the inflationLayer"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - galactic

#### Steps to reproduce issue

[code]
[code]
#### Expected behavior
The footprint will work with inflationLayer
#### Actual behavior
The footprint does not work, because the path is so closed to the inflation layer
![屏幕截图 2022-02-18 15:56:18](https://user-images.githubusercontent.com/47048080/1546

[2022-02-18 17:55] SteveMacenski commented on #2825
Ask on ros answers or read the inflation layer documentation

[2022-02-18 17:55] #2825 closed

[2022-02-18 20:39] girvenavery2022 opened #2826 "Feature request: Waypoint Publisher in Rviz Panel"
#### Feature description
The Waypoint Publisher feature would allow developers to give nav2 a set of waypoints taken in from a file and then allow Waypoint Follower to follow them in order. This will solve the issue of only being able to send a set of waypoints through the Rviz2 plugin

#### Implementation considerations
Right now, I have a working proof of theory package that needs some refactori

[2022-02-21 04:31] TaoYibo1866 opened #2828 "Launch nav2_costmap_2d alone."
In `nav2_bringup/launch/navigation_launch.py` i couldn't locate where nodes related to costmap are launched. I guess they are integrated into `planner_server` and `controller_server`?
I wonder how i can launch` nav2_costmap_2d` alone and pass parameters into it. I fail attempting `ros2 run nav2_costmap_2d nav2_costmap_2d`.

[2022-02-21 13:53] wilcobonestroo commented on #2633
I am trying to add tests to the package, but the linker is complaining that it can't find the symbols for my class. I guess there is something wrong with the `CMakeLists.txt` in my test folder. Can someone have a look at: https://github.com/wilcobonestroo/navigation2/tree/add-velocity-smoother/nav2_velocity_smoother/test and see if I have mistakes in the CMake files?

[2022-02-22 09:42] padhupradheep commented on #2828
That is true, the costmaps are instantiated in those servers.

Did you checkout there is an example.launch in the [nav2_costmap_2d](https://github.com/ros-planning/navigation2/blob/main/nav2_costmap_2d/launch/example.launch) ? Maybe this can help.

Is there any specific reason you want to do it w/o `controller_server` or the `planner_server` ?

But anyways, this is a bug or feature request tracker

[2022-02-22 09:51] padhupradheep commented on #2826
This is the same exact feature, Me and Steve were speaking during the last weekend. Your idea seems to be good. But the way I had implemented was to directly store the information from the pre-existing navigation plugin in RViz (have some buttons on it "Load" and "save"). Then you can easily load and store the waypoints, wherever you want to.

On top of this feature, I will also like to see a loop

[2022-02-22 09:55] TaoYibo1866 commented on #2828
Sorry, i shouldn't ask here.

I was trying to write a demo for my own planner, which visualize path once i select start point and goal point. I want to use this tool to tune my planner. All i need is a publisher who publishes costmap according to a static map using only static and inflation layer.

[2022-02-22 10:13] padhupradheep commented on #2828
Then maybe you need to follow this tutorial in our beautiful [documentation](https://navigation.ros.org/plugin_tutorials/docs/writing_new_nav2planner_plugin.html) on how to write a new planner plugin. By that way, you can easily have all the costmap information (I assume here want the global costmap).

[2022-02-22 10:22] TaoYibo1866 commented on #2828
Thank you, i will try it.

[2022-02-22 10:24] padhupradheep commented on #2828
If there are no further queries, feel free to close the issue.

[2022-02-22 10:54] #2828 closed

[2022-02-22 18:58] LuccaMorosiniGioia opened #2830 "Not able to link map generated by rtab-map with nav2"
Hello, i'm using rtab-map with a turtlebot2i and gazebo to generate a map of an enviroement which is saved on ~/.ros/rtabmap.db, but i'm unable to link this map to nav2 in order to navigate and control the turtlebot2i.

I'm not sure on how to proceed, should i modify some of the params.yaml or is there a way to link nav2 to the rtab-map topic and feed the map in real time to nav2?

For what i read

[2022-02-22 19:31] SteveMacenski commented on #2830
Does rtab map not have any documentation about a set with Nav? Nav2 isn’t any different wrt the inputs it would take, so any ROS1 example would work here fine translated with Ros2 parameters.

[2022-02-22 19:32] SteveMacenski commented on #2830
I don’t have experience with rtab map in particular, but if you had their a 2D map that could be generated from the 3D one or a pointcloud of the 3D environment, there are a couple of options available to you like the voxel layer or static layers.

[2022-02-22 19:36] LuccaMorosiniGioia commented on #2830
I actually just figured it out how to do it!

It actually alredy is integrated with nav2, i was just using the wrong launch file. When launching the rtabmap with ros2 launch rtabmap_ros turtlebot3_rgbd.launch.py and launching the nav2 it worked! I was able to visualize the map on nav-rviz and navigate with goal_pose.

I just need to figure out now if there's a way to navigate while rtab-map is not

[2022-02-22 19:36] #2830 closed

[2022-02-23 03:11] girvenavery2022 commented on #2826
I actually really like the idea of the loop functionality with a counter (why didn't I think of that before?) and I am all for enhancing user friendless, so hooking into the RViz plugin would also be a great feature.

Since you implemented by directly storing the waypoints through the RViz plugin, and then allowing the user to load and store wherever. Could we combine both our ideas and allow the

[2022-02-24 09:18] padhupradheep commented on #2826
Sure, we can do that.

The big picture I see is that, as you said we set a default directory to the waypoints specific file in the parameter file. If and if at all the user wants to add, load or store through the RViz plugin, he/she can also do that. But, if the users decides to do it with the RViz plugin, then the waypoint file should be overriden.

So the tasks involved to make the feature live

[2022-02-25 04:02] mattbooker commented on #2808
Took a look at this and fixed the bug causing it. It doesn't affect any of the downstream planning stuff as the values were representing the correct direction, they just were off by 2 * pi.

In any case, it may affect other peoples code so I have fixed it by normalizing all the angles in every trajectory. I've also added some test cases for the output to make sure there aren't other small issues l

[2022-02-25 04:05] SteveMacenski commented on #2808
I think it could cause an issue within the planner since we assume all of the angles are normalized from 0-2PI so that could be causing this issue as well (albeit, its also just as likely that we have a floating point round up issue).

[2022-02-25 11:04] rjrs23 opened #2832 "How to bring up your own robot"
Hello,

First of all kudos to the entire team on the documentation for nav2, I believe it has the best documentation of any ros package!

However I believe there needs to be a "Run Nav2 on Your Robot Guide" I have followed the First time robot setup guide but am still unclear on how can I have my on robot run nav2.

Forgive me if this is obvious but I am new to ros and am unable to figure this out

[2022-02-25 13:37] padhupradheep commented on #2832
Hey, I would suggest you to go through the [nav2_bringup](https://github.com/ros-planning/navigation2/tree/main/nav2_bringup) package that gives you an extensive overview on how to set up the packages for your own robot. `nav2_bringup` uses turtlebot3 as an example. I would particularly ask you to re-visit [First time robot setup guide ](https://navigation.ros.org/setup_guides/index.html) (especia

[2022-02-25 13:55] dkuenster opened #2833 "Dynamically changing parameters in controller_server while computeControl is running causes deadlock"
## Bug report

**Required Info:**

- Operating System:
  - Debian 10
- ROS2 Version:
  - Rolling Source
- Version or commit hash:
  - 0a961df9cbe50356484877681abfdbeae6ba7b33
- DDS implementation:
  - Cyclone-DDS

#### Steps to reproduce issue
Use ParameterClient for controller_server from another node to dynamically change any parameters of controller_server while computeControl https://github.co

[2022-02-25 17:22] SteveMacenski commented on #2833
That is explicitly unsupported. It is dangerous to change controller parameters while an existing plugin is running. Changing of kinematic values or other core-behavioral parameters during execution could cause unstable behavior. This is a unique attribute of the controller server since this server deals with-- well.. the _control_ :wink: .

However a dead lock is a pretty crappy way of handling,

[2022-02-27 19:07] tonynajjar commented on #2415
Did you add the SetExternalParam class somewhere or that's just a draft? Can't find it

[2022-02-27 20:35] SteveMacenski commented on #2415
No, that's just a draft I put together while working on another project and needed the capability in short order.

[2022-02-28 10:58] jonipol opened #2835 "Underflow in costmaps lead to segmentation fault in planner server"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 20.04
- ROS2 Version:
  -  Galactic binaries (ros:galactic - docker)
- Version or commit hash:
  - 1.0.8-1focal.20220203.051427
- DDS implementation:
  - Cyclonedds

#### Steps to reproduce issue
[code]

#### Expected behavior
Costmaps are generated, if goal is given the plan is made, execution continues normally
#### Actual behavi

[2022-03-01 01:21] SteveMacenski commented on #2835
@AlexeyMerzlyakov can you take this one? Looks like another related issue that you're most recently familiar with this part of the codebase

[2022-03-01 01:36] SteveMacenski commented on #2826
This essentially sounds like the role of an autonomy system, which Nav2 does not right now have available. This is the bring-your-own part of the robot system to implement your use-case specific logic (whether it be waypoint following, waypoint following in a loop, intelligent scheduling, etc).

I would, though, suppose some kind of caching in the rviz plugin so that you can define a set of waypoi

[2022-03-01 02:00] SteveMacenski commented on #2832
I would also add go through the tutorials: https://navigation.ros.org/tutorials/index.html there are tutorials for everything that you are asking for, as well as the https://navigation.ros.org/getting_started/index.html for rviz

[2022-03-01 02:00] #2832 closed

[2022-03-01 02:01] SteveMacenski commented on #2633
How's this going?

[2022-03-01 02:12] SteveMacenski commented on #2815
I wanted to give you a note that this is still on my review queue. I've been slammed the last few weeks and I'm now getting my footing back to review these bigger PRs that have been sitting around.

The reason this has taken longer is that this introduces a new dependency on a new library I need to review myself. This also has ramifications across the code-base for places we similarly have code th

[2022-03-01 11:13] dkuenster commented on #2833
Got a version running with try_lock that rejects parameter changes while running, prints a failure message and returns a corresponding failure result. Could open a PR for that.
What about the dynamicParameterCallbacks in the goal and progress checker plugins though? They are currently not protected by a mutex. Is that intentional?

[2022-03-01 18:00] wep21 commented on #2648
@SteveMacenski Do you have any time to handle the rolling release?

[2022-03-01 19:22] SteveMacenski commented on #2648
Its on my queue to look into in March, but we're also still waiting for the Rolling -> 22.04 to be fully completed so we're not battling multiple issues at once. Right now, Nav2's CI is down for the same reason.

[2022-03-01 19:41] SteveMacenski commented on #2833
Please do!

Good question. If memory serves @doisyg wanted the ability to change parameters in those systems on the fly. I would generally agree that changing these mid-request is not good practice, but I don't think it has the same instability potential unless being changed multiple times in a small window. Let us see what he says

[2022-03-01 22:38] doisyg commented on #2833
Hi!
My use case requires setting the parameters of the goal and progress checkers before each `FollowPath` request, so outside `computeControl`. But I can totally think of use cases when these would need to be changed during the execution of a `FollowPath` action. For instance you may want to be less strict on you progress failure conditions when crossing specific areas (say crowded). I believe it

[2022-03-01 22:54] SteveMacenski commented on #2833
So I think for now, we leave the plugins as-is but reject dynamic updates for the controller server itself

[2022-03-01 23:14] #2415 closed

[2022-03-02 01:18] wep21 commented on #2648
@SteveMacenski I guess `ros-rolling-ompl` will be available in the next sync. https://discourse.ros.org/t/preparing-for-rolling-sync-2022-03-03/24521
I will also try to build nav2 on Ubuntu 22.04 and fix ci.

[2022-03-02 01:55] girvenavery2022 commented on #2826
I guess there was a small gap in my understanding between nav2 and an autonomy system but thank you for clearing that up!

Okay,  I'll take the addition of allowing the user to choose which one they would like off the table bc its not in the current scope.

So with my current understanding of everything, the tasks @padhupradheep listed to make this feature alive are good? i.e we add save/load widg

[2022-03-02 13:59] dkuenster commented on #2833
Fixing the deadlock would be preferable probably.
The awkward thing right now is that all those callbacks are registered to the same node. So they all get called when you are changing parameters for the controller_server. So while you would be able to change parameters for the plugins dynamically you would still get the error message from the main controller_server callback, unless you checked if

[2022-03-02 17:24] ruffsl commented on #2648
The docker images for `ros:rolling-ros-base-jammy` have finally be pushed (there where some upstream issues with rospkg and some unrelated seccomp bumps that slowed things), so we have the base images ready for building CI images:

https://github.com/docker-library/official-images/pull/11917

I've tried building Nav2 locally by commenting out some unreleased leaf dependencies and building ompl fro

[2022-03-03 07:32] shoufei403 opened #2839 "Can't get action feedback data in BTaction node based on bt_action_node in Galactic"
## Bug report

**Required Info:**

- Operating System:
  -
- ROS2 Version:
  - Galactic binary
- Version or commit hash:
  - 1.0.8
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

[code]

## Feature request
Can get BTaction node feedback data
#### Feature description

I try to add a feedback callback. But the shared pointer of feedback can't be assigned for another member pointe

[2022-03-07 04:03] SteveMacenski commented on #2839
I don’t understand the issue- what’s the specific behavior that isn’t working?

[2022-03-07 12:32] shoufei403 commented on #2839
Thanks for your responding.
We can take controller server as an example. It has function of following a path. In the meantime, it will respond data to action client. You can see the following snippet from nav2_controller.cpp .

[code]
the action client is implemented in related BTaction node (in follow_path_action.cpp).
The feedback callback is not implemented, so we can't get the feedback data.

[2022-03-07 23:27] #2839 closed

[2022-03-07 23:28] SteveMacenski commented on #2839
Spin the executor and it would then process callbacks, please review ROS 2 execution model flow. These are changes that are not reflected in Nav2 and aren't attached to a particular bug / issue so closing this ticket since its not actionable for the project. This looks like its proprietary development outside of this project, which we do not provide support in the issue tracker.

[2022-03-07 23:59] SteveMacenski commented on #2826
Nav2 does the autonomous navigation from A to B (or A through B, C, D, etc), but the autonomy system or scheduler is what handles the actual definition of what / where A, B, C, D, etc exist at. That can be waypoint following, or scheduling, or multirobot-collaboration. The uses and needs are very broad and if all you want to do is follow some points and loop, using the Nav2 action API you can do t

[2022-03-08 00:23] SteveMacenski commented on #2833
Actually though, I'm not sure there's a good safe way to do that. I was thinking about adding the lock in the `while` loop and then having it unlock briefly at the end https://github.com/ros-planning/navigation2/blob/main/nav2_controller/src/controller_server.cpp#L405 so that it can process parameter callbacks then, then go to the next loop. The issue is that if the parameter update takes a "long"

[2022-03-08 01:18] shoufei403 commented on #2839
Actually, the feedback function does not exist in action client BT node, so we can't reach feedback data.

[2022-03-08 09:33] padhupradheep commented on #2826
Just continuing this point and for the future readers, as an additional feature, the user can also make this to work much more intelligent by using any of the [waypoint task executors](https://navigation.ros.org/plugins/index.html#waypoint-task-executors).

Maybe a demo documentation would be a nice addition as part of this feature.

[2022-03-08 16:46] samiamlabs opened #2842 "SmacPlannerHybrid plans close to obstacles even with high cost penalty"
## Bug report

- Operating System:
   - Ubuntu 20.04
- ROS2 Version:
  - Galactic binaries
- Version or commit hash:
  - output of: dpkg-query --show "ros-$ROS_DISTRO-navigation2"
  - ros-galactic-navigation2        1.0.8-1focal.20220203.051427
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
Hi!
This is a bit of an edge-case use case for the SmacPlannerHybrid planner.
I'm using

[2022-03-08 21:04] SteveMacenski commented on #2842
Have you tried to tune your inflation layer as well? I see the high costs degrade pretty quickly. The dials between inflation layer exponential functions and cost penalty are intrinsically related. NavFn doesn't expose its penalty (though similarly structured as this) and gives you only the exponential to work with. Smac gives you both so there is a bit of ebb-and-flow that you need to perform to

[2022-03-08 23:32] SteveMacenski commented on #2799
See https://github.com/ros-planning/navigation2/pull/2817#issuecomment-1062381538

[2022-03-08 23:32] #2799 closed

[2022-03-09 08:14] samiamlabs commented on #2842
Thank you for your detailed answer @SteveMacenski.

Just to make sure we are on the same page about the green path. I painted the green path manually to show the behavior I would like. The blue path is what the planner gives me.

I tried to tune the inflation layer to degrade as slowly as possible with the gradient still visible (layer_cost_scaling = 0.1) but I still get the same behavior.

![Tune

[2022-03-09 11:43] AlexeyMerzlyakov commented on #2835
I've tried to reproduce the problem locally, but so far it's all works. @jonipol, could I ask you to share the results with default Nav2 bringup scripts? This indeed would be greatly helpful for us and allow to reproduce and understand the problem.

[2022-03-09 20:03] SteveMacenski commented on #2842
Ooof, ok yeah clearly something is wrong there and that is not the behavior that I see myself in use, so lets investigate that. That blue path is unaccaptable and not representative of what you should be seeing.

I would ask you to clone `main` and grab the `nav2_smac_planner` directory, replace that with your galactic one and try again (you may need to change the `WeakPtr` for the node in the `on

[2022-03-09 20:10] jonipol commented on #2835
I'm sorry I have not had time to try this out yet. I will be returning from a work trip next week and will try to allocate some time to investigate this issue as it is really weird one. We just did migration from foxy to galactic, and this issue came up on the galactic branch but did not happen in Foxy one. Will update here once I manage to try this out.

[2022-03-09 23:47] nuclearsandwich commented on #2648
My colleagues will glare daggers at me if I discourage a migration to Ignition so I'm definitely encouraging a migration to Ignition Gazebo as the way forward but I'll point out that Jammy is still missing Ignition Gazebo as well (although we should have the rest of the packages imported soon :tm:). But ROS 2 will be able to use Gazebo 11 from the Ubuntu repositories. https://github.com/ros/rosdis

[2022-03-10 10:37] ErikOrjehag commented on #2842
It appears to have problems with the costmap even if we don't have straight line of sight with the goal. I work on the same project as samuel btw.

![Screenshot_2022-03-10_11-34-36](https://user-images.githubusercontent.com/3470402/157644174-8112a3d6-690b-43be-ae8b-1688063d7003.png)

[2022-03-10 13:03] cf-zhang commented on #2491
I also encountered this situation. It took me several hours to find the problem in my system. Make sure that all lifecycle nodes are activated by lifecycle manager. Check whether the nodes match the management list and spell it completely. Wasted hours dealing with a problem that shouldn't have happened.

[2022-03-10 13:18] samiamlabs commented on #2842
I tried grabbing the `nav2_smac_planner` from `main` like you suggested @SteveMacenski and that did the trick!
![image](https://user-images.githubusercontent.com/5682888/157664587-6ed45c82-2f5d-42a7-bf54-4e9a24df9fba.png)

The version from `main` also deals a lot better with the labyrinth Erik posted above
![image](https://user-images.githubusercontent.com/5682888/157666656-acdb55ba-3c1c-42e5-90c9

[2022-03-10 13:56] NeoKish opened #2844 "Exception thrown while trying to run turtlebot simulation with ThetaStarPlanner"
## Bug report

The exception is highlighted in the image below

![image](https://user-images.githubusercontent.com/66986430/157668463-6d765c2c-d14d-4467-8d53-6bad547cbe71.png)

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Galactic
- Version or commit hash:
  -
After executing the command

`dpkg-query --show "ros-$ROS_DISTRO-nav2-*", `

I see the navfn-planner and sm

[2022-03-10 14:29] padhupradheep commented on #2844
Could you please try to do `sudo apt-get update` and retry ? As far as I see, I have the theta-star-planner.

[2022-03-10 15:03] vinnnyr opened #2845 "Removal of Z consideration in nav2_util::geometry_utils::euclidean_distance"
## Feature request

Requesting we remove consideration of `z` when calculating euclidean distance throughout the repository by changing it in `nav2_util::geometry_utils::euclidean_distance`: https://github.com/ros-planning/navigation2/blob/a9744bd5e854e9e241df596522bc0aa4a02c4557/nav2_util/include/nav2_util/geometry_utils.hpp#L50

#### Feature description
We noticed this when we had an odom estima

[2022-03-10 15:16] vinnnyr commented on #2845
I have already started to work on this BTW -- but opened feature ticket to continue conversation from Slack / have a ticket to link to the PR if needed

[2022-03-10 15:40] samiamlabs commented on #2842
For clarification, the grid in the picture is set to 0.5 meters and is the same as the costmap grid.
After the fix, the goal pose can also be like this:
![image](https://user-images.githubusercontent.com/5682888/157697126-c60e2b8b-fa40-4f1e-97de-6024bd26dbcc.png)
![image](https://user-images.githubusercontent.com/5682888/157697622-ca7a0e38-461c-4a57-b868-d0c56378e132.png)

[2022-03-10 16:09] NeoKish commented on #2844
@padhupradheep ,Thank you for the suggestion. I tried `sudo apt-get update` and then `sudo apt-get upgrade` but still facing the same issue.

Yeah I will put up the question on ROS-Answers. Thanks!

[2022-03-10 20:20] SteveMacenski commented on #2844
Did your docs PR resolve the issue?

Did you install it? If you just installed Nav2, its not currently on the executable list of packages https://github.com/ros-planning/navigation2/blob/main/navigation2/package.xml#L16 so it wouldn't be autoinstalled, you'd need to specifically ask for it via apt.

[2022-03-10 20:21] SteveMacenski commented on #2844
https://github.com/ros-planning/navigation2/commit/643bb0f4912494389be580763784203ec60aeb39 Just added for future releases

[2022-03-10 20:26] SteveMacenski commented on #2845
This sounds fine to me, based on the discussion in slack. I suppose we could add a `bool useZ = true` (or `false`) to the API so that it is accessible but not by default and then use that bool for the calculation appropriately.

[2022-03-10 20:32] SteveMacenski commented on #2842
The way we convert from continuous coordinates to the grid coordinates is using the costmap's conversion functions https://github.com/ros-planning/navigation2/blob/main/nav2_smac_planner/src/smac_planner_hybrid.cpp#L276 which gives us cell centers.  I think that could be updated if you wanted to be replaced and compute partial cell coordinates as well. I see no immediate reason why that would caus

[2022-03-10 20:32] SteveMacenski commented on #2842
I'd be happy to have a PR to look over that would implement that if its useful to you. Closing this ticket though since the initial titled issue has been resolved. Feel free to open another ticket or PR on the cell-center bit (or anything else).

[2022-03-10 20:33] #2842 closed, assigned to nobody

[2022-03-10 20:40] SteveMacenski commented on #2808
@matijazigic how are things going?

[2022-03-10 22:39] girvenavery2022 commented on #2826
When school slows down here in the next few months, I would love to help contribute to that!

ok awesome, I already started adding the save/load widgets into their own plugin inside of the nav2_rviz2_plugin

This is something I would like to add to it as well. Unfortunately, my Electrical/Mechanical teams have both my robots torn apart right now to do some very needed upgrades so for the time bein

[2022-03-11 10:02] NeoKish commented on #2844
@SteveMacenski , yeah after building with the modified package.xml, it did work. Thanks!
![image](https://user-images.githubusercontent.com/66986430/157845491-c53d4f8a-c44b-4722-9356-6fd6b80ef019.png)

[2022-03-13 10:02] rjrs23 opened #2846 "Nav2 Fails / Weird behaviour when trying to navigate the robot to a point that is not in front"
Hello,

I have managed to bring up my robot on ROS2 as per the requirements of the nav2 stack.

**Observed Behaviour**
- Robot navigates fine when the point to navigate is in front of the robot
- Robot tries to take a weird path / and tries to keep circling the goal poin if the new goal point is beind the robot

**Expected Behaviour**
- Robot should be able to navigate to the nav2 goal published e

[2022-03-13 22:22] SteveMacenski commented on #2846
Please ask on ROS Answers, this is not the right forum for configuration help.

[2022-03-13 22:22] #2846 closed

[2022-03-15 02:17] #2725 closed

[2022-03-15 12:30] matijazigic commented on #2808
@SteveMacenski I'll try it. Hopefully today, I was really busy in the last couple of days. Thanks.

[2022-03-15 19:37] robvoi commented on #2768
Did you have any luck finding the source of the problem?
Have the same issue. All search and posts didn‘t bring up any anything useful.

[2022-03-15 22:31] billymccafferty commented on #2768
Hi @robvoi , unfortunately, I stalled out on this problem and my project is collecting a bit of dust at the moment. Hoping to muster the motivation to dig back in, in the coming month.

[2022-03-16 07:05] YANGuanTing commented on #2751
HI @SteveMacenski

I found this wrong solution, do u want modify ?

[2022-03-16 14:08] guilyx opened #2847 "BT Navigator node segfaults on cleanup, crashes on reconfigure"
Hi there, found a few things while playing around with transitioning `bt_navigator` down and up. I'll open a PR shortly, it seems like for the first bug, `haltAllActions` is called and an empty pointer `root_node` is passed to the function and accessed unsafely. This happens when a wrong XML file path is passed to the parameters, but IMO it shouldn't make the whole node crash if it couldn't parse

[2022-03-16 18:11] SteveMacenski commented on #2847
Agreed. Let me take a look at your PR and we can continue from there

[2022-03-16 18:11] SteveMacenski commented on #2833
Any update here?

[2022-03-16 18:45] guilyx commented on #2847
I'll go back to the debugger tomorrow with the wrong XML path again. I should've seen:

[code]

[code]

Which should've failed the transition to activate.

[2022-03-17 02:01] YANGuanTing commented on #2751
Hi @SteveMacenski

I modify static_layer.cpp function, setting lethal_threshold_ = 50, because  map topic publish Occupancy value 0 to 100 (0 free, 100 occupancy).
I rember map server save pgm and yaml file, use the same setting.

![image](https://user-images.githubusercontent.com/29427877/158719142-001ecbd6-ba5e-437a-8da4-e7458fa3bebc.png)
![image](https://user-images.githubusercontent.com/294278

[2022-03-17 07:48] staredeath opened #2849 "Cannot implement Speed Limit like Navigation2 Tutorials"
I'm using this project in my real robot. unfortunately I can't use the speed limit zone. I followed the instructions [here](https://navigation.ros.org/tutorials/docs/navigation2_with_speed_filter.html)
Here is my yaml file:
`               amcl:
                ros__parameters:
                  use_sim_time: True
                  alpha1: 0.2
                  alpha2: 0.2
                  alpha3

[2022-03-17 07:56] #2849 closed

[2022-03-17 19:05] SteveMacenski commented on #2835
@jonipol can you try on `main`? Perhaps this is a bug that we already fixed in Rolling. @AlexeyMerzlyakov did you test with Galactic at tag `1.0.8` https://github.com/ros-planning/navigation2/releases/tag/1.0.8 to see if that's the case?

[2022-03-17 22:13] SteveMacenski opened #2850 "[RPP] Adding interpolation to find look ahead points"
@Aposhian

For stable curvature in sparse paths for angular and linear velocity continuity

[2022-03-17 22:47] vinnnyr commented on #1710
Any feedback on thinking of e_star style nav2 planner for online coverage? https://linkslab.uconn.edu/wp-content/uploads/sites/246/2018/11/e_star_Preprint.pdf

[2022-03-17 23:29] SteveMacenski commented on #1710
There are time / space optimal coverage algorithms that depend on what your application is for which makes most sense (e.g. randomly bouncing around is a  bad idea for a lawn mower; and row by row coverage is probably bad for a security robot) so I don't think there's going to be 1 coverage algorithm to rule them all.

I do wonder thusly if a coverage algorithm makes sense to add to Nav2 itself, b

[2022-03-18 11:54] AlexeyMerzlyakov commented on #2835
Yes, today I've re-built nav2 stack for this tag (in a VM with Galactic installed from deb-packages) and tried to reproduce the problem moving robot to the edge of both: global and local costmaps. In case if robot inside costmap boundaries, nothing happens. In case if robot is slightly out of costmap, appropriate server (controller or planner) reports this, but still no crashes or segfaults. I've

[2022-03-18 16:42] jonipol commented on #2835
Sorry for unclear explanation. In this case both work, giving pose estimate and navigating the robot near edge of global costmap.

Today I managed to do some digging into this one. Tried the default config for global costmap. Corrected topic and was not able to get the crash. Did some comparisons and more testing. Found out that setting `raytrace_min_range` > 0.0 (0.2 in my case) makes the crash h

[2022-03-18 18:48] rjrs23 opened #2853 "nav2_simple_commander example code is outdated"
Hello,

I was trying to use the [example_nav_to_pose.py](https://github.com/ros-planning/navigation2/blob/main/nav2_simple_commander/nav2_simple_commander/example_nav_to_pose.py) example

However I encountered an error when trying to run the example
[code]

Upon further inspection it looks like the underlying code was updated and `TaskResult` was updated with `NavigationResult` but the example was

[2022-03-18 18:51] AlexeyMerzlyakov commented on #2835
@jonipol, thank you for pointing out `raytrace_min_range`! Confirmed the problem for TB3 standard simulation on both: Galactic and Rolling releases. I'll continue investigation/debugging on next week and give more details as they will be appeared.

[2022-03-19 23:32] ViniciusAbrao commented on #1632
Hi @SteveMacenski ,

any news about this topic?

[2022-03-20 00:23] m2-farzan commented on #1632
My progress report FWIW:

I've been writing a draft version of the tutorial ([wip in my fork](https://github.com/m2-farzan/navigation.ros.org/tree/vslam-tutorial-wip)). My current problem is, the map representation used by OpenVSLAM is in the form of key-frames and landmarks, which is different from the occupancy grid format used by Nav2. Looks like we need to implement a feature in OpenVSLAM-ROS

[2022-03-20 01:22] ViniciusAbrao commented on #1632
So, the plan is to keep working with OpenVSLAM even in the case of possible license discussions ? I do not want to bring the discussion to here, only  understand what are the plans and next steps.

[2022-03-21 13:41] AlexeyMerzlyakov commented on #2835
There are two versions of `raytraceLine()`/`bresenham()` algorithms. One is placed in `nav2_voxel_grid/include/nav2_voxel_grid/voxel_grid.hpp` and used for 3D space voxel grids. Another - in `nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d.hpp` which is used for 2D costmaps. The root cause of this problem in 2D space and is the same as was fixed in #2460 but for 3D version of Bresenham algorith

[2022-03-21 15:27] SteveMacenski commented on #1632
So for clarity, we (e.g. @AlexeyMerzlyakov + a few other volunteers in the Nav2 working group) spent a great deal of time to get some VSLAM systems working for a production-ready system with VSLAM. We had some prototypes of occupancy grid generation systems using the feature map and key frames to back out a 2D grid for use in navigation.

However, after our case study on VSLAM techniques, we found

[2022-03-21 15:27] #1632 closed

[2022-03-21 15:27] #2853 closed

[2022-03-21 15:28] SteveMacenski commented on #2853
https://github.com/ros-planning/navigation2/blob/main/nav2_simple_commander/nav2_simple_commander/example_nav_to_pose.py is on the `main` branch and you show paths to Galactic. You need to use the right branch.

[2022-03-21 15:38] #2808 closed

[2022-03-21 15:38] SteveMacenski commented on #2808
The PR should fix it, if there are continued issues let me know and we can reopen

[2022-03-21 15:47] #2847 closed

[2022-03-21 15:56] mkolodziejczyk-piap commented on #1632
Sorry for complaining, but IMO the effort was wrongly directed to SLAM system that beside "Open" term in name (which has good associations) is rather mediocre and not implemented with ROS extension in mind, not to mention navigation application (and as it turned out, the whole "implementation" was questionable). IMO better was to take rtabmap_ros as a starting point, fix integration with nav2 and

[2022-03-21 16:57] SteveMacenski commented on #2596
@padhupradheep how do you feel about adding a pause into the contextual recoveries in the BT, not just in the global recoveries subtree (e.g. where we have costmap clearing only options for global/local planner failures)? I think that could make sense for especially the local planner. if it fails, pausing for a moment might be helpful so the robot isn't so ADHD.

What do you think?

@jwallace42 @n

[2022-03-21 17:18] #2622 closed

[2022-03-22 09:21] jonipol commented on #2835
Yes, the proposed fix does solve the issue on hand for me!

[2022-03-22 10:35] padhupradheep commented on #2596
I understand the behavior that you want to achieve, but pausing is what I started to develop initially for this particular issue on the whole. It requires parallelism I think, but I would like to take some time to think about it as a whole. Also, I know that it's every BT developers wish.

On researching for it before, I came across this interesting [comment in the BehaviorTree.CPP repo](https://g

[2022-03-22 13:19] dkuenster commented on #2833
Sry I was on a business trip, created a pull request now.

[2022-03-22 17:05] #2835 closed

[2022-03-23 17:41] SteveMacenski commented on #2845
Any update?

[2022-03-23 17:42] SteveMacenski commented on #1278
Pulling https://github.com/ros-planning/navigation2/issues/1517 into here: pluginize environmental models so we can use this new model as an option to a costmap representation

[2022-03-23 17:42] #1517 closed

[2022-03-24 00:09] SteveMacenski commented on #2626
Closing after the design discussion - it doesn't seem like this is the right place for these semantics. Happy to reopen if there's more discussion to be had, but we haven't had an update in months and there are non-trivial open implementation questions

[2022-03-24 00:09] #2626 closed

[2022-03-24 00:10] SteveMacenski commented on #2648
We're also a bit blocked on Rolling release on some other issues tangent to our CI build issues with Rolling. This is blocked for the immediate future until we're able to build/test on current rolling in 22.04

[2022-03-24 18:18] #2845 closed

[2022-03-25 10:30] fig-shimooka opened #2868 "Default parameters do not generate a cost map in ROS2 Galactic"
ROS2 Galactic (amd64) environment running Navigation2.
The default parameters do not generate a local cost map.
https://github.com/ros-planning/navigation2/blob/galactic/nav2_bringup/bringup/params/nav2_params.yaml#L177
Why?

Also, if you run it with the sample parameters from the wiki, a cost map is generated, but it is displayed incorrectly.
[code]
## default parameter
![Screenshot from 2022-03-

[2022-03-25 11:56] padhupradheep commented on #2868
If you are using Turtlebot3, then just look into this example from the [nav2_bringup](https://github.com/ros-planning/navigation2/blob/eab2aa6df7063d42491da1da9d836d576a22eabb/nav2_bringup/params/nav2_params.yaml#L181)

[2022-03-25 12:11] padhupradheep commented on #2868
https://github.com/ros-planning/navigation2/blob/galactic/nav2_bringup/bringup/params/nav2_params.yaml#L177

Atleast for me, I cannot reproduce your problem. Are you sure you are giving the right laser scanner topic ? And are you using Turtlebot3?

[2022-03-25 17:42] luisCFsantos opened #2869 "The simple action of loading a map with map_server is way to problematic in this version"
I am using Ros foxy on Ubuntu 20.04 LTS and I cannot load an occupancy grid map using map_server in ROS2.

First I had to add the folders with the map files to the install directory in Cmake:

[code]

Then, I created the "map_server_params.yaml":

[code]

with the corresponding "map.yaml":

[code]

Then, after trying to run it with the conventional way:

`$ ros2 run nav2_map_server map_server __pa

[2022-03-25 17:43] luisCFsantos commented on #2869
One I discover this, I am going to add the documentation to the repository and and do a push request

[2022-03-25 17:48] SteveMacenski commented on #2869
Set this through your launch file and set it as a launch configuration / pass to the map server so that it is used -- don't set via yaml for that same reason you mention. The launch API can let you find package's shared directory / do anything in the filesystem you might want to do with Python3.

In general though, please ask on ROS Answers, I'm happy to follow up there but this is more of an assi

[2022-03-25 17:48] #2869 closed

[2022-03-25 17:56] luisCFsantos commented on #2869
Thank for your help. I was using an .yaml file because it was referenced in the the documentation. I will try your suggestion.

I do not fully agree with your final sentence as this is clearly caused by faulty documentation. Even without using the launch file, the process is way too complex when compared to the ROS1 version. The authors specifically indicate the create an YAML file pointing to he

[2022-03-25 17:58] SteveMacenski commented on #2869
ROS 2 is more complex than ROS 1, our goal isn't to make something "simple" but something reliable and cohesive in architecture. This is the tip of the iceberg in changes to Navigation.

[2022-03-25 17:59] SteveMacenski commented on #2868
The default params are only for the default setup, obviously if you have another system, you'll need to change the parameters and whatnot. We have extensive descriptions of configurations on our website https://navigation.ros.org/configuration/index.html

[2022-03-25 18:04] luisCFsantos commented on #2869
I understand. But is a fact that your documentation is this specific package is poor. I am going to suggest improvements, once I figure this out. map_server is an important package in my ROS1 software, and I need to solve this before moving everything to ros2

[2022-03-27 10:59] fig-shimooka commented on #2868
I am trying to move it with a robot I built myself, which is not a Turtlebot.

Apparently the origin of the cost map is wrong.
      global_frame: odom
      robot_base_frame: base_link
Is this setting wrong?

[code]

[2022-03-27 11:21] fig-shimooka commented on #2868
The costmap origin improved when rolling_window was set to True.
However, the costmap is still not generate
![Screenshot from 2022-03-27 20-20-49](https://user-images.githubusercontent.com/72783232/160279118-3f7b5d0b-f3d6-4b75-90d9-375b4011cd8c.png)
d according to the scan result

[2022-03-27 11:31] fig-shimooka commented on #2868
Resolved.
The cause was that the coordinates of the laser_1 frame were negative.
The urdf file was modified and set to the correct height, which improved the situation.

[2022-03-27 23:48] #2868 closed

[2022-03-29 14:45] Aposhian opened #2873 "Add Ackermann drive robot with RPP to examples and system tests"
## Feature request

#### Feature description
Add ackermann-drive robot to bringup and system tests, using the regulated pure pursuit controller.

#### Implementation considerations
Unlike turtlebot, I'm not sure if there is a good, open-source, reference ackermann robot in the real world. But even an idealized ackermann vehicle would be helpful for testing and development.

[2022-03-29 18:20] SteveMacenski commented on #2873
I totally agree, I do not know of an Ackermann simulation setup in Gazebo that we could migrate to a Nav2 world for use and testing. I know of some car models but those are far too large for environments we have to work with as a matter of practicality. I suppose having a car demo would be cool, but we'd need an appropriate world model / sensor stack for Nav2 to compliment.

I think this might be

[2022-03-29 18:34] SteveMacenski commented on #2633
@wilcobonestroo any update?

[2022-03-29 18:49] Aposhian commented on #2873
https://discourse.ros.org/t/nav2-reference-ackermann-robot-simulation/24901

[2022-03-30 13:46] padhupradheep commented on #2600
Found a really nice github package: https://github.com/atb033/multi_agent_path_planning

Maybe useful, while considering any sort of implementation.

[2022-03-30 15:59] brunopinto900 opened #2876 "Add plugins for Quadrotor"
Hello all,

Can i add plugins for planners and controlelrs in 3D for quadrotors? How hard it would be given this stack is for 2D navigation.

Thank you.

[2022-03-30 17:03] dt1729 commented on #2045
Hi all, are you guys planning to implement  these in any particular order of preference or can we pick any feature and start working on that?

[2022-03-30 18:03] SteveMacenski commented on #2876
Can you? Yes, almost definitely, but you're likely to run into some integration challenges. Particularly as it relates to the costmap environmental model. The actual control / planning APIs though are perfectly capable of handling 3D poses / orientations

Closing ticket, as this is not the current intent / direction of the project. Happy to consider it in the future, but it would have to be matche

[2022-03-30 18:03] #2876 closed

[2022-03-30 18:05] SteveMacenski commented on #2045
I don't think there is a particular order, but if you have access to hardware robots, helping with tuning the system as it exists today (which critics to use, weights, sample numbers, etc) would be of the most and significant value to the project.

But certainly if you were interested in contributing in other places, I would never decline community involvement. If you wanted to write some code on

[2022-03-30 18:22] SteveMacenski commented on #2596
Merging imminent, closing.

[2022-03-30 18:27] SteveMacenski commented on #1595
@shrijitsingh99 any update?

[2022-03-30 18:33] SteveMacenski opened #2877 "Behavior tree: pause if 'different path solution' found before major local diversion"
As an extension of https://github.com/ros-planning/navigation2/pull/2802 to be more general to pause not only near the goal, but also pause in other situations that might be adventitious for a robot to wait and see if a situation resolves itself before moving on down a significantly more time consuming solution. Like if a forklift if blocking the path when 80% down an aisleway to wait vs going up

[2022-03-30 19:25] wilcobonestroo commented on #2633
Most functionality is in place. I have to remove some buffering code. Moreover, I did not include the deadband yet and I don’t know how (or where) to write the documentation. I will try to finish it this weekend and make a PR. Code is at: https://github.com/wilcobonestroo/navigation2/tree/add-velocity-smoother

[2022-03-31 00:10] #2850 closed

[2022-03-31 12:18] tonynajjar commented on #1651
Hi! I'm very interested in a demo demonstrating Nav2 being used as a subtree. I can't seem to find the corresponding ticket in https://github.com/ros-planning/navigation.ros.org/issues. Was this ever done? If not, do you know of some open-source project I could get inspired from? Thanks!

[2022-03-31 13:20] peredwardsson opened #2878 "Controller server crashes, references Eigen asserts"
## Bug report

**Required Info:**

- Operating System:
  Ubuntu 18.04 on Jetson AGX Xavier
- ROS2 Version:
  Foxy, built from source, docker image based on `nvcr.io/nvidia/l4t-base:r32.5.0`
- Version or commit hash:
Git hash: 3e31f5ad7f1e570c1d751c8944c9b61a7a1578f2
- DDS implementation:
  CycloneDDS

#### Steps to reproduce issue
Run the full nav2 stack. Provide all transforms necessary for auton

[2022-03-31 14:54] Aposhian commented on #2878
Could you provide specifically what version of `libeigen3-dev` is installed by running `apt policy libeigen3-dev`?

[2022-03-31 14:58] Aposhian commented on #2878
Also it looks like you are building from the `main` branch (3e31f5ad7f1e570c1d751c8944c9b61a7a1578f2), which shouldn't be compatible with foxy. Maybe try building off the `foxy-devel` branch?

[2022-03-31 15:01] Aposhian commented on #2878
Also, if you are building and running in docker, as I believe you implied, why build and run on `nvcr.io/nvidia/l4t-base:r32.5.0` rather than using `ros:foxy` as a base docker image? There are definitely use-cases for the L4T images, but you likely don't need them to run Nav2. Food for thought. :slightly_smiling_face:

[2022-03-31 18:01] SteveMacenski commented on #1651
That is it, but not yet completed. I know some folks are using it, but nothing that's been open sourced or public facing that I'm aware of

[2022-03-31 18:06] SteveMacenski commented on #2878
There isn't a use of Eigen in Nav2 anywhere in the controller server https://github.com/ros-planning/navigation2/search?q=Eigen unless its a crash deep inside of another library, like TF. In that case, you'd need to provide a traceback. https://navigation.ros.org/tutorials/docs/get_backtrace.html

In general though, from @Aposhian comments, you're doing something very unsupported so my guess is yo

[2022-03-31 18:06] #2878 closed

[2022-03-31 20:33] SteveMacenski opened #2880 "IsPathValid Improvement: Change in Cost"
Have an option to have the paths return their path costs and be able to use that with a replan to compare if the cost have changed "sufficiently" to a parameterized setting to trigger a replan, rather than only when exactly invalid due to collision.

Allows for paths that have become much more expensive to be replanned based on a user-defined metric

Issues to work through:
- If we have the old pa

[2022-03-31 20:33] SteveMacenski commented on #2880
@jwallace42 might be a good next step for your `is path valid` work

[2022-03-31 23:28] ljaniec commented on #2873
Maybe [linorobot](https://linorobot.org/)? There was a port to ROS2 Galactic a few days ago: https://github.com/linorobot/linorobot2. Seems promising:

[2022-04-01 02:28] Aposhian commented on #2873
Thanks for the suggestion! I will check it out.

[2022-04-01 11:52] ccpjboss opened #2883 "Multi tb3 simulation not using LiDAR data"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Galactic
- Version or commit hash:
  - ros-galactic-navigation2	1.0.8-1focal.20220211.200406
- DDS implementation:
  -

#### Steps to reproduce issue
Run the `multi_tb3_simulation_launch.py` example from `nav2_bringup` package and proceed to add an obstacle to the gazebo world.

`ros2 launch nav2_bringup mu

[2022-04-01 17:42] SteveMacenski commented on #2883
Do not cross post, I commented on the thread on ROS Answers and will continue to do so.

[2022-04-01 17:42] #2883 closed

[2022-04-02 23:05] dt1729 commented on #2045
Hi Steve, I will start work on implementing Ackermann trajectory generator and present something in the next nav stack meeting. Where can I look for a Class tree of the repository? ROSDocs?

[2022-04-03 10:34] yuan-ge opened #2885 "the navigator circle around in front of a width wall and stuck there"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Foxy source
- Version or commit hash:
  -  foxy-devel
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

this is my [nav2_params.yaml](https://pastebin.com/FUWQ6C5T)

and this is the rviz of my navigating, as the picture shows, it stuck in front of the wall and circle around.
![image](https

[2022-04-03 19:37] SteveMacenski commented on #2885
Please ask for configuration help on ROS Answers and review the configuration guides on navigation.ros.org

[2022-04-03 19:37] #2885 closed

[2022-04-04 17:56] SteveMacenski commented on #2045
We don't have one self hosted, but if you generate the doxygen, I believe that will generate them. But you should only need to worry about the trajectory generator plugin base class that you're implementing (See the 2 example generators already existing for examples)

[2022-04-04 17:57] #2833 closed

[2022-04-04 21:09] jwallace42 commented on #2880
So, we want to expand the isPathValid to also replan if the cost of the path has changed significantly.

So we would have to store a map of points to costs.

Why would we have created two paths? I figured we would be checking to see if the current path costs have changed?

I think the plan would be to compare the path cost subsection. So I have point 1,2,3,4,5 with costs 20, 35, 40, 20, 64.

As th

[2022-04-04 21:29] SteveMacenski commented on #2758
Yeah, the higher-level autonomy software, which could be one of a number of things depending on the application. Some examples of what I'm thinking are above including a BT-based solution (as you describe), a sequential task autonomy system (get a bunch of primitives of things to do and do them in order), or a scheduler (given a bunch of options and weights / objective functions, pick what to do n

[2022-04-04 21:35] jwallace42 commented on #1975
I like this half baked idea it would definitely be useful for a lot of applications. However, there definitely are instances were we should not charge at the doc. I.e some mechanical changes/fixes or maintenance?

[2022-04-04 21:36] #2549 closed

[2022-04-04 21:36] SteveMacenski opened #2888 "Additional Behavior Server Primitives"
Perhaps provide some basic behaviors like

- [ ] rotate to sp. heading
- [ ] Drive on heading for X distance (recommission backup plugin)
- [ ] assisted teleop
- [ ] "dance" or some example HRI behavior
- [ ] Back out of recent buffer of commands bc bad situation as recovery, then retry with another algo

[2022-04-04 21:38] SteveMacenski commented on #1975
Sure, I think that would be something to note. I think the stop until charged enough -> go out would be done in the BT (looking at it again now) so that could always be customized

[2022-04-04 21:48] SteveMacenski commented on #2880
... I'm mixing up 2 completely different trains of thoughts in my head. No, you are right, we don't need 2 paths. Just the one that we're checking its change in cost over time.

Maybe also have the path planner return a vector of costs so that someone could conceptually use them in the BT or other application?

Yes

I'm not sure I understand you `f(average_cost) = percent_diff` example, can you el

[2022-04-04 23:36] SteveMacenski commented on #2045
@DLu I don't know if you have some time, but helping to tune the defaults for DWB for good out of the box behavior would be super, super helpful to making sure folks get a feel for its power

[2022-04-04 23:37] SteveMacenski commented on #1787
This is baked into https://github.com/ros-planning/navigation2/issues/1757 so closing as redundant to group related topics together

[2022-04-04 23:37] #1787 closed

[2022-04-05 07:19] ShreekrushnB commented on #1318
I would like to know about Multi-floor Multi-robot coordination.

[2022-04-05 15:41] vinnnyr commented on #2621
Just in case anyone stumbles upon this, the interpolation (https://github.com/ros-planning/navigation2/issues/2850) has been completed / merged in https://github.com/ros-planning/navigation2/pull/2872

[2022-04-05 17:03] jwallace42 commented on #2880
So, we could have to adjust the api for the computePathToPose to include a vector of costs.
Then in the BT we could dump the vector of costs on the blackboard to be used by whatever.
Then the isPathValid service call would include the path and vector of costs to be evaluated.

Sure.  So for example we could have a linear func cost_diff_to_cause_replan = -0.4*(average_cost-255).  I guess the main i

[2022-04-05 18:26] Tamimi121 opened #2889 "hello guys,i am trying to use map_server to load my map in rviz but i have this error"
[INFO] [launch]: All log files can be found below /home/mh_tamimi/.ros/log/2022-04-05-21-23-56-000140-DESKTOP-O6OJ67J-11637
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [map_server-1]: process started with pid [11639]
[INFO] [lifecycle_manager-2]: process started with pid [11641]
[lifecycle_manager-2] [INFO] [1649183036.200238000] [lifecycle_manager]: Creating
[lifecycle_manage

[2022-04-05 18:27] Tamimi121 commented on #2889
my launch file

import os
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration
from ament_index_python.packages import get_package_share_directory
from launch_ros.actions import Node

def generate_launch_description():

    # .................. Configurable Arguments .....................

    use_sim_time = True

[2022-04-05 18:30] SteveMacenski commented on #2889
That's pretty straight forward, either it doesn't exist (wrong directory) or it exists but its not a properly formed file. That's without a directory path so its hard to tell if that would be the right place, where you launch from matters as well.

[2022-04-05 18:42] SteveMacenski commented on #2880
that's interesting, I think the idea just needs to be flushed out a little more. I think you're on the right path. minor changes in inflation aren't nearly as interesting as changes close to obstacles.

Note that the inflation costs are an expontential decay function from the obstacles. I'm not sure we necessarily need to use that relationship, but its good to be aware of when designing this. Ther

[2022-04-05 18:43] Tamimi121 commented on #2889
Thank you brother for your quick reply,yes i gave the (map_saver_params_file) full bath and every thing is good <3

[2022-04-05 18:44] Tamimi121 commented on #2889
@SteveMacenski
Thank you brother for your quick reply,yes i gave the (map_saver_params_file) full bath and every thing is good <3

[2022-04-05 18:49] #2889 closed

[2022-04-05 20:23] jwallace42 commented on #2880
Yeah, adding it to the nav_msgs/Path  is the right approach. I assume I can just put in a pr herehttps://github.com/ros2/common_interfaces/blob/master/nav_msgs/msg/Path.msg?

I will probably start just with a constant change to trigger replanning. Depending on how that works we can always make it more fun!

[2022-04-06 09:27] joe28965 commented on #1933
I had a question about this, It's something I could take a look at. However, I saw there were a couple of other "demo" labels in the issues and you said this:

At this point I'm wondering if it would be smart to make a `nav2_demos` package to add these things to. That way it would be possible to have different launch files for different situations (like the situations you mentioned above), without

[2022-04-06 16:54] Tamimi121 opened #2892 "hi,when i run ros2 launch slam_toolbox online_async_launch.py how i can change the map in rviz to map that i already saved it, not a scan map"

[2022-04-06 16:55] #2892 closed

[2022-04-06 16:55] SteveMacenski commented on #2892
Please ask question on ROS Answers, this is not the right venue.

[2022-04-06 16:56] SteveMacenski commented on #2880
Why close the PR?

[2022-04-06 17:27] SteveMacenski commented on #1933
There's ongoing work on it https://github.com/ros-planning/navigation2/pull/2797 but @lucabonamini would be the best to explain any remaining issues / things that need to be worked on before it can be merged. I believe its incredibly close, just needs a little more work on the review comments.

What would you see the role of `nav2_demos` to be? In many ways `nav2_bringup` is the demo of how to cre

[2022-04-06 17:45] joe28965 commented on #1933
Ah, you're right. It seems I'm a bit late.

As for the role of `nav2_demos`. For my own projects I usually just create a launch file that includes `bringup_launch.py` in my own package (and localization_ navigation_ & rviz_launch.py since they're included in bringup) and add the necessary parameter files via the launch configuration.

For that reason I thought it would be smart to split that from

[2022-04-06 17:53] padhupradheep commented on #1933
yes, the only problem with our simulation is that our robots cannot handle the default step size and update rate defined in the gazebo world. For each different worlds that the user decide to use, he/she has to change those parameters. But our directions have changed now and we are focusing on moving to ignition gazebo and taking things further there on.

[2022-04-07 12:38] tonynajjar opened #2895 "Instances of goal_checker_plugin"
"goal_checker_plugin" is deprecated in favor of "goal_checker_plugin**s**" but I still see instances of it , mainly in params and documentation

[2022-04-07 18:20] SteveMacenski commented on #2895
Oh! Some PRs to find and fix those would be appreciated!

[2022-04-07 18:28] charlielito opened #2897 "Costmaps header stamps are set to 0"
## Bug report
`/local_costmap/costmap` or `/global_costmap/costmap` topics header stamps are set to 0. Is this somehow intentional?

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Galactic binaries
- Version or commit hash:
  - Galactic binaries 1.0.8-1focal.20220211
- DDS implementation:
  - Cyclone

#### Steps to reproduce issue
Launch the nav2 stack as usual then see `/local_costmap/c

[2022-04-07 18:29] SteveMacenski commented on #2897
I don't think it is intentional to be `0`, please submit a PR to implement with the real time!

[2022-04-07 20:27] charlielito commented on #2897
Done https://github.com/ros-planning/navigation2/pull/2899

[2022-04-07 20:55] jwallace42 commented on #2880
Sorry about the premature close. I saw your email late and though that it would be a discussion instead of a pr.

This is a very good point. So averaging should be tossed out.

I like this idea! What are you thinking of for a formula?

[2022-04-07 22:28] #2897 closed

[2022-04-07 22:43] SteveMacenski commented on #2880
I mean I'm just spit balling ideas still, I'd be open for other formulations or thoughts. I have no idea how well this would work, this is just a starting point to see how it works / what problems it doesn't solve and go from there. If we start with `cost` as the base term, we could have a weight be something like `w_cost = cost > 50 ? f(cost) : 0` where `f` could be something along the lines of `

[2022-04-08 08:07] rjrs23 opened #2900 "Documentation needed for commander api - Feedback object"
Hi,

Where can we find documentation of what objects /  data can we get from the

In the commander api [nav_to_pose](https://github.com/ros-planning/navigation2/blob/main/nav2_simple_commander/nav2_simple_commander/example_nav_to_pose.py) example we can get the eta to reach the point using the line below

```Duration.from_msg(feedback.estimated_time_remaining).nanoseconds / 1e9```

Where can we fi

[2022-04-08 12:06] padhupradheep commented on #2900
The feedback that are available can be found here:

https://github.com/ros-planning/navigation2/blob/main/nav2_msgs/action/NavigateToPose.action

Like the last 5 elements.

You can easily look for the list of available feedback by using the command `ros2 interface show nav2_msgs/action/NavigateToPose ` . Of course, there is still the feedback definition missing. But as said before, the last 5 elem

[2022-04-08 14:32] jwallace42 commented on #2880
Yeah, I will have to think about this over the weekend! I am still unsure of how we want to compare costs. I will try to come up with something for Monday.

[2022-04-08 14:33] rjrs23 commented on #2900
Thanks @padhupradheep  this helps.

[2022-04-08 17:10] Tamimi121 opened #2902 "hi every one,i try to launch this file & i got this error"
## Bug report

**Required Info:**

- Operating System:
  -
- ROS2 Version:
  -
- Version or commit hash:
  -
- DDS implementation:
  -

#### Steps to reproduce issue

[code]

#### Expected behavior

#### Actual behavior

#### Additional information

----
## Feature request

#### Feature description

#### Implementation considerations

[2022-04-08 17:11] #2902 closed

[2022-04-08 17:12] Tamimi121 opened #2903 "hi , i try to launch this file and i got this error"
[INFO] [launch]: All log files can be found below /home/mh_tamimi/.ros/log/2022-04-08-20-06-55-880083-DESKTOP-O6OJ67J-2614
[INFO] [launch]: Default logging verbosity is set to INFO
Task exception was never retrieved
future: <Task finished name='Task-2' coro=<LaunchService._process_one_event() done, defined at /opt/ros/foxy/lib/python3.8/site-packages/launch/launch_service.py:226> exception=Invalid

[2022-04-08 17:12] Tamimi121 commented on #2903
the launch file is
import os
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument, IncludeLaunchDescription
from launch.conditions import IfCondition, UnlessCondition
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch.substitutions import Command, LaunchConfiguration, PythonExpression
from launch_ros.actions import Node
from lau

[2022-04-08 17:21] SteveMacenski commented on #2903
As I've mentioned in your previous ticket https://github.com/ros-planning/navigation2/issues/2892, this is not the appropriate place for these discussions, please refer to ROS Answers.

[2022-04-08 17:21] #2903 closed

[2022-04-09 18:21] lucabonamini commented on #1933
Hi @joe28965. As @SteveMacenski  told you, I'm working on a PR to migrate from Turtlebot to [AWS warehouse](https://github.com/aws-robotics/aws-robomaker-small-warehouse-world) world. There's still some minor work to be done (well, let's Steve say it 😄): readd _test_dynamic_obstacle_ with a modified version of warehouse world, and debug _multi_tb3_simulation_launch.py_ which is currently not worki

[2022-04-10 08:13] joe28965 commented on #1933
@SteveMacenski I'm also assuming you'd like it to be a real robot, not just one that exists only in simulation?

@lucabonamini If you need help with either of those things, let me know and I can look at it next week.

[2022-04-10 18:45] lucabonamini commented on #1933
Great! I'll get back to you in case of need 😃

[2022-04-11 04:59] czg-sci-42ver opened #2905 "Call to deleted constructor of 'BT::Tree'clang(ovl_deleted_init) compiled error when using `clang-15` and FIXED"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - rolling
    -   ```bash
        11:05:41 czg@czg-Lenovo-Legion-R7000-2020 ~ → dpkg -s ros-rolling-desktop
        Package: ros-rolling-desktop
        Status: install ok installed
        Priority: optional
        Section: misc
        Installed-Size: 44
        Maintainer: Steven! Ragnarök <steven@openrob

[2022-04-11 05:47] SteveMacenski commented on #2905
that seems reasonable to me, please open a PR and I'll merge

[2022-04-11 05:49] SteveMacenski commented on #1933
I guess it doesn't **have** to be real, but it has to look and feel real (so may as well _be_ real)

[2022-04-11 16:49] #2905 closed

[2022-04-11 18:58] DLu commented on #2045
@SteveMacenski Is there an existing demo where DWB doesn't do great?

[2022-04-11 19:41] SteveMacenski commented on #2045
The current demo in Nav2 parameters. I threw them onto a robot as part of another personal project and it really did not do very well, especially in constrained environments like a hallway with a box in the way where there is plenty of space for the robot to get through. I would not classify that as "constrained", but if it can't do that, it definitely would have issues with doorways or other less

[2022-04-11 20:09] joe28965 commented on #1933
@SteveMacenski because I was thinking, it's not that difficult to make something a frame that looks OK in SolidWorks. Then I could make a URDF with the base_link, imu, sensors and whatnot, make three different URDFs with diff-drive, ackermann and holonomic. Basically creating the 3 driving types while using the same frame/sensors.

Dunno, thought it might be nice, LMK what you think about it.

[2022-04-11 20:48] SteveMacenski commented on #1933
I think the plan is in the medium term to move to a real robot, maybe the neobotix robot, maybe the new turtlebot4. I don't think its worth creating a fake-bot when there are shortly going to be a couple of real-bots that meet our needs. Neobotix has both diff and omni platforms. Its true that we don't have any good ackermann examples right now, but I think its important that that one is real to a

[2022-04-11 21:39] #2895 closed

[2022-04-11 21:45] SteveMacenski commented on #2873
@Aposhian do you guys have one you'd be potentially open to open sourcing for this purpose? I'm trying to figure out the path forward for this ticket -- is this something you would have interest in contributing a new system test using an ackermann vehicle?

[2022-04-11 21:47] SteveMacenski commented on #956
@doisyg, I have a contributor working on the obstacle layer, its just AMCL left if you wanted to jump in with that. The Humble release date is May 23rd, so about a month from now

[2022-04-11 23:53] SteveMacenski commented on #2752
We run into a few issues here, see my PR for current status: https://github.com/ros-planning/navigation2/pull/2910

The main issue that during the deactivation phrase, we kill the bond connection on the server side, so we have no knowledge if any of the servers, let alone the server that died, is back up without manually trying to transition them which would be cludgy.

I can get things to work on

[2022-04-12 01:40] allenh1 commented on #956
@SteveMacenski I have not made any progress here, feel free to pass it on to someone who can get it done sooner.

[2022-04-12 17:45] Tamimi121 opened #2912 "hi,when i use colcon build with the nav2_ws i have this error"
In file included from /home/mh_tamimi/nav2_ws/src/navigation2/nav2_util/src/costmap.cpp:19: /home/mh_tamimi/nav2_ws/src/navigation2/nav2_util/include/nav2_util/geometry_utils.hpp:25:10: fatal error: tf2_geometry_msgs/tf2_geometry_msgs.hpp: No such file or directory 25 | #include "tf2_geometry_msgs/tf2_geometry_msgs.hpp" | ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ compilation terminated. In file in

[2022-04-12 17:50] #2912 closed

[2022-04-12 18:46] Aposhian commented on #2873
I don't think we are ready to open source our robot simulation at this time, but when I get some time, I am planning on looking more into linorobot2: it looks promising.

[2022-04-12 22:14] SteveMacenski commented on #2752
Got it working -- now working on the launch configurations for it which are giving me a little trouble. Should be able to handle that this afternoon. Take a look over at the PR now, should be good for reviews

[2022-04-13 07:34] doisyg commented on #956
No promise but I am waiting for Humble branch from Rolling (next Monday) to setup a Humble test environment (with a real robot). From there and if everything goes smooth, I ll have a look.

[2022-04-13 14:06] doisyg opened #2913 "[SmacPlanner2D] Unintuitive plan when away from obstacles"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 20.04
- ROS2 Version:
  - source
- Version or commit hash:
  - latest
- DDS implementation:
  - Cyclone

#### Steps to reproduce issue

Plan with the following parameters
[code]

#### Expected behavior

Shorter path when there is no cost constraint

#### Actual behavior

Non straight path when there is no cost constraint

For insta

[2022-04-13 19:43] SteveMacenski commented on #2913
Even without the costs, that is odd. Though, as part of the README I make pretty clear everything in Smac requires a potential field to be applied, it is important.

If you can provide me with a minimum example (map, costmap settings, etc) and starting / goal poses you see this happen in, I can take a look.

[2022-04-14 07:07] ErikOrjehag opened #2915 "Local costmap sometimes contains junk"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04.2 LTS
- ROS2 Version:
  - Galactic binaries
- Version or commit hash:
  - dpkg-query --show "ros-$ROS_DISTRO-navigation2"
     ros-galactic-navigation2        1.0.8-1focal.20220211.200406
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

Unfortunately I have not found a reliable way to reproduce this issue. I

[2022-04-14 13:16] roncapat opened #2916 "DWB parameter helper doesn't work with strings"
https://github.com/ros-planning/navigation2/blob/21a146a97c0d400eb9bdaeaf31bb9dfb536cf00b/nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/parameters.hpp#L75

Writing new DWB critics and noticed that 'searchAndGetParam<>()' compiles for strings but then fails during execution, since `value` is 0-initialized and there is a [run time error](https://stackoverflow.com/questions/33706112/setting-s

[2022-04-14 17:25] SteveMacenski commented on #2916
Hi,

thanks for the interest! Can you submit a PR with that? Happy to review / merge.

[2022-04-14 18:08] SteveMacenski commented on #2915
So a non-real move -- I would not expect that to arbitrarily work well since you wouldn't have accurate information about where you are and you're picking up data while you're dragging the robot around without odometry updates.

You say this a few different times, which makes me believe you have a misunderstanding about what's going on. The local costmap is NOT sampling the global costmap, they ha

[2022-04-14 21:49] SteveMacenski commented on #191
None currently, its a future project but hasn't been executed on yet

[2022-04-15 17:20] AlexeyMerzlyakov opened #2917 "Nav2 lifecycle manager won't startup nodes"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu focal 20.04.4
- ROS2 Version:
  - ROS2 rolling built with sources from Apr 13 2022
- Version or commit hash:
  - f1d25e98
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
Run `nav2_lifecycle_manager` with any lifecylce node e.g.:
[code]

#### Expected behavior
Lifecycle nodes are going to "Configured" and "Active"

[2022-04-15 23:43] #2916 closed

[2022-04-17 13:48] sathak93 commented on #2888
@SteveMacenski  i like to work on rotate to specific heading behaviour. could you elaborate on it.?

[2022-04-17 17:55] berickson commented on #2873
I wrote an Ackermann simulation that you could use: https://github.com/berickson/sim_car
Video demonstration here: https://youtu.be/xpBTbQ7BjN4
It would probably need mods to be useful for automated system testing, for example, it has shock absorbers and you probably don't want that. I'd be happy to help if I can get my nav2 build / test environment working.

[2022-04-17 21:06] doisyg commented on #2913
Thanks for your detailed answer, I am slowly looking into all that.
In an attempt to test the behavior on a lot of path (and in order to provide a minimum example), I am looking at the system tests (https://github.com/ros-planning/navigation2/tree/main/nav2_system_tests/src/planning), do you you now how the [example_result.png](https://github.com/ros-planning/navigation2/blob/main/nav2_system_test

[2022-04-18 15:58] #2720 closed

[2022-04-18 16:35] SteveMacenski commented on #2888
It would be
- Making a behavior to have the robot rotate to a desired relative heading (e.g. +90 or -90 from current orientation)

[2022-04-18 16:41] SteveMacenski commented on #2913
Via https://github.com/ros-planning/navigation2/blob/main/nav2_system_tests/src/planning/test_planner_random_node.cpp which has its map set in https://github.com/ros-planning/navigation2/blob/bcc9aff6bd0e60f6f887cde91b8d2f23f6a1dfa9/nav2_system_tests/src/planning/CMakeLists.txt#L46 which is set to https://github.com/ros-planning/navigation2/blob/bcc9aff6bd0e60f6f887cde91b8d2f23f6a1dfa9/nav2_system

[2022-04-18 17:16] SteveMacenski commented on #2917
I have not run into this, but I'm also using Rolling binaries, not source. The binaries stopped updates a bit ago (not super long, but also its been a few weeks) since Rolling has moved to support 22.04 and releases binaries there for the Humble release in late May.

More context https://github.com/ros-planning/navigation2/issues/2689

[2022-04-18 19:17] isiko opened #2919 "BT_Navigator failing to load Libary when changing Namespace"
## Bug report

**Required Info:**

- Operating System:
  - Docker on Windows, Container running Ubuntu 20.04
- ROS2 Version:
  - Foxy Binaries
- Version or commit hash:
  - ros-foxy-navigation2    0.4.7-1focal.20220307.024942
- DDS implementation:
  - didn't change anything, so probably `eProsima’s Fast DDS`

#### Steps to reproduce issue
Launch file (adjust package names, etc.):
*This is mostly c

[2022-04-18 19:23] SteveMacenski commented on #2919
Please ask on ROS Answers, that is the correct place.

[2022-04-18 19:23] #2919 closed

[2022-04-18 19:23] SteveMacenski commented on #2919
But definitely remove `libnav2_change_goal_node_bt_node` from your param file, the BT nav is stopping because that doesn't exist in Foxy. You must use the appropriate parameter files / libraries for your distribution.

[2022-04-18 19:33] isiko commented on #2919
That's why I also posted here: I can't find that lib in my params, the file doesn't even contain the string 'change'

[2022-04-18 20:31] doisyg commented on #2913
Thx, could not find visualization related code but it was just a matter of adding 3 publishers (path, start point and end point) and increasing the number of tests to get to the same result in rviz (and adding buffer/history there):
![rviz_screenshot_2022_04_18-22_04_01](https://user-images.githubusercontent.com/15727892/163872151-4ccf9ae1-16b5-4637-bcc9-9e12a86542ac.png)
We can already some weird

[2022-04-18 21:29] SteveMacenski commented on #2915
Any update?

[2022-04-18 21:33] SteveMacenski commented on #2913
I'm fairly certain that the top 3 comments on my bulleted list will take care of the issue you mention for Smac2D.

For the thing you show with NavFn, It uses the Navigation Function 2 for expanding the potential field which is smooth, but the backtracing is done seperately which can sometimes do odd things, usually towards the end of paths. Given this is only a binary field, not a costmap, there

[2022-04-18 21:36] SteveMacenski commented on #2752
PR to be merged imminently. Thanks @tuxnese for bringing this to our attention!

[2022-04-18 21:36] #2752 closed

[2022-04-19 08:25] ErikOrjehag commented on #2915
@SteveMacenski thank you for the reply, here are some additional clearifications:

Non-real move is the only way I have been able to sometimes reproduce the error on purpose. But it happens every now and then on the real robot when running it everyday on the field, and then it is only "real moves" and real data from a real robot. I have not found a reliable way to reproduce it on the real robot th

[2022-04-19 08:35] hodnajit opened #2920 "Add parameter to not run any localization in nav2 stack (amcl or slam) to enable run custom localization"
## Feature request

#### Feature description
Add possibility to not run localization in nav2 stack. Currently there is param "slam" so default bringup_launch starts either slam or AMCL localization. I would like to experiment with my localization, so I would like to not run slam or amcl.

#### Implementation considerations
I suggest to add a new parameter to bringup_launch, something like localiza

[2022-04-19 19:05] wilcobonestroo commented on #2633
Could someone give me some feedback on [this code](https://github.com/wilcobonestroo/navigation2/tree/add-velocity-smoother/nav2_velocity_smoother) for this issue?

[2022-04-19 20:52] SteveMacenski commented on #2920
I believe that is a good reason to have your own launch file that launches `navigation_launch.py` + your own SLAM / localization file.  The main bringup entry point is not supposed to be used in all situations by all users, more as a demonstration and sufficient for many users. If you'd like to use another localization method, we totally support that, but I'm not sure doing so in `nav2_bringup` is

[2022-04-19 23:16] sathak93 commented on #2888
@SteveMacenski Why cant we use spin behaviour for this? Spin can rotate the robot to particular degree from current pose.

[2022-04-19 23:25] SteveMacenski commented on #2888
Those are global angles, not relative angles

[2022-04-20 11:50] padhupradheep commented on #2920
You can checkout the ``neo_nav2_bringup`` from Neobotix for an example. If it anyways could help. We have a customized bringup files for nav2. https://github.com/neobotix/neo_nav2_bringup

[2022-04-20 14:22] #2920 closed

[2022-04-20 20:00] isiko opened #2921 "Nav2 BT_Navigator referencing deprecated Libary when defining namespace"
## Bug report

**Required Info:**

- Operating System:
  - Docker on Windows, Container running Ubuntu 20.04
- ROS2 Version:
  - Foxy Binaries
- Version or commit hash:
  - 0.4.7-1focal.20220307.024942
- DDS implementation:
  - didn't change anything, so probably `eProsima’s Fast DDS`

#### Steps to reproduce issue
1. Install Nav2 and required Packages via `apt`

2. Run launch File:
[code]

**I al

[2022-04-20 20:25] jwallace42 commented on #2888
I think adding a BT node for spin without increasing the recovery counter would be useful.

[2022-04-20 20:31] jwallace42 commented on #2714
So we would separate out the server from the plugins. That would be great!

[2022-04-21 02:10] SteveMacenski commented on #2921
This is not a bug, you ddin't push your bt yaml params into the namespace as well or included extra BT nodes in your yaml. Please review ROS 2 parameter file declarations / launch file semantics. Also make sure you're using libraries of BT nodes available in your distribution, probably by basing it off of the nav2 yaml file in your distribution's branch NOT mainline's,

[2022-04-21 02:10] #2921 closed

[2022-04-21 02:11] SteveMacenski commented on #2888
Maybe a similar analog to your backup --> drive on heading conversion?

[2022-04-21 02:12] SteveMacenski commented on #2915
What if you remove the range layer and try again, just to make sure that isn't playing a role?

[2022-04-21 02:15] SteveMacenski commented on #2714
yeah, my concern though is adding upwards of 6 new packages. While it would be not a big issue from a user perspective, this repository is starting to already get a little long on the browser / directory viewer from the packages and this would increase that count a bit.

Might be an excuse to do a superficial clustering of capabilities by directory to group more in a 'tree' format than a 'flat' fo

[2022-04-21 08:46] ErikOrjehag commented on #2915
Yes I will try that but it will probably take a week before I see the problem again if it is not fixed :) I think it is very unlikely that the ultrasonics are the problem judging by the shape of the ghost obstacles though. But might as well try just to isolate the problem :)

[2022-04-21 14:10] jwallace42 commented on #2714
I think the tree directory structure with separate packages for plugins would be the best. I developer consensus would be good. I can think of a bunch of different ways to break it up! I am not really sure which is the best.

[2022-04-21 14:17] jwallace42 commented on #2888
The changes for the drive on heading added the ability to drive forward and retained the backup action.

I guess there is no new functionality that we would need to support(I might be missing something though!).

[2022-04-21 15:44] jwallace42 commented on #2633
@wilcobonestroo can you put in a pr? Then I can take a look :)!

[2022-04-22 09:42] irfanbadshah commented on #2730
I have the same issue..

Any idea on how to fix it?
ros distro: galactic

[2022-04-22 13:52] tuxnese commented on #2752
Thank you for having taken care of it. I would have liked to contribute, but I did not have the time.

[2022-04-22 13:55] AlexeyMerzlyakov commented on #2917
Yes, this is the most probably the problem of newer ROS2 API change. I understood what was resolved in the #2689. And I am not sure that making nested timers belonging to different callback groups will correctly work further. That is why this ticket was initiated with lock-synchronization approach proposed: to cover initially raised in #2689 problem (I've got the same testcase and played with it).

[2022-04-24 11:25] m2-farzan opened #2923 "BasicNavigator doesn't clean up ActionClients"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Galactic
- Version or commit hash:
  - 1.0.8-1focal.20220203.051427
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

[code]

#### Expected behavior
Clean exit

#### Actual behavior
Exits with 0 code but prints the following warning:
[code]

#### Additional information

Looks like `Node.de

[2022-04-25 09:19] NikolasE opened #2925 "map_server needs an initial map"
The current implementation needs an initial parameter set that points to a valid map during on_reconfigure. If the parameters are not set, on_configure fails and the load_map_service is not started:

https://github.com/ros-planning/navigation2/blob/3e4dd6fa24f4d155d962b1dc9ba92110ef121641/nav2_map_server/src/map_server/map_server.cpp#L97

This imho limits the usability because we can't start the m

[2022-04-26 14:32] derkaputte commented on #2757
@Nathan24zz Did you manage it? I've the same issue.
I think I have to reinstall my machine from beginning.

[2022-04-26 14:49] ljaniec opened #2926 "[Nav2 Python Simple Commander] Pausing/resuming a navigation task"
## Feature request

I am using the ROS2 Galactic and Nav2 stack with Python Simple Commander in a Gazebo simulation (Ubuntu 20.04). I would like to have an option to pause (and later resume) the robot's movement while navigating.

#### Feature description

E.g. A TB3 is moving along a planned path through an intersection. I want to immediately pause its movement using a service call to trigger thi

[2022-04-26 18:55] SteveMacenski commented on #2925
I don't think removing the throw is a good idea, that's still valuable for users that fundamentally give it an invalid map.

What I think is a decent idea is have a special case for empty string, but explicitly empty string, map file paths. If that situation is true, then the user is explicitly stating there is no map and then it could launch and not attempt to load anything for later service call

[2022-04-26 19:03] SteveMacenski commented on #2917
So this went away for you already? Might be worth spending an hour and figuring out what changed in Rolling to cause that issue and finding out if that's a regression or not. If it is a regression, we need to point that out **ASAP** to OR as part of the Humble testing to see if that was intentional or not.

https://discourse.ros.org/t/branched-humble-call-for-beta-testing/25284 they're starting te

[2022-04-26 19:22] SteveMacenski commented on #2714
Kind of the same boat I'm in, so that's why I haven't taken action yet. I figured I'd wait until I settled on something or there was a consensus vs "just trying something" and making people's lives difficult with multiple reorgs.

[2022-04-26 20:15] clalancette commented on #2917
I can reproduce the issue, but I'm not that familiar with what is supposed to be happening.  That said, do feel free to open a new bug against https://github.com/ros2/rclcpp, and we can triage it during the test phase here to see if that is intentional behavior.

[2022-04-26 21:19] ljaniec commented on #2926
I guessed similar arguments and I agree.

If this is an established way of working with the pause implementation in Nav2 (as a set u cancel task / restart target), then it works for me. In that case, I close this request.

[2022-04-26 21:19] #2926 closed

[2022-04-27 02:10] SteveMacenski commented on #2633
Hi,

I'm back from PTO now and will take a look tomorrow or the next day. I haven't taken a look at this yet, but I did want to point you to ruckig that's being used in https://github.com/ros-planning/navigation2/pull/2816. I think there's some natural synergies here to use that for this work potentially. I know it would be a near total rewrite regardless of what you've done so far, so I just want

[2022-04-27 17:42] #2923 closed

[2022-04-28 13:48] ljjhome commented on #2757
I run into the same issue probably, here is how i solve it, though it may not be the same problem as you, but let us have a try
1. look at the pic below, it is from tb3_simulation_launch.py
![image](https://user-images.githubusercontent.com/7417691/165765238-15376e2c-90e8-4002-bda0-f1b48387396f.png)
it runs a gzserver, in my case it is this cmd block the whole process.
so open a new terminal, and

[2022-04-28 22:52] SteveMacenski commented on #2925
merging imminent

[2022-04-28 22:52] #2925 closed

[2022-04-28 22:53] SteveMacenski commented on #2915
any update?

[2022-04-29 10:17] padhupradheep commented on #2826
Hey @girvenavery2022 I could give a hand here, if you need any help here.

[2022-04-29 13:03] ErikOrjehag commented on #2915
We did not have the chance to test this yet, can probably do it next week

[2022-04-29 15:32] girvenavery2022 commented on #2826
Hey @padhupradheep,
sorry for the silence there for a bit. I got caught up in finishing up this semester of school. I did create the rviz plugin UI and will be working on the backend this weekend. I will let you know if I need any help!

[2022-04-29 16:30] mrmara opened #2931 "AMCL change map / first_map_only = false"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Foxy

#### Steps to reproduce issue
set first_map_only to false
load  a newmap with map server
Ensure that amcl accepted and loaded the new map (log to appear: Received a %d X %d map @ %.3f m/pix) and that it is receiving laserscan data

#### Expected behavior
AMCL should load the new map and start localizi

[2022-04-29 18:03] SteveMacenski commented on #2931
Does this happen deterministically or randomly? Does this behavior continue with either Galactic or Rolling?

[2022-05-02 08:24] mrmara commented on #2931
Thank you Sir for the support. I just installed Galactic and the corresponding branch of amcl. At first sight, the problem seems to be not present anymore. What is interesting is that the rest of the system and all the other nodes are still running in Foxy, this makes me think that the problem is specifically in the amcl package. I can see that lot has changed between the two versions of amcl, sta

[2022-05-02 10:58] padhupradheep commented on #2931
Sure, I would take a look at it. I suppose, there are still a lot of companies using Foxy.

We (Neobotix) were planning to completely stop supporting Foxy, because we are at least like 100's of kilometers forward for the feature upgrades that were / is being made in Nav2.

@mrmara Thanks for the update, I'll also give it a check...

[2022-05-02 13:34] mrmara commented on #2931
After more testing I was able to reproduce the same issue also in galactic. It is not clear to me why this happens less frequently, roughly after changing map 6 or 7 times. Still getting segmentation fault in the method map_calc_range ().

[2022-05-02 13:40] padhupradheep commented on #2931
On initial thoughts, it sounds like a race condition.. let me get back..

[2022-05-02 13:42] mrmara commented on #2931
If this can be useful here there is another backtrace taken on galactic:
[INFO] [1651498782.441765234] [amcl]: Setting pose (1651498782.441765): 46.614 17.433 -2.971
[INFO] [1651498782.639429163] [amcl]: Received a 1183 X 599 map @ 0.100 m/pix
[INFO] [1651498782.745273944] [amcl]: createLaserObject
[INFO] [1651498782.793789386] [amcl]: createLaserObject
[INFO] [1651498786.519259567] [amcl]: initia

[2022-05-02 18:21] SteveMacenski commented on #2931
Maybe something isn't being properly locked?

[2022-05-02 18:32] SteveMacenski commented on #2633
@wilcobonestroo in terms of feedback
- Make sure to have this be a component node (register it) so that we can load this into the component container on launch, not only as a standalone server
- The all-caps chars are only used on get/set of variables, I think just having the string in the get/set line would be good. I don't have a strong preference about it, but that is what we do in other nodes

[2022-05-02 19:33] SteveMacenski commented on #2913
Any update?

[2022-05-02 19:36] SteveMacenski commented on #2826
@girvenavery2022 @padhupradheep any update?

[2022-05-02 19:38] SteveMacenski commented on #2813
Closing this ticket since we moved our CI back to 20.04 but we're still having trouble updating for 22.04 / Humble at the moment covered in #2852 and #2851 which has threads on that transition.

[2022-05-02 19:38] #2813 closed

[2022-05-02 19:40] SteveMacenski commented on #956
Just AMCL left!

[2022-05-02 19:42] SteveMacenski commented on #2714
For now, I think we should just leave as is until we have a strong consensus of what change makes most sense. While I don't love the status quo, its better than a reorg that makes things even worst. For now, all of the algorithms are listed on https://navigation.ros.org/plugins/index.html so there is still a central index to find them all. I think maybe we should wait another year or two when we h

[2022-05-02 19:42] #2714 closed

[2022-05-02 19:44] SteveMacenski commented on #2880
Hi! Any update / thoughts to share?

[2022-05-02 21:00] SteveMacenski commented on #2917
@AlexeyMerzlyakov can you do this and see if this is intentional behavior? Time is a little short during the testing phase

[2022-05-03 01:16] girvenavery2022 commented on #2826
hey @SteveMacenski @padhupradheep
I do have an update. I have it to where it should be accumulating goals by using the goal tool plugin. I have been pushing my work to my fork: [https://github.com/girvenavery2022/navigation2/tree/waypoint_tool](url)
Tomorrow I am hopefully going to get it to publish those poses. @padhupradheep if you want, would you be able to help me with the loading and saving f

[2022-05-03 05:25] hardesh commented on #2931
Hi @mrmara,

`first_map_only` parameter does not work in the foxy and galactic branch. I've fixed it on the main branch in https://github.com/ros-planning/navigation2/pull/2870 . It should work with `rolling` and `humble` distro

[2022-05-03 07:56] mrmara commented on #2931
Hi @hardesh, thanks for your contribution.
I saw your PR but I already did that modification in my code, otherwise the new map would not even load in amcl and the crash could not happen.
The crash is specifically happening because amcl accepts the new map as can be understood from the log:
[code]
Thanks @SteveMacenski for the hints, I am going through them.

[2022-05-03 10:59] padhupradheep commented on #956
I can take AMCL..

[2022-05-03 12:06] padhupradheep commented on #2826
Sure, I can give a hand here. I had already developed this feature with JSON file format for another project. Now, it is just that, we have to use the YAML file for loading and saving the waypoints..

[2022-05-03 12:53] mrmara commented on #2931
I have been testing amcl map change feature with ROS Noetic and the bug is not present there. There are some differences in the way memory related to map is managed since particle filter and odometry is not resetted, maybe due to [this issue](https://github.com/ros-planning/navigation2/pull/1130).
Anyway, I found something weird happening. When segmentation fault happens in the method map_calc_ran

[2022-05-03 14:13] mrmara commented on #2931
Maybe, as @padhupradheep pointed out, this can be a race problem. When a new map message arrives the following actions are performed:
[code]
But if a new laserscan arrives in the meantime the new map message is being managed the following lines of code inside map_range.c provoke a segmentation fault:
[code]
This can be a possible reason. In order to confirm it, I am now trying to block new lasersc

[2022-05-03 14:54] mrmara commented on #2931
By adding the following line of code:
[code]
 at the beginning of the callback ```void AmclNode::laserReceived(sensor_msgs::msg::LaserScan::ConstSharedPtr laser_scan)``` the problem seems to be solved. I still need to evaluate performance on localization anyway.

[2022-05-03 16:37] doisyg commented on #2913
Slow progress because of other parallel tasks, but I am currently rewriting a test process directly interacting with the planner_server through its action (and with standard costmap with inflation)

[2022-05-03 18:56] SteveMacenski commented on #2931
Seems rational, I did find actually that MANY places where the `configuration_mutex_` should be locked are NOT locked at all.

Adding that lock is the right answer, it should be fine. But actually there should be many places that mutex is added, so if you look at the ROS 1 version, add it to the start of all of the functions there that had it. I'm not sure why people removed them here

[2022-05-03 21:27] jwallace42 commented on #2880
I have some though but not much progress. I am still stuck on the override.

I was taking with Tom about partial replanning.

The idea is if a section of the path has a significant cost increase we only want to replan that section. This idea is kind of similar to  http://www.cs.cmu.edu/~ggordon/mlikhach-ggordon-thrun.ara-tr.pdf.  The end result would more deliberate movement from the robot.

[2022-05-04 02:19] girvenavery2022 commented on #2826
Okay awesome.

[2022-05-04 02:48] SteveMacenski commented on #2826
yamlcpp would be my recommendation

[2022-05-04 06:02] hardesh commented on #2931
I think this issue is not present on the `main` branch. I tried to reproduce this issue. But haven't seen this so far

[2022-05-04 07:22] mrmara commented on #2931
Thank you for your feedback @hardesh! I compared the main and galactic branches and there are a few modifications on amcl but none of them is related to the segmentation fault in map change event. The only related modification is the following line of code:
[code]
Which by the way is fixing another problem (not being able to overwrite first_map_only_ parameter).
To reproduce the issue it may be ne

[2022-05-04 07:51] mrmara commented on #2931
After comparing ROS Noetic and main branch of nav2_amcl I added the lock on ```configuration_mutex_``` on the following methods:
- ```void AmclNode::globalLocalizationCallback(const std::shared_ptr<rmw_request_id_t>/*request_header*/, const std::shared_ptr<std_srvs::srv::Empty::Request>/*req*/, std::shared_ptr<std_srvs::srv::Empty::Response>/*res*/)```

- ```void AmclNode::initialPoseReceived(geom

[2022-05-04 08:17] padhupradheep commented on #2931
Thanks for the amazing work @mrmara ! Could you hand in a PR with all the changes ?

[2022-05-04 08:18] mrmara commented on #2931
@padhupradheep sure, the code is ready, may I ask you some hints on how to proceed? Is there a procedure to push the branch?

[2022-05-04 08:29] padhupradheep commented on #2931
Make all the changes from the main branch in your fork and then you need to do a Pull Request, there you just need to fill out some basic information, once you are done we wait for the CI to run the release build and test. Once that is done, then someone will review it (mostly @SteveMacenski).

[2022-05-04 09:43] mrmara commented on #2931
Thanks

[2022-05-04 11:03] padhupradheep commented on #2826
@girvenavery2022 will look into this feature by latest on Friday..

[2022-05-04 17:47] SteveMacenski commented on #2931
Thanks everyone for jumping in and helping on this!  I really appreciate the support / help!

[2022-05-04 17:51] SteveMacenski commented on #2913
I'm not sure what I should be pulling from those images, but always nice to see things visualized!

I would still say that my bulleted changes to 2D are probably what you want to fix the behavior you mentione

[2022-05-04 18:20] SteveMacenski commented on #956
@doisyg I did a review, there's still work to be done on that PR #2932 but I think its ready enough for a second set of eyes to make sure I didn't miss anything. There's alot going on here so a second opinion would be valuable.

[2022-05-04 18:37] SteveMacenski commented on #2880
I'm not sure that's a good idea if we're aiming to make this generic and not as part of a particular planning algorithm. The change in cost might make it more beneficial to go down an entirely different route due to a blockage or other environmental changes so replanning just a small section of it would, in some situations, make that impossible or result in super strange paths depending on how we

[2022-05-05 07:19] afrixs commented on #2917
The lock solution doesn't guarantee that shared pointer has been created when `startup();` is called (it could still be called between deleting the lock at the end of the node constructor and creating the shared pointer in `std::make_shared`), so I'm afraid it's not safe.

But I've had recent experiences when executor didn't check for new timers/subscriptions/etc if they are added from different t

[2022-05-05 15:42] afrixs commented on #2917
I was hoping that the node base interface notifies both callback groups (since it is the node base for both of them), but apparently it does not...

Yes, that could solve it - the variable could be set to true in the "outer" timer (since as far as I know there is no "callback" which is fired when the shared_ptr gets created) and the "inner" timer can be extracted out and its callback can be repeat

[2022-05-05 17:11] #2931 closed

[2022-05-05 17:15] doisyg commented on #2913
Just for showing the difference between the planners and some weird paths with Smac2D. I ll investigate more and report here when I ll have a a bit of time.

[2022-05-05 17:18] SteveMacenski commented on #2913
Is there a couple paths in particular in Smac 2D that you think are odd? At first glance, I'm not sure which you mean.

[2022-05-06 00:32] SteveMacenski commented on #2880
So I did some noodling on this and I think something worth trying is a T-test in probability theory. If we have the average costs of the initial path plan, the new average cost, and can compute the variance of the current path (we can do), given the number of path points, we can compute a t-score and check within confidence intervals if the change is statistically significant.

With that said, I h

[2022-05-06 12:57] padhupradheep opened #2938 "Is it possible to have a galactic sync?"
It is almost 6 months, since we had our last galactic sync, a lot of new features has been added as well..

so with humble in the horizon, how does it go? do we migrate only the selected features to Galactic?

[2022-05-06 13:45] hardesh opened #2939 "Adding a method to access costmap in goal_checker"
Can we also have a method to access local costmap in the goal checker? In the current implementation, it's possible to access the goal checker in the controller. we're not passing the costmap pointer to that class. In some applications, this can be very useful.

Ideally, I think goal checking (whether it's occupied or not) should be done in the behavior tree. But if we check the goal directly in t

[2022-05-06 13:52] AlexeyMerzlyakov commented on #2917
I think this should be the best solution: we are calling one thread executor directly from another. I've checked it on local testcase and in `nav2_lifecycle_manager`. For both cases it works fine. Also, it was checked that this solution does not cause the regression from #2689, so that should work.
Thank you for the solution proposed!
@SteveMacenski, are you OK with such solution in mainstream?

D

[2022-05-06 14:02] padhupradheep commented on #2939
I believe you want to reject the goal if the space is occupied?

[2022-05-06 18:35] SteveMacenski commented on #2917
That seems like a fine solution to me, though I would like to know why this has happened to understand if this is illustrative of a subtle bug in Humble that would be good to identify and fix ASAP before Humble's full release in 2 weeks.

If this was an intentional change, then we have our work around we're done. If it was not, it would be good to notify folks

[2022-05-06 18:57] SteveMacenski commented on #2939
That's not what the goal checker is for, its for checking if the goal has been achieved yet or not. It's a binary yes/no for
- Yes: We have reached the goal pose and can stop navigating
- No: We have not yet reached the goal pose and must been navigating

If there was something that the costmap would be useful to you for in that context, then I would be OK adding a costmap pointer to this plugin t

[2022-05-06 19:01] SteveMacenski commented on #2938
Fair enough, I forget about releases, I need to set a calendar reminder every 6-8 weeks to do a release...

Will do sometime today. Thanks for the reminder. If you see I haven't done one in a long time, feel free to poke me, its almost certainly not intentional.

[2022-05-06 19:02] SteveMacenski commented on #2938
Closing but its on my TODO list for today so it'll get done

[2022-05-06 19:02] #2938 closed

[2022-05-06 21:18] SteveMacenski commented on #2938
https://github.com/ros/rosdistro/pull/33092 ask and ye shall receive

[2022-05-07 03:17] hardesh commented on #2939
Yes this is exactly what we want to do.

In navigation (ROS1), move_base/move_base_flex both have `isGoalReached` function directly in the controller plugin. So we do not worry about this. But in nav2 since the controller and the goal checker are separated there's no way for the goal_checker to influence the controller or vice versa.

[2022-05-07 08:07] AlexeyMerzlyakov commented on #2633
My 5 cents into review:
* I am not sure that `MAXIMUM_LINEAR_VELOCITY_X...DEADBANDS` static variables are suitable solution for declaring names of parameters. Usually these kind of variables are using to declare some global constants using in whole module or even by other modules (see `nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/filter_values.hpp` and `nav2_util/include/nav2_util/occ_g